.all
    .service
        .header!= header
        .center_block
            .left_menu!= left_menu
            if sub_top_menu
              .sub_top_menu!= sub_top_menu
            .content!= content
            .service_two
.footer