
.container
  .background_gray
    .content_background
  .header!= header
  .container_sub_top_menu
    if sub_top_menu
      .sub_top_menu!=sub_top_menu
  .center_block

    .left_menu!= left_menu
    .content!= content
  .footer