.fixed_white
  .background_gray
    .content_background


.container
  .header!= header
  .center_block
    .left_menu!= left_menu
    .content
      if sub_top_menu
        .sub_top_menu!=sub_top_menu
      != content
  .footer