
.container
  .background_all
    .left_menu_background
    .content_background
    .right_background
  .header!= header
  if sub_top_menu
    .container_sub_top_menu
      .sub_top_menu!=sub_top_menu
  .center_block
    .left_menu!= left_menu
    .content!= content
  .footer