$min_withs_left_menu:200px
$min_withs_content:500px
main
  height: 100%
  max-width: 1300px
  min-width: 900px
  margin: auto

.container
  position: relative
  width: 100%
  min-height: 100%
  overflow: hidden    //use it if want cut shadow in side site
  box-shadow: 0 0px 3px rgba(0,0,0,0.3),0 0 5px rgba(0,0,0,0.1)
  .background_all
    position: absolute
    height: 100%
    width: 100%
    overflow: hidden
    top : 0
    left : 0
    .left_menu_background
      float: left
      width: 20%
      min-width: $min_withs_left_menu
      height: 100%
      background: #f3f3f3
    .content_background
      height: 100%
      float: left
      width: 75%
      min-width: $min_withs_content
    .right_background
      float: left
      width: 5%
      min-width: 5px
      height: 100%
      background: #f3f3f3

  .header
    position: relative
    height: 100px
    width: 100%
    background: #ffffff
    box-shadow: 0 0px 3px rgba(0,0,0,0.3),0 0 5px rgba(0,0,0,0.1) inset
  .container_sub_top_menu
    height: 50px
    text-align: center
    background: #E0E9ED
    position: relative
    .sub_top_menu
      height: 100%
      background: #E0E9ED
  .center_block
    position: relative
    overflow: hidden
    margin-bottom: 100px
    margin-top: 25px

    .left_menu
      float: left
      width: 20%
      min-width: $min_withs_left_menu
    .content
      margin: 0 5% 0 20%
      min-width: $min_withs_content
      padding-bottom: 50px

  .footer
    height: 100px
    width: 100%
    position: absolute
    bottom: 0
    background: #C5D4DC

