main
  min-width: 900px
  max-width: 1300px
  margin: auto
  height: 100%
.all
  min-height: 100%
  margin: 0 0 -100px
  .head
    height: 200px
    .header
      height: 120px
      border-radius: 8px
    .edit_line
      height: 80px
      background: #49697C
      border-radius: 8px
  .center_block
    background: #C5D4DC
    position: relative
    min-height: 300px
    padding: 0 0 100px
    border-radius: 8px
    .sub_top_menu
      margin: 0 50px 0 20%
      padding-bottom: 100px
      background: #FAFAFA
    .left_menu
      width: 20%
      position: absolute
      top: 0
      bottom: 0
      left: 0
    .content
      background: #FAFAFA
      margin: 0 50px 0 20%
      padding-bottom: 100px

.footer
  height: 100px
  background: #49697C
  position: relative

