main
  height: 100%

.all
  min-height: 100%
  margin: 0 0 -100px
  position: relative
  .service
    padding-bottom: 100px
    .head
      height: 200px
      background: #fff
      .header
        height: 120px
      .edit_line
        height: 80px
        background: #49697C
        border-radius: 8px
    .center_block

      .sub_top_menu
        margin: 0 50px 0 20%
        padding-bottom: 50px
        background: #FAFAFA

      .left_menu
        position: absolute
        top: 0
        bottom: 0
        margin: 200px 0 100px 0
        background: #C5D4DC
        width: 20%
      .content
        margin-left: 20%
        background: #fff

      .service_two
        position: absolute
        top: 0
        bottom: 0
        width: 5%
        background: #C5D4DC
        margin: 200px 95% 100px

.footer
  height: 100px
  background: #49697C

