@import compass/css3
$padding: 7px
$height: 37px
$width: 341px
div
  +inline-block
  padding: $padding 0
  font-size: $height
  width: $width
  //height : 30px
  //line-height : 30px
  //font-size : 30px
.remove_button
  width : 150px
  float : right
  margin-left : 200px
  margin-bottom : 5px
.place_of_work
  padding-top: 0
.line_box
  margin: 23px 0 5px 0
  height: 2px
  .line
    position: absolute
    width: 100%

