main
  overflow : hidden

.subject_name
  width : 10%
  float : left
  margin-right : 29px

.subject_details
  width : 80%
  margin-left : 10%

/*----------------------------------------------------*/