main
  height: 100%
  padding: 0 30px
.subject_name
  font-size: 24px
  font-family: "Open Sans"
  color: rgb(42, 41, 41)
  padding: 0 45px 0 0
.subject_details
  font-size: 20px
  font-family: "Open Sans"
  color: rgb(0, 0, 0)
/*----------------------------------------------------*/