main
  overflow : hidden
  background-color: rgba(36, 37, 58, 0.06)

.subject_name
  width : 10%
  float : left
  margin-right : 29px

.subject_details
  width : 80%
  margin-left : 10%

/*----------------------------------------------------*/