.personal_data
  h3
    padding-left : 5%
    margin : 0

  .black-line
    width : 75%
    height : 2px
    background-color : rgba(0, 0, 0, 0.66)
    margin-left : 5%

  ul
    padding-left : 5%
    width : 100%
    li
      list-style-type : none
      margin-bottom : 7px
      overflow : hidden
      .title
        width : 20%
        float : left
        margin-right : 10%
        margin-right : 10%
        font : 12px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif
        color : #777777
        font-size : 1.0em