@import compass/css3
$padding: 7px
$height: 37px
.input
  +inline-block
  padding: $padding 0
  font-size : $height
  width : 341px
  +box-sizing('border-box')
.gender_data,.birth_data,.status
  +inline-block
  padding : $padding 0
  height : $height
.first_name
  padding-top: 0
.status
  padding-bottom: 0

.out_err_date, .out_err_status
  width: 341px
  float: right
  text-align: left
  color: red
  font-size: 16px
  display: none
  padding: 0.3em 0.3em 0 0.3em
  box-sizing: border-box

$width_fields: 341px    // it's size fields assigned in forms module, here uze for do center photo relative fields
$width_photo: 315px
.add_photos
  width: $width_photo
  height: 215px
  +inline-block
  padding: 0 ($width_fields - $width_photo) / 2 29.5px ($width_fields - $width_photo) / 2

//- ----------------------------------------------------------------------------
