@import compass/css3
$padding: 7px
$height: 37px
.first_name, .last_name, .middle_name
  +inline-block
  padding: $padding 0
  font-size : $height
  width : 341px
  +box-sizing('border-box')
.birth_data,.status
  +inline-block
  padding: $padding 0
  height: $height
.gender_data
  +inline-block
  padding: $padding 0
  font-size: $height
.first_name
  padding-top: 0
.status
  padding-bottom: 0
.err
  overflow: hidden
  div
    float: right
    width: 341px
    text
    text-align: left
    color: red
    font-size: 16px
    display: none
    padding: 0.3em
    box-sizing: border-box

$width_fields: 341px    // it's size fields assigned in forms module, here uze for do center photo relative fields
$width_photo: 315px
.add_photos
  //width: $width_photo
  //height: 215px
  text-align: center
  position: relative
  +inline-block
  padding: 0 ($width_fields - $width_photo) / 2 20px ($width_fields - $width_photo) / 2
  .hint
    display: none
    position: absolute
    top: 50%
    font-size: 16px
    margin-top: -16px/2

.add_photos:hover
  .hint
    display: block


//- ----------------------------------------------------------------------------
