mixin field (selector, value)
  .value(class = selector)!= value

/////////////////////////////////////
.add_photos!=add_photos
+field ('first_name', first_name)
+field ('last_name', last_name)
+field ('patronymic', patronymic)
.gender_data!=gender_data
.birth_data!=birth_data
+field ('status', status)

