@import compass/css3
.price_block
  padding-left: 120px
  .place
    float: left
  .hour_block
    width: 250px
    float: right
    .one_hour, .two_hour, .three_hour
      height: 36px
      padding-bottom: 10px
.price_block:after
  clear: both
  content: ''
  display: block