link(href=F("nouislider/nouislider.css"), rel="stylesheet")
.container
  .row
    .input-field.col.s12.center-align.hide-on-large-only
      a.waves-effect.waves-light.btn.js-show_filter Подобрать по параметрам
    .col.l4.m12.s12.content-block.js-filter_block
      !=search_filter
    .col.l8.m12.s12.content-block.js-list_tutors
      .js-filter_tags_block
        !=filter_tags
      .tutor-list
        .results
          .js-not_exist
            h4 Не нашли подходящего репетитора?
            p Мы не оставим Вас на произвол судьбы. Оставьте контактные данные и наши специалисты помогут Вам с этой нелегкой задачей.
            a(data-target="req_more_send").btn-large.orange-btn.waves-effect.waves-light.js-demo_modal Оставить контакты
          .js-tutor!=tutor
          .js-tutors_list
            -if(!tutors || (!tutors[0]))tutors=[];
            each t in tutors
              !=t
            if !tutors[0]
              .not_exist_start
                h4 Не нашли подходящего репетитора?
                p Мы не оставим Вас на произвол судьбы. Оставьте контактные данные и наши специалисты помогут Вам с этой нелегкой задачей.
                a(data-target="req_more_send").btn-large.orange-btn.waves-effect.waves-light.js-demo_modal Оставить контакты
          .js-wait.abs
            .preloader
              .preloader-wrapper.big.active
                .spinner-layer.spinner-blue
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle
                .spinner-layer.spinner-red
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle
                .spinner-layer.spinner-yellow
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle
                .spinner-layer.spinner-green
                  .circle-clipper.left
                    .circle
                  .gap-patch
                    .circle
                  .circle-clipper.right
                    .circle

script(src=F("nouislider/nouislider.js"))
