link(href=F("nouislider/nouislider.css"), rel="stylesheet")
.container
  .row
    .col.l4.m4.s12
      !=search_filter
    .col.l8.m8.s12
      .js-tutors_list
        !=tutor
script(src=F("nouislider/nouislider.js"))