link(href=F("nouislider/nouislider.css"), rel="stylesheet")
.container
  .row
    .col.l4.m4.s12
      ul.collapsible(data-collapsible='expandable').search-filter
        li
          .collapsible-header.active Предмет
          .collapsible-body
            .row.no-bottom-margin
              .input-field.col.s12
                select(multiple).megaselect
                  option(value='', selected, disabled) Выберете предмет
                  option(value='2') Английский язык
                  option(value='3') Математика
                  option(value='4') Физика
                  option(value='5') Русский язык
                  option(value='6') Информатика
                  option(value='7') Биология
                  option(value='2') Английский язык
                  option(value='3') Математика
                  option(value='4') Физика
                  option(value='5') Русский язык
                  option(value='6') Информатика
                  option(value='7') Биология
                  option(value='2') Английский язык
                  option(value='3') Математика
                  option(value='4') Физика
                  option(value='5') Русский язык
                  option(value='6') Информатика
                  option(value='7') Биология

            .row.no-bottom-margin
              .input-field.col.s12
                select(multiple).megaselect
                  option(value='', disabled, selected) Направление подготовкм
                  option(value='2') ЕГЭ
                  option(value='3') ОГЭ
                  option(value='4') ГИА
                  option(value='4') олимпиада
            .row.no-bottom-margin
              .input-field.col.s12
                select(multiple).megaselect
                  option(value='', disabled, selected) Категория ученика
                  option(value='2') Дошкольники
                  option(value='3') Школьники
                  option(value='4') Начальная школа
                  option(value='5') Средняя школа
                  option(value='5') Старшая школа
                  option(value='5') Студенты
                  option(value='5') Взрослые
        li
          .collapsible-header.active Цена
          .collapsible-body
            .row
              .col.s12
                .js-range_ui#slider
            .row
              .input-field.col.s6
                input(type='text', value!=value.filter.price.left)#pricemin
              .input-field.col.s6
                input(type='text', value!=value.filter.price.right)#pricemax
        li
          .collapsible-header.active.selected Место Занятий
          .collapsible-body
            .row
              .col.s12
                input(type='checkbox')#loc1
                label(for='loc1') У себя
            .row
              .col.s12
                input(type='checkbox')#loc2
                label(for='loc2') У репетитора
            .row
              .col.s12
                input(type='checkbox')#loc3
                label(for='loc3') Удалённо
        li
          .collapsible-header.active Статус репетитора
          .collapsible-body
            .row
              .col.s12
                input(type='checkbox')#status1
                label(for='status1') Студент
            .row
              .col.s12
                input(type='checkbox')#status2
                label(for='status2') Преподаватель школы
            .row
              .col.s12
                input(type='checkbox')#status3
                label(for='status3') Преподаватель ВУЗа
            .row
              .col.s12
                input(type='checkbox')#status4
                label(for='status4') Частный преподаватель
            .row
              .col.s12
                input(type='checkbox')#status5
                label(for='status5') Носитель языка
        li
          .collapsible-header.active.selected Опыт
          .collapsible-body
            .row
              .col.s12
                input(type='checkbox')#exp1
                label(for='exp1') 1-2 года
            .row
              .col.s12
                input(type='checkbox')#exp2
                label(for='exp2') 3-4 года
            .row
              .col.s12
                input(type='checkbox')#exp3
                label(for='exp3') более 4 лет
      .row
        .input-field.col.s12.center-align
          button.btn Применить


    .col.l8.m8.s12
      .js-tutors_list
        !=tutor
script(src=F("nouislider/nouislider.js"))