@import variables

.row
  .col
    &.content-block
      padding-top: 1rem
      .collapsible
        margin-top: 0
.search-filter
  label
    color: rgba(0, 0, 0, 0.87)
.collapsible-header
  border-left: 4px solid #ddd
  &.selected
    border-left: 4px solid #26a69a
.collapsible-body
  padding: 1rem 2rem
.row
  &.no-bottom-margin
    margin-bottom: 1rem
    .input-field
      margin-top: 0

.dropdown-content
  li
    &>span
      font-size: 1rem
      color: #26a69a
      display: block
      padding: 0.5rem 0.5rem

.select-wrapper
  input.select-dropdown
    font-size: 0.9rem
.select-dropdown
  li.optgroup ~ li:not(.optgroup)
    display: none
  li.optgroup ~ li.subgroup_1
    display: block
  li.optgroup ~ li:not(.optgroup).disabled
    display: none !important

.search-filter
  .select-dropdown
    li.disabled
      display: none !important
  .slider-block
    padding-top: 1.9rem
    .row
      .input-field
        input[type='text']
          margin-bottom: 0

//js style
.filter_block
  @media #{$medium-and-down}
    display: none
.show_filter
  width: 100%
