@import variables
@import compass/css3
.row
  .col
    &.content-block
      padding-top: 1rem
//      .collapsible
//        margin: 0 1rem 1rem
.search-filter
  label
    color: #464646 
//.collapsible-header
//  border-left: 4px solid #ddd
//  &.selected
//    border-left: 4px solid #fd7c48
.collapsible-body
  padding: 1rem 2rem
.row
  &.no-bottom-margin
    margin-bottom: 1rem
    .input-field
      margin-top: 0

.select-wrapper
  input.select-dropdown
    font-size: 0.9rem

.search-filter
  .select-dropdown
    li.disabled
      display: none !important
  .slider-block
    padding-top: 1.9rem
    .row
      .input-field
        input[type='text']
          margin-bottom: 0
.controlls
  a
    padding : 0.3rem
    font-size : 1.1em
    float : left
    width : 100%
//js style
.filter_block
  @media #{$medium-and-down}
    display: none
.show_filter
  width: 100%
.container .row .col .tutor
  display : none
.container .row .col .tutors_list
  +transition( opacity 400ms ease-out)

.results
  position: relative
  .not_exist, .wait
    font-size: 1.3rem
    //color: #9E9E9E
    text-align: center
  .wait
    display : none
    &.abs
      position: absolute
      top: 135px
      left: 0
      right: 0
    margin-bottom: 40px
  .not_exist
    display: none

.tutors_list
  background-color: #fff
.not_exist_start
  font-size: 1.3rem
  text-align: center
