.photo
  position : relative
  width  : 315px
  height : 215px
  margin : 50px auto 35px auto
  .plus
    position : absolute
    width  : 50px
    height : 50px
    background : inline-image('registration/plus.png') no-repeat

  .camera_big
    position : absolute
    left   : 43px
    top    : 13px
    width  : 201px
    height : 200px
    border-radius       : 50%
    background          : inline-image('registration/camera_big.png') no-repeat
    background-position : center
    background-color    : rgb( 228, 228, 228 )

  .camera_small
    position : absolute
    top  : 153px
    left : 257px
    width  : 59px
    height : 58px
    border-radius       : 50%
    background          : inline-image('registration/camera_small.png') no-repeat
    background-position : center
    background-color    : rgb( 228, 228, 228 )


//- ----------------------------------------------------------------------------

.fields
  div
    .title
      width        : 150px
      text-align   : right
      margin-right : 26px

      font-size   : 16px
      color       : rgba(0, 0, 0, 0.70)
      font-family : 'Open Sans', sans-serif