@import compass/css3
$padding_line: 9px
main
  height: 100%
.birth_day, .birth_month, .birth_year
  +inline-block
  height: 100%
.birth_day
  padding-right: $padding_line/2
.birth_year
  padding-left: $padding_line/2
.birth_month
  width: 131px
  padding: 0 $padding_line/2
.birth_year
  width: 101px