@import compass/css3
main
  background : #000000
  color : white
  height : 100%

.name
  font-size: 2em
  +inline-block
  margin: 0 10px
  line-height: 100px
  vertical-align: baseline


.top_menu
  +inline-block
  margin-left: 20%




