@import compass/css3
$triangle_down_src: 'main/arrow_6x5_down.gif'
$triangle_right_src: 'main/arrow_6x5_right.gif'
$icon_right_height: image-height($triangle_right_src)
$icon_right_width: image-width($triangle_right_src)
$icon_down_height: image-height($triangle_down_src)
$icon_down_width: image-width($triangle_down_src)

$icon_reset_src: 'close_time.png'
$icon_reset_height: image-height($icon_reset_src)
$icon_reset_width: image-width($icon_reset_src)


$padding_section: 25px
$padding_title: 20px
$padding_icon: 8px
$padding_experience: 10px
$padding_reviews: 15px

$form_width: 264px
$form_left_margin: 23px



main
  //padding: 15px 0px 30px 35px
  //padding-top: 12px
  font-size: 18px
  background-color: #ededed
  color: rgb(117, 117, 117)
  border: #cccccc solid 1px

.separator_box
  padding: 0 1px
  .line
    border-top: 1px solid #a0a0a0
    border-bottom: 1px solid #fff

.section *
  .icon_box
    padding: 0 $padding_icon
    //margin-left: - $padding_icon * 2
    +inline-block
    .icon_down, .icon_right
      width:  $icon_down_width
      height: $icon_right_height
    .icon_right
      //width: $icon_right_width
      //height: $icon_right_height + abs($icon_down_height - $icon_right_height)
      background: url(F($triangle_right_src)) no-repeat
    .icon_down
      //width: $icon_down_width + abs($icon_right_width - $icon_down_width)
      //height: $icon_down_height
      background: url(F($triangle_down_src)) no-repeat
  .title, .reset
    +inline-block
  .title
    font-size: 18px
    line-height: 24px
    color: #202020
    padding : 12px 0
  .title:hover
    color : #000000


.section
  position : relative
  //padding-bottom: 12px
  text-align: left
  .subject, .tutor_status, .place, .timetable, .course, .group_lessons, .price, .time_to_way, .experience, .sex
    +inline-block
    width : 100%
    //padding: ($padding_title  - $padding_icon)/2 0   //because icon have padding 10px for usability
    cursor: pointer
  //.subject
    padding-top: 0
  .reset
    +inline-block
    position : absolute
    float: right
    right: 25px
    cursor: pointer
    .icon, .title
      +inline-block
    .icon
      margin-right: 7px
      width:  $icon_reset_width
      height: $icon_reset_height
      background: url(F($icon_reset_src)) no-repeat
    .title
      font-size: 14px
    color: #717171
    &:hover
      color : #606060

  .show_hidden
    padding-bottom: 12px
    //overflow: hidden
    .subject, .area, .course, .group_lessons
      width: $form_width
      margin-left: $form_left_margin
    //.subject, .course, .group_lessons
      padding-top: 15px
    //.area
      padding-top: 18px
    .tutor_status, .place, .experience
      padding-left: 26px
      //padding-top: 14px
      div
        margin-bottom: 7px
    .choose_gender
      height: 36px
      padding: 0px 0 3px 23px
    .price, .time_to_way
      padding: 0px 23px 0 23px

  .reviews_block, .verification_block
    padding: $padding_reviews/2 0 $padding_reviews/2 26px
  .verification_block
    padding-bottom: 12px
  .reviews_block
    padding-top : 14px
    padding-bottom: 12px

///////--------action----------//////////

/////////---------show or hidden filter sections----------//////////
.section
  .show_hidden
    display: none
  * .icon_box
    .icon_right
      display: block
    .icon_down
      display: none
.section.showed
  .show_hidden
    display: block
  * .icon_box
    .icon_right
      display: none
    .icon_down
      display: block

///////////////   experience hover or click    //////////////

.section
  .show_hidden
    .experience
      .hover:hover
        .text
          background: #cecece

.section
  .show_hidden
    .experience
      .background
        .text
          background: #ff7c6f
          color: #ffffff







