@import variables

//tutors card
.tutors-hover:hover
  transition: all 0.3s ease-out
  &:hover
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
.tutor-block
  .stars
    display : none
  //box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12)
  transition: box-shadow 0.25s ease 0s
  overflow: hidden
  padding: 1rem 0
  //@media #{$medium-and-down}
  //  padding: 1 0 1rem
  .tutor-title
    font-size: 1.6rem
    line-height: 130%
    margin: 0 0 0.5rem
    color: #039BE5
    a
      text-decoration: underline
      transition: all 0.3s ease-out
      &:hover
        color: #F44336
    @media #{$medium-and-down}
      font-size: 1.5rem
    @media #{$small-and-down}
      font-size: 1.4rem
  .description
    a
      text-decoration: underline
      transition: all 0.3s ease-out
      &:hover
        color: #F44336
  .price
    font-size: 1.6rem
  .tutor-action
    margin-top: 1rem

  &.tutor_more
    cursor: pointer
  .stars
    cursor : pointer
.stantion
  display: inline-block
  white-space: nowrap
  margin-right: 0.7rem
  &:last-of-type
    margin-right: 0
  span
    display: inline-block
    vertical-align: middle
    line-height: 100%

.metro_icon
  display: inline-block
  width: 1rem
  height: 1rem
  border-radius: 50%
  vertical-align: middle
  margin-right: 0.5rem
  background-color: transparent

.metro_red
  background-color: #ed1731 !important
.metro_green
  background-color: #44b85c !important
.metro_blue
  background-color: #0078bf !important
.metro_light_blue
  background-color: #19c1f3 !important
.metro_brow
  background-color: #894e35 !important
.metro_orange
  background-color: #f57f25 !important
.metro_purple
  background-color: #8e479c !important
.metro_yellow
  background-color: #ffcb31 !important
.metro_grey
  background-color: #a1a2a3 !important
.metro_lime
  background-color: #b3d445 !important
.metro_teal
  background-color: #79cdcd !important
.metro_blue_grey
  background-color: #acbfe1 !important
.middle-span
  display: inline-block
  vertical-align: middle
.color-card
  i
    vertical-align: middle
    margin-right: 0.2rem
    color: #0094aa
.middle-icon
  vertical-align: middle
  margin-right: 0.3rem
