@import variables

@font-face
  font-family: "metro_icon"
  src: url(F('fonts/metro/metro.eot'))
  src: url(F('fonts/metro/metro.ttf')) format('truetype')
  src: url(F('fonts/metro/metro.woff')) format('woff')
  src: url(F('fonts/metro/metro.svg')) format('svg')

//tutors card
.tutors-hover:hover
  transition: all 0.3s ease-out
  &:hover
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
.tutor-block
  .stars
    display : none
  //box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12)
  transition: box-shadow 0.25s ease 0s
  overflow: hidden
  padding: 1rem 0
  //@media #{$medium-and-down}
  //  padding: 1 0 1rem
  .tutor-title
    font-size: 1.6rem
    line-height: 130%
    margin: 0 0 0.5rem
    color: #039BE5
    a
      text-decoration: underline
      transition: all 0.3s ease-out
      &:hover
        color: #F44336
    @media #{$medium-and-down}
      font-size: 1.5rem
    @media #{$small-and-down}
      font-size: 1.4rem
  .description
    a
      text-decoration: underline
      transition: all 0.3s ease-out
      &:hover
        color: #F44336
  .price
    font-size: 1.6rem
  .tutor-action
    margin-top: 1rem

  &.tutor_more
    cursor: pointer
  .stars
    cursor : pointer
.stantion
  display: inline-block
  white-space: nowrap
  i
    vertical-align: middle
  span
    display: inline-block
    vertical-align: middle

.metro_icon
  font-family: 'metro_icon' !important
  font-size: 24px
  display: inline-block
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  &:before
    content: "\e900"

.metro_red
  color: #ed1731 !important
.metro_green
  color: #44b85c !important
.metro_blue
  color: #0078bf !important
.metro_light_blue
  color: #19c1f3 !important
.metro_brow
  color: #894e35 !important
.metro_orange
  color: #f57f25 !important
.metro_purple
  color: #8e479c !important
.metro_yellow
  color: #ffcb31 !important
.metro_grey
  color: #a1a2a3 !important
.metro_lime
  color: #b3d445 !important
.metro_teal
  color: #79cdcd !important
.metro_blue_grey
  color: #acbfe1 !important