
- placeholder = placeholder || "";
- selector = selector || "";


.drop_down_list(class=selector)
<<<<<<< HEAD
  <input placeholder="#{placeholder}">
  .icon
=======
  input(placeholder="#{placeholder}")
  .icon_box
    .icon &#9660
>>>>>>> ef9acd80b66024b9ef8b401ebd0768d5918bec72
