@import compass/css3
$phone_src: 'header/phone.png'
$phone_height: image-height($phone_src)
$phone_width: image-width($phone_src)
$close_src: 'main/close_10x10.png'
$close_height: image-height($close_src)
$close_width: image-width($close_src)
$triangle_src: 'main/triangle_33x18.png'
$triangle_width: image-width($triangle_src)
$triangle_height: image-height($triangle_src)
$border_width: 1px
main
  +inline-block
  color:  #ffffff
  font-size: 16px
  line-height: 24px
  text-align: left
  cursor: pointer
  position: relative
.title
  .click_box
    //.icon
      width: $phone_width
      height: $phone_height
      margin-right: 10px
      +inline-block
      background: url(F($phone_src)) no-repeat
    .text
      +inline-block
  .call_back_popup
    display: none
    cursor: default
    position: absolute
    left: -97px
    top: 41px
    z-index: 1
    .triangle_box
      position: relative
      z-index: 1
      .triangle
        +inline-block
        width: $triangle_width
        height: $triangle_height
        background: url(F($triangle_src)) no-repeat
    .popup
      margin-top: -$border_width
      border: $border_width solid #cccccc
      position: relative
      width: 344px
      padding: 20px 41px 40px 23px
      overflow: hidden
      box-sizing: border-box
      background-color: rgb(255, 255, 255)
      .close_box
        cursor: pointer
        position: absolute
        right: 0
        top:  0
        padding: 10px
        .close
          background: url(F($close_src)) no-repeat
          height: $close_height
          width: $close_width
      .name, .tel_number
        width: 100%
        height: 32px
        padding-bottom: 14px
      .comments
        height: 90px
        padding-bottom: 20px
      .button_panel_choose
        padding-bottom: 30px
        .pupil, .tutor
          cursor: pointer
          height: 33px
        .pupil
          float: left
        .tutor
          float: right
      .order_call
        float: left
        height: 38px
      .button_panel_choose:after
        content: ''
        display: block
        clear: both
  .call_back_popup.footer
    top: -380px
main:hover
  color: #27ffba
