@import compass/css3

main
  text-align : right
  padding    : 39.5px 164px 61.5px 0

label
  +inline-block
  padding : 5.5px 0
  cursor  : pointer
  .title
    text-align : left
    font-size    : 16px
    color        : rgba(75, 75, 75, 0.70)
    font-family  : 'Open Sans', sans-serif
  .value
    width : 432px

//-label:last-child
  margin-bottom : 0