mixin block (selector, title, value)
  label(class=selector)
    .title=title
    .value!= value

+block('reason', 'Почему я репетитор?', reason)
+block('interests', 'Интересы :', interests)
+block('about','О себе :', about)
