.relevant_info!=relevant_info
.title_suit_tutors.select!=title_suit_tutors
.js-suit_tutors
  .suit_tutor.hidden!=suit_tutors
.all_suit_bids
  a.js-link(href='/second_step')
    .text Все подходящие репетиторы
    .icon
.bids_block
  .title Не можете выбрать репетитора?<br>Оставте заявку и мы поможем!
  .button_bids!=button_bids
  .or_call.select или позвоните нам<br>по номеру +7 (495) 369-04-25

