- if (value && (typeof value == 'object'))tags = value;
- if (typeof tags == 'string') tags = {"0":tags};
.list!=list
.js-tags
  if ((typeof tags !== "undefined" && tags !== null ? tags[0] : void 0) != null)
    for key,val in tags
      .tag
        .text_box
          .text!=key
        .js-close_box
          .close
.js-tag
  .text_box
    .text
  .js-close_box
    .close
