@import compass/css3
.lesson_time
  .lesson_start
    margin-left: 70px
  .lesson_start, .lesson_end
    width: 39px
    height: 32px
  .dash
    padding: 0 8px
  .minutes
    padding-left: 11px
  .lesson_start, .lesson_end, .dash, .minutes
    +inline-block
.move_time
  margin-top: 15px
  height: 37px
