@import base
$space : 15px
$height : 37px
$price_block_padding: 6px
$width_fields: 341px
=title
  font-size: 18px
  font-weight: 600
=button
  cursor : pointer
=error_block
  padding-left: 10px
  padding-right: 10px
  margin-left: -10px
  margin-right: -10px
  border: none
  outline: 2px solid red
=error_text
  font-size: 0.8em
  color: red
  margin-top: 12px
  margin-left: 20px
  margin-bottom: 10px
main
  height: 100%
  text-align: left
.panel
  .restore_block
    .restore, .delete
      +button
      margin-top: 10px
    display: none
  .active_block
    .subject_block
      +inline-block
      .subject
        +inline-block
    .expand, .rem
      +button
      +inline-block
      margin-left : 10px
    .err
      +error_text
      display: none

.container
  padding-top: 25px
  display: none
  .value
    +inline-block
    font-size: $height
    line-height: $height
  .category_block
    .categories_of_students.error
      +error_block
    .categories_of_students
      .check_panel
        +inline-block
        text-align: left
        width: $width_fields
        .right_block
          float: right
        .left_block, .right_block
          +inline-block
          div
            padding: 3px 0
  .place_block, .category_block, .course_block
    margin-bottom: 20px
    .prices_place
      .prices
        padding: $space 0
        position: relative
        border-bottom: 1px solid #c2c0c2
      .prices.error
        +error_block
      .err
        +error_text
    .prices_place.error
      +error_block
      .prices
        border-bottom: none
      .prices + .prices
        border-top: 1px solid #c2c0c2
    .prices
      padding: $space 0
      
  .place_block, .category_block, .course_block, .comment_block
    .title
      margin-bottom: 15px
    .err
      +error_text
  .block
    .title
      +title

