@import compass/css3
$size_photo:  312px
main
  overflow: hidden
.photo
  width: $size_photo
  height: $size_photo
  float: left
.right_block
  color:  #000000
  font-size: 16px
  margin-left: $size_photo
  padding-left: 24px
  .title
    font-size: 24px
  .sub_title
    padding-bottom: 18px
    line-height: 24px
    color:  #8a8a8a
  .text
    line-height: 24px
