@import compass/css3
$size_photo:  312px
main
  overflow: hidden
.photo
  width: $size_photo
  height: $size_photo
  background-color: aqua
  float: left
.right_block
  color:  #000000
  font-size: 12px
  margin-left: $size_photo
  padding-left: 24px
  .title
    font-size: 18px
  .sub_title
    line-height: 36px
    color:  #8a8a8a
  .text
    line-height: 18px