//$block_height : 80px

main
  background : #000
  width: 78%
  //height: $block_height
  //margin: auto
.name
  color : white
  font-size : 215%
  //line-height : $block_height
  //float: left
.text
  font-size : 100%
  color : white
  //margin-left : 10px
  //line-height : $block_height
  //float : left



