@import compass/css3
.fast_bid
  .progress_bar
    +inline-block
    padding-top: 73px
  .center
    text-align: right
    padding-top: 40px
    padding-bottom: 22px
    .content
      +inline-block
      width: 339px
    .hint
      width: 244px
      +inline-block
      vertical-align: top
      text-align: left
      margin-left: 43px
      margin-right: 52px
      font-size: 24px
      letter-spacing: -1.2px
      line-height: 29px
      color: #222528
    .big_font
      font-size: 28px
      line-height: 34px
  .footer
    text-align: center
