@import compass/css3

.fast_bid
  overflow: hidden
  .progress_bar
    +inline-block
    margin-top: 73px
  .center_block
    text-align: right
    div
      +inline-block
      vertical-align: top
    .hint
      text-align: left
      margin-left: 41px
      margin-right: 63px
      font-size: 24px
      letter-spacing: -1.2px
      line-height: 29px
      color: #222528
  .footer
    text-align: right
    padding-right: 240px