main
  height : 100%
  overflow: hidden

.logo, .logo img
  height : 100%
  float: left
  margin-left: 2%

.title
  font-size : 2em
  position: relative
  float: left
  top: 50%
  margin-top: -0.5em
  margin-left: 0.5em