.work_steps
  .container
    .row.m-row_steps
      .col.s12.m-title
        h2 Найти репетитора очень просто!
      .m-content.m-row_steps
        .col.s12.m4.l4
          .m-icons
            i.icon-howwework1
          a.btn-large.orange-btn.js-attach_pos 
            span Вы оставляете заявку
        .col.s12.m4.l4
          .m-icons
            i.icon-howwework2
          .m-text В течении 5 минут с Вами свяжется наш менеджер, для уточнения деталей
        .col.s12.m4.l4
          .m-icons
            i.icon-howwework3
          .m-text Вы знакомитесь с репетитором и занимаетесь

