@import compass/css3
main
  height: 100%
a
  +inline-block
  height: 100%
  padding: 0 19px
  text-decoration: none
  .title
    +inline-block
    font-size: 16px
    color: #757575
  .title.active
    color: red
a:after
  content: ''
  height: 100%
  +inline-block
.hover:hover
  .title
    color: #000000
a .active
  color : red
