@import compass/css3
main
  height: 100%
  //max-width: 96px
a
  +inline-block
  height: 100%
  text-decoration: none
  padding: 0 26.5px
  .title
    +inline-block
    font-size: 16px
    color: rgb(181, 184, 187)
a:after
  content: ''
  height: 100%
  +inline-block