@import compass/css3
$color_active: #27ffba
main
  height: 100%
a
  +inline-block
  height: 100%
  text-decoration: none
  color: #ffffff
  .title
    +inline-block
  .title.active
    color: $color_active
a:after
  content: ''
  height: 100%
  +inline-block
.hover:hover
  .title
    color: $color_active
a .active
  color : $color_active
