@import compass/css3

main
  width: 100%
  height: 100%
  position: fixed

.error
  position: relative
  top: 50%
  text-align: center
  min-height: 440px
  +translateY(-50%)
  .content
    +inline-block
    text-align: left
    padding: 30px 30px 40px 30px
    margin-top: 30px
    background-color: #f2f2f2
    border: 1px solid #cccccc
    .top_text, .center_text, .bottom_text
      a
        text-decoration: underline
        cursor: pointer
      a.blue
        color: #2b9dc7
      a.red
        color: #e44332
    .center_text, .bottom_text
      font-size: 20px
      line-height: 24px
    .top_text
      font-size: 26px
      line-height: 24px
    .center_text
      margin-top: 15px
      margin-bottom: 10px