.result_block
  .container
    h2 Зачем готовиться вместе с репетитором?
    .m-result_body
      .line.one
      .line.two
      .line.three
      .line.four
      .box.one Уникальная система и методика преподавания
      .box.two Лучшее усвоение материала
      .box.three Специально подобранные материалы для ЕГЭ 2016
      .box.four Индивидуальный подход к ученику
      .result_text
        | Результат сдачи ЕГЭ после занятий с репетиторм
        span 82.4
        a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-attach_pos Хочу такой же результат
