.result_block
  .container
    h2 Почему стоит готовиться вместе с репетитором?
    .m-result_body.hide-on-med-and-down
      .line.one
      .line.two
      .line.three
      .line.four
      .box.one Уникальная система и методика преподавания
      .box.two Лучшее усвоение материала
      .box.three Специально подобранные материалы для ЕГЭ 2016
      .box.four Индивидуальный подход к ученику
      .result_text
        | Результат сдачи ЕГЭ после занятий с репетиторм
        span 82.4
        a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-attach_pos Хочу такой же результат
    .row.hide-on-large-only
      .col.s12.m6.m-result_inline
        .body
          .col.s4
            img(src=(F('/lp/result_01.jpg'))).responsive-img
          .col.s8
            .m-device_text Уникальная система и методика преподавания
      .col.s12.m6.m-result_inline
        .body
          .col.s4
            img(src=(F('/lp/result_02.jpg'))).responsive-img
          .col.s8
            .m-device_text Лучшее усвоение материала
      .col.s12.m6.m-result_inline
        .body
          .col.s4
            img(src=(F('/lp/result_03.jpg'))).responsive-img
          .col.s8
            .m-device_text Специально подобранные материалы для ЕГЭ 2016
      .col.s12.m6.m-result_inline
        .body
          .col.s4
            img(src=(F('/lp/result_04.jpg'))).responsive-img
          .col.s8
            .m-device_text Индивидуальный подход к ученику
