.result_block
  padding: 3rem 0 5rem
  background-color: #f4f4f4
  .container
    h2
      padding: 0
      margin: 0 0 5rem
      position: relative
      text-align: center
      font-size: 2.467rem
      font-weight: 300
      color: #333333
      &:after
        content: ''
        display: block
        height: 2px
        width: 4.267rem
        position: absolute
        left: 50%
        margin-left: -2.1335rem
        bottom: -1rem
        background-color: #ff8b38
.m-result_body
  position: relative
  height: 31.6rem
  .box
    color: #177e89
    font-size: 1.2rem
    font-weight: 500
    text-align: center
    line-height: 130%
    width: 10.33rem
    position: absolute
    &.one
      background: transparent url(F('/lp/result_01.jpg')) no-repeat top center
      padding-top: 8rem
      top: 0
      left: 6rem
    &.two
      background: transparent url(F('/lp/result_02.jpg')) no-repeat top center
      padding-top: 8rem
      top: 0
      right: 6rem
    &.three
      background: transparent url(F('/lp/result_03.jpg')) no-repeat top center
      padding-top: 7rem
      bottom: 0
      left: 6rem
    &.four
      background: transparent url(F('/lp/result_04.jpg')) no-repeat top center
      padding-top: 8rem
      bottom: 0
      right: 6rem
  .result_text
    color: #177e89
    font-size: 1.2rem
    font-weight: 500
    text-align: center
    line-height: 130%
    position: absolute
    top: 8rem
    width: 16rem
    left: 50%
    margin-left: -8rem
    span
      display: inline-block
      width: 100%
      text-align: center
      color: #4a791c
      font-size: 4rem
      line-height: 100%
      margin-top: 2rem
      font-weight: 700
  .line
    border-top: 1px solid #177e89
    position: absolute
    width: 5rem
    height: 0
    &.one
      left: 17rem
      top: 10rem
      transform: rotate(30deg)
      width: 11rem
    &.two
      right: 17rem
      top: 10rem
      transform: rotate(-30deg)
      width: 10rem
    &.three
      left: 17rem
      bottom: 11rem
      transform: rotate(-30deg)
      width: 11rem
    &.four
      right: 17rem
      bottom: 10rem
      transform: rotate(30deg)
      width: 10rem
.m-field_btn
  width: 100%
  margin-top: 4rem
