- selector = selector || "";
- placeholder = placeholder || "";
label(class=selector)
  if text
    .text.select!=text
  if height
    textarea.js-input(style="height : #{height}", placeholder=placeholder)!=value
  else
    textarea.js-input(style="height : 100%", placeholder=placeholder)!=value




