main
  height : 100%

textarea
  padding : 8px
  outline : none
  resize  : none
  border  : 2px solid rgb( 214, 214, 214 )
  border-radius : 5px
  background-color : rgb( 255, 255, 255 )

  max-width  : 100%
  width : 100%
  box-sizing : border-box

textarea:focus
  border : 2px solid rgb( 137, 209, 255 )