@import compass/css3
$font_size: 20px          // text inside input
$_font_size: 18px         // label text
$padding: 8px
main
  height: 100%
label
  width: 100%
  display: block
  .text
    font-size: $_font_size
    +inline-block
    cursor: pointer
    color: #757575
  textarea
    +inline-block
    padding: $padding
    outline: none
    resize: none
    border: 1px solid #a0a0a0
    //+border-radius(4px)
    background-color: rgb( 255, 255, 255 )
    max-width: 100%
    width: 100%
    box-sizing: border-box
    font-size: $font_size
    color: rgb(0, 0, 0)
    +input-placeholder
      color: #848484

  ////////////---------fast_bids-----------//////////
$_font_size: 16px
$font_size: 18px
.fast_bid
  text-align: left
  .text
    font-size: $_font_size
    padding-bottom: 10px
  textarea
    font-size: $font_size

  ////////////---------fast reg-----------//////////
$padding_text: 26px
.first_reg
  .text
    color: rgba(75, 75, 75, 0.70)
    font-size: $_font_size
    padding-right: $padding_text
  textarea
    font-size: $font_size
    width: 341px
$padding_text: 0px
.up_text
  .text
    display: block
    padding-bottom: 10px
    padding-right: $padding_text
    text-align: left






  //////////////////////////////
.edit_settings
  textarea
    +input-placeholder
      font-size: 16px
      color: #757575



  ///////////----action------//////////

label:hover
  .text
    color: #000000
  textarea
    border: 1px solid #b3b3b3

label.focus
  .text
    color: #000000
  textarea
    //border: 2px solid rgb( 137, 209, 255 )
    box-shadow: 0 0 7px rgba(39, 255, 186, 0.8), inset 1px 0 3px rgba(0, 0, 0, 0.65)
    border: 1px solid #a0a0a0
