.tutor-review
    .photo!= photo
    .review-body
        .review-created-time
            | 12/03/2019
        .user-name
            | Аркадий Аркадьевич
        .review-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis eum ipsa sitpossimus voluptatibus modi nemo fugit sapiente ad officia molestias eaque, in debitis temporibus reiciendis quam provident fuga.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis eum ipsa sitpossimus voluptatibus modi nemo fugit sapiente ad officia molestias eaque, in debitis temporibus reiciendis quam provident fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis eum ipsa sitpossimus voluptatibus modi nemo fugit sapiente ad officia molestias eaque, in debitis temporibus reiciendis quam provident fuga. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis eum ipsa sitpossimus voluptatibus modi nemo fugit sapiente ad officia molestias eaque, in debitis temporibus reiciendis quam provident fuga.