
.tutor-review
  position: relative
  top: 10%
  left: 10%
  height: auto
  width: 450px

.photo
  float: left
  width: 10%
  display: inline-block

.review-body
  width: 90%
  display: inline-block

.review-text
  margin-top: 10px
  padding: 10px
  font: monospace
  font-size: 1em