@import compass/css3
$heightSectionMenu: 50px
$heightIcon: 16px
$margin: ($heightSectionMenu - $heightIcon)/2
main
  font-size: 16px
div
  line-height: $heightSectionMenu
  height : $heightSectionMenu
  a
    overflow : hidden
    +inline-block
    vertical-align: baseline
    height: 100%
    text-decoration: none
    div
      +inline-block
      vertical-align: baseline
    .icon_box
      margin : 0 24px 0 28px
      .icon
        width  : $heightIcon
        height : $heightIcon
    .title
      color: #757575
  .edit
    float: right
    a
      text-decoration: none
      color: rgb(184, 171, 171)
      font-size: 13px
      padding-right: 15px
    a:hover
      color: rgb(139, 139, 139)
  a:after
    +inline-block
    content: ''
    height: 100%
/*------------------------------------------------------------*/
.profile>a>.icon_box>.icon
  background : url(F('left_menu/left_profile.png')) no-repeat
.bids>a>.icon_box>.icon
  background : url(F('left_menu/bell.png')) no-repeat
.payment>a>.icon_box>.icon
  background : url(F('left_menu/left_payment.png')) no-repeat
.documents>a>.icon_box>.icon
  background : url(F('left_menu/left_docs.png')) no-repeat
.forum>a>.icon_box>.icon
  background : url(F('left_menu/left_forum.png')) no-repeat
.articles>a>.icon_box>.icon
  background : url(F('left_menu/left_articles.png')) no-repeat
.support>a>.icon_box>.icon
  background : url(F('left_menu/left_help.png')) no-repeat
/*--------------------------------------------------------------*/
//-
  .profile>a:hover
    .icon
      background : url(F('left_menu/focus_01-profile.png')) no-repeat
  .bids>a:hover
    .icon
      background : url(F('left_menu/focus_02-application.png')) no-repeat
  .payment>a:hover
    .icon
      background : url(F('left_menu/focus_03-payment.png')) no-repeat
  .documents>a:hover
    .icon
      background : url(F('left_menu/focus_04-documents.png')) no-repeat
  .forum>a:hover
    .icon
      background : url(F('left_menu/focus_05-forum.png')) no-repeat
  .articles>a:hover
    .icon
      background : url(F('left_menu/focus_06-articles.png')) no-repeat
  .support>a:hover
    .icon
      background : url(F('left_menu/focus_07-help.png')) no-repeat

.profile>a:hover, .bids>a:hover, .payment>a:hover, .documents>a:hover, .forum>a:hover, .articles>a:hover, .support>a:hover
  .title
    color : rgb(0, 0, 0)
/*--------------------------------------------------------------*/
.profile.active, .bids.active, .support.active
  background : #fff
  +box-shadow(0px 1px 3px 0px rgba(0,0,0,0.26))
  a
    .title
      color : #b30000
//-.profile.active a .icon
  background : url(F('left_menu/active_01-profile.png')) no-repeat
  .bids.active a .icon
/*-----------------------------------------------------------------*/
