//
   Created by lh on 23.11.15.
h4.grey-text.text-darken-4.js-title
div.js-template(style="display:none")
   h5.grey-text.text-darken-4
      span.js-table_title
      span.plus-price.js-table_plus
   table.highlight.js-table
      thead
         tr
            th Продолжительность
            th Цена
      tbody