$padding_text:  20px
$background_title_block:  #E2E7EC
$height_address_time: 310px
$map_width: 350px
$height_line: 30px
$width_title: 130px
$padding_calendar: 55px
$height_info_panel: 60px
$button_wrap: 'main/button_wrap.png'
$icon_height: image-height($button_wrap)
$icon_width: image-width($button_wrap)
main
  overflow: hidden
  padding: 50px 20px
.send_bid_this_tutor
  position: absolute
  right: -8px
  top: 170px
.edit_block
  padding-bottom: 20px
.address_and_free_time
  height: $height_address_time
  .address_block
    height: 100%
    overflow: hidden
    .address_time
      height: $height_info_panel
      line-height: $height_info_panel
    .map
      height: $height_address_time - $height_info_panel
      width: $map_width
      float: left
    .show_calendar
      margin-left: $map_width + $padding_calendar
      background: #f3f3f3
      height: $height_address_time - $height_info_panel
.info_block
  height: $height_line
  line-height: $height_line
  padding-left: 20px
  .title
    width: $width_title
    float: left
    font-size: 20px
    color: rgba(0, 0, 0, 0.702)
  .value
    margin-left: $width_title
    font-size: 18px
    color: rgb(0, 0, 0)
.edit_block.top_padding
  padding-top: 50px
.subject_details_data
  .subject
    height: $height_info_panel
    line-height: $height_info_panel
  .details_data
    background: #f3f3f3
    position: relative