@import compass/css3

div
  margin : 0 auto
  position : relative
  width : 600px

div .li a
  text-decoration : none
  font : 1.1em 'fira sans'

div .li
  background : #f5f5f5
  +inline-block
  padding : 10px
  border : 1px solid white

//li:last-child
  border-right : 0px solid white
  li:hover
    background-color : #29c5e6


div .li.active
  background : #29c5e6
  color : #fff

div .sub_top_menu a
  color: #b2b2b2

