@import compass/css3
$headerText: 1.1em
$textColor : #4b5e6e
$activeBackground : #f8f8f8
$hoverBackground : #ecf0f2

main
  height: 100%
  +inline-block
  overflow: hidden

a > div
  font-size: $headerText
  position: relative
  top: 50%
  margin-top: -0.5em
  color : $textColor

a
  float: left
  padding: 0 12.5px
  height: 100%
  text-decoration : none

a.active
  background-color : $activeBackground

a.passive:hover
  background-color : $hoverBackground








