@import compass/css3
//- ------------------------------ POPUP ----------------------------------
.popup_wrap
  position: fixed
  overflow: scroll
  text-align: center
  background-color: rgba(255, 255, 255, 0.70)
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 100
  .content
    +inline-block
    position: relative
.popup_wrap:after
  content: ""
  +inline-block
  width: 0px
  height: 100%
//- -----------------------------------------------------------------------
$padding_icon: 24px
main
  padding: 50px 16px 50px 18px
.hint_block
  padding-bottom: 53px
  .title
    padding-left: 24px
    line-height: 36px
  .hint
    padding-top: 18px
  .illustrations
    font-size: 14px
    padding-top: 25px
    div
      padding: 0 $padding_icon
      +inline-block
      vertical-align: top
      div
        padding: 5px 0
        .icon, .text
          +inline-block
        .icon
          margin-right: 10px

//////////////// function //////////////
=illustration($selector,$icon_src)
  $icon_height: image-height($icon_src)
  $icon_width: image-width($icon_src)
  .hint_block
    .illustrations
      div
        .#{$selector}
          .icon
            width: $icon_width
            height: $icon_height
            background: url(F($icon_src)) no-repeat
/////////////////////////////////

+illustration('status_call','status/status_call.png')
+illustration('status_wait','status/status_wait.png')
+illustration('status_study','status/status_study.png')
+illustration('status_date','status/status_date.png')
+illustration('status_rating','status/status_rating.png')
+illustration('status_paid','status/status_paid.png')
+illustration('status_unpaid','status/status_unpaid.png')
+illustration('status_fail','status/status_fail.png')

/*-------------------------------------*/

.bar
  height: 33px
  padding-bottom: 20px
  .select_all
    height: 100%
    padding-right: 50px
    +inline-block
    .check_box, .sort_list
      +inline-block
    .check_box
      padding-right: 10px
    .sort_list
      width: 169px
      height: 100%
  .delete
    +inline-block
    .icon, .title
      +inline-block
    .icon
      width: 17px
      height: 23px
      margin-right: 10px
      background: url(F('trash_inactive.png')) no-repeat
    .title
      line-height: 23px
      font-size: 16px
      color: #b2b2b2
  .subject
    width:  279px
    height: 100%
    float: right
