@import compass/css3


//- ------------------------------ POPUP ----------------------------------

.popup_wrap
  position   : fixed
  overflow   : scroll
  text-align : center
  background-color : rgba(255, 255, 255, 0.70)
  left    : 0
  right   : 0
  top     : 0
  bottom  : 0
  z-index : 100

  .content
    +inline-block
    position : relative

.popup_wrap:after
  content : ""
  +inline-block
  width  : 0px
  height : 100%

//- -----------------------------------------------------------------------

main
  overflow: hidden


.hint_block
  overflow: hidden
  .title
    margin-left : 38px
    margin-top  : 40px

  .hint
    margin : 20px 59px 55px 48px

/*-------------------------------------*/

.illustrations
  padding-left : 50px
  font-size   : 14px
  font-family : 'Open Sans', sans-serif
  color       : rgb (0, 0, 0)
  div
    +inline-block
    vertical-align : top
    div
      margin-bottom : 15px
      .icon, .text
        +inline-block

      .icon
        margin-right : 10px
        width  : 16px
        height : 16px

  .left
    width : 275px
    .status_call>.icon
      background : inline-image('status/status_call.png') no-repeat

    .status_wait>.icon
      background : inline-image('status/status_wait.png') no-repeat

  .center
    width : 231px
    .status_study>.icon
      background : inline-image('status/status_study.png') no-repeat

    .status_date>.icon
      background : inline-image('status/status_date.png') no-repeat

    .status_rating>.icon
      background : inline-image('status/status_rating.png') no-repeat

  .right
    width : 200px
    div
      margin-bottom : 12px
      .icon
        width  : 22px
        height : 19px

    .status_paid>.icon
      background : inline-image('status/status_paid.png') no-repeat

    .status_unpaid>.icon
      background : inline-image('status/status_unpaid.png') no-repeat

    .status_fail
      .icon
        background : inline-image('status/status_fail.png') no-repeat
        background-position : center


  .center :last-child, .right :last-child
    margin-bottom: 0

/*-------------------------------------*/

.bar
  margin-top    : 66px
  margin-bottom : 23px
  margin-left   : 18px
  div
    +inline-block

  .select_all
    margin-right : 50px
    .button, .list
      +inline-block
    .button
      margin-right: 10px
    .list
      width:  169px
      height: 34px


  .delete
    margin-right : 128px
    .icon, .title
      +inline-block
    .icon
      width  : 17px
      height : 23px
      margin-right : 10px
      background   : inline-image('trash_inactive.png') no-repeat
    .title
      line-height : 23px
      font-size: 16px
      color: #b2b2b2

  .select_subject
    width:  279px
    height: 34px



.list_bids
  margin-left   : 18px
  margin-bottom : 100px