.bid
  padding: 1rem 1.6rem
  border-top: 1px solid #d4d4d4
  color: #969696
  transition: all .3s ease-out
  cursor: pointer
  position: relative
  &:first-of-type
    border-top: 1px solid transparent
  &:hover
    background-color: #f2f2f2
  .bid_text
    display: inline-block
    margin-right: 1.467rem
    vertical-align: middle
    &:last-of-type
      margin-right: 2rem
  .bid_info_chat
    padding: 0 1.5rem 2rem
    .bid_info
      padding-top: 2rem
    .chat
      padding-top: 0
  .status
    padding: 0.2667rem 0.6667rem
    border-radius: 3px
    background-color: #656565
    font-family: "futuris-cyrilic"
    color: #ffffff
    font-size: 1rem
    line-height: 1rem
    width: 6rem
    text-align: center
  .subject
    color: #0f6876
    font-size: 1.2rem
    width: 11rem
  .number
    font-size: 0.9333rem
  .updated
    float: right
    font-size: 0.9333rem
    padding-top: 0.3rem
  .icon_close
    cursor: pointer
    position: absolute
    right: 1rem
    top: 1.05rem
    display: none
  &:after
    content: ''
    display: block
    font-size: 0
    line-height: 0
    height: 0
    float: none !important
    clear: both
  //status color
  .status_green
    background-color: #4a8d3c
  .status_red
    background-color: #cf4744
  .status_blue
    background-color: #3c688d
.active
  cursor: default
  border-top: 1px solid transparent
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  transition: none
  z-index: 2
  &:hover
    background-color: #ffffff
  &+.bid
    border-top: 1px solid transparent
  .icon_close
    display: block
  .row
    margin-bottom: 0
