.bid
  .m_icon.icon_close
  .bid_text.status.status_green выполнена
  .bid_text.subject Русский язык
  .bid_text.number № 5123120
  .bid_text.updated обновлена: 02.03.2016 17:10
.bid.active
  .m_icon.icon_close
  .bid_text.status.status_blue в работе
  .bid_text.subject Английский язык
  .bid_text.number № 5123120
  .bid_text.updated обновлена: 02.03.2016 17:10
  .row.bid_info_chat
    .col.s6.bid_info!=bid_info
    .col.s6.chat!=chat
.bid
  .m_icon.icon_close
  .bid_text.status.status_red отменена
  .bid_text.subject Литература
  .bid_text.number № 5123120
  .bid_text.updated обновлена: 02.03.2016 17:10
.bid
  .m_icon.icon_close
  .bid_text.status.status_red отменена
  .bid_text.subject Литература
  .bid_text.number № 5123120
  .bid_text.updated обновлена: 02.03.2016 17:10
