.bid
  .bid_text.status.status_green выполнена
  .bid_text.subject Русский язык
  .bid_text.number № 5123120
  .bid_text.updated обновлена: 02.03.2016 17:10
.bid
  .bid_text.status.status_blue в работе
  .bid_text.subject Английский язык
  .bid_text.number № 5123120
  .bid_text.updated обновлена: 02.03.2016 17:10
.bid
  .bid_text.status.status_red отменена
  .bid_text.subject Литература
  .bid_text.number № 5123120
  .bid_text.updated обновлена: 02.03.2016 17:10

