@import base

$advantages_photo_src: 'main_tutor/mainreg_team.png'

$main_tutor_search_src: 'main_tutor/main_tutor_search.png'
$main_tutor_search_height: image-height($main_tutor_search_src)
$main_tutor_search_width: image-width($main_tutor_search_src)

$main_pattern_src: 'main/main_pattern.png'
$main_pattern_height: image-height($main_pattern_src)
$main_pattern_width: image-width($main_pattern_src)

$pattern_bottom_src: 'main/main_pattern_bottom.png'
$pattern_bottom_height: image-height($pattern_bottom_src)
$pattern_bottom_width: image-width($pattern_bottom_src)

$main_pattern_noise_src: 'main/main_pattern_noise.png'
$main_pattern_top_src: 'main/main_pattern_top.png'
$main_pattern_top_height: image-height($main_pattern_top_src)

$board_src: 'main_tutor/main_tutor_board.jpg'
$board_height: image-height($board_src)
$board_width: image-width($board_src)

$quotes_src: 'main/quotes.png'
$quotes_height: image-height($quotes_src)
$quotes_width: image-width($quotes_src)

$triangle_src: 'main/corner_review.jpg'
$triangle_height: image-height($triangle_src)
$triangle_width: image-width($triangle_src)

$main_apple_src: 'main/main_apple.jpg'
$main_apple_height: image-height($main_apple_src)
$main_apple_width: image-width($main_apple_src)

$photo1_src: 'main_tutor/photo1.jpg'
$photo1_height: image-height($photo1_src)
$photo1_width: image-width($photo1_src)

$photo2_src: 'main_tutor/photo2.jpg'
$photo2_height: image-height($photo2_src)
$photo2_width: image-width($photo2_src)


$earth_src              : 'filter_top/mainimage_earth.png'
$note_src               : 'filter_top/mainimage_note.png'
$pc_src                 : 'filter_top/mainimage_pc.png'
$pencils_src            : 'filter_top/mainimage_pencils.png'
$ruler_src              : 'filter_top/mainimage_ruler.png'
$vial_src               : 'filter_top/mainimage_vial.png'
$earth_height           : image-height($earth_src)
$note_height            : image-height($note_src)
$pc_height              : image-height($pc_src)
$pencil_height          : image-height($pencils_src)
$ruler_height           : image-height($ruler_src)
$vial_height            : image-height($vial_src)
$earth_width            : image-width($earth_src)
$note_width             : image-width($note_src)
$pc_width               : image-width($pc_src)
$pencil_width           : image-width($pencils_src)
$ruler_width            : image-width($ruler_src)
$vial_width             : image-width($vial_src)

.m-font
  color: #363636
.m-landingBlockTitle
  font-size: 50px
  color: rgb( 201, 92, 81 )
.m-text
  font-size: 30px
  color: rgb( 0, 0, 0 )
.m-Link
  font-size: 16px
  color: #b1deda
  text-decoration: underline

main
  overflow: hidden
  position: relative
.background_earth, .background_note, .background_pc, .background_pencils, .background_ruler, .background_vial
  z-index: -1
  position: absolute

.background_earth
  height: $earth_height
  width: $earth_width
  background: url(F($earth_src))
  right: 1%
  top: 5%
.background_note
  height: $note_height
  width: $note_width
  background: url(F($note_src))
  left: 6%
  top: 1%
.background_pc
  height: $pc_height
  width: $pc_width
  background: url(F($pc_src))
  right: 17%
  top: 1%
.background_pencils
  height: $pencil_height
  width: $pencil_width
  background: url(F($pencils_src))
  left: 1%
  top: 12%
.background_ruler
  height: $ruler_height
  width: $ruler_width
  background: url(F($ruler_src))
  right: 18%
  top: 15%
.background_vial
  height: $vial_height
  width: $vial_width
  background: url(F($vial_src))
  right: 71%
  top: 10%
// ------------------------- CHECK IN -------------------------------------------
.check_in
  .top_block
    +inline-block
    width: 480px
    margin: 24px 0 36px 0
    .check_in_fields
      box-sizing: border-box
      padding: 12px 48px 18px 48px
      background:  url(F('invite/block_pattern.png')), rgba(255, 255, 255, 0.3)
      .submit
        position : fixed
        color : white
        top : -8000px
        background : white
      text-align: left
      .title
        text-align: center
        font-size: 20px
        line-height: 24px
        color: #202020
        font-weight: 600
      .top_text
        text-align: center
        margin: 24px 0
        padding: 24px 0px
        line-height: 24px
        box-sizing: border-box
        background: rgba(255, 255, 255, 0.3)
        color: #202020
        font-size: 16px
      .login, .password
        position: relative
        margin-bottom: 10px
        +inline-block
        .input
          width: 100%
          font-size : 37px
      .checkbox
        text-align: left
        margin-bottom: 28px
        .field, .text
          +inline-block
        .field
          margin-right: 15px
        .text
          width: 319px
          line-height: 17px
          font-size: 14px
          color: #444444
          a
            font-size: 14px
        .checkbox_error
          display: none
          margin-top: 15px
          color: red
          font-size: 14px
      .buttons
        margin-top: 30px
        .create_account
          +inline-block
          height: 48px
          width: 360px
          vertical-align: baseline
.simple_search
  position: relative
  text-align: left
  overflow: hidden
  height: 228px
  //background: url(F($main_pattern_src))
  background-color: #efefef
  .t1, .t2
    z-index: 1
    position: relative
    +inline-block
    margin-left: 168px
  .t1
    margin-top: 36px
    font-size: 32px
    line-height: 38px
    font-weight: 600
    color: #202020
    margin-bottom: 10px
  .t2
    font-size: 18px
    line-height: 24px
    color: #202020
    padding-right: 24px
  .main_tutor_search
    position: absolute
    top: 16px
    left: 0px
    width: $main_tutor_search_width
    height: $main_tutor_search_height
    background: url(F($main_tutor_search_src)) no-repeat
    opacity: 0.5
  .pattern_bottom
    position: absolute
    bottom: 0
    width: 100%
    height: $pattern_bottom_height
    background: url(F($pattern_bottom_src))

.board_wrap
  padding-top: 60px
  background: url(F($main_pattern_noise_src))
  text-align: center
  .board
    +inline-block
    width: $board_width
    height: $board_height
    background: url(F($board_src)) no-repeat
.motivation
  position: relative
  padding-top: 18px
  padding-bottom: 60px
  background: url(F($main_pattern_noise_src))
  .left, .center, .right
    +inline-block
    vertical-align: top
    width: 289px
    padding: 0 24px
    .title, .text
      text-align: left
    .title
      font-size: 20px
      line-height: 24px
      color: #3e9ee0
      height: 60px
      text-align: center
    .text
      font-size: 16px
      line-height: 24px
      color: #202020
      ul
        li
          //list-style-type: disc
    .button
      margin: 24px auto 0
      height: 48px
      width: 228px

  .bottom_pattern
    position: absolute
    z-index: 1
    bottom: -$main_pattern_top_height + 1
    height: $main_pattern_top_height
    width: 100%
    background: url(F($main_pattern_top_src))
$main_pattern_top_src: 'main/main_pattern_top.jpg'
.reviews_wrap
  padding-top: 24px
  padding-bottom: 112px
  background: url(F($main_pattern_noise_src))
  float: left
  width: 100%
  .title
    padding-left: 24px
    margin: 24px 0 48px 0
    text-align: left
    font-size: 20px
    line-height: 24px
    color: #202020
  .reviews
    text-align: left
    .review
      +inline-block
      margin-left: 24px
      width: 480px
      display: block
      float: left
      .photo_wrap, .text_box
        +inline-block
        vertical-align: top
      .photo_wrap
        margin-right: 52px
        .photo
          background-color: #fff
          +border-radius(50%)
        .name
          text-align: center
          color: #202020
          font-size: 14px
          line-height: 24px
      .text_box
        position: relative
        box-sizing: border-box
        padding: 18px 24px
        background-color: #fff
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.40)
        .quotes_wrap, .text
          +inline-block
          vertical-align: top
        .quotes_wrap
          width: 48px
          height: 100%
          box-sizing: border-box
          display: none
          .quotes
            width: $quotes_width
            height: $quotes_height
            background: url(F($quotes_src)) no-repeat
        .text
          width: 240px
          text-align: left
          font-size: 16px
          line-height: 24px
          color: #202020
        .triangle
          position: absolute
          top: 24px
          left: -$triangle_width
          width:  $triangle_width
          height: $triangle_height
          background: url(F($triangle_src)) no-repeat

    .review.first
      .photo_wrap
        .photo
          width:  $photo1_width
          height: $photo1_height
          background: url(F($photo1_src)) no-repeat
    .review.second
      .photo_wrap
        .photo
          width:  $photo2_width
          height: $photo2_height
          background: url(F($photo2_src)) no-repeat
