@import compass/css3
$advantages_photo_src : 'main_tutor/mainreg_team.png'
.m-font
  color       : #363636

.m-landingBlockTitle
  font-size   : 50px
  color       : rgb( 201, 92, 81 )

.m-text
  font-size   : 30px
  color       : rgb( 0, 0, 0 )

.m-Link
  font-size       : 16px
  color           : #f07b6f
  text-decoration : underline

main
  overflow : hidden
  padding  : 44px 0 0 0

// ------------------------- CHECK IN -------------------------------------------

.check_in
  padding-bottom : 35px
  text-align     : center
  .title
    line-height   : 32px
    margin-bottom : 6px
    font-size     : 24px
    span
      color       : #f07b6f

  .title_conditions
    margin-bottom : 35px
    line-height   : 19px
    font-size     : 16px
    color         : #18293a

  .check_in_fields
    width         : 440px
    padding-right : 16px
    margin : 0 auto
    text-align : left
    .title
      margin-bottom : 22px
      text-align    : center
      font-size     : 30px
      font-weight   : 600
      color         : #89d1ff

    .login, .password
      position : relative
      +inline-block
      padding-right : 8px

    .login>.input, .password>.input
      width  : 425px

    .login>.hint, .password>.hint
      position : absolute
      top   : 35px
      right : -20px

    .login
      margin-bottom : 15px

    .password
      margin-bottom : 7px

    .checkbox
      text-align    : left
      margin-bottom : 28px
      .field, .text
        +inline-block
      .field
        margin-right : 15px
      .text
        width : 360px
        line-height : 17px
        font-size   : 16px
      .buttons
        margin-top : 30px
        div
          +inline-block
        .create_account
          height: 33px
        .phone_check_in
          margin-right : 32px

//- ------------------------ HOW IT WORKS -------------------------------------

.how_it_works
  overflow : hidden
  padding  : 60px 0 75px 0
  background       : inline-image('pattern_blue.png')
  //-box-shadow       : 0px 3px 6px 0px rgba(9, 12, 18, 0.27)
  .illustrations
    width  : 768px
    height : 600px
    position : relative
    margin : 60px auto 70px auto
    .text
      position: absolute
      font-size: 20px
      line-height: 28px
      color: rgb(0, 0, 0)
  .button
    +inline-block
    height: 64px

//- ------------------------ ADVANTAGES ----------------------------------------

.advantages
  overflow : hidden
  .photo
    width  : 249px
    height : 245px
    margin : 55px 0 40px 0
    +inline-block
    background: inline-image($advantages_photo_src) no-repeat

  .title
    margin-bottom : 150px
    .text
      font-size   : 30px
      span
        color     : #f07b6f
  .title :first-child
    margin-bottom : 15px

  .content
    margin : 0 auto 50px auto
    div
      +inline-block
      vertical-align: top
    .left
      width: 289px
      padding-top: 61px
      .icon
        width: 114px
        height: 113px
        margin-left: 61px
        margin-bottom: 20px
      .title
        padding-right: 35px
        margin-bottom: 35px
        font-size: 22.13px
        line-height: 30px
        span.red
          color: #f07b6f
        span.blue
          color: #4d96da
      .button_block
        text-align: left
        padding-left: 21px
        .button
          +inline-block
          height: 50px
    .center
      width: 341px
      padding-top: 34px
      .icon
        width: 146px
        height: 139px
        margin-left: 106px
        margin-bottom: 25px
      .title
        text-align: left
        padding-left: 3px
        margin-bottom: 40px
        font-size: 26.67px
        color: rgb(0, 0, 0)
      .content
        $font-size: 22.13px
        .item
          margin-bottom: 8px
          div
            +inline-block
            vertical-align: top
          .icon
            width: 26px
            height: $font-size
            margin-bottom: 25px

          .text
            width: 315px
            box-sizing: border-box
            padding-left: 11px
            text-align: left
            font-size: $font-size
            color: rgb(0, 0, 0)

    .right
      width: 384px
      .icon
        width:  146px
        height: 175px
        margin-left: 98px
        margin-bottom: 25px

      .title
        text-align: left
        margin-bottom: 40px
        font-size: 25.67px
        color: rgb(0, 0, 0)
      .content
        $font-size: 20.29px
        .item
          margin-bottom: 8px
          div
            +inline-block
            vertical-align: top
          .icon
            width: 26px
            height: 16px
          .text
            width: 315px
            box-sizing: border-box
            padding-left: 11px
            margin-top: -8px
            text-align: left
            font-size: $font-size
            line-height: 30px
            color: rgb(0, 0, 0)


//- --------------------- WAYS TO FIND ------------------------------------

.ways_to_find
  overflow : hidden
  padding  : 60px 0 75px 0
  background       : inline-image('pattern_green.png')
  box-shadow       : 0px 3px 6px 0px rgba(9, 12, 18, 0.27)
  .illustrations
    width  : 770px
    height : 500px
    position : relative
    margin : 60px auto 70px auto
    .text
      position: absolute
      font-size: 20px
      line-height: 28px
      color: rgb(0, 0, 0)
  .button
    +inline-block
    height: 54px

  //-.content
    $block_height : 525px
    div
      +inline-block

    .left
      width  : 225px
      height : $block_height
      .icon
        width  : 115px
        height : 115px
        margin : 0 auto 20px auto
        background-color : #94c9fe

      .title
        margin-bottom : 40px
        font-size     : 22.13px
        span.red
          color : #f07b6f
        span.blue
          color : #4d96da

      .button
        +inline-block

    .center
      width  : 332px
      height : $block_height
      .icon
        width  : 140px
        height : 140px
        margin : 0 auto 20px auto
        background-color : #94c9fe

      .title
        font-size : 30px

      .content>div
        div
        .icon
          width  : 27px
          height : 27px
          float  : left
          background-color : rgb( 209, 209, 209 )
        .text
          font-size   : 24px
          margin-left : 40px


    .right
      width  : 386px
      height : $block_height
      .title
        font-size   : 29px
      .content>.item>.text
        font-size   : 22px

