@import compass/css3
$height: 37px
$padding: 7px
main
.fields
  width: 100%
  .value
    padding: $padding 0
    height: $height
  .block_price_place
    position: relative
    padding: $padding 0
    height: $height
    .place
      padding-right: 33px
    .price, .place
      +inline-block
      height: 100%
    .price_button
      height: 33px
      +inline-block
      position: absolute
      margin-left: 22px
  .group_block
    padding: $padding 0
    height: $height
    .students_in_group, .group_lessons_bet
      +inline-block
      height: 100%
    .students_in_group
      padding-right: 16.5px
    .group_lessons_bet
      padding-left: 16.5px
  .comments
    padding: $padding 0
    height: 100%
  .button_block
    padding: $padding 0
    .add_button
      +inline-block

