.popup
  position   : relative
  width      : 427px
  box-shadow : 0px 1px 3px 0px rgba(9,12,18,0.46)

  .exit
    position : absolute
    top      : 10px
    right    : 10px
    a
      display : block
      width   : 10px
      height  : 10px
      background : inline-image('close.png') no-repeat

  .content
    height : 71px
    line-height : 71px
    background-color : rgb( 243, 243, 243 )
