@import compass/css3

$blue:  hsl(210,100%,69%)
$red:   hsl(6,100%,69%)
$gray:  hsl(0,0%,69%)
$green: hsl(87,62%,69%)
$light_green: hsl(78,70%,65%)
// later doing hsl color
$temporary_blue:  #00bbd3

main
  height: 100%
  cursor: pointer
  width: 100%
.button_box
  height: 100%
  width: 100%
  .button
    width: 100%
    height: 100%
    +inline-block
    //+border-radius(4px)
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 3px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset
    text-align: center
    .text
      //margin-top: -3px
      +inline-block
      color: #202020
  .button:after
    content: ''
    +inline-block
    height: 100%

//////////////// function //////////////
=selector($selector,$b_color,$padding_text,$font_size)
  .button_box.#{$selector}
    .button
      background: $b_color
      .text
        padding: 0 $padding_text
        font-size: $font_size
    &:hover .button
      background: lighten($b_color, 5%)

//new function for new design, after all element on new, delete old function
=selector_new($selector,$b_color,$font_size)
  .button_box.#{$selector}
    .button
      background: $b_color
      .text
        font-size: $font_size
    &:hover .button
      background: lighten($b_color, 5%)


////------------- motivation button ----------------////
$font_size: 26px
$padding_text: 28px
+selector('start_search',$red,26px,25px)

////---------------- advance filter button --------------////To do moved module in button_add
//-  $font_size: 30px
  $padding_text: 11px
  +selector('add_time',hsl(210,98.1,78.8),11px,30px)
  .add_time
    .button
      .text
        font-weight: 600

///////////-----------button in header popup element -----------//////////
$font_size: 20px
$padding_text: 12px
+selector('call_back',$gray,62px,20px)
.call_back .button .text
  color: #000000
+selector('in_out',$red,12px,20px)

//////////////-------------add button bid this tutor in preview----------/////////////
$font_size: 20px
$padding_text: 13px
+selector('add_button_bid',$blue,12px,20px)
//////////////--------- fill button in report bid --------///////////////
$font-size: 16px
$padding_text: 13px
+selector('fill', $blue, $padding_text, $font-size)


// ------------------------- CHECK IN -----------------------

+selector('check_in_first', $red, 53.5px, 25px)
+selector('check_in_second', $red, 19px, 24px)
+selector('callback', $red, 28.5px, 26px)


//- ---------------- EDIT: SAVE, ADD BUTTONS; REGISTRATION POPUP: REG_ADD; SEARCH_BIDS: SAVE BUTTON --------------------------


+selector('edit_save', $red, 11.5px, 20px)

+selector('reg_add', $red, 11.5px, 20px)
+selector('search_bids_save', $red, 11.5px, 18px)


//- ----------- EDIT PLUS BUTTON (ADD SMTH) ---------------------

+selector('add_smth', $red, 9.5px, 34px)


//- ----------- Registration popup, first_step : understand button ----------------------

+selector('understand', $light_green, 31.5px, 23px)

.button_box.understand
  .button
    .text
      color: rgb(0, 0, 0)


//- --------- Advanced filter; calendar : add time button ------------------------------------

+selector('filter_add_time', $red, 4px, 12px)

.button_box.filter_add_time
  .button
    text-align: center
    line-height: 16px


//- - ------ Invite teacher, students button ------------------------------------------------------

$icon_src: 'mail2.png'
//+selector('invite', $red, $padding, 20px)
+selector_new('invite', $temporary_blue, 20px)

.button_box.invite
  .button:before
    content: ""
    +inline-block
    width:  image-width($icon_src)
    height: image-height($icon_src)
    padding-right: 18px
    background: url(F($icon_src)) no-repeat center

// send new code
+selector('new_code', $gray, 12px, 20px)

////////////////  actions  ////////////////

.button_box:hover
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset



.press,.press:hover
  padding-top: 1px
  box-sizing: border-box
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset













