// takes variables:
  //{selector, text}
// type variables
  // selector, text  - string
//respons
  //text - content
  // selector - style sass

- char = char || '';

.button(class=selector)
  .plus #{char}
  .close
    .close_background
  .text=text