// takes variables:
  //{selector, text}
// type variables
  // selector, text  - string
//respons
  //text - content
  // selector - style sass
//style="background: url(#{F('main/pattern_dots_profilebutton.png')})"
- selector = selector || '';
.button_box(class=selector)
  .button
    if close
      .close
        .close_background
    if text
      .text!=text