// takes variables:
  //{selector, text}
// type variables
  // selector, text  - string
//respons
  //text - content
  // selector - style sass
.button(class=selector)
  .close
    .close_background
  .text=text