@import compass/css3
$min_width_step: 6px

=boxes($selector, $padding, $margin, $background)
  .bg_box1.#{$selector}
    margin: $margin
  .bg_box1.#{$selector}, .bg_box2.#{$selector}
    padding: $padding
    @if $background == null
      background:  none
    @else
      background: $background

.info
  +boxes(boring, 0px, 0 0 22px, null)
  .bg_box1
    margin-bottom: 10px
  .bg_box1, .bg_box2
    padding: 12px
    background:  url(F('invite/block_pattern.png')), rgba(255, 255, 255, 0.5)
    label
      .text_box
        cursor: pointer
        height: 24px
        text-align: left
        .subject_text
          +inline-block
          vertical-align: baseline
          font-size: 16px
      .title_box:after
        content: ''
        +inline-block
        height: 100%
    .box, label .box
      padding: $min_width_step 0
    label .subject
      height: 37px
      line-height: 37px
    .name, label .subject
      padding-top: 0
    .email, .comments
      padding-bottom: 0
    .name,.phone,.email
      +inline-block
      width: 100%
      box-sizing: border-box
      font-size: 37px
    .err
      overflow: hidden
      div
        float: right
        width: 341px
        text-align: left
        color: red
        font-size: 16px
        display: none
        padding: 0.3em
        box-sizing: border-box

