@import compass/css3
$padding: 8px
.info
  .bg_box1
    margin-bottom: 10px
  .bg_box1, .bg_box2
    padding: 12px
    background:  url(F('invite/block_pattern.png')), rgba(255, 255, 255, 0.2)
    .box
      padding: $padding 0
    .name, .subject
      padding-top: 0
    .email, .comments
      padding-bottom: 0
    .name,.phone,.email
      +inline-block
      width : 100%
      box-sizing : border-box
      font-size : 37px
    .err
      overflow: hidden
      div
        float: right
        width: 341px
        text-align: left
        color: red
        font-size: 16px
        display: none
        padding: 0.3em
        box-sizing: border-box

