
mixin item (title, value, selector)
  label(class=selector)
    .title=title
    .value!=value

.info

  +item('Имя :', name, 'name')
  +item('Телефон :', phone, 'phone' )
  +item('E-mail :', email, 'email')
  +item('Предмет :', subject, 'subject')
  +item('В какое время Вам звонить :', call_time, 'call_time')
  +item('Комментарии', comments, 'comments')

.hint!= hint