
mixin item (value, selector)
  .box(class=selector)!=value


////////////////////////////
.info
  .book
  .bg_box1
    +item(name, 'name')
    +item(phone, 'phone' )
    +item(call_time, 'call_time')
    +item(email, 'email')
  .bg_box2
    +item(subject, 'subject')
    .err
      .js-out_err_subject
    +item(pupil_status, 'pupil_status')
    +item(course, 'course')
    +item(comments, 'comments')