
mixin item (value, selector)
  .box(class=selector)!=value



.info.unselect
  +item(name, 'name')
  +item(phone, 'phone' )
  +item(email, 'email')
  +item(subject, 'subject')
  +item(call_time, 'call_time')
  +item(comments, 'comments')
.hint!= hint