
mixin item (value, selector)
  .box(class=selector)!=value

////////////////////////////
.info
  .book
  .bg_box1(class=type_form)
    +item(name, 'name')
    +item(phone, 'phone' )
    if call_time != null
      +item(call_time, 'call_time')
    +item(email, 'email')
  .bg_box2(class=type_form)
    label
      if subject != null
        .text_box
          .subject_text Предмет
        +item(subject, 'subject')
    if comments!=null
      +item(comments, 'comments')