
mixin item (value, selector)
  .box(class=selector)!=value


////////////////////////////
.info
  .bg_box1
    +item(name, 'name')
    +item(phone, 'phone' )
    +item(call_time, 'call_time')
    +item(email, 'email')
  .bg_box2
    +item(subject, 'subject')
    +item(comments, 'comments')