@import variables

$timer : 'timer.png'

.top_form
  margin: 2rem 0
  position: relative
  @media #{$small-and-down}
    padding: 0.5rem
    margin: 0.7rem 0 0 0
  .col
    .row
      .col
        .title
          font-size: 1.6rem
          font-weight: 700
          padding-top: 0.7rem
          @media #{$small-and-down}
            display: none
        .title_sub
          font-size: 1.2rem
          color: #757575
          @media #{$small-and-down}
            font-size: 1.2rem
            font-weight: 700
            color: rgba(0, 0, 0, 0.87)
            padding: 0.5rem 0 0 0


  .timer-block
    width: image-width($timer)
    height: image-height($timer)
    background: url(F($timer))
    position: absolute
    bottom: 0
    left: 5%
.no-margin
  margin: 0
