.section
  .course  Курс
  //<span>&#9660</span>
  .list_course!=list_course
  .add_course_block
    .add_course!=add_course
.section
  .timetable Расписание
  .calendar!=calendar
.time_one_lesson Время одного занятия

.time_to_way Время на дорогу

.experience <span>1-2 года</span><span>3-4 года</span><span>более 4 лет</span><span>нет опыта</span>

.sex