main
  overflow : hidden

//- ----------------------- left block ------------------------------------

.left_block
  width : 80px
  float : left
  .outside_work_price, .home_price, .distance_work_price
    margin-bottom: 20px

//- ----------------------- right block ------------------------------------

.right_block
  margin-left : 80px

  .sections, .category_student, .comments, .group_lessons, .duration_lesson
    line-height: 30px
    overflow: hidden
    .title
      width: 30%
      float: left
      text-align: right
      min-width: 220px
    .value
      margin-left: 30%
      padding-left: 30px
      overflow: hidden