main
  background-color : rgb(122, 152, 191)
  overflow : hidden

//- ----------------------- left block ------------------------------------
.left_block
  width : 15%
  float : left
  padding-bottom : 29px
  border-right : 2px solid #766969


  .outside_work_price, .home_price, .distance_work_price
    padding-left : 29px
    margin-bottom : 10px
    overflow : hidden


.right_block
  width : 85%
  margin-left : 15%

.left_block, .right_block
  padding-top : 29px


//- ----------------------- right block ------------------------------------

.right_block
  .sections, .category_student, .comments, .group_lessons, .duration_lesson
    margin-bottom : 10px
    overflow : hidden

    .title
      width : 30%
      float : left
      text-align : right
      padding-right : 29px
      box-sizing : border-box

    .value
      width : 70%
      margin-left : 30%