$widthLeftBlock : 120px
main
  overflow : hidden
//- ----------------------- left block ------------------------------------
.left_block
  font-size: 20px
  font-family: "Open Sans"
  color: rgba(0, 0, 0, 0.702)
  width : $widthLeftBlock
  float : left
  .outside_work_price, .home_price, .distance_work_price
    margin-bottom: 20px
  //- ----------------------- right block ------------------------------------
$title_width : 40%
$min_title_width : 240px
.right_block
  margin-left: $widthLeftBlock
  padding-left: 10px
  margin-left : $widthLeftBlock
  .sections, .category_student, .comments, .group_lessons, .duration_lesson
    line-height: 30px
    overflow: hidden
    .title
      font-size: 16px
      font-family: "Open Sans"
      color: rgba(0, 0, 0, 0.702)
      width: $title_width
      float: left
      text-align: left
      min-width: $min_title_width
    .value
      font-size: 18px
      font-family: "Open Sans"
      color: rgb(0, 0, 0)
      margin-left: $title_width
      padding-left: 30px
      overflow: hidden