$background_edit_block : #ffffff
$padding_text : 20px


main
  overflow : hidden
  padding: 50px 20px 30px 20px

/*-----------------------------------------------*/

.edit_block, .subject_details_data > .edit_block
  position: relative
  margin-bottom: 10px
  overflow : hidden
  font-size: 20px
  font-family: "Open Sans"
  color: rgba(0, 0, 0, 0.702)
  .title
    float : left
    position: relative
    z-index: 1
    background: $background_edit_block
    padding-right: $padding_text
  .edit_btn
    font-size: 16px
    float : right
    position: relative
    z-index: 1
    background: $background_edit_block
    padding-left: $padding_text

/*-----------------------------------------------*/

.info_block
  height : 30px
  line-height: 30px
  padding-left: 20px
  .title
    width: 130px
    float: left
    font-size: 20px
    font-family: "Open Sans"
    color: rgba(0, 0, 0, 0.702)
  .value
    font-size: 18px
    font-family: "Open Sans"
    color: rgb(0, 0, 0)
    margin-left: 130px

/*----------------------------------------------------*/

.subject_details_data
  padding: 60px 0 0 0

  .subject
    height: 60px
    line-height: 60px
    background: #E2E7EC

  .details_data
    background: #f3f3f3
    padding: 20px
    position: relative



/*----------------------------------------------------*/




