/*-----------------------------------------------*/
.edit_block
  width : 91.3%
  margin-left : 5.8%
  margin-top : 15px
  margin-bottom : 15px
  overflow : hidden

  .title
    width : 80%
    float : left
    border-bottom : 3px solid rgba(99, 77, 30, 0.15)

  .edit_btn
    width : 20%
    margin-left : 80%
    margin-top : 7px

/*-----------------------------------------------*/


.info_block
  height : 40px
  padding-left : 29px
  overflow : hidden
  background-color: rgba(36, 37, 58, 0.06)

  .title
    width : 10%
    float : left
    margin-right : 29px
    text-align : right

  .value
    width : 80%
    margin-left : 10%

  .title, .value
    margin-top : 20px

/*----------------------------------------------------*/

.address_and_free_time, .info_block, .subject, .details_data
  width : 88.4%
  margin : auto
  overflow : hidden

.address_and_free_time
  margin-bottom : 20px

/*----------------------------------------------------*/

.details_data
  margin-bottom: 143px




