$background_edit_block : #ffffff
$padding_text : 20px


main
  overflow : hidden
  padding: 50px 5% 30px 5%

/*-----------------------------------------------*/

.edit_block, .subject_details_data > .edit_block
  position: relative
  margin-bottom: 10px
  overflow : hidden
  .title
    float : left
    position: relative
    z-index: 1
    background: $background_edit_block
    padding-right: $padding_text
  .edit_btn
    float : right
    position: relative
    z-index: 1
    background: $background_edit_block
    padding-left: $padding_text

/*-----------------------------------------------*/

.info_block
  height : 30px
  line-height: 30px

  .title
    padding: 0 50px

/*----------------------------------------------------*/

.subject_details_data
  padding: 60px 0 0 0

  .subject
    height: 60px
    line-height: 60px
    background: #E2E7EC

  .details_data
    margin: 0 10px
    background: #f3f3f3
    padding: 30px
    position: relative



/*----------------------------------------------------*/




