.button
  width  : 120px
  height : 33px
  line-height : 33px
  border-radius : 4px
  background-color : rgb( 205, 205, 205 )
  font-size        : 18px
  color            : #757575
  font-family      : 'Open Sans', sans-serif
  cursor : pointer

.button.success.active
  background-color: rgb( 183, 210, 120 )
  color : #fff

.button.fail.active
  background-color: rgb( 221, 92, 92 )
  color : #fff




