@import compass/css3
$height : 36px

main
  width  : 428px
  height : $height
  text-align  : center

.text
  position : relative
  +inline-block
  vertical-align  : bottom
  font-size   : 18px
  font-family : 'Open Sans', sans-serif
  color       : #757575
  cursor      : pointer
  //- --------------------- HINT -----------------------------------
  .hint
    position : absolute
    top : -75px
    visibility : hidden
    .back
      position : relative
      width    : 274px
      height   : 55px
      padding-top : 10px
      line-height : 18px
      background-color : rgb( 243, 243, 243 )
      box-shadow : 0px 1px 3px 0px rgba(9, 12, 18, 0.27)
      font-size   : 16px
      color       : rgb(0, 0, 0)
      font-family : 'Open Sans', sans-serif

      .angle
        position   : absolute
        bottom     : -8px
        left       : 92px
        width      : 14px
        height     : 8px
        background : inline-image('triangle-14x8.png') no-repeat

main:after
  content : ""
  +inline-block
  width  : 0px
  height : 100%


.text:hover
  .hint
    visibility : visible