.head, .content
  ul
    background : rgba(201, 203, 206, 0.33)
    margin-bottom : 5px
    li
      display : inline-block
      width : 14%
      word-wrap : break-word
      vertical-align : top

.head
  font-weight : bold
  font-size : 0.7em
  margin-bottom : 10px

.content>ul>li
  height : 50px
.head>ul>li
  height : 15px