.container.profile-bottom-padding
  .row.js-nav_panel.valign-wrapper
    .col.s6.left-align.valign
      a.js-back.btn-flat.waves-effect.waves-teal Назад
        i.material-icons.left arrow_back
    .col.s6.right-align.tutor-action.valign.hide-on-large-only
      button.waves-effect.waves-teal.btn-flat.btn-trigger.js-tutor_trigger
        span.tutor_button_text Выбрать
        i.material-icons.right add
  .row.profile-info
    .col.l8.m8.s12
      .row.profile-card
        .col.l4.m4.s12.center-align
          .row
            .col.s12
              img.js-view_photo(width='250').responsive-img
            .input-field.col.s12.center-align.tutor-action.profile-button.valign.hide-on-med-and-down
              button.waves-effect.waves-teal.btn-flat.btn-trigger.js-tutor_trigger
                span.tutor_button_text Выбрать
                i.material-icons.right add
        .col.l8.m8.s12
          .row.info-row
            .col.s12
              h1
                span.js-full_name
                span.profile-age.js-age_value
              i.js-slogan.blue-grey-text.text-lighten-2(style="display:none")
          //.row.rating-block
            //.col.s5
            //  .row.rating-text
            //    .col.s12
            //      span.rating-text_label.grey-text.text-darken-2 Рейтинг:
            //      span.rating-text_index.teal-text.text-darken-1 3.5
            //  .row
            //    .col.s12
            //      .rating-line
            //        .base-stars
            //          i.material-icons.small.grey-text.text-lighten-1 grade
            //          i.material-icons.small.grey-text.text-lighten-1 grade
            //          i.material-icons.small.grey-text.text-lighten-1 grade
            //          i.material-icons.small.grey-text.text-lighten-1 grade
            //          i.material-icons.small.grey-text.text-lighten-1 grade
            //        .this-rating(style='width: 105px;')
            //          i.material-icons.small.orange-text grade
            //          i.material-icons.small.orange-text grade
            //          i.material-icons.small.orange-text grade
            //          i.material-icons.small.orange-text grade
            //          i.material-icons.small.orange-text grade
            //.col.s6
            //  .row
              ##
            //.col.s12.review-block
            //  a(href='#reviews') 3 отзыва
          .row.info-row.info-row-small
            .col.s12.grey-text.text-darken-1.js-location
          .row.info-row.info-row-small
            .col.s12
              ul.tags-list
                li.js-status
                li.js-experience
          .row.info-row.info-row-small
            .col.s12
              ul.tags-list
                li.js-tutor(style="display:none")
                  i.material-icons.tiny.teal-text.text-lighten-1 lens
                  span У себя
                li.js-pupil(style="display:none")
                  i.material-icons.tiny.teal-text.text-lighten-1 lens
                  span Выезд
                li.js-remote(style="display:none")
                  i.material-icons.tiny.teal-text.text-lighten-1 lens
                  span Skype
      .row
        .col.s12.js-prices
          h4.red-text.text-darken-3 Цены
          .row!=price_subject
          //.row
          //  table.highlight
          //    thead
          //      tr
          //        th Продолжительность
          //        th Цена
          //    tbody
          //      tr
          //        td 60 минут
          //        td 1000 руб.
          //      tr
          //        td 90 минут
          //        td 1500 руб.
          //      tr
          //        td 120 минут
          //        td 2000 руб.
          //
          //  h5.grey-text.text-darken-4 Выезд к ученику
          //  table.highlight
          //    thead
          //      tr
          //        th Продолжительность
          //        th Цена
          //    tbody
          //      tr
          //        td 120 минут
          //        td 2500 руб.
          //  h5.grey-text.text-darken-4 Удаленно по скайпу
          //    span.plus-price +300 руб.


      .row.tutorials-list
        .col.s12.js-subjects
          h4.red-text.text-darken-4 Предметы
          //.row
          //  .col.s12
          //    h5.grey-text.text-darken-4 Направление подготовки
          //    p.js-training_direction
          //.divider

          .js-template_subjects(style="display:none")
            .row
              .col.s12
                h5.grey-text.text-darken-4
                  span.name
                i.training_direction
                p.grey-text.text-darken-2.description
                table.highlight.price_list
                h5.h5.grey-text.text-darken-4(style="display:none")
                  span.plus-title
                  span.plus-price

          //.row
          //  .col.s12
          //    h5.grey-text.text-darken-4 История
          //    i школьный курс, вузовский курс
          //.divider
          //.row
          //  .col.s12
          //    h5.grey-text.text-darken-4 Химия
          //.divider
      .row.tutorials-list
        .col.s12
          h4.red-text.text-darken-4 Место занятий
          //.row
          //  .col.s12
          //    h5.grey-text.text-darken-4 У себя
          //    p г. Москва м. Тверска Черезчемоданноколенный пер. д. 4
          //.divider
          .js-template_places(style="display:none")
            .row
              .col.s12
                h5.grey-text.text-darken-4.place
                p.location
            .divider

      .row.tutorials-list
        .col.s12.js-education
          h4.red-text.text-darken-4 Образование
          .js-template_education(style="display:none")
            .row
              .col.s12
                h5.grey-text.text-darken-4
                  span.title
                  span.inst-ya.grey-text.text-darken-3.city
                  span.inst-ya.grey-text.text-darken-3.period
                i.info
                p.grey-text.text-darken-2.about
            .divider
          //.row
          //  .col.s12
          //    h5.grey-text.text-darken-4 Институт восточных языков
          //      span.inst-ya.grey-text.text-darken-3 г. Москва
          //      span.inst-ya.grey-text.text-darken-3 2004-2008
          //    i историко-филологический
          //.divider
      .row.bottom-info
        .col.s12
          h4.red-text.text-darken-4 О себе
          p.js-about_me
          .js-why(style="display:none")
            p
              b Почему я репетитор?
            p.text
          .js-interests(style="display:none")
            p
              b Интересы
            p.text
      .row.js-review_mark#reviews
        .col.s12
          ul.tabs.js-profile_tab
            li.tab.col.s6
              a(href="#tab1").active Отзывы&nbsp;
                span.js-rew_count
            li.tab.col.s6
              a(href="#tab2") Документы
          .col.s12.top-padding-tabs#tab1
            .row
              .col.s12
                .js-template_reviews(style="display:none")
                  .row
                    .col.s12.m12.l4.review-rating-block
                      .col.s3.m3.l12.reviews-rating_index.red-text.text-darken-4.assessment
                      .col.s9.m9.l12.reviews-rating_subject.subject
                      .col.s9.m9.l12.reviews-rating_direction.direction
                    .col.s12.m12.l8
                      p.review
                      .reviews-date
                        span.reviews-date_name.name
                        span.reviews-date_date.grey-text.text-darken-3.data
                  .divider
                //.row
                //  .col.s12.m12.l4.review-rating-block
                //    .col.s3.m3.l12.reviews-rating_index.red-text.text-darken-4 4.2
                //    .col.s9.m9.l12.reviews-rating_subject Химия
                //    .col.s9.m9.l12.reviews-rating_direction Подготовка к ЕГЭ
                //  .col.s12.m12.l8
                //    p Ольга Андреевна, интересный человек и хороший репетитор. Продолжаем заниматься с ней, если Вы хотите научить своего ребенка мыслить самостоятельно, писать сочинения, интересоваться и изучать художественные произведения, то рекомендую выбрать для занятий со своими детьми,Ольгу Андреевну! На мой взгляд, занятия с ней способствуют гармоничному развитию личности в целом.Она девушка современная и умная использует в своей работе компьютерные технологии (электронную доску и т.д.), такие методы обучения, лично мне и моей дочери очень нравятся! Продолжаем заниматься подготовкой к ЕГЭ. Спасибо! Оценка 5+.
                //    .reviews-date
                //      span.reviews-date_name Антонина
                //      span.reviews-date_date.grey-text.text-darken-3 10 октября 2015
                //.divider
                //.row
                //  .col.s12.m12.l4.review-rating-block
                //    .col.s3.m3.l12.reviews-rating_index.red-text.text-darken-4 3.8
                //    .col.s9.m9.l12.reviews-rating_subject Английский язык
                //  .col.s12.m12.l8
                //    p Мы с Ольгой Андреевной занимаемся недолго, поэтому говорить о глобальных результатах рано. Но могу сказать, у них с ученицей полный контакт. Я знаю, что к каждому ребёнку нужен свой индивидуальный подход, например, Елене понравилось, что Ольга Андреевна молодой специалист. Она - пунктуальная и внимательная.
                //    .reviews-date
                //      span.reviews-date_name Евлампия
                //      span.reviews-date_date.grey-text.text-darken-3 10 октября 2015
                //      span.reviews-date_comment.grey-text.text-darken-3 Отзыв зафиксирован со слов клиента по телефону
                //.divider
          .col.s12.top-padding-tabs#tab2
            .row
              .col.s12
                ul.profile-documents.js-documents
                  //li
                  //  img(src='http://spbdiplom.com/images/stories/39.jpg').materialboxed
                  //li
                  //  img(src='http://www.toefl-ielts.kiev.ua/files/other_pictures/certificate-toeic.jpg').materialboxed

    .col.l4.m4.s12.grey.lighten-4.center-align.profile-send-form.hide-on-small-and-down
      .row
        .col.s12.title Написать&nbsp;
          span.js-dative_name
      .row
        .input-field.col.s12
          //i.material-icons.prefix mode_edit
          textarea.materialize-textarea#textarea1
          label(for='textarea1') Введите Ваше сообщение
      .row
        .input-field.col.s12
          //i.material-icons.prefix account_circle
          input(type='text')#name.validate
          label(for='name') Имя
      .row
        .input-field.col.s12
          //i.material-icons.prefix phone
          input(type='tel')#phone.validate
          label(for='phone', data-error="Введите корректный телефон") Телефон
      .row
        .input-field.col.s12
          button(type='submit').btn.waves-effect.waves-light Отправить
            i.material-icons.right send
