@import compass/css3
$font_height: 18px
$textColor : #757575
$activeBackground : red
$hoverBackground : #000000
main
  height: 100%
  +inline-block
a
  float: left
  padding: 0 12.5px
  height: 100%
  text-decoration : none
  .title
    font-size: $font_height
    position: relative
    top: 50%
    margin-top: -$font_height/2
    color : $textColor

.active .title
  color: $activeBackground

.passive:hover .title
  color: $hoverBackground








