@import compass/css3
$padding: 7px
$height: 37px
.title, .value
  +inline-block
.title
  width: 130px
  line-height: $height
  text-align: right
  margin-right: 26px
  font-size: 16px
  color: rgba(75, 75, 75, 0.70)
.sex_man, .sex_woman
  +inline-block
  height: 33px
  font-size: 20px
.sex_man
  padding-right: 31px
.sex_woman
  padding-left: 31px