@import variables

.middle-icon
  vertical-align: middle
  margin-right: 0.4rem

.luck-history
  color: #ffffff
  text-align: center
  position: relative
  //background-color: #574f43
  background: url(F('/lp/first_screen_bg.png')) no-repeat center center
  min-height: 33.33rem
  background-size: cover
  @media #{$medium-and-down}
    background: url(F('/lp/first_screen_bg.png')) no-repeat center center
    min-height: 35rem
    background-size: auto
  .container
    position: absolute
    left: 0
    right: 0
    bottom: 2.333rem
  .history-title
    font-size: 2rem 
    line-height: 100%
    margin-bottom: 1rem
    text-shadow: 0 0 35px #7b7b7b
    text-transform: uppercase
    @media #{$medium-and-down}
      text-transform: none
      line-height: 130%
  .history-text
    font-size: 1.6rem
    line-height: 130%
    margin-bottom: 1.8rem
    font-style: italic
    text-shadow: 0 0 35px #7b7b7b
.opacity-row
  margin-bottom: 0
  .col
    &.opacity-col
      padding: 0.8667rem 
      background-color: rgba(0,0,0,0.30)
      .white-spicer
        background-color: #fff 
      .select-wrapper
        background-color: #ffffff
        width: 97%
        display: inline-block
        input.select-dropdown
          margin-bottom: 0
          box-sizing: border-box
          color: #646464
          padding: 0 1rem
          height: 2.5rem
          line-height: 2.5rem
        span.caret
          right: 1rem
          color: #646464
          top: 11px
      .col
        padding: 0 .75rem
        &:first-of-type
          padding-left: 0
        &:last-of-type
          padding-right: 0
        &.input-field
          margin-top: 0
        @media #{$small-and-down}
          padding: 0 !important
          margin-bottom: 1rem
          &:last-of-type
            margin-bottom: 0
    &.input-col-link
      a
        &.blue-btn
          width: 100%
          padding: 0
          border-radius: 0
.subjects-list-block
  padding: 3.333rem 0
  @media #{$medium-and-down}
    padding: 2rem 0
  .title
    h1
      font-size: 1.8rem
      line-height: 100%
      margin: 0 0 1.667rem 0
      color: #093c44
      @media #{$medium-and-down}
        font-size: 1.7rem
        line-height: 130%
  .subjets-list
    .col
      padding: 0.2667rem
      .sl-body
        color: #fff
        text-decoration: none
        display: block
        height: 9.733rem
        background-color: #56a48c
        transition: all 0.3s ease-out
        &:before
          content: ''
          display: inline-block
          vertical-align: middle
          height: 100%
          width: .1px
        .sl-content
          display: inline-block
          vertical-align: middle
        .sl-text
          font-size: 1.6rem
          font-family: "futura"
          @media #{$medium-and-down}
            font-size: 1.2rem
        .sl-icons
          font-size: 5rem
          line-height: 1rem
          margin-bottom: 0.8rem
          @media #{$medium-and-down}
            font-size: 4rem
      &:nth-of-type(3n)
        .sl-body
          background-color: #01a59a
      &:first-of-type
        .sl-body
          background-color: #37aeb2 
      &:last-of-type
        .sl-body
          background-color: #37aeb2
      .sl-body
        &:hover
          background-color: #147585
  .text-one
    font-size: 1.2rem
    color: #272727
    margin-top: 4.667rem
    margin-bottom: 0
    @media #{$medium-and-down}
      margin-top: 2.5rem
    p
      margin: 0 0 2rem 0
  .round-border
    border: 1px solid #e2e2e2
    padding: 2rem
    display: inline-block
    @media #{$small-and-down}
      border: none
    p
      margin-bottom: 0.5rem
    .btn-large
      margin-top: 1rem
.color-line
  height: 0.4667rem
  background-color: #fbc02d
  width: 60%
  position: relative
  &:before
    content: ''
    display: block
    height: 0.4667rem
    width: 33%
    position: absolute
    left: 0
    top: 0
    background-color: #147585
  &:after
    content: ''
    display: block
    height: 0.4667rem
    width: 66%
    background-color: #01a59a
.facts-about-us
  background: transparent url(F('/lp/dark_img.jpg')) no-repeat center center
  background-size: cover
  color: #ffffff
  @media #{$medium-and-down}
    padding: 1rem 0
  .row
    margin: 0
    .col
      height: 300px
      @media #{$medium-and-down}
        height: 90px
      &:before
        content: ''
        display: inline-block
        vertical-align: middle
        height: 100%
        width: .1px
    .fau-text
      display: inline-block
      vertical-align: middle
      font-size: 1.467rem
      font-family: 'futura'
      line-height: 120%
      text-align: left
      width: 69%
      margin-left: 1rem
      @media #{$medium-and-down}
        font-size: 1.2rem
    i
      font-size: 5rem
      @media #{$medium-and-down}
        font-size: 4rem
.our_tutors
  padding: 3.333rem 0
  @media #{$medium-and-down}
    padding: 2rem 0
  .title
    h2
      font-size: 1.8rem
      line-height: 100%
      margin: 0 0 1.667rem 0
      color: #093c44
  .our-owl
    font-size: 11rem
    line-height: 10rem
    color: #179cab
  p
    font-size: 1.2rem
    color: #272727
    margin: 0 0 1.5rem 0
    &.no-margin-p
      margin: 0
  .link
    font-size: 1.2rem
    a
      color: #179cab
      &:hover
        color: #136e7d
.what-work
  padding: 3.333rem 0
  color: #fff
  background-color: #147585
  @media #{$medium-and-down}
    padding: 2rem 0
  .col
    text-align: center
    @media #{$small-and-down}
      text-align: left
      &:last-of-type
        .ww-icons
          margin-bottom: 0 !important
  .title
    h2
      font-size: 1.8rem
      line-height: 100%
      margin: 0 0 3.333rem 0
      color: #fff
      text-align: left
      @media #{$medium-and-down}
        margin-bottom: 2rem
      @media #{$small-and-down}
        text-align: center
  .ww-content
    font-family: 'futura'
    font-size: 1.333rem
    line-height: 120%
  .ww-icons
    display: inline-block
    width: 12.27rem
    height: 12.27rem
    background-color: #136e7d
    color: #52ddd4
    border: 1px solid #52ddd4
    border-radius: 50%
    margin-bottom: 2rem
    text-align: center
    i
      font-size: 6rem
      line-height: 12.27rem
    @media #{$medium-and-down}
      width: 10rem
      height: 10rem
      i
        font-size: 5rem
        line-height: 10rem
    @media #{$small-and-down}
      width: 8rem
      height: 8rem
      i
        font-size: 4rem
        line-height: 8rem
  .ww-text
    @media #{$small-and-down}
      display: inline-block
      width: 45%
      margin-left: 2rem
      vertical-align: middle
.title-block
  h3
    font-size: 1.8rem
    margin: 0 0 2rem 0
    font-weight: 700
.row
  &.no-margin-row
    margin-bottom: 0 !important
  .col
    &.re-text
      padding-top: 6rem
      h3
        font-size: 2rem
        margin: 0 0 1.2rem
        font-weight: 700
      p
        font-size: 1.2rem
        line-height: 140%
        margin: 0
.leave-application
  padding: 3.333rem 0
  @media #{$medium-and-down}
    padding: 2rem 0
  .title
    h2
      font-size: 1.8rem
      line-height: 100%
      margin: 0 0 1.667rem 0
      color: #093c44
      @media #{$small-and-down}
        text-align: center
  .la-form
    color: #143844
    .btn-large
      margin-top: 2rem
      color: #000000
      font-size: 1.2rem
      padding: 0 3rem
      @media #{$small-and-down}
        margin-top: 1rem
  .form-right-text
    margin: 0
    @media #{$small-and-down}
      margin-top: 3rem
    li
      .color-line
        display: inline-block
        background-color: #147585
        width: 70%
        &:before
          background-color: #fbc02d
        &:after
          background-color: #01a59a
      i
        color: #2d8190
      span
        display: block
        margin-left: 3rem
      font-size: 1.333rem
      line-height: 120%
      color: #272727
      margin-bottom: 2rem
      &:last-of-type
        margin-bottom: 0
      &.before-line
        margin-bottom: 1rem

