@import variables

.middle-icon
  vertical-align: middle
  margin-right: 0.4rem

.luck-history
  background: url(F('/lp/first_screen_bg.jpg'))
  background-size: cover
  min-height: 498px
  color: #ffffff
  text-align: center
  &:before
    content: ''
    display: inline-block
    vertical-align: bottom
    height: 454px
    width: .1px
  .container
    display: inline-block
    vertical-align: bottom
  .history-title
    font-size: 2rem 
    line-height: 100%
    margin-bottom: 1rem
    text-shadow: 0 0 35px #7b7b7b
    text-transform: uppercase
  .history-text
    font-size: 1.6rem
    line-height: 130%
    margin-bottom: 1.8rem
    font-style: italic
    text-shadow: 0 0 35px #7b7b7b
.opacity-row
  margin-bottom: 0
  .col
    &.opacity-col
      padding: 0.8667rem 
      background-color: rgba(0,0,0,0.30)
      .white-spicer
        background-color: #fff 
      .select-wrapper
        background-color: #ffffff
        width: 98%
        display: inline-block
        input.select-dropdown
          margin-bottom: 0
          box-sizing: border-box
          color: #646464
          padding: 0 1rem
          height: 2.5rem
          line-height: 2.5rem
        span.caret
          right: 1rem
          color: #646464
          top: 11px
      .col
        padding: 0 .75rem
        &:first-of-type
          padding-left: 0
        &:last-of-type
          padding-right: 0
        &.input-field
          margin-top: 0
        @media #{$small-and-down}
          padding: 0 !important
          margin-bottom: 1rem
          &:last-of-type
            margin-bottom: 0
    &.input-col-link
      a
        &.orange-btn
          width: 100%
          padding: 0
          border-radius: 0
.subjects-list-block
  padding: 3.333rem 0
  .title
    h1
      font-size: 2rem
      line-height: 100%
      margin: 0 0 1.667rem 0
      color: #093c44
  .subjets-list
    .col
      padding: 0.2667rem
      .sl-body
        color: #fff
        text-decoration: none
        display: block
        height: 9.733rem
        background-color: #56a48c
        transition: all 0.3s ease-out
        &:before
          content: ''
          display: inline-block
          vertical-align: middle
          height: 100%
          width: .1px
        .sl-content
          display: inline-block
          vertical-align: middle
        .sl-text
          font-size: 1.6rem
          font-family: "futura"
        .sl-icons
          font-size: 5rem
          line-height: 1rem
          margin-bottom: 0.8rem
      &:nth-of-type(3n)
        .sl-body
          background-color: #01a59a
      &:first-of-type
        .sl-body
          background-color: #37aeb2 
      &:last-of-type
        .sl-body
          background-color: #37aeb2
      .sl-body
        &:hover
          background-color: #147585
  .text-one
    font-size: 1.2rem
    color: #272727
    margin-top: 4.667rem
    p
      margin: 0 0 2rem 0
  .round-border
    border: 1px solid #e2e2e2
    padding: 2rem
    display: inline-block
    p
      margin-bottom: 0.5rem
    .btn-large
      margin-top: 1rem
.color-line
  height: 0.4667rem
  background-color: #fbc02d
  width: 60%
  &:before
    content: ''
    display: block
    height: 0.4667rem
    width: 50%
    background-color: #01a59a
.facts-about-us
  background: transparent url(F('/lp/dark_img.jpg')) no-repeat center center
  background-size: cover
  color: #ffffff
  .row
    margin: 0
    .col
      height: 300px
      @media #{$medium-and-down}
        height: 150px
      &:before
        content: ''
        display: inline-block
        vertical-align: middle
        height: 100%
        width: .1px
    .fau-text
      display: inline-block
      vertical-align: middle
      font-size: 1.467rem
      font-family: 'futura'
      line-height: 120%
      text-align: left
      width: 69%
      margin-left: 1rem
    i
      font-size: 5rem
.our_tutors
  padding: 3.333rem 0
  .title
    h2
      font-size: 2rem
      line-height: 100%
      margin: 0 0 1.667rem 0
      color: #093c44
  .our-owl
    font-size: 11rem
    line-height: 10rem
    color: #179cab
  p
    font-size: 1.2rem
    color: #272727
    margin: 0 0 1.5rem 0
  a
    color: #179cab
    &:hover
      color: #136e7d
.what-work
  padding: 3.333rem 0
  color: #fff
  background-color: #147585
  .title
    h2
      font-size: 2rem
      line-height: 100%
      margin: 0 0 3.333rem 0
      color: #fff
  .ww-content
    font-family: 'futura'
    font-size: 1.333rem
    line-height: 120%
  .ww-icons
    display: inline-block
    width: 12.27rem
    height: 12.27rem
    background-color: #136e7d
    color: #52ddd4
    border: 1px solid #52ddd4
    border-radius: 50%
    margin-bottom: 2rem
    i
      font-size: 6rem
      line-height: 12.27rem
.title-block
  h3
    font-size: 2rem
    margin: 0 0 2rem 0
    font-weight: 700
.row
  &.no-margin-row
    margin-bottom: 0 !important
  .col
    &.re-text
      padding-top: 6rem
      h3
        font-size: 2rem
        margin: 0 0 1.2rem
        font-weight: 700
      p
        font-size: 1.2rem
        line-height: 140%
        margin: 0
.leave-application
  padding: 3.333rem 0
  .title
    h2
      font-size: 2rem
      line-height: 100%
      margin: 0 0 1.667rem 0
      color: #093c44
  .la-form
    color: #143844
    .btn-large
      margin-top: 2rem
      color: #000000
      font-size: 1.2rem
      padding: 0 3rem
  .form-right-text
    margin: 0
    li
      i
        color: #2d8190
      font-size: 1.333rem
      line-height: 120%
      color: #272727
      margin-bottom: 2rem
      &:last-of-type
        margin-bottom: 0
.comments-block
  padding: 4rem 0
  @media #{$medium-and-down}
    padding: 2rem 0
    .comment-cell
      margin-bottom: 2rem
  .comment-img
    font-size: 0
    line-height: 0
    overflow: hidden
    height: 300px
    background: #e5e5e5
    img
      max-width: 100%
      width: 100%
    a.comment-img-link
      display: block
      position: relative
      .comment-tutor-name
        position: absolute
        top: 0
        left: 0
        right: 0
        height: 38px
        @media #{$medium-and-down}
          height: auto
        background: rgba(0, 0, 0, 0.5)
        font-size: 1rem
        line-height: 130%
        color: #fff
        text-align: left !important
        transition: all 0.2s ease-out
        overflow: hidden
        .comment-img-layer
          font-size: 1rem
          line-height: 130%
          padding: 0.75rem 1.35rem
        .comment-img-name
          font-size: 1.15rem
          padding-bottom: 0.35rem
      &:hover
        .comment-tutor-name
          height: 64.5px
          @media #{$medium-and-down}
            height: auto
  .comment-body
    background-color: #e5e5e5
    color: #101010
  .comment-name
    font-weight: 700
    font-size: 1.1rem
  .comment-like
    font-size: 1.2rem
    line-height: 120%
    color: #fd7c48
    font-weight: 700
  .comment-subject
    font-size: 0.9rem
    color: #626262
    line-height: 120%
    font-weight: 700
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
  .comment-text
    font-size: 1rem
    height: 160px
    @media #{$medium-and-down}
      height: 120px
  .comment-link
    a
      color: #626262
      transition: all 0.2s ease-out
      &:hover
        color: #fd7c48
  .rew_name
    color: #626262
  .row
    .col
      &.no-padding-col
        padding: 0
        .col
          padding: 0
          &.comment-text
            padding-top: 0.5rem
      &.comment-body
        padding: 1.5rem
        padding-top: 1rem
