@import compass/css3
$height_big: 52px
$height_small: 36px
$height_line: 2px
.container
  position: relative
  z-index: 0
  .progress_box
    position: relative
    display: inline-block
    a
      .progress.block
        .value
          height: 100%
          width: 100%
          //background: url(F('check.png')) no-repeat
          //background-position: center
    a, .panel
      width: $height_big
      height: $height_big
      padding: 0 25px
      +inline-block
      position: relative
      z-index: 1
      .block
        width: $height_small
        height: $height_small
        background-color : rgb( 223, 225, 228 )
        .value
          line-height: $height_small
      .progress
        width: 100%
        height: 100%
        background-color : #89d1ff
        .value
          line-height: $height_big
      .progress, .block
        +inline-block
        +border-radius(50%)
        .value
          font-size: 20px
          color: #ffffff
      .current
        //transform: scale(1.2)
        border: 1px solid #fff
        box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.3)
        font-weight: 600
    .one
      padding-left: 0
    .fourth
      padding-right: 0
    a:after, .panel:after
      content: ''
      +inline-block
      height: 100%
    //////////////////////
    .blue_line
      position: absolute
      height: $height_line
      background: #89d1ff
      top: 50%
      margin-top: -($height_line/2)
  /////////////////////////////
  .gray_line
    position: absolute
    z-index: -1
    height: $height_line
    background: #dfe1e4
    width: 100%
    top: 50%
    margin-top: -($height_line/2)
