main
  overflow : hidden
  padding  : 50px 0 200px 0
  text-align : center

.block
  display : inline-block

  .place_of_work, .post, .experience_tutoring, .number_of_students
    overflow : hidden
    padding-bottom : 13px

    .m-title
      padding-right: 28px
      box-sizing: border-box
      float : right
      text-align : right

    .value
      float  : right
      width  : 340px
      height : 37px

  .post
    padding-bottom : 0



  /*---------------------------------------------------------*/

  .extra_info
    padding-bottom : 0
    margin-bottom  : 35px
    overflow : hidden

    .m-title
      padding-right : 28px
      box-sizing    : border-box
      float      : right
      text-align : right
      height : initial
      line-height : 32px

    .value
      float  : right
      height : 117px


  .extra_info:after
    content : ''
    clear   : both
    display : block



  /*--------------------------------------------------------*/
  .button_block
    .add_button
      margin-top    : 17px
      margin-bottom : 34px

    .add_button, .save_button
      float : right

  .button_block:after
    content : ''
    clear   : both
    display : block

  /*---------------------------------------------------------*/


  .line
    height : 2px
    margin-bottom : 30px

.hint
  width : 80%
  margin : auto
  margin-top : 50px