@import compass/css3
$padding: 7px
$height: 37px
.value, .add_button
  +inline-block
  padding: $padding 0
  height: $height
.input
  +inline-block
  padding: $padding 0
  font-size: $height
.input,.add_button
  width : 341px
.place_of_work
  padding-top: 0
.extra_info
  height: 100%
  padding-bottom: 0
.line_box
  margin: 23px 0 5px 0
  height: 2px
  .line
    position: absolute
    width: 100%
