mixin field (selector, value)
  .value(class=selector)!=value
/////////////

+field('place_of_work', place_of_work)
+field('post', post)
.add_button!= add_button
.line_box
  .line!=line
+field('experience_tutoring', experience_tutoring)
+field('number_of_students', number_of_students)
+field('extra_info', extra_info)
//.hint!= hint
