// takes variables:
  //{selector, header, text}
// type variables
  // selector, header, text  - string
//respons
  //header, text - content
  // selector - style sass
.hint(class=selector)
  .question_sign_block
  .header!= header
  .text!= text