@import variables

//fixed container whidth
.container
  width: 95% !important
  @media #{$medium-and-down}
    width: 90% !important
.orange-m-text
  color: #fd7c48
//custom button
.btn-large, .btn, .btn-flat
  &.orange-btn
    background-color: #fd7c48
    box-shadow: none
    color: #ffffff
    font-family: 'Roboto'
    &:hover
      background-color: #df6736
      box-shadow: none
      color: #ffffff

.input-field
  .prefix
    top: 15px
a
  color: #356094
  text-decoration: none
  transition: all 0.3s ease-out
  &:hover
    color: #fd7c48

input[type=text]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly])
  border-bottom: 1px solid #fd7c48
  box-shadow: 0 1px 0 0 #fd7c48
  & + label
    color: #fd7c48
textarea.materialize-textarea:focus:not([readonly])
  border-bottom: 1px solid #fd7c48
  box-shadow: 0 1px 0 0 #fd7c48
  & + label
    color: #fd7c48
.input-field
  .prefix
    &.active
      color: #fd7c48
.select-wrapper 
  input.select-dropdown
    font-family: 'Roboto'
    font-size: 0.8rem
.dropdown-content
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) 
  max-height: 350px
  font-family: 'Roboto'
  li
    &.optgroup
      &>span
        background-color: #fd7c48
        color: #fff !important
        padding: 0.5rem 1rem !important
    &>span
      font-size: 1rem !important
      color: #26a69a
      display: block
      padding: 0.5rem 0.5rem !important

[type="checkbox"]
  &:checked
    &+label
      &:before
        border-right-color: #fd7c48
        border-bottom-color: #fd7c48
[type="radio"]
  &.with-gap
    &:checked
      &+label
        &:before
          border-color: #fd7c48
        &:after
          background-color: #fd7c48
          border-color: #fd7c48




.hidden
  display : none


