@import variables

body, html
  min-height: 100%
  height: 100%
  background-color: #464646
#m-lp
  background-color: #ffffff

//fixed container whidth
.container
  width: 95% !important
  max-width: 1080px
  @media #{$medium-and-down}
    width: 90% !important
.orange-m-text
  color: #fd7c48
//custom button
.btn-large, .btn, .btn-flat
  &.orange-btn
    background-color: #fd7c48
    box-shadow: none
    color: #ffffff
    font-family: 'Roboto'
    &:hover
      background-color: #df6736
      box-shadow: none
      color: #ffffff
.btn-large, .btn, .btn-flat
  &.yellow-btn
    background-color: #fbc02d
    box-shadow: none
    color: #393b3a
    font-family: "DIN"
    &:hover
      background-color: #e2b033
      box-shadow: none
      color: #393b3a
.btn-large, .btn, .btn-flat
  &.blue-btn
    background-color: #179cab
    box-shadow: none
    color: #ffffff
    font-family: "DIN"
    &:hover
      background-color: #14727d
      box-shadow: none
      color: #ffffff

.input-field
  .prefix
    top: 15px
a
  color: #147585
  text-decoration: none
  transition: all 0.3s ease-out
  &:hover
    color: #0a4953

input[type=text]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly])
  border-bottom: 1px solid #179cab
  box-shadow: 0 1px 0 0 #179cab
  & + label
    color: #179cab
textarea.materialize-textarea:focus:not([readonly])
  border-bottom: 1px solid #179cab
  box-shadow: 0 1px 0 0 #179cab
  & + label
    color: #179cab
.input-field
  .prefix
    &.active
      color: #179cab
input[type=text], input[type=password],
input[type=email], input[type=url],
input[type=time], input[type=date],
input[type=datetime-local],
input[type=tel], input[type=number],
input[type=search],
textarea.materialize-textarea
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active
    transition: background-color 50000s ease-in-out !important
    -webkit-text-fill-color: #464646
    @media #{$medium-and-down}
      -webkit-text-fill-color: #464646
[type="checkbox"]
  &+label
    font-family: 'Roboto'
    font-size: .8rem
    &:before
      border-width: 1px
      width: 1rem
      height: 1rem
      margin-top: 0.2667rem
  &:checked
    &+label
      &:before
        width: 0.8rem
        height: 1.467rem
        border-width: 2px
[type="radio"]
  &:not(:checked)
    &+label
      font-family: 'Roboto'
      font-size: .8rem
  &:checked
    &+label
      font-family: 'Roboto'
      font-size: 1rem 
.select-wrapper 
  input.select-dropdown
    font-family: 'Roboto'
    font-size: 0.855555rem
.dropdown-content
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) 
  max-height: 350px
  font-family: 'Roboto'
  .middle-icon
    vertical-align: middle
    margin-right: 0.4rem
  li
    &.optgroup
      &>span
        background-color: #e1e1e1
        color: #464646 !important
        padding: 1rem !important
    &>span
      font-size: 1rem !important
      color: #787878 !important
      display: block 
      padding: 0.5rem 0.5rem !important
.metro-loc
  .dropdown-content 
    li.optgroup
      &>span
        background-color: #ddd
        color: #646464 !important
[type="checkbox"]
  &:checked
    &+label
      &:before
        border-right-color: #147585
        border-bottom-color: #147585
[type="radio"]
  &.with-gap
    &:checked
      &+label
        &:before
          border-color: #147585
        &:after
          background-color: #147585
          border-color: #147585
.hidden
  display : none

//modals style
.send-your-request
  overflow-y: inherit
  width: 390px
  .modal-footer
    text-align: center
    height: auto
    .btn
      float: none
      margin: 0 0 2rem
  .input-field
    .prefix
      top: 10px
  @media #{$medium-and-down}
    width: 70%
  @media #{$small-and-down}
    width: 95%
    max-height: 90%
  .dropdown-content
    top: auto !important
    bottom: 0 !important
  .select-wrapper
    .select-dropdown
      margin-left: 3rem
      width: calc(100% - 3rem)
  .prefix
    color: #777777
  h4
    font-size: 1.5em
    letter-spacing: 1.25px
    margin-top: .5rem
    margin-bottom: 1.15rem
  h5
    font-size: 1.22rem
    letter-spacing: 1.25px
    margin-top: 1.8rem
  &.req-fast-form
    h4
      font-size: 1.22rem
      margin-bottom: 0.5rem
  &.req-fast-form
    //min-height: 385px
  &.req-more-form
    width: 100%
    max-height: 100%
    overflow-y: auto
    background-color: transparent
    border-radius: 0
    box-shadow: none
    top: 0 !important
    bottom: 0
    .emulate-shadow
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
    .inner-modal
      background-color: #fafafa
      padding: 0
      width: 450px
      margin: 5rem auto
      border-radius: 2px
      will-change: top, opacity
      box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)
      transition: all 0.5s ease-out
      position: relative
      @media #{$medium-and-down}
        width: 80%
      @media #{$small-and-down}
        width: 100%
        margin: 0
        height: 100%
        background-color: #fff
        .modal-content
          background-color: #fff
      .close-modal-wrapper
        position: relative
        .modal-close-button
          position: absolute
          right: 0
          top: 0
          cursor: pointer
          background-color: transparent
          padding: 0.25rem 0.4rem
          font-size: 1.8rem
          border-radius: 0 2px 0 0
          color: #616161
          @media #{$medium-and-down}
            background-color: #B5B5B5
            color: #fff
          @media #{$small-and-down}
            padding: 0.2rem 0.4rem 0.2rem 0.2rem
            font-size: 2rem
          
  .row
    &:nth-of-type(2)
      h5
        margin-top: 0.82rem
  .col-title
    margin-top: 0.7rem
    margin-bottom: 1rem
    .prefix
      vertical-align: middle
    span 
      margin-left: 1.3rem
      font-size: 1.2rem
      letter-spacing: 1px
      color: #777777
      display: inline-block
      vertical-align: middle
  [type="radio"]:not(:checked)+label, [type="radio"]:checked+label
    padding-left: 30px
    margin-right: 1rem
    font-family: 'Roboto Condensed', sans-serif
    letter-spacing: 1.1px
    &:last-of-type
      margin-right: 0
  .col-radio
    padding-left: 3.4rem
  .input-field .prefix ~ label, .select-wrapper input.select-dropdown, .select-wrapper
    font-family: 'Roboto Condensed', sans-serif
    letter-spacing: 1.1px
  .select-wrapper input.select-dropdown
    font-size: 1rem
  .row
    margin-bottom: 0
    &.bid-textarea
      padding-top: 0.5rem
      textarea
        &.materialize-textarea
          min-height: 4rem
  .req-modal-success
    display: none
    h3
      color: #147585 
      font-size: 2.5rem
    h4
      font-size: 1.4rem
      span
        color: #147585
        font-weight: 700
      &:first-of-type
        margin-bottom: 1rem
  .req-more-body
    display: none
  &.fullBid
    .req-more-body
      display: block
    .req-modal-body
      display: none

.slide_collapse
  .select-dropdown
    //li.optgroup[data-open="0"] + li
    //  display: none
    //li:not(.optgroup)
    //  display: none
    li.optgroup[data-open="0"] ~ li:not(.optgroup)
      display: none
    li.optgroup[data-open="1"] ~ li:not(.optgroup)
      display: block
    li.optgroup[data-open="1"] ~ li.optgroup[data-open="0"] ~ li:not(.optgroup)
      display: none

    //li.optgroup ~ li.subgroup_1
    //  display: block
    li.optgroup ~ li:not(.optgroup).disabled
      display: none !important
.max-width-btn
  button
    width: 100%
  a
    width: 100%
.row
  .col
    &.col-no-padding
      padding: 0
//commit
