main
  overflow : hidden
//- -----------------------------------------------

.header
  margin-left   : 58px
  margin-top    : 50px
  margin-bottom : 38px
//- -----------------------------------------------

.hint_block
  width  : 75%
  margin : auto
  margin-bottom : 30px
//- -----------------------------------------------
.subject
  margin : 20px 0

  .title
    float        : left
    margin-right : 29px
    margin-left  : 58px

  .drop_down_list
    height : 29px
    overflow : hidden
    width : 335px
    background-color : antiquewhite
//- ------------------------------------------------

.title_bids, .bids
  width : 945px
  margin-left : 20px

.title_bids
  margin-top : 30px


