@import compass/css3

main
  overflow      : hidden

$height : 37px

.fields
  margin-top    : 22.5px
  margin-bottom : 54.5px
  text-align    : right
  label
    display : block
    cursor  : pointer
    margin-right  : 164px
    padding : 5.5px 0
    .title, .value
      +inline-block

    .title
      width        : 180px
      height       : $height
      line-height  : $height
      margin-right : 26px
      text-align   : right
      font-size    : 16px
      color        : rgba(75, 75, 75, 0.70)
      font-family  : 'Open Sans', sans-serif

    .value
      width  : 341px
      height : $height

  label.address
    cursor : default

  .line
    height        : 3px
    margin-top    : 14.5px
    margin-bottom : 8.5px
    margin-right  : 0

