@import compass/css3
.place_price_box
  +inline-block
  background: #e5e5e5
  padding: 12px
  .title
    padding-bottom: 23px
    font-size: 20px
    text-align: center
  .block_45, .block_60, .block_90, .block_120
    padding-bottom: 12px
    .min_45, .min_60, .min_90, .min_120
      +inline-block
    .price_45, .price_60, .price_90, .price_120
      padding-left: 35px
      font-size: 33px
      width: 75px
      +inline-block
  //.block_60
    .min_60
    .price_60
  //.block_90
    .min_90
    .price_90
  .block_120
    padding-bottom: 0
    //.min_120
    .price_120
      padding-left: 26px
