
$triangle_subject_src: 'triangle_subject.png'
$triangle_subject_height: image-height($triangle_subject_src)
$triangle_subject_width: image-width($triangle_subject_src)

$widthLeftBlock : 100px
$paddingAll     : 20px
$triangle_width : 21px
main
  overflow: hidden
  padding: 25px 0 $paddingAll $paddingAll           //use padding in child module, because we need .line_vertical position left to padding+width, paddig-right : 0 because have separate line
.triangle
  position: absolute
  width: $triangle_subject_width
  height: $triangle_subject_height
  top: - $triangle_subject_height
  border-style: solid
  border-width: 0 $triangle_width/2 12px $triangle_width/2
  border-color: transparent transparent #f3f3f3 transparent
  bottom: 100%
  left: ($widthLeftBlock+$paddingAll)/2 - $triangle_width/2
  background: url(F($triangle_subject_src)) no-repeat
.line_vertical
  position: absolute
  width: 2px
  top: 0
  bottom: 0
  left: $widthLeftBlock+$paddingAll
.left_block
  font-size: 20px
  color: rgba(0, 0, 0, 0.702)
  width: $widthLeftBlock
  float: left
  .title
    position: relative
    line-height: 30px
    padding-bottom: 12px
    .line_horizon
      height: 2px
      position: absolute
      left: -15px
      right: 5px
      bottom: 0
  .price_from
    padding: 10px 0 15px 0
  .price_from, .price_till
    .text
      font-size: 16px
      padding-bottom: 10px
.right_block
  margin-left: $widthLeftBlock