mixin info_line (title, value)
  .section
    .title= title
    .value= value


+info_line('Телефон :', '11.11.11')
+info_line('Почта :', 'Профессор')
+info_line('Скайп :', 'Москва')
+info_line('Личный сайт :', '2 года')