main
  background : #000000
  color : white
  height : 100%
  width: 100%

.name
  font-size : 215%
  display: inline
  padding-left: 1%
  position: relative
  top: 25%

.text
  font-size : 100%
  display: inline
  margin-left: 1%
  position: relative
  top: 25%

.top_menu
  display : inline-block




