@import compass/css3
main
  background: inline-image('main/filter_top.jpg')
  text-align: center
.center_block
  +inline-block
  width: 518px
  text-align: center
  .header
    margin-top: 62px
    margin-bottom: 39px
    line-height: 36px
    font-size: 30px
    color: #222528
    letter-spacing: -1.5px
  .block.toggle
    +inline-block
    width: 339px
    .title
      margin-bottom: 8px
      text-align: left
      font-size: 16px
      color: #222528
    .value
      height: 37px
      padding-bottom: 10px
      text-align: left
      .pupil_toggle, .tutor_toggle
        +inline-block
        height: 100%
      .pupil_toggle
        margin-right: 28px
    .friend_name, .friend_email, .your_name
      padding: 7px 0
    .invite_button
      +inline-block
      height: 38px
      margin-top: 23px
      margin-bottom: 63px