@import compass/css3
$width : 339px
main
  background : inline-image('main/filter_top.jpg')
  text-align : center

.center_block
  +inline-block
  width : 518px
  .header
    margin-top    : 62px
    margin-bottom : 39px
    line-height : 36px
    font-size   : 30px
    font-family : 'Open Sans', sans-serif
    color       : #222528
    letter-spacing : -1.5px

  .block
    text-align : center
    margin-bottom : 12px
    div
      +inline-block
      width  : $width
    .title
      margin-bottom : 8px
      text-align    : left
      font-size     : 15.97px
      color         : #222528
      font-family   : 'Open Sans', sans-serif
    .value
      height : 37px



  .bottom
    +inline-block
    text-align : center
    width : $width
    margin-top    : 17px
    margin-bottom : 63px
    .invite_button
      +inline-block
