@import compass/css3
$min_width_step: 6px
$icon_map: 'footer/map.png'
$icon_map_width: image-width($icon_map)
$icon_map_height:  image-height($icon_map)
$classmates: 'footer/soc_odn.png'
$vk: 'footer/soc_vk.png'
$fb: 'footer/soc_f.png'
$google: 'footer/soc_g+.png'
$twitter: 'footer/soc_tw.png'
$classmates_hover: 'footer/soc_odn_hover.png'
$vk_hover: 'footer/soc_vk_hover.png'
$fb_hover: 'footer/soc_f_hover.png'
$google_hover: 'footer/soc_g+_hover.png'
$twitter_hover: 'footer/soc_tw_hover.png'
$icon_height: image-height($classmates)
$icon_width: image-width($classmates)
$border:  1px solid rgba(255, 255, 255, 0.47)
$border_radius: 2px
main
  position: relative
  height: 100%
  box-shadow: 0px 120px 60px -60px rgba(0, 0, 0, 0.05) inset
  font-size: 16px
  color: #ffffff
  padding: 4*$min_width_step 15px 6*$min_width_step 15px

.top_block
  padding-bottom: 24px
  box-sizing: border-box
  .icon
    +inline-block
    padding: $min_width_step
    margin: 0 $min_width_step
    cursor: pointer
    border: $border
    +border-radius($border_radius)
    div
      width: $icon_width
      height: $icon_height
    .classmates
      background: url(F($classmates)) no-repeat
    .vk
      background: url(F($vk)) no-repeat
    .fb
      background: url(F($fb)) no-repeat
    .google
      background: url(F($google)) no-repeat
    .twitter
      background: url(F($twitter)) no-repeat
    .classmates:hover
      background: url(F($classmates_hover)) no-repeat
    .vk:hover
      background: url(F($vk_hover)) no-repeat
    .fb:hover
      background: url(F($fb_hover)) no-repeat
    .google:hover
      background: url(F($google_hover)) no-repeat
    .twitter:hover
      background: url(F($twitter_hover)) no-repeat
.top_block :first-child
  margin-left: 0
.top_block :last-child
  margin-right: 0
.bottom_block
  div
    +inline-block
    vertical-align: top
  .left_block
    padding-right: 4*$min_width_step
    div
      height: 36px
      width: 162px
      border: $border
      +border-radius($border_radius)
    .search, .bids
      margin-bottom: $min_width_step
  .center_block
    padding: 4*$min_width_step
    border: $border
    +border-radius($border_radius)
    .post_block
      height: 24px
      .post
        height: 0.55em
        line-height: 0.32em
        +inline-block
    .phone_block
      .back_call
.right_block
  position: absolute
  top: 42px
  right: 15px
  .logo_block
    padding-bottom: 4*$min_width_step
    .logo
      padding-bottom: $min_width_step
  .address_block
    div
      +inline-block
    .icon
      width: $icon_map_width
      height: $icon_map_height
      background: url(F($icon_map)) no-repeat
      padding-right: $min_width_step
      line-height: 4*$min_width_step
    .address