@import compass/css3
$height : 100%

main
  height : $height

.button
  width: 100%
  height: $height
  padding-bottom: 2px
  box-sizing: border-box
  text-align: center
  border-radius: 4px
  background-color: rgb( 205, 205, 205 )
  color: #757575
  font-family: 'Open Sans', sans-serif
  cursor: pointer
  .text
    +inline-block

.button:after
  content : ''
  +inline-block
  vertical-align : middle
  height : 100%
  width : 0px

.button.active
  background-color : rgb( 240, 123, 111 )
  box-shadow : 0px 1px 3px 0px rgba(9, 12, 18, 0.65)
  color : #fff

.button.inactive:hover
  background-color : #ffb1a8
