.content
  h1.header Оформление заявки
  .section#contacts_block
    .left_column
    .right_column
      h5.header Контактная информация
      label(for="name") Имя:
      br
      input#name
      label(for="tel") Телефон:
      br
      input#tel
      label(for="email") E-Mail:
      br
      input#email
  .section#subject_block
    .left_column
    .right_column
      h5.header Какой предмет Вас интересует?
      input#subject
  .section#info_block
    .left_column
    .right_column
      h5.header Информация о занятиях
  .section#wishes_block
    .left_column
    .right_column
      h5.header Пожелания к репетитору