@import base

.content
  padding: 24px 36px
  float: left
  position: relative
  h1
    font-size: 28px
    margin-bottom: 24px
  .section
    margin: 0 0 24px 0
    float: left
    width: 100%
    .left_column, .right_column
      display: inline-block
      position: relative
    .left_column
      width: 96px
      float: left
    .right_column
      float: right
      width: 331px
      h5
        font-size: 21px
        margin-bottom: 18px
      label
        font-size: 16px
        line-height: 32px
        color: $gray_dark
      input
        width: 302px
        margin-bottom: 12px
        font-size: 16px
        padding: 6px 12px