@import base

.content
  padding: 24px 36px
  position: relative
  h1
    font-size: 24px
    margin-bottom: 24px
  .step
    margin-bottom: 25px
    &:after
      content: ''
      display: table
      clear: both
    .contents
      margin-left: 110px
      padding-left: 15px
      h2.title
        font-size: 19px
        padding: 10px 0
    .icon
      width: 110px
      height: 110px
      float: left
      background: #DDD
  .btn_send
    width: 250px
    margin: 20px auto 0
    height: 50px