@import compass/css3

main
  overflow  : hidden
  min-width : 800px

.header
  margin      : 50px 0 55px 50px
  font-size   :  26px
  font-family : 'Open Sans', sans-serif
  color       : rgb( 0, 0, 0 )

.hint
  width : 165px
  margin-left : 85px
  float : left

.select_block
  +inline-block
  margin-left : 78px

  .sex, .category, .status
    overflow : hidden
    padding-bottom : 15px

    .title
      padding-right: 25px
      box-sizing: border-box
      float : right
      text-align : right

    .value
      float : right

  .status
    padding-bottom : 0

  .button_block
    margin-top  : 25px
    width : 435px

    .button
      float : right

  .button_block:after
    content : ''
    clear   : both
    display : block


