@import compass/css3
$padding: 7px
$height: 37px
.title
  font-size: 18px
  position: absolute
  left: 0
  right: 0
  text-align: center
.value
  +inline-block
  height: $height
  padding: $padding 0
.area
  padding-top: 50px
.metro
  padding-bottom: 0

