$ul_padding: 29px

ul.header
  background : rgba(78, 118, 178, 0.33)
  margin-bottom : 10px
  font-weight : bold
  font-size : 0.7em

  li
    display : inline-block
    width : 12.5%
    padding-left : $ul_padding
    box-sizing : border-box

    word-wrap : break-word
    vertical-align : top

    margin-top : 5px
    margin-bottom : 5px