@import compass/css3
.group_block
  padding-left: 120px
  text-align: left
  .chose_group
    padding-bottom: 15px
  .active_block
    padding-left: 130px
    .price_block
      padding-bottom: 15px
      .price
        width: 100px
        font-size: 36px
        height: 36px
      .price, .title_price
        +inline-block
      .title_price
        padding-left: 20px
    .price_block:after
      content: ''
      +inline-block
      height: 100%
    .group_people
