@import compass/css3
$triangle_src: 'main/triangle_down.png'
$icon_height: image-height($triangle_src)
$icon_width: image-width($triangle_src)
$font-size: 18px
$width_filter: 300px
main
  padding: 20px 18px 20px 16px
  overflow: hidden
.advanced_filter
  width: $width_filter
  float: left
.result_filter
  margin-left: $width_filter
  padding-left: 18px
  .sort
    padding-bottom: 10px
  .choose_tutors_block
    padding-bottom: 10px
    background-color: rgb(240, 240, 240)
    box-shadow: 0px 1px 3px 0px rgba(9, 12, 18, 0.26)
    .choose_tutors_content
      padding: 15px 18px
      text-align: left
      font-size: $font-size
      color:  #757575
      .section
        +inline-block
        .box_icon
          padding: 0 11px 0 0
          +inline-block
          .icon
            width: $icon_width
            height: $icon_height
            background: inline-image($triangle_src) no-repeat
        .text
          +inline-block
      .choose_tutors
        overflow: hidden
        padding: 20px 2px 0 2px
        .choose_tutor
          padding-right: 20px
          float: left
