@import compass/css3
$triangle_src: 'main/triangle_down.png'
$triangle_height: image-height($triangle_src)
$triangle_width: image-width($triangle_src)
$close_icon_src: 'main/close_profile_15x15.png'
$icon_height: image-height($close_icon_src)
$icon_width: image-width($close_icon_src)
$font-size: 18px
$width_filter: 300px
main
  padding: 20px 18px 20px 16px
  overflow: hidden
.background_block
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: #ffffff
  opacity: 0.70
  z-index: 1
.popup_block
  position: absolute
  z-index: 1
  background-color: rgb(255, 255, 255)
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.26)
  left: 0
  top: 0
  text-align: left
  margin: 150px 60px 0 60px
  .menu_bar
    height: 70px
    color: #566878
    font-size: 20px
    text-align: center
    .item
      height: 100%
      +inline-block
    .close_box
      cursor: pointer
      position: absolute
      right: 0
      top: 0
      padding: $icon_width
      .close_icon
        width: $icon_width
        height: $icon_height
        background: inline-image($close_icon_src) no-repeat
  .popup_content
    padding: 0 57.5px
.advanced_filter
  width: $width_filter
  float: left
.result_filter
  margin-left: $width_filter
  padding-left: 18px
  .sort
    padding-bottom: 10px
  .choose_tutors_block
    padding-bottom: 10px
    background-color: rgb(240, 240, 240)
    //-box-shadow: 0px 1px 3px 0px rgba(9, 12, 18, 0.26)
    border: 1px dashed #e3e3e3
    .choose_tutors_content
      padding: 15px 18px
      text-align: left
      font-size: $font-size
      color:  #757575
      .section
        +inline-block
        .box_icon
          padding: 0 11px 0 0
          +inline-block
          .icon
            width: $triangle_width
            height: $triangle_height
            background: inline-image($triangle_src) no-repeat
        .text
          +inline-block
      .choose_tutors
        overflow: hidden
        padding: 20px 2px 0 2px
        .choose_tutor
          padding-right: 20px
          float: left
  .tutors_result
    .tutor_result
      background-color: #f3f3f3
    .tutor_result:hover
      background-color: #e5e5e5