$width_filter: 300px
//$margin_left_filter: 20px
main
  padding: 20px 18px 20px 16px
  overflow: hidden
.advanced_filter
  background-color: rgb(243, 243, 243)
  width: $width_filter
  float: left
.content
  margin-left: $width_filter