main
  overflow : hidden
//- -----------------------------------------------

.header
  margin-left   : 58px
  margin-top    : 50px
  margin-bottom : 38px
//- -----------------------------------------------

.hint_block
  width  : 75%
  margin : auto
//- -----------------------------------------------

.subject
  margin : 20px 0

  .title
    float        : left
    margin-right : 29px
    margin-left  : 58px

  .drop_down_list
    height : 29px
    overflow : hidden
    width : 335px
    background-color : antiquewhite
//- ------------------------------------------------

.illustrations
  overflow : hidden

  .illustration
    width : 94px
    height : 94px
    float : left
    margin-right : 20px

//- ----------------------------------------------------

.title_bids, .bids
  width : 96%
  margin-left : 2%

.title_bids
  margin-top : 30px