@import compass/css3

$width : 315px

.photo
  position : relative
  width: $width
  height: 100%
  +inline-block
  $photo_src: 'registration/plus.png'
  $photo_height: image-height($photo_src)
  $photo_width: image-width($photo_src)
  .plus
    float: left
    width: $photo_width
    height: $photo_height
    background: url(F($photo_src)) no-repeat
  $photo_src: 'registration/camera_big.png'
  $photo_height: image-height($photo_src)
  $photo_width: image-width($photo_src)
  .camera_big
    overflow: hidden
    width: 200px
    height: 200px
    margin: 15px 0 0 50px
    border-radius: 50%
    background-color: rgb( 228, 228, 228 )
    .big_photo
      width: $photo_width
      height: $photo_height
      position: relative
      top: 50%
      margin: -$photo_height/2 auto 0 auto
      background: url(F($photo_src)) no-repeat
  $photo_src: 'registration/camera_small.png'
  $photo_height: image-height($photo_src)
  $photo_width: image-width($photo_src)
  .camera_small
    overflow: hidden
    width: 60px
    height: 60px
    float: right
    margin-top: -60px
    border-radius: 50%
    background-color: rgb( 228, 228, 228 )
    .small_photo
      width: $photo_width
      height: $photo_height
      position: relative
      top: 50%
      margin: -$photo_height/2 auto 0 auto
      background: url(F($photo_src)) no-repeat

.photo
  .input
    position : absolute
    left : 0
    top  : 0
    width : 100%
    height : 100%
    z-index : 10001
    input
      position : relative
      opacity : 0
      cursor : pointer
      left  : 0
      top : 0
      width : 100%
      height : 100%
  .photo
    +box-shadow( 0 0 20px rgba(0,0,0,0.2))
    position : relative
    left : 0
    top  : 0
    img
      position : relative
      left : 0
      top : 0
      width : 100%
    div
      position : absolute
      top : 0
      left : 0
      background : rgba(0,0,0,0)
      width : 100%
      height : 100%
      z-index : 1000
.photo:hover
  .photo
    +box-shadow( 0 0 30px rgba(0,0,0,0.6))
    div
      background : rgba(0,0,0,0.01)
      +box-shadow( inset 0 0 10px rgba(0,0,0,0.1))

      
//- ----------------------------------------------------------------------------
