- var style = "";
- var w = 315;
- if (min)w = 200;
- if (photo)
- {
-   style = "height:"+w*photo.hheight/photo.hwidth+"px"
-}


.js-container(min=min)
  .js-back
    .js-photos(style=style)
      if photo
        .block.photo
          img(src=photo.hurl width="100%")
        .block.js-unknown(style="display:none")
          .img
      else
        .block.js-unknown
          .img
    
  .js-front
    .js-remove_photo
    .js-load_text Загрузить фотографию
    .js-input_wrap
      input.js-input(accept="image/*" type="file" name="files[]" data-url="/upload/image" multiple="")


