@import compass/css3
main
  height: 100%
  width: 100%
img
  cursor : pointer
  +box-shadow( 0 0 20px rgba(0,0,0,0.2))
  height: 100%
  width: 100%

img:hover
  +box-shadow( 0 0 30px rgba(0,0,0,0.6))
