.progress
  text-align : center
  margin-top : 5px
  margin-bottom : 5px
  margin-left : 15%
  width : 70%
  min-height : 30px
  .progress-line
    height : 10px
    background-color : rgb(250, 223, 215)
    border-radius : 50px 50px 50px 50px
    .filling
      height: 10px
      border-radius: 50px 50px 50px 50px
      background-color : rgba(0, 169, 255, 0.81)
      width : 56%