@import compass/css3

.titles
  div
    +inline-block
    height : 32px
    text-align : center
    background-color : rgb( 225, 227, 229 )
    border-right : 1px solid rgba(0, 0, 0, 0.17)
    box-sizing : border-box

  div:after
    content : ''
    +inline-block
    vertical-align : middle
    height : 100%
    width : 0px

  .number_date
    width : 107px
  .subject_level
    width : 148px
  .place
    width : 88px
  .city_district
    width : 110px
  .bet
    width : 79px
  .price
    width : 78px
  .status
    width : 100px

.titles:last-child
  border-right : 0



