@import compass/css3

.titles
  div
    +inline-block
    padding : 7px 10px 7px 10px
    background-color : rgb( 225, 227, 229 )
    border-right : 1px solid rgba(0, 0, 0, 0.17)

  .place, .bet, .price
    padding : 7px 25px 7px 25px

.titles:last-child
  border-right : 0



