main
  overflow : hidden

.input
  width : 461px

  .block
    .title
      margin-top    : 18px
      margin-bottom : 10px


.input, .button_block
  margin : auto

.button_block
  margin-top  : 25px
  width : 455px
  overflow : hidden

  .button
    float : right

.hint
  width      : 80%
  margin     : auto
  margin-top : 50px
