@import compass/css3

main
  overflow : hidden
  text-align : center

.input
  +inline-block

  .block
    margin-bottom : 20px

    .title
      margin-bottom : 10px
      text-align  : left
      font-size   : 1.6em
      font-family: 'Open Sans', sans-serif
      color : rgb( 0, 0, 0 )


.input, .button_block
  margin : auto

.button_block
  margin-top  : 25px
  width : 455px
  overflow : hidden

  .button
    float : right

.hint
  width      : 80%
  margin: auto
