@import compass/css3

main
  overflow    : hidden
  padding-top : 53px
  text-align  : center

.input_block
  +inline-block

  label
    display : block
    padding : 7.25px 0
    cursor        : pointer

    .input
      width  : 460px

    .title
      margin-bottom : 6.5px
      text-align    : left
      font-size     : 18px
      font-family   : 'Open Sans', sans-serif
      color         : #757575

.input_block :first-child
  padding-top : 0px

.input_block :last-child
  padding-bottom : 0px

.input_block, .button_block
  margin : auto

.button_block
  width : 455px
  padding-top    : 27px
  padding-bottom : 50px
  .button
    float : right
    height: 33px

.hint
  width      : 80%
  margin: auto
