mixin block(key, val)
  label
    .title.select!=key
    .input!=val
//- ---------------------------------------------------------------            

.input_block
  +block('Почему я репетитор?', reason_textarea)
  +block('Интересы :', interests_textarea)
  +block('О себе :', about_textarea)

.button_block
  .button!= button

//-.hint.horizontal!= hint

