.input
  .block
    .title Почему я репетитор?
    .input!= reason_textarea

  .block
    .title Интересы:
    .input!= interests_textarea

  .block
    .title О себе:
    .input!= about_textarea

.button_block
  .button!= button

//-.hint.horizontal!= hint

