@import "base"

.block
  text-align: left
  margin-bottom: 20px
  &:after
    +after_block
  .title
    margin-bottom: 15px
    font-size: 18px
    font-weight: 600
  &:last-of-type
    margin-bottom: 0