@import compass/css3
$min_width_step: 6px
$morning_src: 'calendar/morning-normal.png'
$day_src: 'calendar/day-normal.png'
$evening_src: 'calendar/evening-normal.png'
$act_morning_src: 'calendar/morning-active.png'
$act_day_src: 'calendar/day-active.png'
$act_evening_src: 'calendar/evening-active.png'
$day_height: image-height($morning_src)
$day_width: image-width($morning_src)
$search_pattern_src: 'main/search_pattern.png'
.calendar_box
  .calendar_week
    padding-bottom: 6px
    height: $min_width_step*6
    div
      line-height : $min_width_step*6
      width: $min_width_step*6
      height: $min_width_step*6
      +inline-block
      vertical-align : baseline
      text-align: center
      background-color: #f6f6f6//#b5b5b5
      margin-right: 6px
    .sunday
      margin: 0
    div
      .text
        +inline-block
        vertical-align : baseline
        display : block
        text-align: center
    div:after
      +inline-block
      content: ''
      height: 100%
  .morning_block, .day_block, .evening_block
    padding-bottom: 6px
  .evening_block
    padding: 0
  .morning_block, .day_block, .evening_block
    div
      cursor : pointer
      width: $day_width
      height: $day_height
      +inline-block
      text-align: center
      margin-right: 6px
      background-color: #e6e6e6
      +transition(transform 200ms ease-out)
      &:hover
        background-color: #fff
        +transform(scale(1.1))
      .active
        width: 100%
        height: 100%
        display: none
    div.noclick, div.noclick:hover
      +transform(none)
    .m_sunday, .d_sunday, .e_sunday
      margin-right: 0
  .morning_block
    div
      background: url(F($morning_src)) no-repeat, #e6e6e6

  .day_block
    div
      background: url(F($day_src)) no-repeat, #e6e6e6
  .evening_block
    div
      background: url(F($evening_src)) no-repeat, #e6e6e6
  .morning_block
    div.active
      background: url(F($act_morning_src)) no-repeat, #009587
  .day_block
    div.active
      background: url(F($act_day_src)) no-repeat, #009587
  .evening_block
    div.active
      background: url(F($act_evening_src)) no-repeat, #009587
/////////////


.calendar_box
  .morning_block, .day_block, .evening_block
    .click_day.active_day
      .active
        +inline-block

.calendar_box.tutor_profile
  .calendar_week, .morning_block, .day_block, .evening_block
    div
      width: 92px
      height: 48px
      background: #f3f3f3
      font-size: 20px
      box-sizing: border-box
      border: 1px solid #7f7f7f
    div.active
      background: url(F($search_pattern_src))
      background-color: #009587
      border: 1px solid #355e54
      .text
        color: #000000
  .morning_block, .day_block, .evening_block
    div
      background: #f3f3f3
      cursor: pointer
      .text
        +inline-block
        color: #8e8e8e
    div:after
      +inline-block
      content: ''
      height: 100%
  .calendar_week
    div
      background: #b4b4b4




