
.calendar_box(class = selector)
  .js-calendar_week
    .js-day.monday
      .text пн
    .js-day.tuesday
      .text вт
    .js-day.wednesday
      .text ср
    .js-day.thursday.hover
      .text чт
    .js-day.friday.hover
      .text пт
    .js-day.saturday.hover
      .text сб
    .js-day.sunday
      .text вс
  .morning_block
    .m_monday.js-click_day
      .active
    .m_tuesday.js-click_day
      .active
    .m_wednesday.js-click_day
      .active
    .m_thursday.js-click_day
      .active
    .m_friday.js-click_day
      .active
    .m_saturday.js-click_day
      .active
    .m_sunday.js-click_day
      .active
  .day_block
    .d_monday.js-click_day
      .active
    .d_tuesday.js-click_day
      .active
    .d_wednesday.js-click_day
      .active
    .d_thursday.js-click_day
      .active
    .d_friday.js-click_day
      .active
    .d_saturday.js-click_day
      .active
    .d_sunday.js-click_day
      .active
  .evening_block
    .e_monday.js-click_day
      .active
    .e_tuesday.js-click_day
      .active
    .e_wednesday.js-click_day
      .active
    .e_thursday.js-click_day
      .active
    .e_friday.js-click_day
      .active
    .e_saturday.js-click_day
      .active
    .e_sunday.js-click_day
      .active



