@import compass/css3

main
  padding-bottom : 30px
.panel
  height: 36px
  a
    height: 100%
    text-decoration : none

    div
      height: 100%
      +inline-block

  .issue_bid
    height: 100%
    margin: 0 27.5px
    +inline-block

