@import compass/css3

main
  padding-bottom : 30px
.panel
  height: 36px
  //- children: .button_back, .button_next, .issue_bid
  div
    height: 100%
    +inline-block

  .issue_bid
    margin: 0 27.5px

