@import compass/css3
$height : 37px
$padding: 7px
$price_block_padding: 6px
$width_fields: 341px
main
  height: 100%
.bg_block
  width: 700px
  padding: 10px 100px 25px 0
  box-sizing: border-box
  background: #E6E6E6
  .tag_block
    width: 650px
    padding: 0 0 11px 30px
    text-align: left
    .subject_tag
      +inline-block
    .control_block
      float: right
      .delete, .hide
        cursor: pointer
        +inline-block
      .hide
        padding-right: 5px
      .delete
        padding-left: 5px
  .container
    .value
      +inline-block
      padding: $padding 0
      font-size: $height
    .categories_of_students
      padding: 12px 0
      .title
        margin-top: -52px
        padding-right: 26px
        color: #757575
        +inline-block
      .check_panel
        +inline-block
        text-align: left
        width: $width_fields
        .right_block
          float: right
        .left_block, .right_block
          +inline-block
          div
            padding: 3px 0
    .place_price
      position: relative
      padding: $padding 0
      margin-right: -117px
      .select_all_price
        background: #e6e6e6
        padding: 10px
        text-align: left
        position: absolute
        top: 35px
        left: 92px
      .title
        padding-right: 26px
        float: left
        margin-left: 123px
        color: #757575
      .place_price_tutor
        +inline-block
        padding: 0 $price_block_padding $price_block_padding 0
      .place_price_pupil
        +inline-block
        padding: 0 0 $price_block_padding $price_block_padding
      .place_price_remote
        +inline-block
        padding: $price_block_padding $price_block_padding 0 0
      .place_price_group
        +inline-block
        padding: $price_block_padding 0 0 $price_block_padding
    .price
      padding: 12px 0
      div
        +inline-block
      .title
        vertical-align: top
        padding-right: 26px
        padding-top: 10px
        color: #757575
      .slider
        width : $width_fields
    .place
      padding: 12px 0
      .title
        padding-right: 26px
        line-height: 22px
        +inline-block
        color: #757575
      .check_panel
        +inline-block
        text-align: left
        width: $width_fields
        .left_block, .right_block
          +inline-block
          div
            padding: 3px 0
        .right_block
          margin-left: 25px
    .duration
      width: 91px
      margin-right: 250px
    .comments
      padding-bottom: 0
      height: 100%
  .container.hide
    display: none
  .container.show
    display: block

// errs
div
  div
    .err
      div
        width: 341px
        float: right
        text-align: left
        color: red
        font-size: 16px
        display: none
        padding: 0.3em
        box-sizing: border-box
