@import compass/css3

.header
  margin-bottom : 10px
  font-size : 25px
  color : #000

.search_bar
  .help_word, .search_input, .search_icon, .advanced_search
    +inline-block

  .help_word
    font-weight : lighter
    width : 10%

  .search_icon
    height : 30px
    width : 5%
    margin-right : 5px
    background : url(F('search_1105.png')) no-repeat
    border : 1px solid #cccccc

  .search_input
    width : 30%
    margin-left : 5%
    margin-right : 2%
    input
      width : 100%
      border : 1px solid #cccccc

  .advanced_search
    color : rgb(83, 127, 232)
    font-weight : lighter
    width : 20%

.advanced_search_bar
  width : 50%
  margin-left : 15%
  min-height : 100px
  margin-top : 15px
  background : rgb(219, 219, 219)
  //background : url(F('triangle.png')) no-repeat
  .price
    width : 100%
    height : 50px
    margin-top : 15px
    padding-left : 10%

  .district
    padding-left : 10%
    .title
      width : 20%
      display : inline-block
    .district_input
      width : 80%
      display : inline-block
  .study_place
    margin-top : 15px
    ul
      li
        input
          display : inline-block
          width : 20%
          margin : 0
          margin-top : 3px
        p
          display : inline-block
          width : 80%

