@import compass/css3
$field_width  : 89px
$field_height : 37px

main
  overflow : hidden
  padding  : 38px 0 20px 0
  text-align : center

.block
  +inline-block

  label.country, label.city, label.district, label.nearest_metro, label.street, .line>label.building, .line>label.house, .flat_block>label.flat, label.house_block, label.house_block>.value>.building
    display  : block
    overflow : hidden
    padding  : 6.5px 0
    cursor : pointer

    .m-title
      padding-right : 28px
      float : right
      text-align : right

    .value
      float : right

  .location
    margin-bottom : 25.5px

    .m-title
      text-align : right
      padding-right : 368px
      margin-bottom : 15px

    .value
      text-align : right
      div
        +inline-block
        width : 128px
      .tutor, .student
        margin-right : 22px

  .button_block
    .add_button, .save_button
      float : right

    .add_button
      margin-top    : 18.5px
      margin-bottom : 20px

  .button_block:after
    content : ''
    clear   : both
    display : block

  .line
    text-align : right
    label.house, label.building
      +inline-block
    label.house>.value, label.building>.value
      height : $field_height
      width  : $field_width
    label.house
      padding-right : 25px
      padding-left  : 50px
    label.building
      padding-left : 25px

  .flat_block
    text-align : right
    padding-right : 251px
    label.flat
      .value
        width : $field_width


  //-.house_block
    .value
      label.house, label.building
        +inline-block
      label.house
        height : $field_height
        width  : $field_width
      label.building
        padding : 0
        .m-title
          padding-right : 29px
          padding-left  : 50px

        .value
          height : $field_height
          width  : $field_width


//- -------------- Hover ----------------

.block
  label.country
    .m-title:hover
      #country_label
        border : 2px solid #b3b3b3

