@import compass/css3
$field_width  : 89px
$field_height : 37px

main
  overflow : hidden
  padding  : 38px 0 20px 0
  text-align : center

.block
  +inline-block

  .country, .city, .district, .nearest_metro, .street, .building, .house, .flat, .house_block, .house_block>.value>.building
    overflow : hidden
    padding-bottom : 13px

    .m-title
      padding-right : 28px
      box-sizing : border-box
      float : right
      text-align : right

    .value
      float : right

  .location
    margin-bottom : 32px

    .m-title
      text-align : right
      padding-right : 368px
      margin-bottom : 15px

    .value
      text-align : right
      div
        +inline-block
        width : 128px
      .tutor, .student
        margin-right : 22px


  .flat
    padding : 0px
    .value
      width : $field_width
      padding-right : 251px

  .button_block
    .add_button, .save_button
      float : right

    .add_button
      margin-top    : 25px
      margin-bottom : 20px

  .button_block:after
    content : ''
    clear   : both
    display : block



  .house_block
    .value
      .house, .building
        +inline-block
      .house
        height : $field_height
        width  : $field_width
      .building
        padding : 0
        .m-title
          padding-right : 29px
          padding-left  : 50px

        .value
          height : $field_height
          width  : $field_width
