@import compass/css3
$field_width : 90px

main
  overflow : hidden
  padding  : 15px 0 20px 0
  text-align : center

.block
  +inline-block

  .country, .city, .district, .nearest_metro, .street, .building, .house, .flat, .house_block, .house_block>.value>.building
    overflow : hidden
    padding-bottom : 15px

    .m-title
      padding-right : 55px
      box-sizing : border-box
      float : right
      text-align : right

    .value
      float : right

  .location
    margin-bottom : 32px

    .m-title
      text-align : right
      padding-right : 390px
      margin-bottom : 25px

    .value
      text-align : right


  .flat
    padding : 0px
    .value
      width : $field_width
      padding-right : 245px

  .button_block
    overflow      : hidden

    .add_button, .save_button
      float : right

    .add_button
      margin-top    : 25px
      margin-bottom : 20px


  .house_block
    .value
      .house, .building
        +inline-block
      .house
        width : $field_width
      .building
        padding : 0
        .m-title
          padding-right :  20px
          padding-left  : 45px

        .value
          width : $field_width
