@import compass/css3

$height: 50px
$margin: 5px

div
  overflow : hidden
  height : $height
  a
    overflow : hidden
    display  : block
    height: 100%

    .icon
      width  : $height - $margin *2
      height : $height - $margin *2
      float  : left
      margin : $margin 24px $margin 38px

    .title
      overflow : hidden
      +inline-block
      line-height: $height

      color : #4b5e6e


/*------------------------------------------------------------*/

.profile>a>.icon
  background : inline-image('left_menu/normal_01-profile.png')

.bids>a>.icon
  background : inline-image('left_menu/normal_02-application.png')

.payment>a>.icon
  background : inline-image('left_menu/normal_03-payment.png')

.documents>a>.icon
  background : inline-image('left_menu/normal_04-documents.png') no-repeat

.forum>a>.icon
  background : inline-image('left_menu/normal_05-forum.png') no-repeat

.articles>a>.icon
  background : inline-image('left_menu/normal_06-articles.png') no-repeat

.support>a>.icon
  background : inline-image('left_menu/normal_07-help.png') no-repeat



/*--------------------------------------------------------------*/

.profile>a:hover
  .icon
    background : inline-image('left_menu/focus_01-profile.png') no-repeat

.bids>a:hover
  .icon
    background : inline-image('left_menu/focus_02-application.png') no-repeat

.payment>a:hover
  .icon
    background : inline-image('left_menu/focus_03-payment.png') no-repeat

.documents>a:hover
  .icon
    background : inline-image('left_menu/focus_04-documents.png') no-repeat

.forum>a:hover
  .icon
    background : inline-image('left_menu/focus_05-forum.png') no-repeat

.articles>a:hover
  .icon
    background : inline-image('left_menu/focus_06-articles.png') no-repeat

.support>a:hover
  .icon
    background : inline-image('left_menu/focus_07-help.png') no-repeat


.profile>a:hover, .bids>a:hover, .payment>a:hover, .documents>a:hover, .forum>a:hover, .articles>a:hover, .support>a:hover
  .title
    color : #ff949b


/*--------------------------------------------------------------*/


.active
  background : #fff
  box-shadow : 0px 0px 6px rgba(0,0,0,0.26)
  a
    .title
      color : #ed645e


.profile.active a .icon
  background : inline-image('left_menu/active_01-profile.png') no-repeat

.bids.active a .icon
  background : inline-image('left_menu/active_02-application.png')



/*-----------------------------------------------------------------*/
