main
  position: relative
  padding-left: 30px
.hint
  float: left
  width: 280px
  text-align: left
.calendar
  padding-bottom: 20px
  text-align: left
//-
  .save_button
    position: absolute
    top: 165px
    height: 33px
    float: left
    text-align: left