mixin day(text)
  .day=text

.header.g-font-middleTitle Определите свободное время для проведения ваших занятий
.week
  .passive.g-font-edit-calendar пн
  .active.g-font-edit-calendar вт
  .passive.g-font-edit-calendar ср
  .passive.g-font-edit-calendar чт
  .active.g-font-edit-calendar пт
  .active.g-font-edit-calendar сб
  .passive.g-font-edit-calendar вс

  .hint
    .sign

.time_entry_fields
  each value in time_entry_fields
    .time_entry_field!= value

.hint_block
  .add_block
    .button!= add_button
    .sign
  .hint.g-font-edit-calendar Если вы ещё точно не уверены в своём расписании - укажите примерное время с небольшим запасом. Это максимально упростит поиск ученикам и они сами Вас найдтут!


