main
  width : 60%
  margin-left: 20%
  padding-top : 35px
  overflow : hidden
  background-color : #fff

.left-content
  width : 25%
  margin-left: 5%
  overflow : hidden
  float : left

.right-content
  width : 70%
  overflow : hidden
  margin-left : 30%










