$widthMargin : 200px    //width photo and margin-right personal data
$padding : 30px  //in the section_box
main
  padding: 50px 20px
.info_data
  overflow: hidden
  padding-bottom: $padding
  .person_box
    float: left
    width: $widthMargin
    .photo
      overflow: hidden
      height: 200px
      border-radius: 50%
    .progress
      width: 130px
      height: 20px
      margin: auto
  .personal_data
    margin-left: $widthMargin
    padding-left: $padding
    .name
      $font_line: 30px
      font-size: $font_line
      height: 2*$font_line
      line-height: $font_line
  //---------------line-------------//
.separate_box
  margin-bottom: 20px

div>.icon_box
  width: $widthMargin
  padding-bottom: $padding
  box-sizing: border-box
  position: absolute
  height: 100%
.media_box .icon_box  //because media_box be end, and don't have padding-bottom
  padding-bottom: 0
.contacts_box, .education_box, .private_box, .media_box
  padding-bottom: $padding
  overflow: hidden
  position: relative
  min-height: 150px
.contacts_box>.contacts, .education_box>.education
  margin-left: $widthMargin
  padding-left: $padding
.media_box
  padding-bottom: 0
$iconsWidthHeight : 100px
.contacts_box .icon_box .icon, .education_box .icon_box .icon, .private_box .icon_box .icon, .media_box .icon_box .icon
  width: $iconsWidthHeight
  height: $iconsWidthHeight
  margin-left: 50px
  background: red
  position: relative
  top: 50%
  margin-top: -50px