$widthMargin : 200px

main

.info_data
  padding: 50px 5% 30px 5%
  overflow: hidden
  .person_box
    float: left
    width: $widthMargin
    .photo
      overflow: hidden
      height: 200px
      border-radius: 4px
    .progress
      margin-top: 7px

  .personal_data
    margin-left: $widthMargin
    padding-left: 5.5%

.separate_line
  height: 2px
  background: #cad2d8
  opacity: 0.4
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.27) inset

.title
  font-size: 24px
  font-family: "Open Sans"
  color: rgb(0, 0, 0)
  text-align: left
  margin: 0 0 5px 55px



.contacts
  padding: 30px 5%
  overflow: hidden
  .icon_box
    width: 100px
    height: 100px
    float: left
    margin-left: 50px
    //after we have icons image we must change background: red on background : inline-image('#') no-repeat
    .background
      background: red
      height: 100%

.education
  padding: 30px 5%
  overflow: hidden
  .icon_box
    width: 100px
    height: 100px
    float: left
    margin-left: 50px
    //after we have icons image we must change background: red on background : inline-image('#') no-repeat
    .background
      background: red
      height: 100%
.private
  padding: 30px 5%
  overflow: hidden
  .icon_box
    width: 100px
    height: 100px
    float: left
    margin-left: 50px
    //after we have icons image we must change background: red on background : inline-image('#') no-repeat
    .background
      background: red
      height: 100%

.media
  padding: 30px 5% 0 5%
  overflow: hidden
  .icon_box
    width: 100px
    height: 100px
    float: left
    margin-left: 50px
    //after we have icons image we must change background: red on background : inline-image('#') no-repeat
    .background
      background: red
      height: 100%





























