.operator
  img
    width: 56px
    height: 56px
    display: inline-block
    vertical-align: middle
    margin-right: 0.6667rem
    border-radius: 50%
  .name_and_status
    display: inline-block
    vertical-align: middle
    color: #969696
    .name
      font-size: 1.1rem
      font-weight: 500
    .status
      font-size: .8rem
.chat
  padding: 0.5rem 1rem 0 0
  height: 300px
  overflow: auto
.m-message
  padding-left: 4.3997rem
  padding-bottom: .3rem
  margin-bottom: .3rem
  .meta
    .name
      font-size: .9rem
      font-weight: 500
      margin-right: .5rem
      color: #3c688d
    .date
      font-size: .8rem
  .text
    font-size: .9rem
    color: #636363
  &.system
    .text
      color: #3c688d

.message-input
  .row
    margin-bottom: 0
    .input-field
      textarea
        color: #636363
