@import compass/css3
main
  height: 100%
.bid
  margin: 0
  width: 18px
  height: 18px
  box-sizing: border-box
  border: 2px solid rgb( 209, 209, 209 )
  +border-radius(6px)
  background-color: rgb( 255, 255, 255 )

.check_in
  width: 25px
  height: 25px
  box-sizing: border-box
  border: 3px solid rgb( 137, 209, 255 )
  border-radius: 8px
  background-color: rgb( 255, 255, 255 )

////-------------- left filter -------------///////
.time
  height: 100%
  width: 100%
  background-color: #fff

.edit_settings
  width: 24px
  height: 24px
  border: 3px solid rgb( 205, 205, 205 )
  border-radius: 4px
  box-sizing: border-box