@import compass/css3
main
  height: 100%
  cursor: pointer
  position: relative
.bid
  margin: 0
  width: 18px
  height: 18px
  box-sizing: border-box
  border: 2px solid rgb( 209, 209, 209 )
  +border-radius(6px)
  background-color: rgb( 255, 255, 255 )

.check_in
  width: 25px
  height: 25px
  box-sizing: border-box
  border: 3px solid rgb( 137, 209, 255 )
  border-radius: 8px
  background-color: rgb( 255, 255, 255 )

////-------------- left filter -------------///////
.time
  height: 100%
  width: 100%
  background-color: #fff

.edit_settings
  width: 24px
  height: 24px
  border: 3px solid rgb( 205, 205, 205 )
  border-radius: 8px
  box-sizing: border-box

//- ---------------- CHECKS ---------------------------

.check.edit_settings_active, .check.check_in_active
  width: 25px
  height: 18px
  position: absolute
  top: 4px
  background: inline-image('blue_check.png') no-repeat
  background-position: center

.check.bid_active
  width: 19px
  height: 14px
  position: absolute
  top: 2px
  background: inline-image('blue_check_small.png') no-repeat
  background-position: center
