@import compass/css3
$check_small: 'main/check_18x17.gif'
$check_small_height: image-height($check_small)
$check_small_width: image-width($check_small)

$check_big: 'checkbox_big.png'
$check_big_height: image-height($check_big)
$check_big_width: image-width($check_big)


$font_size: 16px
main
  height: 100%
label
  cursor: pointer
  display: block
  width: 100%
  height: 100%
  div
    +inline-block
  .check_box
    //+border-radius(4px)
    +border-radius(2px)
    box-sizing: border-box
    background-color: #fff
    //border: 2px solid rgb( 205, 205, 205 )
    border: 1px solid #a0a0a0
    position: relative
    .check
      display: none
      height: 100%
      width: 100%
      position: absolute
      left: -1px
      top: -2px
  .text
    padding-left: 14px
    font-size: $font_size
    color: #717171
  ///////////// big //////////////////////
label.big
  .check_box
    width: $check_big_width
    height: $check_big_height
    .check
      width: $check_big_width
      height: $check_big_height
      background: url(F($check_big)) no-repeat

  ///////////// small //////////////////////
label.small
  .check_box
    width: $check_small_width
    height: $check_small_height
    .check
      width: $check_small_width
      height: $check_small_height
      background: url(F($check_small)) no-repeat

  /////////////// font_16 ////////////
label.font_16
  .text
    font-size: 16px
  ////////////--------------action-----------///////////
label.active
  .check_box
    box-shadow: inset 0px 0px 7px 3px rgba(0, 0, 0, 0.15)
    .check
      display: block
  .text
    color: #000000

label:hover
  .check_box
    border-color: #b3b3b3
  .text
    color: #000000

