- if (value = undefined) value = state;
- state = value;
- state = ''+state
- state = state || false
- if (state == 'true') state = 'active'
- if (state =='false') state = ""
- selector = selector || 'big'
- selector += " "+state

label(class=selector)
  .js-check_box
    .js-check
  if text
    .text!=text
