@import compass/css3
main
  height : 100%
  text-align: center
.logo
  height: 100%
  float: left
.right_box
  float: right
  height: 100%
  .back_call, .button_in_out
    height: 100%
    +inline-block
  .back_call
    padding: 0 30px
  .back_call:before
    +inline-block
    height: 100%
    content: ""
  .button_in_out
    padding: 0 20px
.left_box
  height: 100%
  .top_menu, .icons
    height: 100%
    +inline-block
