.background_earth
.background_note
.background_pc
.background_pencils
.background_ruler
.background_vial
.title.select= title
.search
  .filters
    .subject!=list_subject
    .line
    .tutor_status
      .top
        .title Статус репетитора
        .icon
      .bottom
        each val in tutor_status
          .item!=val
    .line
    .area
    .price
  .button
