// .help_word - класс слов помощи человеку в понимании что от него требуется вводить
// .g-myfont
.header Поиск
.search_bar
    .help_word Предмет
    .search_input
        input
    .search_icon
    .advanced_search расширенный <br> поиск
.advanced_search_bar
    .price Цена : от 400 руб. до 1000
    .district
        .title Район
        .district_input
            input
    .study_place
        ul
          li
            input(selector='checkbox')
            p У себя
          li
            input(selector='checkbox')
            p Выезд

