@import compass/css3
$RedHoverColor: #ffb1a8
main
  height: 100%
a
  height:  100%
  display: block

.button, a>.button
  height: 100%
  +border-radius(4px)
  box-sizing: border-box

  .text
    +inline-block
    padding: 0 21px
    font-size: 20px

.button:after, a>.button:after
  content: ''
  +inline-block
  height: 100%



  ////////////////
.inactive
  background-color: rgb( 205, 205, 205 )
  .text
    color: #757575

.active, a>.button.active
  background-color: rgb( 240, 123, 111 )
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.51)
  cursor: pointer
  .text
    color: #fff

.active:hover, a>.button.active:hover
  background-color: $RedHoverColor

