@import compass/css3
$height: 38px
$width: 284px
$RedHoverColor: #ffb1a8


.button, a>.button
  width: $width
  height: $height
  text-align: center
  border-radius: 4px
  box-sizing: border-box
  padding-top: 8px

  .text
    +inline-block
    font-size: 20px

.button.inactive
  background-color: rgb( 205, 205, 205 )
  .text
    color: #757575

.button.active, a>.button.active
  background-color: rgb( 240, 123, 111 )
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.51)
  cursor: pointer
  .text
    color: #fff

.button.active:hover
  background-color: $RedHoverColor

