@import compass/css3

main
  overflow : hidden
  padding  : 43.5px 0 200px 0
  text-align : center

.block
  display : inline-block

  label, .line>label
    display : block
    cursor  : pointer

  label.subject, label.sections, label.destinations, label.category_students, label.group_lessons, label.comments, .line>label.location,   .line>label.price
    overflow : hidden
    padding : 6.5px 0

    .m-title
      padding-right: 28px
      box-sizing: border-box
      float : right
      text-align : right

    .value
      float : right


  .line
    position   : relative
    text-align : right
    label
      +inline-block
    label.location
      .value
        width  : 183px
        height : 37px
    label.price
      .value
        width  : 68px
        height : 37px
      .m-title
        padding-left :  22px
        padding-right : 18px


    .add_location
      position : absolute
      top : 8.5px 
      right : -60px


  //-.location_block
    position : relative
    overflow : visible

    .value
      .location, .price, .add_location
        +inline-block
      .location
        width  : 183px
        height : 37px
      .price
        padding : 0
        .value
          width  : 68px
          height : 37px
        .m-title
          padding-left :  22px
          padding-right : 18px

      .add_location
        position : absolute
        top : 0
        right : -60px

  //-.location_block:after
    content		: "."
    visibility	: hidden
    display		: block
    height		: 0
    clear		: both


  label.group_lessons>.value
    .pupils_number, .bet
      +inline-block

    .pupils_number
      width : 180px
      margin-right : 35px

    .bet
      width  : 121px
      height : 37px

  label.comments
    padding-bottom : 0px
    .value
      width  : 340px
      height : initial



  .subject, .sections, .destinations, .category_students, .group_lessons, .comments
    .title
      width : 200px
      float : left
      padding-right : 40px
      box-sizing : border-box

      text-align : right
      word-wrap  : break-word

    .value
      overflow : hidden

      .pupils_number
        width  : 183px
        height : 37px
        float : left
        margin-right : 35px

      .bet
        overflow: hidden

  /* -------------------------------------------------------------------- */

  .location_block
    .location
      .title
        width : 200px
        padding-right : 40px

    .price
      .title
        width : 100px
        padding-right : 22px

    .location, .price
      display : inline-block
      .title
        float : left
        box-sizing : border-box
        text-align : right
        word-wrap  : break-word

      .value
        overflow : hidden


    .add_location
      margin-left : 22px
      display : inline-block

  /*-----------------------*/

  .button_block
    text-align : right
    div
      +inline-block

    .add_button
      margin : 20px 0 15px 0

