main
  background-color : #eee

ul
  list-style-type :  none
  li
    a
      text-decoration: none
      .active-item
        margin-left : 20%
        padding : 5%

        .title
          height : 2em

      .active-item.active
        background-color : #999
        border-radius : 50px 0 0 50px