main
  background-color : #48545E

ul
  margin : 0
  list-style-type :  none
  li
    a
      text-decoration: none
      .active-item
        width : 80%
        margin-left : 20%
        overflow : hidden
        background-color : #48545E
        border-radius : 50px 0 0 50px

        .title
          width : 100%
          height : 35px
          margin-left : 20%
          overflow : hidden
          padding-top : 10px

      .active-item.active
        width : 80%
        margin-left : 20%
        overflow : hidden
        background-color : #fff
        border-radius : 50px 0 0 50px

        .title
          width : 100%
          height : 35px
          margin-left : 20%
          overflow : hidden
          padding-top : 10px
