ul
  each href, title in {'Анкета':'#','Заявка':'#','Оплата':'#', 'Документы':'#','Форум':'#','Статьи':'#','Поддержка':'#'}
    li
      if title == 'Анкета'
        a(href=href)
          .active-item.active
            .title= title
      else
        a(href=href)
          .active-item
            .title= title

