ul
  each href, title in items
    li
      if title == active_item
        a(href=href)
          .active-item.active
            .title= title
      else
        a(href=href)
          .active-item
            .title= title

