@import base
$red : #E96666
$blue: #227480
$grey: #9E9E9E
$green: #008000
$yellow: #FFFDD4
main
  padding: 24px 0 132px 24px
.select
  h2
    font-size: 20px
    margin-bottom: 20px

  ul.trans_history li.elems
    &:nth-child(2n + 1)
      background: #F3F3F3
    &:hover
      background: $yellow
    .short
      padding: 10px 0 10px 40px
      cursor: pointer
      position: relative
      i.sign
        position: absolute
        text-align: center
        width: 20px
        left: 10px
        top: 0
        bottom: 0
        font-size: 25px
        line-height: 35px
        &.neg
          color: $blue
        &.pos
          color: $green
      span
        +inline-block()
        margin-right: 10px
        &.open
          float: right
          color: $grey
    .detail
      padding: 10px 0 10px 40px
      display: none
      table
        width: 650px
        tbody
          border-top: 1px solid #000
        tbody, thead
          tr
            & + tr
              border-top: 1px solid #DADADA
            th
              font-weight: bold
            td, th
              padding: 10px 0
              vertical-align: middle
              &.grey
                color: $grey
              &.up
                color: $green
              &.down
                color: $red
              i,p
                font-size: 14px
              i
                color: $grey

  .summ_price
    padding-bottom: 30px
    font-size: 25px
    span.summ
      font-weight: bold
    &.red span.summ
      color: $red
  form
    height: 35px
    margin-bottom: 40px
    .btn_send
      margin-left: 20px
      width: 200px
      height: 100%
    .curr
      font-size: 25px
      display: inline-block
      height: 100%
      vertical-align: top
    .summ_send
      margin-right: 5px
      width: 260px
      font-size: 35px
    .summ_send, .btn_send
      display: inline-block
      vertical-align: top

table.transations
  width: 700px
  tbody
    border-top: 1px solid #000
  tbody, thead
    tr
      & + tr
        border-top: 1px solid #DADADA
      th
        font-weight: bold
      td, th
        padding: 10px 0
        vertical-align: middle
        &.grey
          color: $grey
        &.up
          color: $green
        &.down
          color: $red
        i,p
          font-size: 14px
        i
          color: $grey


