@import compass/css3
$font_size: 15px
$padding_icon: 1.5px
.hint
  .icon_box
    +inline-block
    text-align: center
    border-radius: 50%
    background-color: rgb(243, 243, 243 )
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26)
    .icon
      padding: $padding_icon
      width: $font_size
      font-size: $font_size
      color: #757575
  .question_block
    padding-left: $font_size+$padding_icon
    .text
      font-size: 16px
      line-height: 24px






