@import compass/css3
$icon_src: 'small_question_sign.png'
$icon_height: image-height($icon_src)
$icon_width: image-width($icon_src)
.hint
  .icon_block
    height: $icon_height
    width: $icon_width
    .icon
      height: 100%
      width: 100%
      background: inline-image($icon_src) no-repeat
  .question_block
    padding-left: $icon_width
    .header
    .text
      font-size: 16px
      line-height: 24px






