link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

.navbar-fixed
  nav
    .nav-wrapper.teal
      a.brand-logo.center(href='/', target='_blank')
        img(src='https://lessonhome.ru/file/de6fd69bf0/header/logo.png')
      ul.right.hide-on-med-and-down#nav-mobile
        li
          a(href='#') Создать вопрос
        li
          a(href='#') Создать заявку
        li
          a(href='#') Создать регистрацию

.section
  .row
    .col.l5
      h5.header Модерация:
        a.right#expand_moderation(href='#')
          i.small.material-icons.black-text.expand_more expand_more
      .row.teal.lighten-2#moderation_filter_block
        a.dropdown-button.btn-flat.col.l7.center.white-text(href='#', data-activates='dropdown1', data-beloworigin='true') Все
        ul.dropdown-content(id='dropdown1')
          li
            a(href='#!') Все
          li.divider
          li
            a(href='#!') Новые регистрации
              span.badge 12
          li
            a(href='#!') Изменения профиля
              span.badge 123
          li
            a(href='#!') Отзывы
              span.badge 1254
        a.dropdown-button.btn-flat.col.l5.center.white-text(href='#', data-activates='dropdown2', data-beloworigin='true') По приоритету
        ul.dropdown-content(id='dropdown2')
          li
            a(href='#!') По приоритету
          li.divider
          li
            a(href='#!') По дате (сначала старые)
          li
            a(href='#!') По дате (сначала новые)
      .row
        i.grey-text.right 127 в очереди
      .row
        table.striped
          //thead
            tr
              th(data-field='id') Name
              th(data-field='name') Item Name
              th(data-field='price') Item Price
          tbody
            tr
              td
                i.tiny.material-icons insert_chart
              td 03.08.2015
              td Галина Прохоровна
            tr
              td
                i.tiny.material-icons insert_chart
              td 08.08.2015
              td Андрей
            tr
              td
                i.tiny.material-icons insert_chart
              td 13.08.2015
              td Лиза
    .col.l5
      h5.header Просьбы клиентов:
        a.right#expand_ask(href='#')
          i.small.material-icons.black-text.expand_more expand_more
      .row.teal.lighten-2#ask_filter_block
        a.dropdown-button.btn-flat.col.l7.center.white-text(href='#', data-activates='dropdown3', data-beloworigin='true') Все
        ul.dropdown-content(id='dropdown3')
          li
            a(href='#!') Все
              span.badge 127
          li.divider
          li
            a(href='#!') Вопросы
              i.tiny.material-icons.black-text.left help
              span.badge 86
          li
            a(href='#!') Заказ звонка
              i.tiny.material-icons.black-text.left phone
              span.badge 41
          li.divider
          li
            a(href='#!') Новые заявки
              i.tiny.material-icons.black-text.left assignment_returned
              span.badge 12
          li
            a(href='#!') Принятые заявки
              i.tiny.material-icons.black-text.left assignment_turned_in
              span.badge 72
        a.dropdown-button.btn-flat.col.l5.center.white-text(href='#', data-activates='dropdown4', data-beloworigin='true') По приоритету
        ul.dropdown-content(id='dropdown4')
          li
            a(href='#!') По приоритету
          li.divider
          li
            a(href='#!') По дате (сначала старые)
          li
            a(href='#!') По дате (сначала новые)
      .row
        i.grey-text.right 17 в очереди
      .row.ask_table
        table.striped
          //thead
            tr
              th(data-field='id') Name
              th(data-field='name') Item Name
              th(data-field='price') Item Price
          tbody
            tr
              td
                i.tiny.material-icons insert_chart
              td 03.08.2015
              td Галина Прохоровна
            tr
              td
                i.tiny.material-icons insert_chart
              td 08.08.2015
              td Андрей
            tr
              td
                i.tiny.material-icons insert_chart
              td 13.08.2015
              td Лиза
            tr
              td
                i.tiny.material-icons insert_chart
              td 03.08.2015
              td Галина Прохоровна
            tr
              td
                i.tiny.material-icons insert_chart
              td 08.08.2015
              td Андрей
            tr
              td
                i.tiny.material-icons insert_chart
              td 13.08.2015
              td Лиза
            tr
              td
                i.tiny.material-icons insert_chart
              td 03.08.2015
              td Галина Прохоровна
            tr
              td
                i.tiny.material-icons insert_chart
              td 08.08.2015
              td Андрей
            tr
              td
                i.tiny.material-icons insert_chart
              td 13.08.2015
              td Лиза
            tr
              td
                i.tiny.material-icons insert_chart
              td 03.08.2015
              td Галина Прохоровна
            tr
              td
                i.tiny.material-icons insert_chart
              td 08.08.2015
              td Андрей
            tr
              td
                i.tiny.material-icons insert_chart
              td 13.08.2015
              td Лиза
    .col.l2
      h6.header Ваша активность:
