@import compass/css3
$font-size: 18px
$padding_text: 0px
main
  +inline-block
  height: 100%
  cursor: pointer
a
  display: block
  height: 100%
  .button
    +inline-block
    height: 100%
    background-color: rgb( 205, 205, 205 )
    +border-radius(4px)
    color: #757575
    .text
      +inline-block
      padding: 0 $padding_text
      font-size: $font-size
  .button:after
    content: ''
    +inline-block
    height: 100%

/////////-------top filter-------/////////
$font-size: 26px
$padding_text: 15px
a
  .subject_back, .onward_block, .issue_bid
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 3px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset
    background: rgb(148, 201, 254)
    .text
      font-size: $font-size
      padding: 0 $padding_text
      color: rgb(255, 255, 255)
  $padding_text: 20px
  .issue_bid
    background-color: rgb(240, 123, 111)
    .text
      padding: 0 $padding_text

////////-------tutor reports: support button ----------------

$font-size: 16px
$padding_text: 11.5px
a
  .support
    background-color: rgb( 88, 105, 122 )
    box-shadow : 0px 1px 3px 0px rgba(9, 12, 18, 0.65)
    .text
      padding: 0 $padding_text
      font-size: $font-size
      color: #fff

//-.support:hover
  .button
    background-color: #7d95ad

////////////////-------actives--------////////////////
//TODO: now all button in active, after do state: active, inactive. The following logic: if no go next step - inactive, otherwise - active
//.inactive
  .button
    .text
      color: #757575


///////// now hover for all button, after doing logic, hover only active button
.hover
  .button
    background-color: #ffb1a8
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset

///////// this class for button in mouse down in element
.press
  padding-top: 1px
  box-sizing: border-box
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset




