@import compass/css3
$blue:  hsl(210,100%,69%)
$red:   hsl(6,100%,69%)
$gray:  hsl(0,0%,69%)
$green: hsl(87,62%,69%)
$light_green: hsl(78,70%,65%)
main
  +inline-block
  height: 100%
a
  display: block
  height: 100%
  .button
    +inline-block
    +border-radius(4px)
    height: 100%
    .text
      +inline-block
      vertical-align: sub
      color: #757575
  .button:after
    content: ''
    +inline-block
    height: 100%

//////////////// state rules ////////////
//TODO: now i add in jade for teg 'a' class '.active' because buttons have active state,
//TODO: change class '.active' to 'inactive' and add class '.active' if user do logic actions
.inactive
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 3px 0px

.active
  cursor: pointer
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 3px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset
    .text
      color : #fff


//////////////// function //////////////
=selector($selector,$b_color,$padding_text,$font_size)
  a.#{$selector}
    .button
      .text
        padding: 0 $padding_text
        font-size: $font_size
    &.inactive
      .button
        background: $gray
    &.active
      .button
        background: $b_color
    &.inactive:hover
      .button
        background: lighten($gray, 5%)
    &.active:hover
      .button
        background: lighten($b_color, 5%)


//- ----------------------- CREATE ACCOUNT -----------------

+selector('create_account', $red, 16px, 20px)

////////-------tutor reports: support button ----------------

$font-size: 16px
$padding_text: 11.5px
+selector('support', $green, $padding_text, $font-size)

/////////-------top filter-------/////////
$font-size: 26px
$padding_text: 15px
+selector('subject_back',$blue,15px,26px)
+selector('onward_block',$blue,15px,26px)
+selector('issue_bid',$red,20px,26px)

//-.support:hover
  .button
    background-color: #7d95ad


////////////////-------actions--------////////////////

.active:hover
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset


.inactive:hover
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px -3px 0px 0px inset

.press,.press:hover
  padding-top: 1px
  box-sizing: border-box
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset



