@import compass/css3

.m-font
  font-family : 'Open Sans', sans-serif
  color       : rgb( 0, 0, 0 )

.m-landingBlockTitle
  font-size   : 50px
  font-family : 'Open Sans', sans-serif
  color       : rgb( 201, 92, 81 )

//-  c95c51    4d96da

.m-text
  font-size   : 30px
  font-family : 'Open Sans', sans-serif
  color       : rgb( 0, 0, 0 )

.m-Link
  fony-size       : 16px
  font-family     : 'Open Sans', sans-serif
  color           : #f07b6f
  text-decoration : underline

main
  overflow : hidden
  padding  : 48px 0 50px 0

// ------------------------- CHECK IN -------------------------------------------

.check_in
  padding-bottom : 60px
  text-align     : center
  .title
    line-height   : 35px
    margin-bottom : 10px
    font-size     : 24px
    span
      color       : #f07b6f

  .title_conditions
    margin-bottom : 35px
    line-height   : 25.6px
    font-size     : 16px
    font-family   : 'Open Sans', sans-serif
    color         : #18293a

  .check_in_fields
    width  : 424px
    margin : 0 auto
    .title
      margin-bottom : 25px
      font-size     : 30px
      font-family   : 'Open Sans', sans-serif
      font-weight   : 600
      color         : #89d1ff

    .login, .password
      position : relative
      +inline-block

    .login>.input, .password>.input
      width  : 425px
      height : 39px

    .login>.hint, .password>.hint
      position : absolute
      top   : 0
      right : -29px

    .login
      margin-bottom : 15px

    .password
      margin-bottom : 10px

    .checkbox
      text-align    : left
      margin-bottom : 28px
      .field, .text
        +inline-block
      .field
        margin-right : 6px
      .text
        width : 360px
        font-size : 16px
      .buttons
        margin-top : 30px
        div
          +inline-block
        .phone_check_in
          margin-right : 30px

//- ------------------------ HOW IT WORKS -------------------------------------

.how_it_works
  overflow : hidden
  padding  : 60px 0 75px 0
  background       : inline-image('pattern_blue.png')
  box-shadow       : 0px 3px 6px 0px rgba(9, 12, 18, 0.27)
  .photo
    width  : 800px
    height : 600px
    margin : 60px auto 70px auto
    background-color : #29c5e6
  .button
    +inline-block

//- ------------------------ ADVANTAGES ----------------------------------------
.advantages
  overflow : hidden
  .photo
    width  : 250px
    height : 250px
    margin : 55px 0 40px 0
    +inline-block
    background-color : #29c5e6

  .title
    margin-bottom : 150px
    .text
      font-size   : 30px
      span
        color     : #f07b6f
  .title :first-child
    margin-bottom : 15px

  .content
    width  : 1000px
    height : 500px
    margin : 0 auto 50px auto
    background-color : #29c5e6

//- --------------------- WAYS TO FIND ------------------------------------

.ways_to_find
  overflow : hidden
  padding  : 60px 0 75px 0
  background       : inline-image('pattern_green.png')
  box-shadow       : 0px 3px 6px 0px rgba(9, 12, 18, 0.27)
  .photo
    width  : 800px
    height : 600px
    margin : 60px auto 70px auto
    background-color : #29c5e6
  .button
    +inline-block

  //-.content
    $block_height : 525px
    div
      +inline-block

    .left
      width  : 225px
      height : $block_height
      .icon
        width  : 115px
        height : 115px
        margin : 0 auto 20px auto
        background-color : #94c9fe

      .title
        margin-bottom : 40px
        font-size     : 22.13px
        span.red
          color : #f07b6f
        span.blue
          color : #4d96da

      .button
        +inline-block

    .center
      width  : 332px
      height : $block_height
      .icon
        width  : 140px
        height : 140px
        margin : 0 auto 20px auto
        background-color : #94c9fe

      .title
        font-size : 30px

      .content>div
        div
        .icon
          width  : 27px
          height : 27px
          float  : left
          background-color : rgb( 209, 209, 209 )
        .text
          font-size   : 24px
          margin-left : 40px


    .right
      width  : 386px
      height : $block_height
      .title
        font-size   : 29.74px
      .content>.item>.text
        font-size   : 21.81px

