- selector = selector || '';
mixin R(v)
  - if (typeof v =='string' )
  - v = v.replace(/\s/g, '&nbsp;')
  .js-item!= v

.title= title
  .hidden
    .box_menu
      .triangle_box
        .triangle
      .menu(class=selector)
        each value in list
          +R(value)
