main
  min-width : 1024px
  min-height : 900px
  background-color : rgb(116, 128, 205)

.header
  width: 80%
  height : 100px
  margin : auto

.edit
  width: 79%
  margin: auto

.content
  width : 63%
  padding-top : 35px
  display: inline-block
  position: absolute
  background-color : #fff
  left: 26.5%

.left_menu
  width: 16%
  display: inline-block
  margin-left: 10.5%

