main
  min-width : 1024px
  min-height : 900px
  background-color : rgb(116, 128, 205)

.header
  width: 80%
  height : 100px
  margin : auto



.left_menu
  width : 16%
  min-height: 100px
  margin-left : 11%
  overflow : hidden
  float : left
