main
  min-width : 1024px
  min-height : 900px
  background-color : rgb(116, 128, 205)

.header
  width: 80%
  height : 100px
  margin : auto

.edit
  width: 79%
  margin: auto
.block
  overflow : hidden

  .content
    width : 63%
    overflow : hidden
    padding-top : 35px
    display: inline-block
    background-color : #fff


  .left_menu
    width: 16%
    margin-left: 10.5%
    float : left
    background: #bbb

main, .block, .block>.content, .block>.left_menu
  height : 100%

