@import variables

.help
  color: #2d2d2d
  height: 800px // Фиксируем высоту что-бы не пригал footer
  .title
    font-size: 1.6rem
    margin: 1.8rem 0
    color: #093c44
  .select
    background-color: #f0f0f0
    .row
      margin-bottom: 0
  .tabs
    background-color: transparent
    font-size: 1rem
    .tab
      text-transform: none
      letter-spacing: normal
      z-index: 1
      position: relative
      a
        color: #2d2d2d
      .active
        color: #fff
    .indicator
      height: 48px
      background-color: #34afbe
  h1
    font-size: 1.6rem
    margin: 2.5rem 0 0.5rem
  p
    margin: 0
  ul.menu
    font-size: 1.2rem
    line-height: 1.2rem
    margin: 2.5rem 0 0
    li
      margin-bottom: 2rem
      a
        color: #393939
      .active
        color: #34afbe 
    li:last-child
      margin-bottom: 0 
  ul.listInText
    li
      list-style-type: disc
      margin-left: 1.2rem
.question_body
  display: none
  &.active
    display: block












        
