@import variables

.help
  color: #464646
  padding-bottom: 200px
  .title
    font-size: 1.8rem
    margin: 1.8rem 0
    line-height: 1.8rem
  .select
    background-color: #eee
    padding: 1rem 0
    .row
      margin-bottom: 0
  .tabs
    background-color: transparent
    font-size: 1rem
    .tab
      text-transform: none
      z-index: 1
      a
        color: #464646
      .active
        color: #fff
    .indicator
      height: 48px
      background-color: #7451B6
  h1
    font-size: 1.8rem
    margin: 1.8rem 0 0.5rem
    line-height: 1.8rem
  p
    margin: 0
  ul.menu
    font-size: 1.2rem
    line-height: 1.2rem
    li
      margin-bottom: 2rem
