.help
  .container
    .title Помощь
  .select
    .container
      .row
        .col.l4.s12
          ul.tabs
            li.tab.col.l2.s6
              a(href='#findRep') Я ищу репетитора
            li.tab.col.l2.s6
              a(href='#findStud') Я репетитор
  .container
    .row#findRep
      .col.l3.m3.s12
        Ul.menu
          li
            a Общие
          li
            a Подбор репетитора
          li
            a Занятия
      .col.l6.m9.s12
        h1 Что такое Lesson Home?
        p Lesson Home - это информационный онлайн сервис по обоюдному поиску учеников и репетиторов - сайт www.lessonhome.ru
        p Lesson Home - это информационный онлайн сервис по обоюдному поиску учеников и репетиторов - сайт www.lessonhome.ru
        h1 Взымается ли плата за регистрацию на сайте lessonhome.ru?
        p Регистрация на нашем сайте www.lessonhome.ru является абсолютно бесплатной для учеников и репетиторов
        h1 Как связатся с сотрудниками Lesson Home?
        ul.listInText Вы сможете связаться с сотрудниками Lesson Home следующими способами:
          li Позвонить по номеру +7(495)940-93-39 и наш оператор ответит на Ваш звонок
          li Воспользоваться услугой «заказать звонок» и наши сотрудники сами свяжутся с Вами
    .row#findStud
      .col.l3.m3.s12
        Ul.menu
          li
            a Общие
          li
            a Подбор репетитора
          li
            a Занятия
      .col.l6.m9.s12
        h1 Что такое Lesson Home2?
        p Lesson Home - это информационный онлайн сервис по обоюдному поиску учеников и репетиторов - сайт www.lessonhome.ru
        p Lesson Home - это информационный онлайн сервис по обоюдному поиску учеников и репетиторов - сайт www.lessonhome.ru
        h1 Взымается ли плата за регистрацию на сайте lessonhome.ru?
        p Регистрация на нашем сайте www.lessonhome.ru является абсолютно бесплатной для учеников и репетиторов
        h1 Как связатся с сотрудниками Lesson Home?
        ul.listInText Вы сможете связаться с сотрудниками Lesson Home следующими способами:
          li Позвонить по номеру +7(495)940-93-39 и наш оператор ответит на Ваш звонок
          li Воспользоваться услугой «заказать звонок» и наши сотрудники сами свяжутся с Вами


