.help
  .container
    .title Помощь
  .select
    .container
      .row
        .col.l4.s12
          ul.tabs
            li.tab.col.l2.s6
              a(href='#findRep') Я ищу репетитора
            li.tab.col.l2.s6
              a(href='#findStud') Я репетитор
  .container
    .row#findRep
      .col.l3.m3.s12
        ul.menu
          li
            a(data-id='fr-one' data-section='fr').js-right_link.fr.active Общие
          li
            a(data-id='fr-two' data-section='fr').js-right_link.fr Подбор репетитора
      .col.l6.m9.s12.js-questions_block
        #fr-one.question_body.fr.active
          h1 Как мы будем платить?
          p Вы оплачиваете непосредственно работу репетитора, согласованную с ним при встрече, подбор репетитора для Вас  - совершенно бесплатно!
          //  ul.listInText Вы сможете связаться с сотрудниками Lesson Home следующими способами:
          //    li Позвонить по номеру +7(495)940-93-39 и наш оператор ответит на Ваш звонок
          //    li Воспользоваться услугой «заказать звонок» и наши сотрудники сами свяжутся с Вами
        #fr-two.question_body.fr
          h1 С кем лучше заниматься? Кого вы порекомендуете?
          p Здесь определяющим фактором является Ваша цель (подготовить к школе, подтянуть программу, подготовка к ЕГЭ,ГИА, усовершенствоваться во владении иностранными языками). С учетом Ваших целей мы подберем Вам лучших специалистов!
          h1 Если нас не устроит репетитор?
          p Если Вас по каким то причинам не устроил найденный репетитор, мы подберем Вам нового репетитора, учитывая ваши предпочтения.
    .row#findStud
      .col.l3.m3.s12
        Ul.menu
          li
            a(data-id='fs-one' data-section='fs').js-right_link.fs.active Общие
          li
            a(data-id='fs-two' data-section='fs').js-right_link.fs Подбор ученика
      .col.l6.m9.s12.js-questions_block
        #fs-one.question_body.fs.active
          h1 Каким образом производится оплата?
          p Когда Вы утвердите частоту и продолжительность занятий с учеником, мы отправим Вам письмо с подробными инструкциями о способах оплаты и Вы сможете выбрать удобный для Вас вариант.
          h1 Какую сумму я должен заплатить вам? 
          p Комиссия за занятия взимается следующим образом: 1 занятие в неделю - 100%, 2 - 150%, 3 - 200% от суммы, оговоренной Вами с учеником.
          h1 В течение какого времени я должен произвести оплату?  
          p В течение 5 рабочих дней после первого занятия.
          h1 Не могу зарегистрироваться, что делать?
          p Закажите обратный звонок и мы поможем Вам справиться с возникшими трудностями.
          h1 Как изменить анкету?
          p Заходите в раздел - репетиторам, входите в личный кабинет и меняйте нужные вам данные.
          h1 Я забыл пароль
          p Сообщите нам об этом с помощью обратного звонка и мы отправим Вам пароль в смс сообщении в течение 10 минут или воспользуйтесь формой восстановления пароля, нажав ссылку "Забыли пароль?"
        #fs-two.question_body.fs
          h1 Когда у меня будут ученики?
          p Необходимым условием является полное заполнение Вашего профиля для того, чтобы анкета была видна всем ученикам и их родителям, а также информация о Ваших успехах и достижениях в обучении, что также повысит Вашу анкету в рейтинге репетиторов.
          h1 Могу ли я сам искать учеников на сайте?
          p Ученики могут выбрать именно Вас, поэтому необходимо регулярно заходить в личный кабинет для того, чтобы проверить нет ли заявки, поступившей на Ваше имя.
 


