.help
  .container
    .title Помощь
  .select
    .container
      .row
        .col.l4.s12
          ul.tabs
            li.tab.col.l2.s6
              a(href='#findRep') Я ищу репетитора
            li.tab.col.l2.s6
              a(href='#findStud') Я репетитор
  .container
    .row#findRep
      .col.l3.m3.s12
        ul.menu
          li
            a(data-id='fr-one' data-section='fr').js-right_link.fr.active Общие
          li
            a(data-id='fr-two' data-section='fr').js-right_link.fr Подбор репетитора
          li
            a(data-id='fr-three' data-section='fr').js-right_link.fr Занятия
      .col.l6.m9.s12.js-questions_block
        #fr-one.question_body.fr.active
          h1 Что такое Lesson Home?
          p Lesson Home - это информационный онлайн сервис по обоюдному поиску учеников и репетиторов - сайт www.lessonhome.ru
          p Lesson Home - это информационный онлайн сервис по обоюдному поиску учеников и репетиторов - сайт www.lessonhome.ru
          h1 Взымается ли плата за регистрацию на сайте lessonhome.ru?
          p Регистрация на нашем сайте www.lessonhome.ru является абсолютно бесплатной для учеников и репетиторов
          h1 Как связатся с сотрудниками Lesson Home?
          ul.listInText Вы сможете связаться с сотрудниками Lesson Home следующими способами:
            li Позвонить по номеру +7(495)940-93-39 и наш оператор ответит на Ваш звонок
            li Воспользоваться услугой «заказать звонок» и наши сотрудники сами свяжутся с Вами
        #fr-two.question_body.fr
          h1 How can I contribute?
          p Everyone can help. Node.js adheres to a code of conduct, and contributions, releases, and contributorship are under an open governance model.
          h1 Where do discussions take place?
          p There is an #node.js channel on Freenode IRC. We keep logs of the channel here.
          h1 What is open source governance?
          p Open source governance advocates the application of the philosophies of the open source and open content movements in order to enable any interested party to add to the creation of the end product, as with a wiki document. Legislation is democratically opened to the general citizenry, employing their collective wisdom to benefit the decision-making process and improve democracy.
        #fr-three.question_body.fr
          h1 What is jQuery?
          p jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.
          h1 How do I select an item using class or ID?
          p This code selects an element with an ID of "myDivId". Since IDs are unique, this expression always selects either zero or one elements depending upon whether or not an element with the specified ID exists.
          h1 How do I select elements when I already have a DOM element?
          p If you have a variable containing a DOM element, and want to select elements related to that DOM element, simply wrap it in a jQuery object.  

    .row#findStud
      .col.l3.m3.s12
        Ul.menu
          li
            a(data-id='fs-one' data-section='fs').js-right_link.fs.active Общие
          li
            a(data-id='fs-two' data-section='fs').js-right_link.fs Подбор ученика
          li
            a(data-id='fs-three' data-section='fs').js-right_link.fs Занятия
      .col.l6.m9.s12.js-questions_block
        #fs-one.question_body.fs.active
          h1 How do I test whether an element has a particular class?
          p hasClass() (added in version 1.2) handles this common use case. You can also use the is() method along with an appropriate selector for more advanced matching.
          h1 How do I test whether an element exists?
          p Use the .length property of the jQuery collection returned by your selector. Note that it isn't always necessary to test whether an element exists. The following code will show the element if it exists, and do nothing (with no errors) if it does not.
        #fs-two.question_body.fs
          h1 How do I determine the state of a toggled element?
          p You can determine whether an element is collapsed or not by using the visible and hidden selectors. If you're simply acting on an element based on its visibility, just include visible or hidden in the selector expression.
          h1 How do I check/uncheck a checkbox input or radio button?
          p You can check or uncheck a checkbox element or a radio button using the .prop() method  
        #fs-three.question_body.fs
          h1 How do I select an element by an ID that has characters used in CSS notation?
          p Because jQuery uses CSS syntax for selecting elements, some characters are interpreted as CSS notation. For example, ID attributes, after an initial letter (a-z or A-Z), may also use periods and colons, in addition to letters, numbers, hyphens, and underscores (see W3C Basic HTML Data Types). The colon (":") and period (".") are problematic within the context of a jQuery selector because they indicate a pseudo-class and class, respectively.
          p In order to tell jQuery to treat these characters literally rather than as CSS notation, they must be "escaped" by placing two backslashes in front of them
          h1 How do I disable/enable a form element?
          p You can enable or disable a form element using the .prop() method  


