@import base


.content
  .delete_tutor_button
    height : 35px
    line-height : 35px
    width : 300px
    padding-bottom : 30px
    float : left
  .text
    width : 100%
    padding-top: 10px
    float : left
    text-align : left
  .comment
    float : left
    padding : 10px 0
  .save_comment
    height : 35px
    line-height : 35px
    float : left
    padding-bottom : 30px
    width : 300px
  +inline-block
  width : 100%
  .reviews
    +inline-block
    width : 100%

    .review_block
      margin-bottom : 10px
      +inline-block
      padding : 5px
      +box-sizing(border-box)
      width : 100%
      +box-shadow( 0 0 10px rgba(0,0,0,0.4))
    .hidden
      display : none
.content .reviews .review_block
  position : relative
.content .add_button
  height : 40px
  line-height : 40px
  width : 100%
