@import variables

.contacts
  color: #464646
  .row
    margin-bottom: 0
  .title
    font-size: 1.6rem
    margin: 1.8rem 0
    letter-spacing: 1px
  .adres
    padding-bottom: 3.5rem
    margin-bottom: 0.1rem
    background: url(F('/lp/contacts_bg.jpg')) no-repeat center center
    background-size: cover
    @media #{$small-and-down}
      background: url(F('/lp/contacts_smoll.jpg')) no-repeat center center 
      background-size: cover
    .text_content
      .row
        margin-bottom: 4rem
        @media #{$small-and-down}
          margin-bottom: 2rem
      .col:last-child
        .row:last-child
          margin-bottom: 0
    h1
      font-size: 2.4rem
      text-align: center
      margin: 3rem 0
      letter-spacing: 1.5px
    span
      font-size: 1.2rem
      line-height: 120%
      color: #0e0e0e
      &.info-title
        display: block
        margin-bottom: 1rem
      &.block-block
        display: block
        margin-bottom: 0.8rem
        font-size: 1rem
      a
        color: #0e0e0e
        &:hover
          color: #0e0e0e
          text-decoration: underline
          
    i
      font-size: 2.3rem

.map
  .map-container
    width: 100%
    min-height: 450px
.map-icon
  display: none
//ballon content
.ballon-title
  font-size: 1.2rem
  color: #fd7c48
  font-weight: 700
  margin-bottom: 0.5rem
.ballon-text, .ballon-contacts
  color: #464646
.ballon-text
  font-size: 1.1rem
  margin-bottom: 0.5rem
.ballon-contacts
  margin-bottom: 0.5rem
  &:last-of-type
    margin-bottom: 0
  i.material-icons, span
    display: inline-block
    vertical-align: middle
  i.material-icons
    font-size: 1.2rem
    margin-right: 0.5rem
    

