@import variables

.contacts
  color: #464646
  .title
    font-size: 1.8rem
    margin: 1.8rem 0
  .adres
    height: 475px
    margin-bottom: 0.1rem
    background: url(F('/lp/contacts_bg.jpg')) no-repeat center center
    background-size: cover
    h1
      font-size: 2.5rem
      text-align: center
      text-transform: uppercase
      margin: 3rem 0 -1rem
    span
      font-size: 1.3rem
      line-height: 1rem
      margin-bottom: 3rem
    i
      font-size: 2.3rem
      margin-top: -0.5rem
    .row
      margin-bottom: 4rem
  .map
    .container
      height: 475px
      background: url(F('/lp/map_fish.jpg')) no-repeat center center
      background-size: cover
