//script(src='https://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU' type="text/javascript")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
.contacts
  .adres
    .container
      .row
        .col.l12.s12
          h1 Контакты 
      .row.text_content
        .col.m6.l6.s12
          .row
            .col.l2.offset-l2.m2.s2
              i.m_icon.icon_location_on.prefix
            .col.l2.m3.s10
              span Адрес:
            .col.l6.m7.s10
              span Россия, г.&nbsp;Москва<br>Береговой проезд 2, стр.3
          .row
            .col.l2.offset-l2.m2.s2
              i.m_icon.icon_phone.prefix
            .col.l2.m3.s10
              span Телефон:
            .col.l6.m7.s10
              span
                a(href='tel:+7 (495) 177-14-78') +7 (495) 177-14-78
          .row
            .col.l2.offset-l2.m2.s2
              i.m_icon.icon_email.prefix
            .col.l2.m3.s10
              span E-mail:
            .col.l6.m7.s10
              span
                a(href='mailto:support@lesshome.ru') support@lesshome.ru
        .col.l6.m6.s12
          .row
            .col.l2.offset-l2.s2
              i.m_icon.icon_info.prefix
            .col.l8.m10.s10
              span.info-title Юридическая информация
              span.block-block ООО "Лессон Хоум"
              span.block-block ОГРН 5147746025653
              span.block-block ИНН 7718996990
              span.block-block КПП 771801001
              span.block-block Р/с 40702810002740000570
              span.block-block К/с 30101810200000000593
              span.block-block БИК 044525593
  .map
    .map-container.js-map_container
  .map-icon
    img.js-map_img(src=F('/lp/map_icon.png'))      







