//script(src='https://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU' type="text/javascript")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
.contacts
  .container
    .title Контакты
  .adres
    .container
      .row
        .col.l12.s12
          h1 Москва
      .row
        .col.m6.l6.s12
          .row
            .col.l2.offset-l2.s2
              i.material-icons.prefix room
            .col.l2.s4
              span Адрес
            .col.l6.s6
              span Россия, г. Москва<br>Береговой проезд 2, стр.3
          .row
            .col.l2.offset-l2.s2
              i.material-icons.prefix phone
            .col.l2.s4
              span Телефон:
            .col.l6.s6
              span +7 (495) 181-03-73
          .row
            .col.l2.offset-l2.s2
              i.material-icons.prefix mail
            .col.l2.s4
              span E-mail:
            .col.l6.s6
              span support@lesshome.ru
        .col.m6.l6.s12
          .row
            .col.l2.offset-l2.s2
              i.material-icons.prefix info
            .col.l8.s10
              span Юридическая информация
  .map
    .map-container.js-map_container







