!='text'
.about-row
  .container
    .row
      .col.s12.l12.m12
        h1 Lesson Home — сервис подбора репетиторов
        p Индивидуально подбираем репетиторов под ваши задачи, требования и бюджет. <br />Помогаем подготовиться к ЕГЭ и ГИА, поступить в ВУЗ и получить новые знания. <br />Работаем только с проверенными преподавателями и экспертами.
.contacts
  .container
    .title Контакты
  .adres
    .container
      .row
        .col.s12
          h1 Москва
        .col.s1
          span Адрес



