@import compass/css3
$height : 37px
$padding: 7px
$width_fields: 341px
main
  height: 100%
.value, .block_price_place, .group_block
  +inline-block
  padding: $padding 0
  height: $height
.subject
  padding-top: 0
.categories_of_students
  padding: 12px 0
  .title
    margin-top: -52px
    padding-right: 26px
    +inline-block
  .check_panel
    +inline-block
    text-align: left
    width: $width_fields
    .right_block
      float: right
    .left_block, .right_block
      +inline-block
      div
        padding: 3px 0
.time_spend_box
  padding: $padding 0
  .title
    padding-right: 26px
    margin-top: -45px
    +inline-block
  .time_spend_lesson
    text-align: left
    width: $width_fields
    +inline-block
.block_price_place, .group_block
  position: relative
  .place, .students_in_group
    padding-right: 98px
  .price, .place, .students_in_group, .group_lessons_price
    +inline-block
    height: 100%
  .price,.group_lessons_price
    font-size : $height
    width : 71px
  .price_button
    height: 33px
    +inline-block
    position: absolute
    margin-left: 22px
.comments
  padding-bottom: 0
  height: 100%
