@import compass/css3
$height : 37px
$padding: 7px
$price_block_padding: 6px
$width_fields: 341px
main
  height: 100%
.subject
  +inline-block
  padding-bottom: $padding
  height: $height
.err
  div
    width: 341px
    float: right
    text-align: left
    color: red
    font-size: 16px
    display: none
    padding: 0.3em
    box-sizing: border-box