ul
  list-style-type :  none
  li
    a
      text-decoration: none
      .focus_li
        margin-left : 20%
        padding : 5%
        border-radius : 40px 0 0 40px

        .title
          height : 1.3em
          //line-height:

      .focus_li.active
        background-color :  #FAFAFA
        border-radius : 40px 0 0 40px
  li:hover
    a
      .focus_li
        background-color : #fff