ul
  list-style-type :  none
  li
    a
      text-decoration: none
      .focus_li
        margin-left : 20%
        padding : 5%
        border-radius : 50px 0 0 50px

        .title
          height : 2em

      .focus_li.active
        background-color :  #FAFAFA
        border-radius : 50px 0 0 50px
  li:hover
    a
      .focus_li
        background-color : #fff