main
  overflow : hidden
  width : 600px
  margin  : 50px auto 0

.subject, .sections, .destinations, .category_students, .group_lessons, .comments
  overflow : hidden
  margin-bottom : 10px

  .title
    width : 200px
    float : left
    padding-right : 40px
    box-sizing : border-box

    text-align : right
    word-wrap  : break-word

  .value
    overflow : hidden

    .pupils_number
      float : left
      margin-right : 65px

    .bet
      overflow: hidden

/* -------------------------------------------------------------------- */

.location_block
  margin-bottom:  10px

  .location
    .title
      width : 200px
      padding-right : 40px

  .price
    .title
      width : 100px
      padding-right : 22px

  .location, .price
    display : inline-block
    .title
      float : left
      box-sizing : border-box
      text-align : right
      word-wrap  : break-word

    .value
      overflow : hidden


  .add_location
    margin-left : 22px
    display : inline-block

/*-----------------------*/

.button_block
  width    : 535px
  overflow : hidden
  margin-bottom : 10px

  .add_button, .save_button
    float : right

