$blu : 58px

.bold
  font-weight : bold

.additional_info
  height : 68px
  overflow : hidden
  background-color : blue

  .btn
    height : 30px
    width : 349px
    margin-top : 15px
    margin-bottom : 18px
    margin-left : $blu
    background-color : #ff8c68

    .sign
      width  : 14px
      height : 19px
      background : wheat

      float : left
      margin-top : 5.5px
      margin-left : 14px
      margin-right : 25px

    .text
      padding-top : 8px
      padding-bottom : 8px

      overflow : hidden


.additional_info, .payment, .report
  background : #C5D4DC

/*------------------------------------------------------*/

.data, .review
  background : rgba(201,203,206,0.33)

.data, .payment, .review, .report
  overflow : hidden

  .title
    padding-left : 29px
    padding-top : 18px

    font-weight : bold


.data, .payment

  .name
    overflow : hidden
    margin-top : 13px
    padding-left : 116px

    font-weight : bold


  .info_line
    overflow : hidden
    margin-top : 13px
    padding-left : 116px

    .key
      float : left
      width : 100px
      margin-right : 46px
      padding-bottom : 3px


    .val
      width : 570px
      margin-left : 146px

      word-wrap : break-word

.data :last-child, .payment :last-child
  margin-bottom : 13px

.review,.report
  padding-bottom : 13px

  .text
    width : 600px
    padding-left : 116px




