.filter_block
  padding: 86px 0 55px 0
  background: greenyellow //temporarily proof
.info_panel_two
  $height_line: 52px
  background-color: rgb(226, 228, 231)
  height: $height_line
  line-height: $height_line
.advanced_search
  background-color: rgb(243, 243, 243)
  width: 300px
  float: left
  padding-bottom: 100px