.container
  padding-top: 3rem
  padding-bottom: 3rem
  h1
    font-size: 2rem
    margin: 0
    margin-bottom: 2rem
  .row
    .col
      form
        .row
          .col
            .checkbox
              .field
                display: inline-block
                margin-right: 10px
                vertical-align: top
              .text
                display: inline-block
                width: 90%
                vertical-align: top
                position: relative
                top: -3px
              .checkbox_error
                color: #F44336
                display: none
                padding-left: 28px