.calendar
  .week
    .passive.g-font-edit-calendar пн
    .active.g-font-edit-calendar вт
    .passive.g-font-edit-calendar ср
    .passive.g-font-edit-calendar чт
    .active_rn.g-font-edit-calendar пт
    .active_ln.g-font-edit-calendar сб
    .passive.g-font-edit-calendar вс

  .hint!= calendar_hint