.container.js-footer_container.white-text
  .row.no-bottom-margin.hide-on-med-and-down
    .col.l3.m3.s12
      .row
        .col.s11
          a(href='/')
            img(src=F('/lp/footer_logo.png')).responsive-img
      .row
        .col.s12.footer-text
          p &copy; Lessonhome.ru 2014 - 2016 г.
    .col.l7.m7.s12
      .row
        .col.s12
          ul.footer-links-list
            li
              if id_page == 'main_p'
                a.active(href='/') Главная
              else
                a(href='/') Главная
            li
              if id_page == 'search_p'
                a.active(href='/search') Наши репетиторы
              else
                a(href='/search') Наши репетиторы
            li
              if id_page == 'lp_tutors'
                a.active(href='/tutors_lp') Репетиторам
              else
                a(href='/tutors_lp') Репетиторам
            li
              a(href='/contacts')
                i.icon-location
            li
              a(href='/help')
                i.icon-question2
      .row
        .col.s6
          a.btn.waves-effect.waves-light.modal-trigger.js-attach.footer-btn Заказать звонок
    .col.l2.m2.s12.hide-on-small-and-down
      .row
        .col.s12.right-align
          .row
            .col.s12.social-links
              a(href="https://vk.com/lesson_home" target="_blank").social.vk
              a(href="http://facebook.com/lessonhome" target="_blank").social.fb
              a(href="https://plus.google.com/u/2/b/100988076272901030203/100988076272901030203" target="_blank").social.gp
              a(href="https://twitter.com/lesson_home" target="_blank").social.tw
              a(href="https://ok.ru/lesson.home" target="_blank").social.ok
          .row.contacts-footer
            .col.s12
              a(href="mailto:lessonhome@yandex.ru") lessonhome@yandex.ru
            .col.s12
              a(href='tel:+7 (495) 177-14-78') +7 (495) 177-14-78
  .row.center-align.hide-on-large-only
    .col.s12
      .phone-phone
        a(href='tel:+7 (495) 177-14-78') +7 (495) 177-14-78
    .col.s12
      a.btn-large.blue-btn.waves-effect.waves-light.modal-trigger.js-attach Заказать звонок
    .col.s12.soc-link
        a(href="https://vk.com/lesson_home" target="_blank").social.vk
        a(href="http://facebook.com/lessonhome" target="_blank").social.fb
        a(href="https://plus.google.com/u/2/b/100988076272901030203/100988076272901030203" target="_blank").social.gp
        a(href="https://twitter.com/lesson_home" target="_blank").social.tw
        a(href="https://ok.ru/lesson.home" target="_blank").social.ok         
    .col.s12.right-align &copy; Lessonhome.ru 2014 - 2016 г.
