.container.js-footer_container.white-text
  .row.no-bottom-margin
    .col.l3.m3.s12
      .row
        .col.s11
          a(href='/')
            img(src=F('/lp/footer_logo.png')).responsive-img
      .row
        .col.s12.footer-text
          p 121087, Россия, г. Москва
          p Береговой проезд, дом 2, строение 3
          p &copy; Lessonhome.ru 2015 г.
    .col.l7.m7.s12
      .row
        .col.s12
          ul.row.footer-links-list
            li 
              a(href='/tutors_search') Наши репетиторы
            li
              a(href='/main_tutor') Репетиторам
            li
              a(href='#modal1').btn.waves-effect.waves-light.modal-trigger.js-request_a_call.footer-btn Заказать звонок    
    .col.l2.m2.s12.hide-on-small-and-down
      .row
        .col.s12.right-align
          .row
            .col.s12.social-links
              a(href="http://ok.ru/lesson.home" target="_blank").social.ok
              a(href="https://vk.com/lesson_home" target="_blank").social.vk
              a(href="https://www.facebook.com/lessonhome.ru" target="_blank").social.fb
              a(href="https://vk.com/lesson_home" target="_blank").social.gp
              a(href="https://twitter.com/lesson_home" target="_blank").social.tw
          .row
            .col.s12
              a(href="#") support@lessonhome.ru
          .row
            .col.s12
              a(href='tel:+7-495-181-0373') +7 (495) 181-03-73
