@import compass/css3
$padding: 7px
$height: 37px
.value, .release_date, .add_button
  +inline-block
  padding: $padding 0
  height: $height
.country
  padding-top: 0
.add_button
  +inline-block
  height: 37px
  padding-bottom: 0
.err
  overflow: hidden
  div
    float: right
    width: 341px
    text
    text-align: left
    color: red
    font-size: 16px
    display: none
    padding: 0.3em
    box-sizing: border-box