mixin field (selector, value)
  .value(class=selector)!=value
/////////////
+field('country', country)
+field('city', city)
+field('university', university)
.input.faculty!=faculty
+field('chair', chair)
+field('status', status)
.release_date!=release_date
.add_button!= add_button



