mixin field (selector, value)
  .value(class=selector)!=value
/////////////
+field('country', country)
+field('city', city)
+field('university', university)
+field('faculty', faculty)
+field('chair', chair)
+field('status', status)
.release_day!=release_day
.add_button!= add_button



