.container
  .row
    .col.s12.m6.l4.offset-l4.offset-m3
      h5 Мы выслали Вам код, которым вы можете воспользоваться в течении 24 часов.
      p Если код не пришел в течении 5 мин. его можно запросить повторно.
      .row.center-align
        a.waves-effect.waves-light.btn.disabled.js-again Отправить новый код
      .row!= code
      .row.button_row
        .col.s12.l12.m12.center-align!=continue_button
