.enter_block
  .title Мы выслали Вам код, которым вы можете воспользоваться в течении 24 часов.
  .text Если код не пришел в течении 5 мин. его можно запросить повторно.
  .newCode_button!=newCode_button
  .login
    .input!= code
  .buttons
    .continue_button!=continue_button