@import compass/css3
main
  padding-top: 60px
.enter_block
  width: 358px
  padding: 30px
  +inline-block
  background:  url(F('invite/block_pattern.png')), rgba(255, 255, 255, 0.7)
  text-align: left
  .title
    font-size: 18px
    color:  #000000
  .text
    font-size: 16px
    color: #757575
    padding: 12px 0
  .newCode_button
    +inline-block
    height: 37px
  .login
    width: 100%
    margin-bottom: 10px
    position: relative
    +inline-block
    .input
      width: 100%
      font-size : 37px
  .buttons
    .continue_button
      +inline-block
      height: 48px