mixin item (href, selector, line_selector,active_selector)
    a(href=href).icon(class=selector)
      .icon_active
      .icon_done
      div(class=active_selector)
    div(class=line_selector)



//- --------------------------------------------------------
.container
  case progress
    when 1
      +item ('first_step', 'bid_1_active', 'l_white', 'active')
      +item(false, 'bid_2_active', 'l_white', '')
      +item(false, 'bid_3_active', '', '')
    when 2
      +item ('first_step', 'bid_1_done', 'l_green', '')
      +item(false, 'bid_2_active', 'l_white', 'active')
      +item(false, 'bid_3_active', '', '')
    when 3
      +item ('first_step', 'bid_1_done', 'l_green', '')
      +item('second_step', 'bid_2_done', 'l_green', '')
      +item(false, 'bid_3_active', '', 'active')