@import compass/css3
.container
  position: re  lative
  z-index: 0
  a, .panel
    width: 56px
    height: 56px
    padding: 0 25px
    +inline-block
    position: relative
    z-index: 1
  .one
    padding-left: 0
  .fourth
    padding-right: 0
  a, .panel
    .block
      +inline-block
      width: 36px
      height: 36px
      background-color : rgb( 223, 225, 228 )
      .value
        height: 100%
        width: 100%
    .progress
      width: 100%
      height: 100%
      background-color : #89d1ff
    .progress, .block
      +border-radius(50%)
  a:after, .panel:after
    content: ''
    +inline-block
    height: 100%
  .line_box
    position: absolute
    top: 50%
    height: 3px
    left: 0
    right: 10px
    .gray_line, .blue_line
      height: 100%
      width: 100%
      position: absolute
    .gray_line
      background-color: #dfe1e4
    .blue_line
      background-color : #89d1ff