@import compass/css3
$close_src: 'delete-cross.gif'
$close_height: image-height($close_src)
$close_width: image-width($close_src)
$triangle_src: 'main/triangle_33x18.png'
$triangle_down_src: 'main/triangle_33x18down.png'
$triangle_width: image-width($triangle_src)
$triangle_height: image-height($triangle_src)
$border_width: 1px


.header
  text-align: center
  margin-bottom: -$border_width*2
  .triangle
    +inline-block
    width: $triangle_width
    height: $triangle_height
    background: url(F($triangle_src)) no-repeat

.footer
  margin-top: -1px
  text-align: center
  .triangle
    vertical-align: top
    background: url(F($triangle_down_src)) no-repeat

.popup
  width: 360px
  border: $border_width solid #cccccc
  position: relative
  padding: 24px
  //overflow: hidden
  box-sizing: border-box
  background-color: #ededed
  .err
    text-align: left
    padding-bottom: 24px
    div
      display: none
      color: red
      font-size: 16px
      padding: 0.3em
      box-sizing: border-box
  a
    display: block

  a>.close_box, .close_box
    cursor: pointer
    position: absolute
    right: 0
    top:  0
    padding: 10px
    .close
      background: url(F($close_src)) no-repeat
      height: $close_height
      width: $close_width
  .name, .tel_number
    width: 100%
    overflow: hidden
    font-size: 32px
    padding-bottom: 12px
  .comments
    height: 84px
    padding-bottom: 0px
  .button_panel_choose
    padding: 0 6px 10px 6px
    .pupil, .tutor
      cursor: pointer
      color:  #000000
      //height: 33px
    .pupil
      float: left
    .tutor
      float: right
    .pupil:hover, .tutor:hover
      color: #000000
  .order_call
    height: 48px
  .button_panel_choose:after
    content: ''
    display: block
    clear: both








