
each layer in photos
  if layer && layer.height && layer.photos && layer.photos[0]
    .photo1(style="height:#{layer.height}px;")
      each photo in layer.photos
        img(id=photo.hash src=photo.url height='100%')


