@import compass/css3

main
  position : relative
  +inline-block
  height: 100%
.photo1
  float: left
  margin : 5px 0
  div
    height : 100%
    position : relative
    padding : 0 5px
    display: inline-block
    img
      height : 100%
      position: relative
    .remove
      background : white
      z-index : 1
      height : 20px
      width : 20px
      position : absolute
      top : 0
      right : 5px
