.sort_block
  .section
      .text Сортировать :
  .section
    .box
      .icon
      .price по цене
  .section
    .box
      .icon
      .experience по опыту
  .section
    .box
      .icon
      .way_time по времени на дорогу