.sort_block.unselect
  .title Сортировать :
  .section.js-price
    .box
      .title по цене
      .icon
  .section.js-experience
    .box
      .title по опыту
      .icon
  .section.js-rating
    .box
      .title по рейтингу
      .icon
  .section.js-register.hidden
    .box
      .title по времени регистрации
      .icon
  .section.js-access.hidden
    .box
      .title по времени последнего захода
      .icon
  .js-show_list.active
  .js-show_grid
