.sort_block.select
  //.title Сортировать :
  .js-count
  .section.js-price
    .box
      .title По цене
      .icon.up ↑
      .icon.down ↓
  .section.js-experience.hidden
    .box
      .title По опыту
      .icon.up ↑
      .icon.down ↓
  .section.js-rating
    .box
      .title По рейтингу
      .icon.up ↑
      .icon.down ↓
  .section.js-register.hidden
    .box
      .title По времени регистрации
      .icon.up ↑
      .icon.down ↓
  .section.js-access.hidden
    .box
      .title По времени последнего захода
      .icon.up ↑
      .icon.down ↓
.js-message_empty Не найдено ни одного репетитора, соответствующего выбранным параметрам
  //.js-show_list.active
  //.js-show_grid
