.sort_block.unselect
  .title Сортировать :
  .section.js-price
    .box
      .title по цене
      .icon
  .section.js-experience.active
    .box
      .title по опыту
      .icon
  .section.js-way_time
    .box
      .title по времени на дорогу
      .icon
  .js-show_list.active
  .js-show_grid
