@import compass/css3
main
  height: 100%
input
  height: 100%
  width: 100%
  padding: 0 8px
  box-sizing: border-box
  outline: none
  border: 2px solid #d6d6d6
  +border-radius(8px)
  background-color: rgb( 255, 255, 255 )
  cursor : text
  font-size: 20px
  color: rgb(0, 0, 0)
  font-family: 'Open Sans', sans-serif

input[placeholder]
  padding-bottom: 5px
  font-size: 20px
  color: #cbd3da

//////-------in small input box-------/////////////////
.center_text
  text-align: center

/////////----------------actions-------------/////
.hover
  border: 2px solid #b3b3b3

input:focus
  border: 2px solid rgb( 137, 209, 255 )

//- ----------------------- BIDS REPORTS POPUP ---------------------------

.report_popup
  border: 2px solid rgb(255, 255, 255)

//- --------------------- SMALL RADIUS -----------------------------------
.small_radius
  border-radius: 4px





