@import compass/css3
$font_size: 20px          // text inside input - placeholder
$_font_size: 18px         // label text
$padding: 8px
main
  height: 100%
  width: 100%
label
  +inline-block
  width: 100%
  height: 100%
  .text
    font-size: $_font_size
    +inline-block
    cursor: pointer
    color: #000000
  .box
    +inline-block
    height: 100%
    width: 100%
    padding: 0 $padding
    box-sizing: border-box
    border: 2px solid #d6d6d6
    +border-radius(4px)
    background-color: rgb( 255, 255, 255 )
    padding: 0 8px
    input
      +inline-block
      outline: none
      width: 100%
      padding: 0
      margin: 0
      border: none
      background: none
      font-size: $font_size
      color: rgb(0, 0, 0)
      font-family: inherit
      cursor : text
      +input-placeholder
        font-size: $font_size
        color: #757575
  .box:after
    +inline-block
    height: 100%
    content: ''
label:after
  content: ''
  height: 100%
  +inline-block


//////////---------main page-----------////////////

////////////// price fourth step slider////////////////////

$font_size: 39px
$_font_size: 24px
$padding_text: 10px
.price
  .text
    padding-right: $padding_text
    font-size: $_font_size
  .box
    width: 116px
    input
      text-align: center
      font-size: $font_size



/////////// prise fast bids //////////
$_font_size: 18px
$font_size: 20px
$padding_text: 10px
.price_bids
  text-align: left
  .text
    padding-right: $padding_text
    font-size: $_font_size
  .box
    width: 75px
    input
      font-size: $font_size
      text-align: center
    +input-placeholder
      font-size: $font_size

//////////// calendar advance filter ////////////
$font_size: 18px
$padding: 2px
$padding_text: 7px
.calendar
  .text
    padding-right: $padding_text
  .box
    padding: 0 $padding
    width: 66px
    text-align: center
    input
      font-size: $font_size
      text-align: center
    +input-placeholder
      font-size: $font_size

//////////// calendar fast_bids ////////////
$font_size: 18px
$padding: 2px
$padding_text: 7px
.calendar_fast_bids
  .text
    padding-right: $padding_text
  .box
    padding: 0 $padding
    width: 70px
    text-align: center
    input
      font-size: $font_size
      text-align: center
    +input-placeholder
      font-size: $font_size



/////////////// advance filter slider//////////
$font_size: 18px
$padding: 2px
.time_spend
  .box
    padding: 0 $padding
    width: 50px
    text-align: center
    input
      font-size: $font_size
      text-align: center
    +input-placeholder
      font-size: $font_size


////////////// address third step ////////////////////
$font_size: 20px
.address_input
  .box
    +input-placeholder
      font-size: $font_size


///////////////  issue fast bids ///////////
$font_size: 18px
$_font_size: 16px
.fast_bid
  .text
    float: left
    padding-bottom: 10px
    font-size: $_font_size
  .box
    height: 37px


/////////// fast bids time_spend_bids  /////////

$font_size: 18px
$_font_size: 18px
.time_spend_bids
  .text
    padding-right: 3px
    font-size: $_font_size
  .box
    padding: 0 $padding
    width: 54px
    text-align: center
    input
      font-size: $font_size
      text-align: center
    +input-placeholder
      font-size: $font_size


/////////////// first step registration /////////////
$_font_size: 16px
$font_size: 18px
$padding_text: 26px
.first_reg
  .text
    text-align: right
    font-size: $_font_size
    padding-right: $padding_text
    color: rgba(75, 75, 75, 0.70)
  .box
    width: 341px
    input
      font-size: $font_size
///////
$padding_text: 18px
.price
  .text
    padding-right: $padding_text
  .box
    width: 71px

///////
$padding_text: 26px
.house
  .text
    padding-right: $padding_text
  .box
    width: 91px


  //- ----------------------- BIDS REPORTS POPUP ---------------------------

$_font_size: 20px
$font_size: 20px
$padding_text: 10px
.report_popup
  .text
    //text-align: right
    font-size: $_font_size
    padding-right: $padding_text
    color: rgba(75, 75, 75, 0.70)
  .box
    width: 120px
    input
      font-size: $font_size
.time_report_popup
  .box
    width: 70px


//- ---------------------SEARCH BIDS: ROAD TIME SLIDER -----------------------
$padding_text: 5px
.road_time_search_bids
  .text
    padding-right: $padding_text
  .box
    width: 54px

  //- --------------------- SMALL RADIUS -----------------------------------
.small_radius
  .box
    +border-radius(4px)


  //- ----------------------- EDIT : CALENDAR ---------------------------------
.edit_calendar
  .box
    border-color: rgb( 202, 211, 218 )


  //- ------------------------ MAIN :CHECK IN --------------------
.main_check_in
  .text
    padding-bottom: 10px
  .box
    height : 39px
    input

    +input-placeholder
      color: #cbd3da



  //////////////////////////// action class //////////////////////////////

  /////////----------------hover-------------/////
label:hover
  .text
    color:  #000000
  .box
    border: 2px solid #b3b3b3

  /////////----------------focus-------------/////
label,label:hover
  .focus
    border: 2px solid rgb( 137, 209, 255 )


