main
  height : 100%

input
  height : 100%
  width  : 100%
  padding : 0 8px
  box-sizing : border-box
  outline : none
  border : 2px solid #d6d6d6
  border-radius : 8px
  background-color : rgb( 255, 255, 255 )

  //- -------- FONT ---------

  font-size   : 20px
  color       : rgb ( 0, 0, 0)
  font-family : 'Opens Sans', sans-serif


input[placeholder]
  padding-bottom : 5px
  font-size   : 20px
  color       : #cbd3da
  font-family : 'Open Sans', sans-serif

input:focus
  border : 2px solid rgb( 137, 209, 255 )




