- placeholder = placeholder || "";
- selector = selector || "";
label(class=selector).unselect
  if text
    .text.select!=text
  .box.js-box
    input.js-input(placeholder=placeholder)
  .output-error
  .input__hint
    .hint-message
    .bubble-arrow
    .bubble-arrow-after
