.container
  h1.center-align Спасибо!
  .row
    .col.l6.m6.s12.left-align.offset-l3.offset-m3
      p Ваша заявка отправлена.
      p В ближайшее время оператор свяжется с Вами.
      p Если у вас есть вопросы, то вы можете посмотреть раздел&#032;
        a(href='/support') помощи
        | &#032;или посмотрите нам&#032;
        a(href='/second_step') наших преподавателей