@import compass/css3
$padding_top_hover: 8px
$padding_left_hover: 5px
$triangle_src: 'main/triangle_down.png'
$icon_height: image-height($triangle_src)
$icon_width: image-width($triangle_src)
$height_font: 18px
.choose_tutors_block
  padding: 15px 18px
  text-align: left
  font-size: $height_font
  color:  #757575
  .section
    +inline-block
    .box
      .icon
        width: $icon_width
        height: $icon_height
        margin: ($height_font - $icon_height)/2 $padding_left_hover 0 0
        +inline-block
        background: inline-image($triangle_src) no-repeat
      .text
        +inline-block

