.choose_tutors_block
  .section
    .box
      .icon
      .text Выбранные репетиторы
  .choose_tutors_panel
    .chose_tutor_block
      .tutor
        .all_rating!=all_rating
        .tutor_close
          .close
          .tutor_photo!=tutor_photo

