// takes variables:
  //{selector, name, details}
// type variables
  //selector, name, details - string
//respons
  // type - style sass
  //name, details - content
.text_line(class=selector)
  .icon_box
    .icon
  .name=name
  .details=details