@import 'compass/css3'
$icon_src: 'triangle-6x7-closed.png'
$icon_height: image-height($icon_src)
$icon_width: image-width($icon_src)
$font-size: 20px
$padding_corner: 21.5px
main
  height: 100%
  font-size: $font-size
  color: #000000
  background-color: rgb(227, 231, 236)
.box_line
  height: 100%
  padding: 0 25px
  .title_box
    float: left
    .title
      +inline-block
  .title_two_box
    float: right
    .title_two
      +inline-block
  .details
    height: 100%
    padding-left: 20px
    float: left

  .title_box, .title_two_box
    height: 100%
    .icon_box
      width: $icon_width
      height: $icon_height
      padding-right: 10px
      +inline-block
      .icon
        width: 100%
        height: 100%
        background : url(F($icon_src)) no-repeat
