.container.screen__padding
  h2.screen__title Каждой цели &mdash; свой репетитор
  .row.center-align.adv_row-margin
    .col.s4.m4.l4.yt_bottom-align
      .yt_text Начальные классы
      .yt_bottom-block
        i.icon_simulation
        a.yt_button(href='/') улучшить оценки
        a.yt_button(href='/') углубленное изучение
    .col.s4.m4.l4.yt_bottom-align
      .yt_text Средние и старшие классы
      .yt_bottom-block
        i.icon_simulation
        a.yt_button.ytb__active(href='/') Подтянуть предмет
        a.yt_button(href='/') Подготовится к экзаменам
        a.yt_button(href='/') углубленное изучение
    .col.s4.m4.l4.yt_bottom-align
      .yt_text После школы
      .yt_bottom-block
        i.icon_simulation
        a.yt_button(href='/') сдача сертификата 
        a.yt_button(href='/') изучить язык
  .row.center-align.adv_row-margin
    .tutor-list
      - if((!tutors)|| (!tutors[0]))tutors = [];
      each t in tutors
        !=t
