.yt_button
  cursor : pointer
//your tutor block
.yt_text
  font-size: 1.6rem
  line-height: 120%
  text-align: center
  margin-bottom: 2.667rem
.yt_bottom-align
  &:after
    content: ''
    display: inline-block
    vertical-align: bottom
    height: 18.33rem
    width: .1px
.yt_bottom-block
  width: 99%
  display: inline-block
  text-align: center
  vertical-align: bottom
.yt_button
  display: inline-block
  width: 80%
  height: 2.667rem
  line-height: 2.667rem
  padding: 0 1.333rem
  margin-bottom: 0.5rem
  color: #147585
  span
    transition: all 0.5s ease-out
    display: inline-block
    padding-left: 1rem
    padding-right: 1rem
    display: inline-block
    box-shadow: 0px 3px 0px 0px #ffffff
  &:hover
    color: rgba(0, 0, 0, 0.87)
    span
      box-shadow: 0px 3px 0px 0px #147585
  &:last-of-type
    margin-bottom: 0
.ytb__active
  color: #393b3a
  span
    box-shadow: 0px 3px 0px 0px #147585
  &:hover
    color: #393b3a
.yt_button_bottom
  margin-top: 5.333rem
