@import compass/css3

$size : 22px
$margin : $size/2

main
  overflow: hidden
  position: relative
  top: 50%
  margin-top: -$size/2



.search
  width: $size
  height: $size
  background: red
  float: left
  margin-right: $margin

.edit
  width: $size
  height: $size
  background: red
  float: left
  margin-right: $margin

.help
  width: $size
  height: $size
  background: red
  float: left
  margin-right: $margin

.notice
  width: $size
  height: $size
  background: red
  float: left
  margin-right: $margin

.calendar
  width: $size
  height: $size
  background: red
  float: left

//after we have icons image we must change background: red on background : inline-image('left_menu/normal_01-profile.png') no-repeat


