@import compass/css3

main

.m-title
  padding-bottom : 5px

.filters, .center_block>.advanced_search
  margin-left : 20px

.filters
  margin-top : 50px
  margin-bottom : 30px
  overflow : hidden

  .right_block
    +inline-block

  .left_block
    margin-right : 20px
    float : left

    .subject, .saved_filters
      margin-bottom : 15px


  .right_block
    .place, .your_address, .road_time
      margin-bottom : 15px

  .right_block .road_time .value
    div
      +inline-block
    .time
      margin-right : 5px


/*-----------------------------------------*/

.separate_line
  position : relative

/*-----------------------------------------*/

.center_block
  padding-top : 25px

  .advanced_search, .list_bids
    +inline-block

  .advanced_search
    width : 45px
    margin-right : 10px
    float : left
    background-color : rgb( 243, 243, 243 )

    .button
      width : 45px
      height : 35px
      background-color : rgb( 225, 227, 229 )
      background : inline-image('arrow_right.PNG') no-repeat
      background-position : center center

    .title
      padding : 7px 10px 7px 10px
      background-color : #e1e3e5
      text-align : center

    .content
      padding-left : 15px
      .course
        margin-top : 17px
        .arrow, .text
          +inline-block
        .arrow
          width  : 4px
          height : 6px
          margin-right : 8px
          background : inline-image('triangle-small.png') no-repeat
      .courses_list
        width : 170px
        padding-left : 10px
        margin-top : 8px
      .selected_courses
        margin-top : 8px
        .course
          +inline-block
          background-color : rgb( 226, 226, 226 )

  .list_bids
    width : 688px




