@import compass/css3
$padding_field: 10px
$width_fields: 339px
main
  padding-top: 46px
  padding-bottom: 50px
.center_block>.advanced_search
  padding-left: 20px
.filters
  margin-left: 28px
  margin-bottom: 32px
  .left_block
    margin-right: 18px
    float: left
    .list_block
      padding-bottom: $padding_field
      .value
        width: $width_fields
    .button_block
      padding-top: $padding_field
      .save_button
        height: 33px
        +inline-block
  .right_block
    +inline-block
    .place
      padding-bottom: $padding_field
      .title
        padding-bottom: $padding_field
      $padding_button: 6.5px
      .tutor, .student, .web
        height: 37px
        +inline-block
      .tutor
        padding-right: $padding_button
      .web
        padding-left: $padding_button
      .student
        padding: 0 $padding_button
      .hint
        +inline-block
        margin-left: 7px
        height: 18px
        width: 18px
    .list_block
      padding-bottom: $padding_field
      .value
        width: $width_fields
    .road_time
      padding-top: $padding_field
      .title
        margin-bottom: 9px
        font-size: 16px
.separate_line
  height: 2px

/*-----------------------------------------*/

.center_block
  padding-top: 26px
  .advanced_search, .list_bids
    +inline-block
    position: relative
    cursor: pointer
  $advanced_search_width: 41px
  $advanced_search_height: 32px
  .advanced_search
    width: $advanced_search_width
    height: $advanced_search_height
    padding-right: 11px
    float: left
    .advanced_filter
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.55)
      position: absolute
      top: 100%
      z-index: 1
      width: 300px
      display: none
    .button
      width: $advanced_search_width
      height: $advanced_search_height
      background: url(F('arrow_right.png')) no-repeat
      background-color: #e1e3e5
      box-shadow: 0 1px 3px rgba(0,0,0, 0.65)
      background-position: center center
    .title
      padding: 7px 10px 7px 10px
      background-color: #e1e3e5
      text-align: center
    .content
      padding-left: 15px
      .course
        margin-top: 17px
        .arrow, .text
          +inline-block
        .arrow
          width: 4px
          height: 6px
          margin-right: 8px
          background: url(F('triangle-small.png')) no-repeat
      .courses_list
        width: 170px
        padding-left: 10px
        margin-top: 8px
      .selected_courses
        margin-top: 8px
        .course
          +inline-block
          background-color: rgb( 226, 226, 226 )
  .list_bids
    width: 700px




