@import compass/css3

$icon_reset_src: 'close_time.png'
$icon_reset_height: image-height($icon_reset_src)
$icon_reset_width: image-width($icon_reset_src)

$icon_arrow_src: 'main/arrow_6x4_down.gif'
$icon_arrow_height: image-height($icon_arrow_src)
$icon_arrow_width: image-width($icon_arrow_src)

$form_width: 360px
$block_height: 144px

main
  padding: 24px 0 132px 24px
.saved_filters
  height: 72px
  background-color: #f2f2f2
  display : none
  div
    +inline-block
  .title_box
    margin-left: 24px
    .title
      height: .55em
      line-height: .32em
      font-size: 16px
      color: #444444
  .form
    margin: 0 24px
    width: 336px
  .button
    width: 133px
    height: 36px

.saved_filters:after
  content: ""
  +inline-block
  height: 100%

.left, .right
  +inline-block
  vertical-align: top
  box-sizing: border-box

.left
  width: 408px
  padding-left: 24px
  border-right: 1px solid #d7d7d7
  .main
    .subject
      height: $block_height
      border-bottom: 1px solid #d7d7d7
      div
        width: $form_width

  .extra
    display: none
    .section
      height: $block_height
      border-bottom: 1px solid #d7d7d7
      div
        width: $form_width
    .calendar
      height: initial
      padding-bottom: 24px
    .category_of_student
      .bottom
        text-align: left
        .right_block
          float: right
        .left_block, .right_block
          +inline-block
          div
            padding: 3px 0
.right
  .main
    .price
      height: $block_height
      border-bottom: 1px solid #d7d7d7
      div
        padding-left: 24px
  .extra
    display: none
    .section
      border-bottom: 1px dashed #d7d7d7
      padding-bottom: 24px
      div
        padding-left: 24px
    .place, .road_time
      .bottom
        +inline-block
        text-align: left
        .left_block, .right_block
          +inline-block
          div
            padding: 3px 0
        .right_block
          margin-left: 25px
    .sex
      padding-bottom: 53px
      border-bottom: 1px solid #d7d7d7
      .bottom
        height: 36px
        padding: 0px 0 3px 23px

.left>.main>.subject>.top>.title, .right>.main>.price>.top>.title, .left>.extra>.section>.top>.title, .right>.extra>.section>.top>.title
  position: relative
  line-height: 48px
  .reset
    +inline-block
    position : absolute
    float: right
    right: 0
    cursor: pointer
    .icon, .title
      +inline-block
    .icon
      margin-right: 7px
      width:  $icon_reset_width
      height: $icon_reset_height
      background: url(F($icon_reset_src)) no-repeat
    .title
      font-size: 14px
    color: #717171
    &:hover
      color : #606060

.extra_filters_button_wrap
  display : none
  margin-top: 12px
  margin-bottom: 36px
  text-align: center
  .show_extra_filters
    +inline-block
    padding: 12px 12px 12px 15px
    background-color: #e5e5e5
    cursor: pointer
    .icon_box, .text_box
      +inline-block
      height: 24px
    .icon_box
      .icon
        +inline-block
        margin-right: 12px
        height: $icon_arrow_height
        width: $icon_arrow_width
        background: url(F($icon_arrow_src)) no-repeat
    .text_box
      .text
        +inline-block
        margin-right: 12px
    .text_box:after
      content: ""
      height: 100%
      +inline-block
  .cancel_button, .apply_filters_button
    display: none
    height: 48px
  .cancel_button
    width: 125px
    margin-right: 24px
  .apply_filters_button
    width: 249px
.extra_filters_button_wrap.show
  padding: 12px 0
  border-bottom: 1px solid #d7d7d7
  .cancel_button, .apply_filters_button
    +inline-block

.list_bids
  width: 700px
  padding-top : 16px
