@import compass/css3
$padding_line: 9px
main
  height: 100%
.day, .month, .year
  +inline-block
  height: 100%
.day
  padding-right: $padding_line/2
.year
  width: 91px
  padding-left: $padding_line/2
.month
  width: 141px
  padding: 0 $padding_line/2