@import compass/css3

$triangle_right_src: 'main/triangle_right.png'
$triangle_height: image-height($triangle_right_src)
$triangle_width: image-width($triangle_right_src)

$slider_box_height: 33px
$slider_height: 25px

.slider_box
  width:  206px
  height: $slider_box_height
  overflow: hidden
  border-radius:    4px
  background-color: rgb( 243, 243, 243 )
  .slider
    width:  167px
    height: $slider_height
    margin-left: 4px
    margin-top:  ($slider_box_height - $slider_height)/2
    text-align: right
    border-radius: 4px
    background-color: rgb( 240, 123, 111 )
    .right_arrow_box
      +inline-block
      width: 19px
      text-align: center
      height: $slider_height
      cursor: pointer
      .right_arrow
        +inline-block
        vertical-align: top
        width: $triangle_width
        height: $triangle_height
        position: relative
        top: 50%
        margin-top: -$triangle_height / 2
        background: inline-image($triangle_right_src) no-repeat


