$height : 33px

main
  width  : 120px
  height : $height
  line-height : $height
  text-align  : center
  background-color : rgb( 137, 209, 255 )
  border-radius : 4px
  cursor : pointer

  font-size   : 18px
  font-family : 'Open Sans', sans-serif
  color       : #fff

