$padding_text:  20px
$background_title_block:  #E2E7EC
.m-title_block
  height: 60px
  padding-right: 30px
  background-color: $background_title_block
main
  overflow: hidden
  padding: 50px 20px 30px 20px
.edit_block
  padding-bottom: 20px
.info_block
  $height_line: 30px
  height: $height_line
  line-height: $height_line
  padding-left: 20px
  $width_title: 130px
  .title
    width: $width_title
    float: left
    font-size: 20px
    color: rgba(0, 0, 0, 0.702)
  .value
    margin-left: $width_title
    font-size: 18px
    color: rgb(0, 0, 0)
.edit_block.top_padding
  padding-top: 50px
.subject_details_data
  .details_data
    background: #f3f3f3
    position: relative