p.durationLesson Продолжительность занятия :&nbsp
    =durationLesson + ' мин'
.address!=address
.black_line
.place_price!=place_price
.black_line
.subject!=subject
.detalis_data!=detalis_data
.black_line
