//
   Created by lh on 06.10.15.
.js-wrap
   .js-form
      .timer
      .pull_right
         .title Хотите быстро найти репетитора?
         .title_sub Оставьте заявку и мы Вам поможем!
         .field!=field_name
         .field!=field_phone
         .js-btn!=btn_send
   .js-complate
      .title Спасибо, Ваша заявка отправлена!
      .title_sub Наш оператор скоро свяжется с Вами.
      .attach
         a(href='#')!=btn_more
