- balance = balance || 0;
.clear_block
  .left_block
    .title_balance Ваш баланс:
    .js-balance #{balance} руб.
  .left_block
    a.js-refill Пополнить
if need_pay && need_pay[0]
  .pay_bids_block
    .pay_bids Заявки к оплате :
    .need_pay_block
      each val, index in need_pay
        .need_pay!= val



