.clear_block
  .left_block
    .title_balance Ваш баланс :
    .balance!=balance + ' руб.'
    a.history История
  .right_block
    .sum Сумма :
    .refill_many!=refill_many
    .measurement руб.
    .button_balance
      .icon
      .text Пополнить баланс
      .triangle
.pay_bids_block
  .pay_bids Заявки к оплате :
  .need_pay_block
    each val, index in need_pay
      if index % 2 !== 0
        .need_pay!= val
      else
        .need_pay.background!= val



