main
  border-radius : 20px

ul
  border-radius : 20px
  width : 300px
  height : 35px
  background-color: darkslategrey
  li
    width : 100px
    height : 35px
    display : inline-block
    list-style-type : none
    .active
      background-color: blue