@import compass/css3
//main
  border-radius : 20px
  ul
    border-radius : 20px
    background-color: darkslategrey
    li, li.active_first, li.active_middle, li.active_last
      display : inline-block
      list-style-type : none
      a
        .title
          padding-top : 10px
          padding-left : 10px
    li.active_first, li.active_middle, li.active_last
      background-color: blue
    li.active_first
      border-radius : 20px 0 0 20px
    li.active_last
      border-radius : 0 20px 20px 0



ul.top li a
  text-decoration : none


ul
  margin : 0
  padding : 0
  border-radius : 20px
  border : 1px solid white
  overflow: hidden

  li
    list-style-position : inside
    font : 14px 'Oswald', sans-serif
    padding : 10px
    border-right : 1px solid white

  li:last-child
    border-right : 0px solid white

  li:hover
    background-color : #29c5e6


.top li
  +inline-block
  padding : 10px 30px
  margin : 0


.top
  li.active
    background : #29c5e6
    color : #fff




.top a
  color: #b2b2b2




