main
  border-radius : 20px
  width : 300px
  height : 35px
ul
  border-radius : 20px
  width : 300px
  height : 35px
  background-color: darkslategrey
  li, li.active
    width : 100px
    height : 35px
    display : inline-block
    list-style-type : none
  li.active
    background-color: blue