@import compass/css3

main
  overflow : hidden
  padding  : 50px 0 110px 0
  text-align : center

.block
  display : inline-block

  label
    display : block
    cursor  : pointer

  label.first_name, label.second_name, label.patronymic, label.date_of_birth, label.status, .sex
    overflow  : hidden
    padding-bottom : 13px

    .value
      float : right

  label.date_of_birth>.value
    width : 340px
    .day, .month, .year
      +inline-block

    .day, .month
      margin-right : 10px

  label.status
    padding-bottom : 27px


  .sex
    .value
      div
        +inline-block
        width     : 128px
        height    : 33px
        font-size : 20px
      .sex_man
        margin-right : 79px

  .button_block

    .save_button
      float : right
      text-align : right

  .button_block:after
    content : ''
    clear   : both
    display : block

.m-title
  padding-right : 28px
  box-sizing : border-box
  float : right
  text-align : right


.hint
  width  : 80%
  margin : 75px auto 0 auto