@import compass/css3

main
  overflow : hidden
  padding  : 15px 0 110px 0
  text-align : center

.block
  display : inline-block

  .first_name, .second_name, .patronymic, .date_of_birth, .status
    overflow  : hidden
    padding-bottom : 15px

    .value
      float : right

  .date_of_birth>.value
    .day, .month, .year
      +inline-block

    .day, .month
      margin-right : 17.5px

  .status
    padding-bottom : 20px


  .sex
    position: relative
    overflow: hidden
    padding-bottom : 15px

    .right
      position: relative
      overflow: hidden
      float : right

      .male, .female
        position: relative
        text-align : right
        box-sizing : border-box
        display: inline-block

      .male
        float : left
      .female
        float: right


  .button_block
    overflow      : hidden

    .save_button
      float : right
      text-align : right

.m-title
  padding-right : 55px
  box-sizing : border-box
  float : right
  text-align : right


.hint
  width  : 80%
  margin : 75px auto 0 auto