main
  overflow : hidden
  text-align : center

.block
  display : inline-block

  .first_name, .second_name, .patronymic, .date_of_birth, .right
    overflow  : hidden
    margin-bottom : 10px

    .value
      overflow : hidden
      float : right

  .sex
    position: relative
    overflow: hidden

    .right
      position: relative
      overflow: hidden
      float : right

      .male, .female
        position: relative
        text-align : right
        box-sizing : border-box
        display: inline-block
        margin-bottom : 10px
      .male
        float : left
      .female
        float: right


  .button_block
    overflow      : hidden
    margin-bottom : 10px

    .save_button
      float : right
      text-align : right

.m-title
  padding-right : 40px
  box-sizing : border-box
  float : right
  text-align : right

.line
  background-color : rgba(178,178,178,0.27)
  height : 2px
  border-radius : 1px
  width: 80%
  text-align: center
  margin: 30px auto

.hint
  width : 80%
  margin: 50px auto auto