//- "choice" - the choice between several module buttons

- var first = true;
div(id=id)
  each value in choice_list
    if first
      .item!= value
      - first = false;
    else
      .item(style="margin-left:#{indent};")!= value