@import "compass/css3"
$small_stars_src  : 'reviews/star_small_gray.png'
$small_stars_pink  : 'reviews/star_small_pink.png'
$small_stars_height : image-height($small_stars_src)
$small_stars_width  : image-width($small_stars_src)

main
  overflow : hidden

.left_block
  float : left

  .photo
    width : 58px
    height : 58px
    background-color : #ff8c68

  .mini_rating
    width : 5*$small_stars_width
    margin : 10px auto
    height : $small_stars_height
    background: inline-image($small_stars_src)

    .full_stars
      background: inline-image($small_stars_pink)
      height : $small_stars_height
      width: $small_stars_width

.right_block
  margin-left : 10%
  padding-left : 20px

  .user_name
    font-weight : bold

  .creation_date
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif
    color : #777777
    padding: 5px 0

  .review_text
    line-height: 1.3em