@import compass/css3

$font-size: 16px
$min-widthTitle: 210px
main
  font-size: $font-size
  color: #757575
.section
  line-height: 24px
  overflow: hidden
  .box
    text-align: left
    .title, .value
      text-align: left
      +inline-block
      font-size: 16px
    .title
      width: 215px
      color: #646464
    .value
      //-color: #5f5f5f
      color: #000
////////////// subject_class, have size different //////////////
.section.subject_class
  line-height: 30px
  padding: 0 10px 12px 22px
  position: relative
  .box
    .title
      min-width: $min-widthTitle
    .value
      margin-left: $min-widthTitle
  .line_horizon
    height: 2px
    position: absolute
    left: 0
    right: 0
    bottom: 0
.section.about .box
  .title
    position : absolute
  .value
    margin-left : 0
    padding-left : 0
    padding-top : 30px
    line-height : 18px

