.display_block
  display: block
.tm_photo
  font-size: 0
  line-height: 0
.tm_photo_img
  max-height: 180px
.tm_btn
  display: inline-block
  border: 1px solid #157486
  width: 80%
  color: #157486
  height: 2.4rem
  line-height: 2rem
  text-transform: uppercase
  &:hover
    background-color: #157486
    color: #fff
.middle-span
  display: inline-block
  vertical-align: middle

.tm-price
  color: #646464
  font-family: "futuris-cyrilic"
  margin-bottom: 1rem
.tm-price_left, .tm-price_right
  font-size: 1rem
  display: inline-block
.tm-price_left
  margin: 0 .3rem 0 .5rem
.tm_price_middle
  font-size: 1.5rem
  display: inline-block
.tm-color-icon
  color: #147585
.tm_name
  font-size: 1.1rem
  font-family: "Roboto"
  margin: 1rem 0 .5rem
