@import compass/css3
$blue:  hsl(210,100%,69%)
$gray:  hsl(0,0%,69%)
main
  height: 100%
  cursor: pointer
.button_box
  height: 100%
  .button
    padding: 2px
    width: 18px
    height: 18px
    border-radius: 50%
    +inline-block
    margin-right: 6px
    background-color: #ffffff
    border: 3px solid #b0b0b0
    box-sizing: border-box
    .round_button
      display: none
      height: 100%
      width: 100%
      background-color: #00786a
      border-radius: 50%
  .text
    +inline-block
    padding-left: 9px
    font-size: 18px

//////////////// state rules ////////////
.button_box.active
  .button
    .round_button
      display: block
    //box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 3px 0px


//////////////// function //////////////
//=selector($selector,$padding_text,$font_size)
  .button_box.#{$selector}
    .button
      .text
        padding: 0 $padding_text
        font-size: $font_size
    &.inactive
      .button
        background: $gray
    &.active
      .button
        background: $blue
    &.inactive:hover
      .button
        background: lighten($gray, 5%)
    &.active:hover
      .button
        background: lighten($blue, 5%)



///////////-----------back call-----------//////////

//+selector('call_back_pupil',12px,20px)
//+selector('call_back_tutor',12px,20px)



///////////////--------------action-----------////////////

//.active:hover
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset


//.inactive:hover
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px -3px 0px 0px inset

//.press,.press:hover
  padding-top: 1px
  box-sizing: border-box
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset

