main
  height: 54px
  position: relative
  top: 50%
  margin-top: -27px

.title, .telephone, .city
  font-family : "OpenSans", sans-serif


.telephone, .city
  color : #a2adb6

.title
  font-size : 16px
  color : rgb( 229, 94, 83 )

.telephone
  font-size : 16px
  span
    font-size : 20px

  margin-top : 6px
  margin-bottom : 4px

.city
  font-size : 14px
