@import compass/css3
$font_size: 20px
$margin_text: 20px
$first_top: 155px
$first_bottom: -20px
$second_top: 150px
$second_left_right: -10px

.title
  font-size: 50px
  color: rgb(201, 92, 81)
  padding-bottom: 60px
.diagram_block
  position: relative
  margin: auto
  .text
    position: absolute
    font-size: $font_size
    color: #18293a

  .start_search
    top: $first_top + $margin_text
    left: 50px
  .view_tutor
    top: $first_top + $margin_text
    right: 280px
  .selected_tutor
    top: $first_top + $margin_text
    right: 30px
  .issue_bid
    left: 35px
    bottom: $first_bottom - $margin_text
  .meet
    right: 275px
    bottom: $first_bottom - $margin_text
  .learn
    right: 40px
    bottom: $first_bottom - $margin_text

  .select_tutor_self
    top: $second_top + $margin_text
    left: $second_left_right
  .issue_bid_help
    top: $second_top + $margin_text
    right: $second_left_right
  .call_us
    left: 190px
    bottom: -40px - $margin_text

  .more_information
    top: $first_top + $margin_text
    left: 10px
  .subject_curse
    bottom: 93px - $margin_text - $font_size
    left: 23px
  .conditions
    bottom: -15px - $margin_text
    right: 295px
  .calendar
    bottom: 93px - $margin_text
    right: 25px
  .review
    top: $first_top + $margin_text
    right: 35px
.button
  padding-top: 45px + $font_size + $margin_text


