@import "base"

.container
  .block
    +material_shadow(1)
    //+elements
    //border: 1px solid #DDD
    //background-color: #E6E6E6
    margin-bottom: 20px
.btn_add
  line-height: 63px
.err
  margin-top: 10px
  text-align: center
  .error_empty
    font-size: 0.8em
    color: #FF0000
    display: none