main
  font-size: 18px
  font-family: "Open Sans"
  padding-top: 15px
  color: rgb(117, 117, 117)
.course
  text-align: left
  padding-left: 30px

.timetable
  text-align: left
  padding-left: 30px

.time_one_lesson
  text-align: left
  padding-left: 30px

.time_to_way
  text-align: left
  padding-left: 30px

.experience
  text-align: left
  padding-left: 30px

.sex
  text-align: left
  padding-left: 30px


