main
  font-size: 18px
  font-family: "Open Sans"
  padding: 15px 30px 0 30px
  color: rgb(117, 117, 117)
.section
  text-align: left
  .course
  .list_course
    .add_course


.timetable
  text-align: left
  padding-left: 30px

.time_one_lesson
  text-align: left
  padding-left: 30px

.time_to_way
  text-align: left
  padding-left: 30px

.experience
  text-align: left
  padding-left: 30px

.sex
  text-align: left
  padding-left: 30px


