@import compass/css3

$red: 29px

.bid
  .basic_block
    border-radius : 4px
    background-color : rgb( 243, 243, 243 )

    div
      +inline-block
      text-align : center
      border-right : 1px solid rgba(0,0,0,0.17)

    .price, .bet, .city_district
      padding : 7px 25px 7px 25px

    .number_date
      width : 108px
    .subject_level
      width : 150px
    .place
      width : 96px

  .details_block
    width : 460px

    .title
      width : 200px


  .details_block
    margin : 15px 0px 30px 30px
    .line.dark
      background-color : rgb( 240, 240, 240 )
    .line.light
      background-color : rgb( 250, 250, 250 )

    .line
      line-height : 32px
      .title
        width : 195px
        padding-left: 15px
        float : left
        text-align : left

        font-size :  14px
        font-family :  'Open Sans', sans-serif
      .value
        overflow : hidden

//-
  .bid
    ul
      background : rgb( 243, 243, 243 )

      li
        display : inline-block
        width : 12.5%
        padding-left : $red
        padding-top : 16px
        padding-bottom : $red
        box-sizing : border-box

        word-wrap : break-word
        vertical-align : top

        margin-top : 5px
        margin-bottom : 5px

    .details_block
      background-color : rgb(122, 152, 191)
      .line
        .title
          width : 30%
          float : left
          text-align : right
          padding-right : 29px
          box-sizing : border-box

        .value
          width : 70%
          margin-left : 30%

  /*-----------------------------------------------*/

  .bid:hover, .bid
    .details_block
      background-color : rgb(122, 152, 191)
      width : 582px
      margin-left : 58px
      padding-left : $red
      padding-top  : $red
      padding-bottom : $red

      .line
        overflow : hidden
        margin-bottom : 3px

        .title
          width : 30%
          float : left
          text-align : right
          padding-right : 29px
          box-sizing : border-box

        .value
          width : 70%
          margin-left : 30%

  .bid:hover>.details_block
    display : none

  .bid:hover>.details_block
    display : block














