@import compass/css3

$back_src: 'arrow_back.png'
$back_height: image-height($back_src)
$back_width: image-width($back_src)

$icon_calendar_src: 'main/icon_calendar.png'
$icon_calendar_height: image-height($icon_calendar_src)
$icon_calendar_width: image-width($icon_calendar_src)

main
  padding-bottom: 96px
  min-height: 800px
  background-color: #fff
  opacity : 0
.back
  padding-top : 25px
  height: 24px
  text-align: left
  opacity : 0.8
  .button
    +inline-block
    cursor: pointer
    .text, .icon
      font-size : 21px
      +inline-block
    .icon
      margin-left: 3px
      margin-right: 10px
      width: $back_width
      height: $back_height
      background: url(F($back_src)) no-repeat
  cursor : pointer
  &:hover
    opacity : 1
.back:after
  content: ''
  +inline-block
  height: 100%
.block
  padding-top : 25px
  text-align: left
  .left, .right
    +inline-block
    vertical-align: top
  .left
    width: 700px
    .general
      margin-bottom: 24px
      position : relative
      .photo_block, .personal_data
        position : relative
        +inline-block
        vertical-align: top
      .photo_block
        position : relative
        z-index : 102
        float : left
        width : 210px
        min-height : 320px
        text-align: center
        .avatar
          max-height : 206px
          overflow : hidden
          position : relative
          z-index : 103
          float : left
          +inline-block
          +transform(scale(1.59) translateY(20%) translateX(-39px))
          width: 210px
          //height: 264px
        .photos
          position : relative
          z-index : 101
          margin: 12px 0
          float : left
        .attach_button          
          position : relative
          z-index : 100
          height: 48px
          padding-top : 70%
          width: 210px
          float : left
      .personal_data
        position : relative
        z-index : 99
        float : right
        padding: 0 17px
        box-sizing: border-box
        width: 462px
        .top, .full_name, .description
          text-align: left
        .top
          margin-bottom: 6px
          .rating, .location
            +inline-block
          .rating
            width: 96px
          .location
            width: 312px
            text-align: right
            font-size: 12px
            line-height: 18px
            color: #000000
        .full_name
          font-size: 24px
          line-height: 24px
          color: #000000
        .description
          display: none
          margin: 12px 0 24px 0
          font-size: 14px
          font-style: italic
          line-height: 18px
          color: #000000
        .item
          margin: 12px 0
          .title, .value
            text-align: left
            font-size: 16px
            line-height: 24px
            color: #000000
          .title
            margin-right: 5px
            float: left
            font-weight: 600
        .experience, .work_place
          //-padding: 12px 0
    .extra_info
      position : relative
      padding-top : 20px
      float : left
      padding-right: 24px
      box-sizing: border-box
      width: 672px
      .header
        text-align: left
        border-bottom: 1px solid #cccccc
        //margin-right: 24px
        .about, .subjects, .reviews
          position: relative
          height: 39px
          text-align: center
          +inline-block
          cursor: pointer
          .text
            +inline-block
            font-size: 16px
            color: #4c4c4c
          .line
            display: none
            position: absolute
            bottom: 0
            height: 4px
            background-color: #33cca6
        .about.active, .subjects.active, .reviews.active
          .line
            display: block
        .about:after, .subjects:after, .reviews:after
          content: ''
          +inline-block
          height: 100%
        .about, .reviews
          width: 168px
        .about
          .line
            width: 162px
            margin-left: 1px
        .about:not(.active):hover
          .line
            display: block
            opacity: 0.5
        .subjects
          width: 312px
          .line
            width: 277px
            margin-left: 10px
        .subjects:not(.active):hover
          .line
            display: block
            opacity: 0.5
        .reviews
          .line
            right: 0
            width: 181px
        .reviews:not(.active):hover
          .line
            display: block
            opacity: 0.5
      .value
        .about_content
          width: 672px
          word-wrap: break-word
          .about_text, .honors_text, .sub_title
            text-align: left
            font-size: 16px
            line-height: 24px
            color: #000
          .about_text
            margin-top: 21px
            margin-bottom: 24px
          .sub_title
            margin-bottom: 3px
            font-weight: 600
          .reason, .interests
            display: none
            margin-bottom: 24px
            .title
              margin-bottom: 6px
              font-size: 16px
              font-weight: 600
              color: #010101
            .val
              text-align: left
              font-size: 16px
              line-height: 24px
              color: #000
        .subjects_content, .reviews_content
          display: none
        .subjects_content
          padding-top: 12px
          .subject
            display: none
        .reviews_content
          padding-top: 21px
  .right
    width: 312px
    //-min-height: 507px
    padding-bottom: 36px
    text-align: center
    background-color: #e5e5e5
    .write_tutor_content
      +inline-block
      width: 263px
      padding-top: 18px
      text-align: left
      line-height : 24px
      .title
        font-size: 24px
        line-height: 24px
        color: #000
      .calendar
        display : none
        margin: 12px 0
        .icon, a
          +inline-block
        .icon
          margin-right: 12px
          width: $icon_calendar_width
          height: $icon_calendar_height
          background: url(F($icon_calendar_src)) no-repeat
        a
          font-size: 14px
          line-height: 18px
          color: #0a79c0
          text-decoration: underline
      .write_tutor_msg
        padding-top : 10px
      .write_tutor_name, .write_tutor_phone, .write_tutor_subject
        display: none
        margin-top: 18px
        //-+inline-block
        width: 100%
        box-sizing: border-box
        font-size: 37px
      //-.write_tutor_error_field
        display: none
        margin-bottom: 24px
        color: red
        font-size: 14px
        line-height: 18px
      .write_tutor_name.shown, .write_tutor_phone.shown, .write_tutor_subject.shown
        +inline-block
      .terms_of_use
        margin-top: 24px
        .agree_checkbox, .text
          +inline-block
          height: 48px
        .agree_checkbox
          margin-right: 12px
        .text
          line-height: 18px
          font-size: 14px
          color: #252525
      .write_button
        width: 265px
        height: 48px

