@import compass/css3

$back_src: 'arrow_back.png'
$back_height: image-height($back_src)
$back_width: image-width($back_src)

$icon_calendar_src: 'main/icon_calendar.png'
$icon_calendar_height: image-height($icon_calendar_src)
$icon_calendar_width: image-width($icon_calendar_src)

main
  padding-top: 24px
  padding-left: 15px
  background-color: #fff

.back
  height: 24px
  margin-bottom: 24px
  text-align: left
  .button
    +inline-block
    cursor: pointer
    .text, .icon
      +inline-block
    .icon
      margin-left: 3px
      margin-right: 10px
      width: $back_width
      height: $back_height
      background: url(F($back_src)) no-repeat
.back:after
  content: ''
  +inline-block
  height: 100%
.block
  .left, .right
    +inline-block
    vertical-align: top
  .left
    width: 672px
  .right
    width: 312px
    text-align: center
    background-color: #e5e5e5
    .content
      +inline-block
      width: 263px
      text-align: left
      .title
        font-size: 24px
        line-height: 24px
        color: #000
      .calendar
        .icon, a
          +inline-block
        .icon
          margin-right: 12px
          width: $icon_calendar_width
          height: $icon_calendar_height
          background: url(F($icon_calendar_src)) no-repeat
        a
          font-size: 14px
          line-height: 18px
          color: #0a79c0
          text-decoration: underline

      .name, .subject
        +inline-block
        width: 100%
        box-sizing: border-box
        font-size: 37px