mixin info_line (title, value)
    li
        .title= title
        .value= value
.place_price
    ul
        +info_line('выезд :', leaving)
        +info_line('удаленно :', telework)
        +info_line('дома :', home)
        +info_line('цена :', price)