@import compass/css3

main
  overflow: hidden

.hint_block
  overflow: hidden
  .title
    margin-left: 42px
    margin-top:  43px
    line-height: 36px

  .hint
    margin : 18px 53px 51px 39px

.bar
  margin-bottom : 25px
  margin-left   : 17px
  div
    +inline-block

  .select_all
    margin-right : 50px
    .button, .list
      +inline-block
    .button
      margin-right   : 12px
      margin-bottom  : 5px
    .list
      width    : 170px

  .delete
    margin-right : 125px
    .icon, .title
      +inline-block
    .icon
      width  : 17px
      height : 23px
      margin-right : 10px
      background   : inline-image('trash.png') no-repeat
    .title
      line-height : 23px

  .select_subject
    width : 280px

.list_bids
  margin-left : 17px