main
  overflow : hidden
  text-align: center
//- -----------------------------------------------

.title
  line-height: 2em
  font-size: 2em

//- -----------------------------------------------

.hint_block
  width  : 75%
  margin : auto

//- -----------------------------------------------

.subject
  margin : 20px 0

  .title
    float        : left
    margin-right : 29px
    margin-left  : 58px

  .drop_down_list
    height : 29px
    overflow : hidden
    width : 335px
    background-color : antiquewhite

//- ------------------------------------------------
