// takes variables:
  //{title, edit, selector}
// type variables
  // title, selector - string
  // edit - boolean
//respons
  //title - content
  // edit - class .value
  // selector - style sass
if title
  .title=title
if edit
  .value
    a(href=link) ред.
div(class=selector)