main
  min-width : 1024px
  background-color : rgb(116, 128, 205)

.left_menu
  width : 16%
  min-height: 100px
  margin-left : 11%
  overflow : hidden
  float : left

.content
  width : 60%
  margin-left: 20%
  overflow : hidden
  .left-content
    width : 25%
    overflow : hidden
    float : left
  .right-content
    width : 70%
    overflow : hidden
    margin-left : 30%
