main
  min-width : 1024px

.head
  width: 80%
  height : 100px
  margin : auto

.edit
  width: 79%
  height : 80px
  margin : auto

.content
  width : 60%
  margin-left: 20%
  .left-content
    width : 25%
    overflow : hidden
    float : left
  .right-content
    width : 70%
    padding-left : 30%
