main
  min-width : 1024px
  background-color : rgb(116, 128, 205)

.left_menu
  width : 16%
  min-height: 100px
  margin-left : 11%
  overflow : hidden
  float : left

.head
  width: 80%
  height : 100px
  margin : auto

.edit
  width: 79%
  height : 80px
  margin : auto

.content
  width : 60%
  margin-left: 20%
  padding-top : 35px
  overflow : hidden
  background-color : #fff
  .left-content
    width : 25%
    margin-left: 5%
    overflow : hidden
    float : left
  .right-content
    width : 70%
    overflow : hidden
    margin-left : 30%
