@import compass/css3
$icon_padding: 11px
$icon_src: 'falldown_triangle3.png'
$icon_height: image-height($icon_src)
$icon_width: image-width($icon_src)
$font_size: 20px
main
  height: 100%
label
  display: block
  cursor: pointer
  position: relative
  height: 100%
  width: 100%
  .list
    box-sizing: border-box
    border: 2px solid rgb( 214, 214, 214 )
    +border-radius(4px)
    background-color: rgb( 255, 255, 255 )
    padding: 0 2*$icon_padding+$icon_width 0 8px
    height: 100%
    font-size: $font_size
    color: rgb(0, 0, 0)
    font-family: inherit
    .current
      height: 100%
      text-align: left
      color: #757575
    .current:after
      content: ''
      +inline-block
      height: 100%
    .drop_down_box
      width: 100%
      display: none
      position: absolute
      z-index: 1
      top: -174px
      left: 0
      padding-bottom: 5px
      box-sizing: border-box
      border: 2px solid rgb( 137, 209, 255 )
      +border-radius(4px)
      background-color: rgb( 255, 255, 255 )
      font-size: $font_size
      color: rgb(0, 0, 0)
      font-family: inherit
      .item
        width: 100%
        text-align: left
        line-height: 29px
        padding-left: 9px
        box-sizing: border-box
      .item:hover
        background-color: rgb( 243, 243, 243 )
    .drop_down_box :first-child
      border-top-left-radius: 4px
      border-top-right-radius: 4px
    .icon_box
      padding: 0 $icon_padding
      position: absolute
      top: 0
      height: 100%
      right: 0px
      cursor: pointer
      .icon
        width: $icon_width
        height: $icon_height
        position: relative
        top: 50%
        margin-top: -$icon_height / 2
        background : inline-image($icon_src) no-repeat


//////////////// action //////////////
$icon_hover_src: 'triangle-15-x-13-hover.png'
label:hover
  .list
    border : 2px solid #b3b3b3
    .icon_box
      .icon
        background : inline-image($icon_hover_src) no-repeat