$font-size: 16px
$min-widthTitle: 210px
main
  font-size: $font-size
  color: #757575
.section
  line-height: 2*$font-size
  overflow: hidden
  .box
    .title
      float: left
      min-width: $min-widthTitle
    .value
      margin-left: $min-widthTitle
      color: #000000
      padding-left: 30px
      a
        font-size: 15px
        color: #a8a8a8
        text-decoration: underline
      a:hover
        color: #5c95f4
////////////// subject_class, have size different //////////////
.section.subject_class
  line-height: 30px
  padding: 0 10px 12px 22px
  position: relative
  .box
    .title
      min-width: $min-widthTitle
    .value
      margin-left: $min-widthTitle
  .line_horizon
    height: 2px
    position: absolute
    left: 0
    right: 0
    bottom: 0
.section.about .box
  .title
    position : absolute
  .value
    margin-left : 0
    padding-left : 0
    padding-top : 30px
    line-height : 18px

