// takes variables:
  //{section, selector}
// type variables
  // section - array
  //selector - string
//respons
  // section - content
  // selector - style sass
each val, key in section
  .section.select(class=selector)
    .title!=key
    .value!=val