// takes variables:
  //{section, selector}
// type variables
  // section - array
  //selector - string
//respons
  // section - content
  // selector - style sass
each val, key in section
  if val
    .section.select(class=selector)
      .box
        .title!=key
        .value!=val
      .line_horizon!=line_horizon