.selected-teachers
  .container
    .row
      .col
        .rep-list
          .block
            display: inline-block
            margin-right: .5rem
        ul
          li
            .btn_attach
              #m-link_button
                .view
                  .button
                    padding: 0.5rem 1rem
