//
   Created by lh on 01.10.15.
.hidden
  !=tutor

.selected-teachers.z-depth-4
  .container
    .row.valign-wrapper
      .col.s12.l7.m6.tutors-overflow
        .hide-on-med-and-up
          .blue-text.js-show_select_rep
            span Выбранные репетиторы:&nbsp;
            span.js-count
        .rep-list.js-preps.hidden_rep_list
      .col.s4.m6.l5.right-align.valign.mobile-top
        ul
          li.hide-on-small-only
            a.btn-floating.waves-effect.waves-light.red.js-clean
              i.material-icons delete
          li
            //.js-btn_attach!=button_attach
            //Нужная кнопка
            .btn_attach
              button.btn.blue-btn.waves-effect.waves-light.js-open_attach Оформить заявку
