@import compass/css3
.title
  padding: 46px 0 62px 0
  font-size: 50px
  color: rgb(201, 92, 81)
.diagram
  width: 720px
  height: 420px
  margin: auto
  background: inline-image('search_diagram.png') no-repeat
.search_button
  padding: 42px 0 60px 0



