.photo_block
  .text Фотографии
  .add Добавить новые фотографии
  each value in photos
    .tutor_added_photo!= value

.video_block
  .text Видео
  .add Добавить новые видеозаписи
  each value in videos
    .tutor_added_video!= value


.hint!= hint