@import compass/css3


.photo_block
  margin: 0 auto
  text-align: center
  background: darkcyan
  .tutor_added_photo
    +inline-block
    border-radius: 100%
    padding: 10px
    width: 100px
    background: lavenderblush
    height: 100px
    color: aliceblue
  .text
    border-radius: 8px
    background: darkgray
    padding: 10px
    text-align: center
    width-max: 100px
    text-decoration: none
    font-family: Oswald, sans-serif
    color: #f5f5f5
    font-size: 1.4em
    margin: 0 auto


.video_block
  margin: 0 auto
  max-width: 800px
  text-align: center
  .tutor_added_video
    width: 100px
    height: 77px
    background: lavenderblush
    padding: 10px
    +inline-block
  .text
    border-radius: 8px
    background: darkgray
    padding: 10px
    text-align: center
    width-max: 100px
    text-decoration: none
    font-family: Oswald, sans-serif
    color: #f5f5f5
    font-size: 1.4em
    margin: 0 auto

.hint
  max-width: 800px
  margin-top: 100px
  margin-right: auto
  margin-left: auto
  margin-bottom: 0