@import compass/css3

main
  padding-left   : 55px
  padding-top    : 50px
  padding-bottom : 40px

.photos_block
  margin-bottom : 30px

.photos_block>.photos>.photo, .videos_block>.videos>.video
  +inline-block
  height : 150px
  width  : 200px
  background : rgb( 203, 211, 218 )
  border-radius : 4px
  margin-right  : 10px
  margin-bottom : 10px

/*----------------------------*/

.photos_block, .videos_block
  .add
    text-align : left
    margin-top    : 15px
    margin-bottom : 10px

  .number
    text-align : left
    font-size : 16px
    margin-bottom : 25px
    font-family : "Open Sans",sans-serif
    color : rgb( 88, 105, 122 )

  .text
    text-align : left
    font-size : 23.978px
    font-family : "Open Sans",sans-serif
    color : rgb( 0, 0, 0 )


/*---------------------------*/

.hint
  max-width : 700px
  width     : 80%
  margin    : auto


