@import compass/css3
//$gray:  hsl(0,0%,69%)
$gray: hsl(0, 0%, 71%)
//$red:   hsl(6,100%,69%)
$red: hsl(157, 65%, 68.6%)
// TODO: advanced filter : sex buttons
main
  height : 100%
  cursor: pointer
  width: 100%
.button_box
  width: 100%
  height : 100%
  .button
    width: 100%
    height: 100%
    +inline-block
    //+border-radius(4px)
    //background-color: rgb( 205, 205, 205 )
    background-color: #b5b5b5
    text-align: center
    .text
      +inline-block
      color: #757575
  .button:after
    content : ''
    +inline-block
    height : 100%

//////////////// state rules ////////////
.inactive
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 3px 0px
    .text
      line-height : 40px

.active
  .button
    padding-bottom: 1.5px
    box-sizing: border-box
    //box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 3px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset
    .text
      line-height : 40px
      color : #fff


//////////////// function //////////////
=selector($selector,$padding_text,$font_size)
  .button_box.#{$selector}
    .button
      .text
        padding: 0 $padding_text
        font-size: $font_size
    &.inactive
      .button
        background: $gray
    &.active
      .button
        background: $red
    &.inactive:hover
      .button
        background: lighten($gray, 5%)
    &.active:hover
      .button
        background: lighten($red, 5%)


=new_selector($selector,$font_size)
  .button_box.#{$selector}
    .button
      .text
        font-size: $font_size
    &.inactive
      .button
        background: $gray
    &.active
      .button
        background: $red
    &.inactive:hover
      .button
        background: lighten($gray, 5%)
    &.active:hover
      .button
        background: lighten($red, 5%)
////////////// button in advance filter /////////////
+new_selector('advance_filter',18px)

////////////// button in fast bids /////////////
+selector('fast_bids',61px,20px)

////////////// button in edit preference /////////////
+selector('preferences',55px,20px)

////////////// button in fast bids /////////////
+new_selector('registration', 20px)
//+selector('registration',61px,20px)



///////////////------------actions------------/////////////

.active:hover
  .button
    padding-bottom: 1.5px
    box-sizing: border-box
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset


.inactive:hover
  .button
    padding-bottom: 1.5px
    box-sizing: border-box
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px -3px 0px 0px inset

.press,.press:hover
  padding-top: 1px
  box-sizing: border-box
  .button
    padding-bottom: 1px
    box-sizing: border-box
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset

