-var padding;
-var width_star;
-var star_number = 5;
-var star_filling = (filling*star_number)/100;
-var number_padding = Math.floor(star_filling);
-var width_cut_filling;

if (selector == 'padding_no')
  -padding = 0;
  -width_star = 22;
else if (selector == 'padding_no_small')
  -padding = 0;
  -width_star = 10;
else
  -padding = 7;
  -width_star = 16;

if(star_filling != number_padding)
  -width_cut_filling = star_filling*width_star + number_padding*padding;
else
  -width_cut_filling = star_filling*width_star + number_padding*padding - padding;
.rating_star_line(class = selector)
  .one
  .two
  .three
  .four
  .five
  .cut_filling(style="width : #{width_cut_filling}px")
    .filling
      .one
      .two
      .three
      .four
      .five


