
.wrap
  padding: 20px
  margin: 10px
  background: #E4E4E4
  border: 1px solid #999
  &:after
    content: ''
    display: table
    clear: both

  h1
    font-size: 28px
  .block_info
    margin-top: 20px
    .left
      float: left
      width: 50%
    .right
      margin-left: 50%
    &:after
      content: ''
      display: table
      clear: both