$form_margin : 100px

.bordering *
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

.form-for-admin
  input[type=text], select
    height: 35px
  input[type=text], textarea
    padding: 0 12px
    line-height: 1

a.selected img
  box-shadow: 0 0 20px red
.save
  padding : 20px

.wrap
  padding: 20px
  margin-bottom: 20px
  background: #E4E4E4
  border: 1px solid #999
  &:after
    content: ''
    display: table
    clear: both

  h1
    font-size: 28px
  .block_info
    margin-top: 20px
    .left
      float: left
      width: 55%
    .right
      overflow: hidden
      margin-left: 55%
      padding-left: 15px
    &:after
      content: ''
      display: table
      clear: both

.form
  .form-block
    &:after
      content: ''
      clear: both
      display: table
    margin-bottom: 10px
    .form-label
      font-weight: bold
      label
        line-height: 1.3
        display: block
        padding-top: 8px
        padding-right: 15px
      float: left
      width : $form_margin
      text-align: right
      &.title
        padding-right: 0
        float: none
        width: auto
        text-align: left
        margin-bottom: 10px

    .form-field
      margin-left: $form_margin
      span, a
        display: block
        padding: 10px 0
      span.big
        font-size: 2rem

      input[type=text], select, textarea
        width : 100%


      textarea
        padding-top: 10px
        padding-bottom: 10px
      label
        margin: 7px 0
        display: block
        input[type=checkbox],input[type=radio]
          margin-right: 5px
      &.bottom
        margin-left: 0

.history
  margin-bottom: 20px
  a
    text-decoration: none
  ul
    margin-bottom: 10px
    li
      position: relative
      line-height: 1.3
      padding: 5px 0
      &:hover
        background: #FFFDD4
      p
        margin-left: 100px
        margin-right: 50px
      i
        float: left
        display: block
        color: #717171
      a.close
        display: block
        line-height: 1
        float: right
        color: red
  input[type=text]
    width: 500px
    &+a.btn
      margin-left: 10px
a.btn
  text-decoration: none
  color: #000
  display: inline-block
  line-height: 35px
  padding: 0 20px
  background: #DDD
              