.header Список заказов по которым вы работаете
.hint_block!= hint
.illustrations
  each value in illustrations
    .illustration!= value
.title_bids!= titles
.bids
  each value in working_bids
    .bid!= value



