@import base

$close_src: 'main/close_10x10.png'
$icon_height: image-height($close_src)
$icon_width: image-width($close_src)

main
  text-align: right

.photo
  +inline-block
  +transition( transform 400ms ease-out)
  //+transition-delay(0.5s)
  //+box-shadow(0px 1px 3px rgba(0, 0, 0, 0.6))
  z-index : 100
  cursor : pointer
  position: relative
  width: 132px
  img
    position : absolute
    left : 0
    top : 0
    z-index : 0
    width : 132px
  .close_box
    cursor: pointer
    position: absolute
    right: 0
    margin: -3px
    .close_icon
      width: $icon_width
      height: $icon_height
      background: url(F($close_src)) no-repeat
.photo.hover
  +transform(scale(2.2))
  +material_shadow(4)
.all_rating
  margin-top: 10px
a
  display: block
  text-decoration: underline
  cursor: pointer
  .count_review
    text-align: center
    //padding-left: 12px
    //box-sizing: border-box
    margin-top: 18px
    font-size: 14px
    color: $black
    &:hover
      text-decoration: none
.count_cost
  text-align: center
  .from, .cost, .measure
    +inline-block
    vertical-align: bottom
    font-size: 14px
  .cost
    padding: 0 4px
    font-size: 18px

.photo.unknown
  //+box-shadow(0px 1px 3px rgba(0, 0, 0, 0.6))
  cursor: default
  opacity: 0.6
.photo.unknown.hover
  +transform(scale(1))
.no_reviews
  display: none

.photo.jump_visit_card
  padding-bottom: 18px
  width: 108px
  img
    width: 108px