.horizon, .vertical, .details_data_line
  position: absolute
  left: 0
  background: #cad2d8
  opacity: 0.4
  box-shadow: 0px 1px 0px rgba(0,0,0,0.27) inset

.horizon
  top: 50%
  right: 0
  height: 2px
.vertical, .details_data_line
  top: 0
  bottom: 0
  width: 2px
.details_data_line
  left: 110px