@import compass/css3
$width : 371px

main
  text-align : center
  background-color : rgb( 243, 243, 243 )

div
  +inline-block
  width : $width

.send
  text-align    : right
  margin-top    : 18px
  margin-bottom : 31px
  .button
    +inline-block
    height: 33px
