mixin field (selector, value)
  .value(class=selector)!= value
/////////////////

.location_buttons
  .title Место :
  .tutor!= tutor
  .student!= student
  .web!= web
+field ('country', country)
+field ('city', city)
+field ('area', area)
+field ('near_metro', near_metro)
+field ('street', street)
+field ('house', house)
+field ('building', building)
+field ('flat', flat)