@import compass/css3
@import compass/css3
$height: 37px
$padding: 7px
$padding_address: 24.5px
main
  height: 100%
.value
  +inline-block
  height: $height
  padding: $padding 0
.house, .building
  +inline-block
.house
  padding-right: $padding_address
.building
  padding-left: $padding_address
.flat
  margin-right: 250px
  padding-bottom: 0