@import compass/css3
@import compass/css3
$height: 37px
$padding: 7px
main
  height: 100%
.location_buttons
  padding-bottom: 28.5px
  height: 33px
  .tutor, .student, .web
    height: 100%
    +inline-block
  .tutor
    padding-right: 5.5px
  .web
    padding-left: 5.5px
  .student
    padding: 0 5.5px
.value
  height: $height
  padding: $padding 0
.house, .building
  +inline-block
$padding_address: 24.5px
.house
  padding-right: $padding_address
.building
  padding-left: $padding_address
.flat
  margin-right: 250px
  padding-bottom: 0