@import compass/css3
@import compass/css3
$height: 37px
$padding: 7px
$padding_address: 24.5px
main
  height: 100%
.value
  +inline-block
  height: $height
  padding: $padding 0
.input_block
  +inline-block
  width : 341px
.input_block
  .input
    +inline-block
    font-size: $height
    width : 100%
    padding: $padding 0
  .house, .building
    +inline-block
    width : 91px
  .house
    padding-right: $padding_address
    float : left
  .building
    padding-left: $padding_address
  .flat
    width : 91px
    margin-right: 250px
    padding-bottom: 0
.save_button
  height: 33px
  padding-top: 15px

.err
  overflow: hidden
  div
    float: right
    width: 341px
    text-align: left
    color: red
    font-size: 16px
    display: none
    padding: 0.3em
    box-sizing: border-box
