@import base

main
  height: 100%
main:after
  +after_block
.hour, .cost
  display: inline-block
.hour
  width: 150px
  text-align: left
.cost
  text-align: right
  vertical-align: middle
  font-size: 37px
  width: 72px
  height: 100%
.curr
  display: inline-block
  vertical-align: middle
  margin-left: 10px
//main:after
//  content: ''
//  height: 100%
//  +inline-block