@import compass/css3
main
  height: 100%
  text-align: left
.hour, .cost
  +inline-block
.cost
  font-size: 37px
  float: right
  width: 72px
  height: 100%
main:after
  content: ''
  height: 100%
  +inline-block