@import compass/css3
$background_white:  #ffffff
$footer_height: 248px
$height_line: 52px
main
  height: 100%
  width: 1014px
  margin: auto
  font-family: "Open Sans", sans-serif

//- ------------------------------ POPUP ----------------------------------
.popup_wrap
  position: fixed
  overflow: scroll
  text-align: center
  background-color: rgba(0, 0, 0, 0.70)
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 100
  .content
    +inline-block
    position: relative
.popup_wrap:after
  content: ""
  +inline-block
  width: 0px
  height: 100%
//- -----------------------------------------------------------------------

.container
  padding-bottom: $footer_height
  box-sizing: border-box
  position: relative
  width: 100%
  min-height: 100%
  //-overflow: hidden
  float: left
  background-color: #5B6D63
  background-image: url(F('main/chalkboard_pattern.jpg'))
  position: relative
  z-index: 1
  //+box-shadow(3px 0 16px 0px rgba(0,0,0,0.17),-3px 0 16px 0px rgba(0,0,0,0.17), 37px 0 43px 0px rgba(0,0,0,0.07), -37px 0 43px 0px rgba(0,0,0,0.07))
  .header
    height: 100px
    width: 100%
    //background: $background_white
    +box-shadow(0px 1px 5px 0px rgba(0,0,0,0.20))
  .filter_top
    background: url(F('filter_top/chalk.png')) no-repeat
    text-align: center
  .info_panel
    height: $height_line
    line-height: $height_line
  .content
    text-align: center
.footer
  float: left
  width: 100%
  position: relative
  bottom: 0
  margin-top: -$footer_height
  z-index: 1
