.filter_block
  padding: 86px 0 55px 0
  background: greenyellow //temporarily proof
.info_panel
  $height_line: 52px
  background-color: rgb(226, 228, 231)
  height: $height_line
  line-height: $height_line
.search_diagram
.chose_tutor_block
  padding: 41px 0 72px 0
  background: greenyellow //temporarily proof
.chose_search_block