link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
.navbar-fixed
  nav
    .nav-wrapper.teal
      a.brand-logo.center(href='/admin_main')
        img(src='https://lessonhome.ru/file/de6fd69bf0/header/logo.png')
      ul.right.hide-on-med-and-down
        li
          a(href='#') Создать вопрос
        li
          a(href='#') Создать заявку
        li
          a(href='#') Создать регистрацию
      ul.left.hide-on-med-and-down
        li
          a(href='/admin/tutor_filter') Подобрать репетитора