@import compass/css3
$height: 37px
$padding: 7px
main
.fields
  width: 100%
  .location_buttons
    padding-bottom: 28.5px
    height: 33px
    .tutor, .student, .web
      height: 100%
      +inline-block
    .tutor
      padding-right: 5.5px
    .web
      padding-left: 5.5px
    .student
      padding: 0 5.5px
  .value
    height: $height
    padding: $padding 0
  .house, .building
    +inline-block
  .house
    padding-right: 24.5px
  .building
    padding-left: 24.5px
  .flat
    margin-right: 250px
  .button_block
    padding: $padding 0
    .add_button
      +inline-block
      height: 33px

