@import compass/css3

main
  overflow : hidden

$height : 37px

.fields
  margin-top : 40px
  margin-bottom : 64.5px
  text-align : right



  label, .location_buttons, .button_block
    display : block
    cursor  : pointer
    margin-right  : 164px
    padding : 5.5px 0
    .title, .value
      +inline-block

    .value
      height : $height
      width  : 341px

    .title
      width        : 180px
      height       : $height
      line-height  : $height
      margin-right : 26px
      text-align   : right
      font-size    : 16px
      color        : rgba(75, 75, 75, 0.70)
      font-family  : 'Open Sans', sans-serif


  .location_buttons
    padding : 0
    margin-bottom : 28.5px
    cursor  : default
    div
      +inline-block
      width : 127px
    .tutor, .student
      margin-right : 23px


  .house, .flat, .building
    .value
      width : 91px

  .house, .building
    +inline-block

  .building
    .title
      width        : 115px
      margin-right : 19px

  .house
    padding-right : 25px
    margin-right  : 0

  .flat
    margin-right : 414px

  .button_block
    cursor : default
    .add_button
      +inline-block

