//custom header style
header
  position: relative
.phone-link
  a
    font-size: 1.2rem
    font-weight: 700
nav
  background: #464646 !important
  box-shadow: none
  line-height: 100%
  height: auto
  overflow: hidden
  ul
    li
      a
        height: 54px
        line-height: 56px
        font-size: 1.2rem
  .btn-large
    background-color: #fd7c48
    &:hover
      background-color: #df6736
.logo-phone-block
  position: relative
  padding: 11px 0
  font-size: 0
  line-height: 0
  a
    &.logo
      display: inline-block
      font-size: 0
      line-height: 0
    &.phone-link
      color: #020202
      font-size: 1.4rem
      line-height: 100%
      span
        display: inline-block
        vertical-align: middle
      &:before
        content: ''
        display: inline-block
        height: 48px
        width: 0
        vertical-align: middle
