nav
  .nav-wrapper
    .container
      a.brand-logo.left(href='/')
        img(src=F('header/logo.png'))
      a(href='#', data-activates='mobile-demo').button-collapse.js-show_menu
        i.material-icons menu
      ul.hide-on-med-and-down.right
        li
          a(href='#') Найти репетитора
        li
          a(href='#') Репетиторам
        li
          a(href='#') О нас
        li
          a(href='#') Помощь
      ul.side-nav#mobile-demo
        li
          a(href='#') Найти репетитора
        li
          a(href='#') Репетиторам
        li
          a(href='#') О нас
        li
          a(href='#') Помощь