nav
  .nav-wrapper
    .container
      a.brand-logo(href='/')
        img(src=F('header/logo.png'))
      a(href='#', data-activates='mobile-demo').button-collapse.js-show_menu
        i.material-icons menu
      ul.hide-on-med-and-down.right
        li
          a(href='/second_step') Найти репетитора
        li
          a(href='/main_tutor') Репетиторам
        li
          a(href='/about_us') О нас
        li
          a(href='/support') Помощь
        li.phone-link
          a(href='tel:+7-495-181-0373') +7 (495) 181-03-73
      ul.side-nav#mobile-demo
        li
          a(href='/second_step') Найти репетитора
        li
          a(href='/main_tutor') Репетиторам
        li
          a(href='/about_us') О нас
        li
          a(href='/support') Помощь
        li.phone-link
          a(href='tel:+7-495-181-0373') +7 (495) 181-03-73