-id_page = id_page || ''
.logo-phone-block.js-offset_block.hide-on-med-and-down
  .container.clearfix
    a.logo(href='/')
      img(src=F('lp/lh_logo.png'))
    .header-info
      a.phone-link(href='tel:+7-495-181-0373') +7 (495) 181-03-73
      .hi-sity г. Москва
    .contacts-line.right
      ul
        li
          a(href='/contacts')
            span Контакты
            i.icon-location
        li
          a(href='/help')
            span Помощь
            i.icon-question2
.header-spacer
  nav.js-fixed_nav 
    .nav-wrapper
      .container
        a.logo(href='/').hide-on-large-only.left
          img(src=F('lp/lh_logo.png'))
        a(href='#', data-activates='mobile-demo').button-collapse.js-show_menu.right
          i.material-icons menu
        ul.hide-on-med-and-down
          li
            if id_page == 'main_p'
              a.active(href='/') Главная
            else
              a(href='/') Главная
          li
            if id_page == 'search_p'
              a.active(href='/tutors_search') Наши репетиторы
            else
              a(href='/tutors_search') Наши репетиторы
          li
            if hide_menu_punkt != true
              if id_page == 'lp_tutors'
                a.active(href='/tutors_lp') Репетиторам
              else
                a(href='/tutors_lp') Репетиторам
        .right.hide-on-med-and-down   
          if hide_head_button != true
            if enter_button_show != true
              if $req.user.tutor
                a(href='/tutor/profile').btn-large.waves-effect.waves-light Войти
              else if $req.cookie.get('tutor')
                a(href='/enter').btn-large.waves-effect.waves-light Войти
              else
                a(data-target="req_more_send").btn-large.waves-effect.waves-light.js-demo_modal Оформить заявку
            else
              if $req.user.tutor
                a(href='/tutor/profile').btn-large.waves-effect.waves-light Войти
              else if $req.cookie.get('tutor')
                a(href='/enter').btn-large.waves-effect.waves-light Войти
              else
                a(href='/enter').btn-large.waves-effect.waves-light Войти
        ul.side-nav#mobile-demo
          li
            a(href='/') Главная
          li
            a(href='/tutors_search') Найти репетитора
          li  
            if hide_menu_punkt != true
              a(href='/tutors_lp') Репетиторам
          li
            a(href='/contacts') Контакты
          li
            a(href='/help') Помощь
          li.phone-link
            a(href='tel:+7-495-181-0373') +7 (495) 181-03-73
