@import base

main
  position : fixed
  width : 1014px
  bottom : 0
  height : 64px
  //background : #f5e79e
  background-color: white
  border: 1px solid $border_gray
  z-index: 200
  margin: 0 auto
  +material_shadow(4)
.content
  #tutors_list
    padding-left: 12px
    li
      list-style: none
      float: left
      display: block
      height: 48px
      width: 48px
      margin: 8px
      background-color: $gray_verylight