@import base
$btn_width: 180px
.title
  font-size: 16px
  margin-bottom: 10px
  span.title, .count
    font-weight: bold
  a, .count
    color: #00A993
.content
  .jcarousel
    position: relative
    overflow: hidden
    margin-right: 200px
    .preps
      width: 20000em
      position: relative
      /* Optional, required in this case since it's a <ul> element */
      list-style: none
      margin: 0
      padding: 0
      //margin-right: $btn_width
      li
        float: left
        margin: 5px 20px 5px 5px
  .btn_attach
    float: right
    width: $btn_width
    height: 50px
  &:after
    content: ''
    display: table
    clear: both
.hidden
  position: fixed
  display: none
