//
   Created by lh on 01.10.15.

.title
   span.title Выбранные репетиторы
   &nbsp;
   span.js-count
   &nbsp;&nbsp;
   a.js-clean(href='#') очистить
.content
   .js-btn_attach!=button_attach
   .carousel
      //.js-left.inactive
      .js-jcarousel
         .js-preps
      //.js-right.inactive
.hidden
   !=tutor

