//
   Created by lh on 01.10.15.

.title
   span.title Выбранные репетиторы
   &nbsp;
   span.js-count
   &nbsp;&nbsp;
   a.js-clean(href='#') отчистить
.content
   .btn_attach!=button_attach
   .js-preps
.hidden
   !=tutor

