.title
  span.title Выбранные репетиторы
  | &nbsp;
  span.js-count
  | &nbsp;&nbsp;
  a.js-clean(href='#') очистить
.content
  .js-btn_attach!=button_attach
   .carousel
     .js-jcarousel
        .js-preps
.hidden
  !=tutor
