.calendar_week
  .monday ПН
  .tuesday ВТ
  .wednesday СР
  .thursday ЧТ
  .friday ПТ
  .saturday СБ
  .sunday ВС
.choose_block
  .choose_all!=choose_all
  .title выбрать все
.time_box
  .from с
  .from_time!=from_time
  .till до
  .till_time!=till_time
  .close_box
    .close
.button_add!=button_add