.button
  if registered
    .title Выход
  else
    .title Вход
  form.js-form.popup_box(action="/form/tutor/login" method="post" name="login")
    .triangle_box
      .triangle
    .popup
      .close_box
        .close
      .login!=login
      .password!=password
      .forgot_password.select Забыли пароль?
      .enter_registration_block
        .enter!=enter
        .registration
          a.select(href = '/main_tutor') Регистрация

    input.js-submit(type="submit")
