@import compass/css3
main
  padding-top: 60px
.enter_block
  margin-bottom : 100px
  padding: 30px
  +inline-block
  background:  url(F('invite/block_pattern.png')), rgba(255, 255, 255, 0.7)
  width: 358px
  text-align: left
  .check_in_fields
    .submit
      position : fixed
      color : white
      top : -8000px
      background : white
    width: 100%
    +inline-block
    text-align: left
    .login, .password
      width: 100%
      margin-bottom: 10px
      position: relative
      +inline-block
      .input
        width: 100%
        font-size : 37px
    .text_block
      padding: 0 3px 20px 3px
      overflow: hidden
      .forgot_password
        float: left
        color: #b3b3b3
        font-size: 16px
        text-decoration: underline
        cursor: pointer
      a
        float: right
        color: #94c9fe
        font-size: 18px
    .buttons
      .save_button
        +inline-block
        height: 48px
