.js-background
.popup
  .title.select Общие условия сотрудничества<br/>с компанией «Лессон Хоум»
  .content.select
    .block Общие условия сотрудничества с компанией «Лессон Хоум»<br>Мы подбираем вам клиентов, исходя из ваших предпочтений, которые вы укажите в личном кабинете при регистрации или дополните в разделе редактирование после. Как только появляется клиент подходящий под ваши предпочтения, мы связывемся с вами.
    .block Также вас может прикрепить клиент непосредственно к своей заявке, указав, что хочет заниматься именно с вами.
    .block Вы можете просматривать список актуальных заявок и отправлять запросы на подходящие вам. Доступ в личный кабинет вы получите сразу после регистрации.
    .block За каждого полученного клиента вы оплачиваете нам указанную в заявке сумму (в зависимости от условий заявки, приблизительно от 500 до 2500 руб.).<br>При этом вы:<br>Платите за каждого клиента только один раз. Если данный клиент приводит друзей и знакомых — вы нам ничего за это не должны.<br>Платите только за результат — реальных клиентов, с которыми вы уже начали работать и от которых уже получили первую оплату.<br>Зарабатываете на каждом заказе — даже в случае непродолжительного курса: если работа прекращается, едва успев начаться, то мы пересчитываем цену заказа и возвращаем вам часть оплаты.
    .block Анкеты создаются сразу после регистрации. У вас полный доступ к настройке и управлению своей анкетой. Чем лучше вы заполните свой профиль тем выше будет рейтинг страницы. Мы сделали очень удобный фильтр как для заявок, так и для анкет репетиторов.
    .block Более подробная информация об условиях сотрудничества изложена в договоре оферты, с которым вам будет предложено ознакомиться в «личном кабинете» после регистрации.
  .nav
    a.js-link(href="")
      .text ВЕРНУТЬСЯ К РЕГИСТРАЦИИ
      .icon
