- selector = selector || ''
.result_block.select(class = selector)
  .left_block
    .rating_photo!=rating_photo
    if $req.user.admin
      .ads
        .adt.js-ratio
        a.ad.js-checked  Виден всем
        a.ad.js-onmain  На главной
        a.ad.js-rdown   Понизить рейтинг
        a.ad.js-rup     Повысить рейтинг
        a.ad.js-lp      Не лендинг
        a.ad.js-filter  Не фильтрация
        textarea.js-mcomment(rows=5)
  .js-right_block
    .tutor_extract!=tutor_extract
