@import base

$width_left_block:  144px
main
  background-color: $white
  border: 1px solid $border_gray
  +material_shadow(1)
  +transition(box-shadow 200ms ease-in-out)
  padding: 20px 0 20px 0px
  &:hover
    +material_shadow(2)

.left_block, .right_block
  +inline-block
  vertical-align: top
.left_block
  width: $width_left_block
  .rating_photo
    //
.right_block
  width: 504px
  text-align: left
  //margin-left: $width_left_block
  //padding-left: 22px
  //-border-left: 1px solid #a0a0a0
  .tutor_extract
    //

