@import compass/css3
$width_left_block:  120px
main
  background-color: rgb(240, 240, 240)
  box-shadow: 0px 1px 3px 0px rgba(9, 12, 18, 0.26)
  padding: 20px
  margin-top: 20px
  overflow: hidden
.left_block
  width: $width_left_block
  float: left
  .rating_photo
    //
.right_block
  text-align: left
  margin-left: $width_left_block
  padding-left: 14px
  .tutor_extract
    //