@import base

main
  background-color: $white
  +material_shadow(1)
  +transition(box-shadow 200ms ease-in-out)
  text-align: left
  &:hover
    +material_shadow(2)
.result_block
  .left_block, .right_block
    +inline-block
    vertical-align: top


.main_visit_card
  padding: 12px 12px 18px 12px
  .left_block
    width: 132px

  .right_block
    width: 522px
    text-align: left
    padding-left: 12px
    box-sizing: border-box
    //margin-left: $width_left_block
    //padding-left: 22px
    //-border-left: 1px solid #a0a0a0

.jump_visit_card
  padding: 24px
  .left_block
    width: 108px

  .right_block
    width: 322px
    text-align: left
    padding-left: 24px
    box-sizing: border-box
    //margin-left: $width_left_block
    //padding-left: 22px
    //-border-left: 1px solid #a0a0a0


.result_block .left_block .ads
  padding-top : 15px
  width : 100%
  *
    +inline-block
    width : 100%
    font-size : 13px
    line-height : 18px
  .ad
    cursor : pointer
    color : #0645AD
    &:hover
      text-decoration : underline
    &:active
      +transform(scale(0.99))
  .adt
    font-size : 12px
  .ad.red
    color : #CC2200
  textarea
    font-size : 11px
    line-height : 13px
    padding : 2px
    margin-top : 5px
    border : none
    resize : none
