$height: 38px

.button
  width  : 101px
  height : $height
  text-align       : center
  border-radius    : 4px
  background-color : rgb( 148, 201, 254 )
  box-shadow : 0px 1px 3px 0px rgba(9, 12, 18, 0.65)
  cursor : pointer
  color  : #fff

  .text
    line-height : $height
    font-size   : 20px
    font-family : 'Open Sans', sans-serif

.inactive
  background-color : rgb( 205, 205, 205 )
  color            : #757575
  cursor           : default

.hidden
  visibility: hidden

.button.active:hover
  background-color : #a3dcff