.tutor_card
  .row.no-margin-row
    .col.s4.m4.l4.m-tutor_avatar
      a(href='#')
        img(src=F('/lp/woman_01.jpg')).responsive-img
    .col.s8.m8.l8.m-tutor_info
      .title Екатерина Иванова
      .directions ЕГЭ, ОГЭ(ГИА), Разговорный, с нуля, Business English
      .price
        |от 
        span 1300
        |р./час
      .location
        .m_icon.icon_fiber_manual_record(style='color: #19C1F3;')
        .stantion Александровский сад
      .button
        a.waves-effect.waves-light.btn.orange-btn Связаться
