
- var ind = 0;
while items[ind]
  if line_menu
    .item!= items[ind++]
    if items[ind]
      .item!= items[ind++]
  else
    .column
      .item!= items[ind++]
      if items[ind]
        .item!= items[ind++]