@import base

$hoverColor : #ff949b
$activeColor : #ed645e
$textColor : #4b5e6e
main
  height: 100%
  line-height: 24px
  font-size: 16px
.column
  padding: 0 36px 0 0
  +inline-block
  text-align: left
  .item
    height: 100%
.item
  padding: 0 36px 0 0
  height: 100%
  +inline-block
main:after
  content: ''
  +inline-block
  height: 100%