- selector = selector || "";
- value = value || "";
if value
  .button_box.active(class=selector)
    .button
      if text
        .text!=text
else
  .button_box.inactive(class=selector)
    .button
      if text
        .text!=text
