@import base
=title
  font-size: 21px
  text-align: left
=elements
  padding: 20px 30px
.template
  position: absolute
  display: none
  overflow: hidden
  width: 0
  height: 0
.container
  .block
    +elements
    //border: 1px solid #DDD
    background-color: #E6E6E6
    margin-bottom: 20px
.title
  +title
  +elements
