main
  margin-left: 200px
  padding-left: 5.5%
  font-size: 18px
  font-family: "OpenSans"
  color: rgb(90, 90, 90)
  line-height: 35px

.section
  overflow: hidden
  .title
    float: left
    width: 39%
    text-align: left
    min-width: 210px
  .value
    margin-left: 39%
    text-align: left
    color: rgb(0, 0, 0)
