mixin info_line (title, value)
  .section
    .title= title
    .value= value

+info_line('ВУЗ:', 'МГУ')
+info_line('Фаультет:', 'ВМК')
+info_line('Город:', 'Мухосранск')
+info_line('Кафедра :', 'Глюциногенных грибов')
+info_line('Статус:', 'студент')
+info_line('Год выпуска:', '2017')