@import compass/css3
$triangle_left_src: 'main/triangle_left.png'
$triangle_right_src: 'main/triangle_right.png'
$triangle_height: image-height($triangle_left_src)
$triangle_width: image-width($triangle_left_src)
$padding: 2px
$padding_box: 6px
$cursor_size: 17px
$cursor_core_size: 8px

$slider_pattern_src: 'main/slider-pattern.png'
$slider_inner_height: 11px
$division_box_height: 7px

main
  height: 100%
.box_slider
  position: relative
  height: 100%
  box-sizing: border-box
  //border: 2px solid #cad3da
  border-radius: 4px
  //background-color: #fff
  .slider
    //top: $padding
    //bottom: $padding
    position: absolute
    z-index: 2
    min-width: 2*$cursor_size
    left: $padding
    right: $padding
    //overflow: hidden
    border-radius: 4px
    //background-color: #f07b6f
    .icon_cursor_left
      float: left
    .icon_cursor_right
      float: right
    .icon_cursor_left, .icon_cursor_right
      height: 100%
      position: relative
      z-index: 3
      //padding: 0  $padding_box
      cursor: pointer
      width: $cursor_size
      height: $cursor_size
      +border-radius(50%)
      background-color: #ffffff
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3)
      .icon_left, .icon_right
        position: absolute
        left: 50%
        top: 50%
        margin-left: -$cursor_core_size/2
        margin-top: -$cursor_core_size/2
        width: $cursor_core_size
        height: $cursor_core_size
        +border-radius(50%)
        background-color: #cdcdcd
    .inner
      position: absolute
      top: ($cursor_size - $slider_inner_height)/2
      left: $cursor_size/2
      right: $cursor_size/2
      height: $slider_inner_height
      background: url(F($slider_pattern_src))
      background-color: rgba(0, 0, 0, 0.3)

  .division_box
    position: absolute
    left: 0
    bottom: 0
    height: 8px
    width: 100%
    .d_line
      position: absolute
      height: 100%
      width: 1px
      top: 0
      left: 0
      background-color: #a0a0a0

  .wrap
    position: absolute
    width: 100%
    height: $slider_inner_height
    top: ($cursor_size - $slider_inner_height)/2
    background-color: #cdcdcd
    border: 1px solid #a0a0a0
    +border-radius(4px)

//
  .icon_left, .icon_right
    width: $triangle_width
    height: $triangle_height
    position: relative
    top: 50%
    margin-top: -$triangle_height / 2
  .icon_left
    background: url(F($triangle_left_src)) no-repeat
  .icon_right
    background: url(F($triangle_right_src)) no-repeat






