.additional_info
  height : 68px
  max-width : 783px
  width : 78.3%
  margin-left : 25px
  overflow : hidden
  background-color : blue

  .btn
    height : 35px
    margin-top : 15px
    margin-bottom : 18px
    background-color : #ff8c68