@import compass/css3
main
  width : 100%
div
  width : inherit
  .box_input
    +inline-block
    height : 37px
    .start, .end
      height: 100%
      font-size : 37px
      width : 60px
    .dash
      padding: 0 8px
    .measurement
      padding-left: 11px
    .start, .end, .dash, .measurement
      +inline-block
  .move
    width: inherit
    height: 30px
    font-size : 37px
    +inline-block
//////////////////////
.lesson_time, .lesson_price
  text-align: center
  .box_input
    height: 33px
    .start,.end
      font-size : 33px
  .move
    margin-top: 15px
///////////////////////
.way_fast_bids
  .move
    width: 205px
.time_fast_bids
  .move
    width: 264px
    padding-top: 8px

/////////////////////////
.price_slider_top
  .box_input
    height: 55px
    display : block
    .start,.end
      width : 116px
      font-size : 55px
    .start
      padding-left: 45px
    .end
      padding-left: 55px
    .measurement
      font-size: 24px
  .move
    width: 355px
    margin-top: 15px
    margin-bottom: 30px
////////////////////////////
.price_slider_bids
  text-align: left
  .box_input
    height: 37px
    .start
      padding-left: 35px
      width : 75px
    .end
      padding-left: 50px
      width : 75px
    .measurement
      padding-left: 9px
      font-size: 18px
  .move
    margin-top: 14px
////////////////////////////
.price_fast_reg
  text-align: left
  .box_input
    height: 37px
    .start
      width : 75px
    .end
      width : 75px
    .measurement
      padding-left: 9px
      font-size: 18px
  .move
    margin-top: 14px


///////////////////////////
.road_time_search_bids
  .box_input, .move
    +inline-block
  .move
    width: 206px
  .box_input
    height: 37px
    .measurement
      padding-right: 4px
      padding-left:  5px


/////////////////////////
.advanced_filter_price
  .box_input
    margin-bottom: 14px
.time_spend_way
  .box_input
    .end
      width: 54px
    .dash
      padding: 0 6px 0 0
    .measurement
      padding-left: 6px
