@import "compass/css3"
main
  overflow : hidden
.left_block
  float : left
  .photo
    width: 58px
    height: 58px
    background-color: #ff8c68
    border-radius: 50%
  .mini_rating_review
    margin-top: 8px
.right_block
  margin-left: 78px
  .user_name
    font-size: 24px
    color: rgb(0, 0, 0)
  .creation_date
    font-size: 16px
    color: rgb(117, 117, 117)
    padding: 15px 0
  .review_text
    font-size: 18px
    color: rgb(1, 0, 0)
    line-height: 30px
