.search_diagram(scrolltop="how-it-works")!=search_diagram
.choose_tutor_block(scrolltop="ways-to-find" style = "background: url(#{F('main/pattern_green2.jpg')})")!=choose_search
.choose_search_block(scrolltop="tutor-selection")!=choose_tutor
