@import compass/css3
$padding-bottom_block: 10px
$price_icon_src: 'main/price_icon.png'
$price_icon_height: image-height($price_icon_src)
$price_icon_width: image-width($price_icon_src)
$map_icon_src: 'map.png'
$map_icon_height: image-height($map_icon_src)
$map_icon_width: image-width($map_icon_src)

.top, a.name, .tutor_status_wrap
  padding-left: 12px
  box-sizing: border-box

.top
  height: 24px
  .all_rating, .location
    +inline-block
  .location
    width: 336px
    text-align: right
    float: right
    margin-right: 12px
.top:after
  content: ''
  +inline-block
  height: 100%
a.name
  display: block
  height: 24px
  cursor: pointer
  .tutor_name
    +inline-block
    font-size: 16px
    color: #00a3b8
    text-decoration: underline
    &:hover
      text-decoration: none
.tutor_status_wrap
  height: 16px
  margin-bottom: 8px
  .tutor_status
    +inline-block
    font-size: 12px
    color: #444444
a.name:after, .tutor_status_wrap:after
  content: ''
  +inline-block
  height: 100%

.center
  .left, .right
    +inline-block
    vertical-align: top
  .left
    margin-right: 24px
    padding-left: 12px
    box-sizing: border-box
    width: 336px
    .tutor_text
      min-height: 144px
      font-size: 14px
      line-height: 18px
      color: #000000
    .tutor_subject
      height: 24px
      div
        +inline-block
      .tag, .more_subjects
        cursor : pointer
        font-size: 12px
        color: #444444
        margin-top: 10px
        font-style: italic
      .more_subjects
        margin-left: 5px
    .tutor_subject:after
      content: ''
      +inline-block
      height: 100%
  .right
    margin-top: -11px
    max-width : 132px
    .price_wrap
      text-align: right
      .text, .price
        +inline-block
        vertical-align: sub
        color: #000000
      .text
        font-size: 14px
      .price
        margin: 0 5px
        font-size: 30px
    .view_button, .choose_button
      width: 132px
      height: 48px
    .view_button
      margin: 30px 0 12px 0






































.name_verification_block
  margin: 0 0 0 0px
  $height_font: 18px
  .tutor_name
    +inline-block
    font-size: $height_font
    color:  #000
    line-height: 24px
  //-
    $with_verification: 20px
    .verification
      margin-top: 3px
      padding-left: 20px
      padding-top: ($height_font - $with_verification)/2
      +inline-block
      .with_verification
        width: $with_verification
        height: $with_verification
        border-radius: 50%
        box-shadow: 0px 0px 10px 4px rgba(204,228,110, 0.6), 0px 0px 8px 0px rgba(58,201,50, 0.6) inset

.tutor_price
  margin: 8px 0
  .val .wide
    width : 170px
  .icon , .val, .val div
    +inline-block
  .val
    padding-left : 30px 
  .val .price
    padding : 0 3px 
  .icon
    position : absolute
    margin-right: 12px
    width: $price_icon_width
    height: $price_icon_height
    background: url(F($price_icon_src)) no-repeat

.tutor_subject
  .tag
    margin: 12px 12px 12px 0
    padding: 0 12px
    +inline-block
    height: 24px
    line-height: 22px
    box-sizing: border-box
    border: 1px solid #999999
    +border-radius(2px)
    background-color: #e5e5e5
    font-size: 14px
    color: #444444
    cursor : pointer
    &:hover
      +box-shadow(0 0 10px rgba(0,0,0,0.2))
.tutor_status
  margin-bottom: 12px
  font-size: 14px
  line-height: 24px
  color: #444444
//-
  .tutor_place
    line-height: 32px
    font-size: 16px
    color: #757575
.tutor_title
  margin-top: 3px
  line-height: 24px
  font-size: 14px
  color: #1b9d6b
.tutor_text
  margin-top: -2px
  padding-bottom: 1.5 * $padding-bottom_block
  padding-right : 10px
  font-size: 14px
  line-height: 24px
  color: #000000
  .visible_text
    +inline-block
    vertical-align: top
    color: #1b9d6b
    cursor: pointer

$height_button: 36px
.bottom_block
  margin-top: 11px
  .add_button_bid, .tutor_place
    +inline-block
  .add_button_bid
    height: $height_button
    width: 207px
  .tutor_place
    text-align: right
    box-sizing: border-box
    padding-right: 26px
    float : right
    line-height : $height_button
    .icon, .val
      +inline-block
    .icon
      margin-right: 10px
      width: $map_icon_width
      height: $map_icon_height
      background: url(F($map_icon_src)) no-repeat
    .val
      color: #444444
      font-size: 14px
      line-height: 24px

//
  .button_prise_panel
    .add_button_bid
      height: $height_button
      float: left
    $icon_src: 'main/price.png'
    $icon_height: image-height($icon_src)
    $icon_width: image-width($icon_src)
    $font-size: 24px
    .price_block
      margin-top: ($height_button - $icon_height)/2
      float: right
      color: #58697a
      .icon
        height: $icon_height
        width: $icon_width
        background: url(F($icon_src)) no-repeat
        float: left
        margin-right: 15px
        margin-top: ($font-size - $icon_height)/2
      .tutor_price
        font-size: $font-size
        float: right
        span
          font-size: 18px
  .button_prise_panel:after
    content: ''
    clear: both
    display: block

.division_line
  border-top: 1px solid #a0a0a0
  border-bottom: 1px solid #fff
