.right-block
  position : relative
  width : 60%
  padding-left: 20%
  .content
    .left-content
      width : 30%
      overflow : hidden
      float : left
      .rating
        background-color : rgb(255, 228, 228)
        text-align : center
        margin-top : 5px
        margin-bottom : 5px
    .right-content
      width : 70%
      padding-left : 30%