@import variables

.comments_block
  padding: 4rem 0 5rem
  @media #{$medium-and-down}
    padding: 2rem 0
.m-title
  padding: 0
  margin: 0 0 5rem
  position: relative
  text-align: center
  font-size: 2.467rem
  font-weight: 300
  color: #333333
  &:after
    content: ''
    display: block
    height: 2px
    width: 4.267rem
    position: absolute
    left: 50%
    margin-left: -2.1335rem
    bottom: -1rem
    background-color: #ff8b38
  @media #{$medium-and-down}
    margin-bottom: 4rem
  @media #{$small-and-down}
    text-align: center
.m-comment
  @media #{$medium-and-down}
    margin-bottom: 2rem
.m-comment_text
  .title
    font-size: 1.2rem
    font-weight: 500
    margin-bottom: .5rem
  .text
    font-size: 1rem
    font-weight: 300
    color: #5d5d5d
    margin-bottom: .5rem
  .date
    color: #5a5a5a
    font-size: 0.9rem
