.comments_block
  .container
    h2.m-title Отзывы о нашем сервисе
    .row
      .col.s12.m6.l4.m-comment
        .col.s4
          img(src=F('/lp/comments_avatar/users_01.jpg')).responsive-img.circle
        .col.s8.m-comment_text
          .title Наталья
          .text Годный сервис, братки за базар отвечают и фуфло тряпичное не впаривают
          .date 24.02.2016
      .col.s12.m6.l4.m-comment
        .col.s4
          img(src=F('/lp/comments_avatar/users_02.jpg')).responsive-img.circle
        .col.s8.m-comment_text
          .title Мария
          .text Отличный сервис, с его помощью нашла своему спиногрызу нормального препода
          .date 24.02.2016
      .col.s12.m6.l4.m-comment
        .col.s4
          img(src=F('/lp/comments_avatar/users_03.jpg')).responsive-img.circle
        .col.s8.m-comment_text
          .title Соня
          .text Быстро и качественно, хорошо работают, пацаны вообще ребята
          .date 24.02.2016
