$ul_padding: 29px

.bid
  ul.bids, ul.report, ul.header
    background : rgba(201, 203, 206, 0.33)


    li
      display : inline-block
      width : 12.5%
      padding-left : $ul_padding
      box-sizing : border-box

      word-wrap : break-word
      vertical-align : top


  /*------------------------------------*/

  ul.bids, ul.report
    li
      padding-top : 16px
      padding-bottom : $ul_padding

  ul.header
    li
      margin-top : 5px
      margin-bottom : 5px

/*------------------------------------*/