@import compass/css3
$contact_src:   'tutor/profile_contacts.png'
$education_src: 'tutor/profile_edu.png'
$private_src:   'tutor/profile_about.png'
$add_media_src: 'tutor/add_media.gif'
$width_margin :       200px    //width photo and margin-right personal data
$margin_bottom_box :  30px  //in the section_box
main
  padding: 24px 20px
  overflow: hidden

//- ------------------------------ POPUP ----------------------------------

.popup_wrap
  position: fixed
  left: 0
  right: 0
  width: 100%
  height: 100%
  top: 0
  bottom: 0
  z-index : 100000
  overflow: auto
  text-align: center
  background-color: rgba(255, 255, 255, 1)

  .content
    +inline-block
    margin-top: 30px
    margin-bottom: 30px
    position: relative

//- -----------------------------------------------------------------------


.info_data
  float : left
  padding-bottom: $margin_bottom_box
  .person_box
    float: left
    width: 200px
    .all_rating
      margin: 11px 0
      text-align: center
    .count_review
      color: #68c4ff
      font-size: 18px
      text-align: center
    .progress
      width: 160px
      margin: auto
  .personal_data
    padding: 0 30px 0 30px
    margin-left: $width_margin
    $font_line: 30px
    .name_verification_block
      font-size: $font_line
      height: 2*$font_line
      line-height: $font_line
      .tutor_name
        +inline-block
        font-size: 20px
        a
          color: #a8a8a8
          font-size: 16px
      .verification
        position: relative
        +inline-block
        margin-top: 3px
        padding-left: 20px
        padding-top: 2px
        .with_verification
          width: 20px
          height: 20px
          border-radius: 50%
          box-shadow: 0px 0px 10px 4px rgba(204,228,110,0.6),0px 0px 8px 0px rgba(58,201,50,0.6) inset
        .hover_popup
          line-height: 20px
          position: absolute
          display: none
          font-size: 14px
          margin-left: 20px
          top: 0
          z-index: 1
          left: 100%
          margin-top: 10px
          box-shadow: 0px 1px 2px 0px rgba(9, 12, 18, 0.26)
          background-color: rgb(243, 243, 243)
          border-radius: 4px
          text-align: left
          .text_block
            padding: 9px 10px
            +inline-block
        .hover_popup:after
          content: ''
          +inline-block
          height: 100%
      .verification:hover
        .hover_popup
          display: block

  .send_bid_this_tutor
    position: absolute
    right: -8px
    top: 170px
  //---------------line-------------//
.separate_box
  width : 100%
  float : left
  padding-bottom: 4px
  overflow: hidden
.contacts_box .contacts, .education_box .education, .about_box .about
  margin-left: $width_margin
  padding-left: $margin_bottom_box
div>.icon_box
  position: absolute
  height: 100%
.contacts_box, .education_box, .about_box, .media_box
  margin-bottom: $margin_bottom_box
  padding-right: 48px
  float : left
  position: relative
  min-height: 100px
.media_box
  width: 100%
  z-index : 0
  margin-top: 9px
  padding-right: 0
  padding-left: 0
  .media
    text-align: center
    width: 100%
    //overflow: hidden
    box-sizing: border-box
    //div
      cursor: pointer
      width: 132px
      height: 130px
      margin-right: 6px
      float: left
      background-color: rgb(186, 187, 189)
    .add_button
      cursor: pointer
      background: #e5e5e5
      padding: 25px 35px
      +border-radius(2px)
      +inline-block
      $icon_height: image-height($add_media_src)
      $icon_width: image-width($add_media_src)
      .icon
        +inline-block
        width: $icon_width
        height: $icon_height
        background: url(F($add_media_src)) no-repeat
        padding-right: 30px
      .text
        font-size: 20px
        color: #7d7d7d
        +inline-block
    .add_button:after
      content: ''
      height: 100%
      +inline-block
$icon_height: image-height($contact_src)
$icon_width: image-width($contact_src)
.contacts_box .icon_box .icon
  width: $icon_width
  height: $icon_height
  background: url(F($contact_src)) no-repeat
  position: relative
  top: 50%
  margin-top: - $icon_height / 2
  margin-left: ($width_margin - $icon_width) / 2

$icon_height: image-height($education_src)
$icon_width: image-width($education_src)
.education_box .icon_box .icon
  width: $icon_width
  height: $icon_height
  background: url(F($education_src)) no-repeat
  position: relative
  top: 50%
  margin-top: - $icon_height / 2
  margin-left: ($width_margin - $icon_width) / 2

$icon_height: image-height($private_src)
$icon_width: image-width($private_src)
.about_box .icon_box .icon
  width: $icon_width
  height: $icon_height
  background: url(F($private_src)) no-repeat
  position: relative
  top: 50%
  margin-top: - $icon_height / 2
  margin-left: ($width_margin - $icon_width) / 2
