@import compass/css3
//width variables
$background_white:  #ffffff

main
  height: 100%
  max-width: 1014px
  min-width: 900px
  margin: auto
.container
  position: relative
  width: 100%
  min-height: 100%
  overflow: hidden
  +box-shadow(3px 0 16px 0px rgba(0,0,0,0.17),-3px 0 16px 0px rgba(0,0,0,0.17), 37px 0 43px 0px rgba(0,0,0,0.07), -37px 0 43px 0px rgba(0,0,0,0.07))
  .header
    position: relative
    height: 100px
    width: 100%
    background: $background_white
    box-shadow: 0px 6px 6px rgba(0,0,0,0.16)
    z-index: 1
  .content
    text-align: center
    margin-bottom: 100px
  .footer
    height: 100px
    width: 100%
    position: absolute
    bottom: 0
    background: #E2E7EC