// takes variables:
  //{selector, text}
// type variables
  // selector, text  - string
//respons
  //text - content
  // selector - style sass
- id = id || "";

.selected_tag(class=selector)
  if close
    .close
      .close_background
  .js-text=text