// takes variables:
  //{selector, text}
// type variables
  // selector, text  - string
//respons
  //text - content
  // selector - style sass
.selected_tag(class=selector)
  if close
    .close
      .close_background
  .text=text