@import compass/css3
$icon_src: 'close.png'
$icon_height: image-height($icon_src)
$icon_width: image-width($icon_src)
main
  height: 100%
.selected_tag
  background-color: rgb(225, 227, 229)
  +border-radius(4px)
  .close
    float: right
    height: 100%
    cursor: pointer
    .close_background
      width: $icon_width
      height: $icon_height
      position: relative
      top: 50%
      margin-top: -$icon_height / 2
      background: inline-image($icon_src) no-repeat






.selected_tag:hover
  background-color: #f0f0f0



//////////////// function //////////////
=tag($selector, $padding_day, $padding_day_hand, $padding_time_box, $padding_time_box_hand)
  .calendar_box.#{$selector}
    .calendar_week
      div
        padding: $padding_day $padding_day_hand
      .monday, .sunday
        padding: $padding_day ($padding_day_hand+1px)
    .js-show-hidden-block
      .time_box
        padding: $padding_time_box $padding_time_box_hand


////////-----------choose hash tag in drop down list----------////////////////////

$padding_close:  10px
$height_line: 33px
$font_size: 18px
$color: rgb(61, 50, 50)
.choose_subject, .choose_tutor
  overflow: hidden
  height: $height_line
  line-height: $height_line
  .close
    padding: 0 $padding_close
  .text
    font-size: $font_size
    color: $color
    padding: 0 (2*$padding_close+$icon_width) 0 10px

//////------little bit variables and font change value in choose_course------------/////////
$padding_close: 5px
$height_line: 30px
$font_size: 16px
$color: #000000
.choose_course
  height: $height_line
  line-height: $height_line
  .close
    padding: 0 $padding_close
  .text
    font-size: $font_size
    color: $color
    padding: 0 (2*$padding_close+$icon_width) 0 10px

