//
   Created by lh on 17.11.15.
//- var university = university || 'Вуз'
//- var faculty = faculty || 'Факультет'
p
   span.js-university.empty Вуз
   span &nbsp/&nbsp;
   span.js-faculty.empty Факультет