@import compass/css3
$search_src: 'header/search.png'
$edit_src: 'header/pencil.png'
$notice_src: 'header/bell.png'
$icon_height: image-height($search_src)
$icon_width: image-width($search_src)
$padding_over_icon: 10px
main
  height: 100%
.icons_box
  height: 100%
  .icon
    +inline-block
    padding: $padding_over_icon
    cursor: pointer

    .search, .edit, .notice
      //margin-left: -$padding_over_icon
      width: $icon_height
      height: $icon_width
    .search
      background : inline-image($search_src) no-repeat
    .edit
      background : inline-image($edit_src) no-repeat
    .notice
      background : inline-image($notice_src) no-repeat

.icons_box:after
  content: ''
  height: 100%
  +inline-block