@import compass/css3
$search_src: 'header/search.png'
$edit_src: 'header/pencil.png'
$notice_src: 'header/bell.png'
$icon_height: image-height($search_src)
$icon_width: image-width($search_src)
$padding_over_icon: 10px
main
  height: 100%
.icons_box
  height: 100%
  a
    +inline-block
    padding: $padding_over_icon
    .search, .edit, .notice
      width: $icon_height
      height: $icon_width
    .search
      background : url(F($search_src)) no-repeat
    .edit
      background : url(F($edit_src)) no-repeat
    .notice
      position: relative
      background : url(F($notice_src)) no-repeat
      .counter
        color: #dd5a4f
        font-size: 10px
        position: absolute
        right: 0
        margin: -5px
.icons_box:after
  content: ''
  height: 100%
  +inline-block
