@import compass/css3
.hint
  display : none
  position: absolute
  top: 278px
  right: -264px
  width: 361px
  height: 337px
  text-align: center
  box-sizing: border-box
  border: 3px solid #afe0ff
  background-color: #fff
  .text
    line-height: 22px
    padding: 26px 29px 37px 30px
    text-align: left
    color: rgb(0, 0, 0)
    font-size: 18px
  .button
    +inline-block
    height: 59px

.general_data
  width: 100%


