@import base


main
  +inline-block
  width : 100%

*
  +inline-block
  text-align : left
  float : left
  width : 100%
  line-height : 25px
  font-size : 15px
  margin-bottom : 5px
.title
  +inline-block
  line-height : 25px
  line-height : 25px
  font-size : 16px
  float : left
.subject,.course
  width : 80%
.name,.date,.comment,.review,.mark
  width : 80%
  font-size : 25px
.remove_button
  height : 38px
  line-height : 38px
  width : 18%
  position : absolute
  top : 0px
  right : 0px
.small
  width : 140px
  height : 30px
  line-height : 30px
* * * textarea
  height : 150px !important
  font-size : 14px !important
  line-height : 18px !important
