.grade
  .title Рейтинг:
  .stars
    .full_stars(style="width:#{tutor_rating}%")
  .number_pupils='( '+pupils_number+' учеников )'
.reviews
  each value in list_reviews
    .review!= value

.hint
  .vertical_line!=line
  .question_sign_block
  .title_help Откуда берутся отзывы?
  .text Все оценки и отзывы о данном репетиторе получены исключительно от учеников, подобранных Ассоциацией репетиторов. Некоторые отзывы написаны учениками лично, другие получены в телефонном разговоре и опубликованы с согласия ученика