@import "compass/css3"
$stars_src  : 'reviews/star_big_gray.png'
$stars_pink  : 'reviews/star_big_pink.png'
$stars_height : image-height($stars_src)
$stars_width  : image-width($stars_src)
$hint_src : 'hint.png'
$hint_height : image-height($hint_src)
$hint_width  : image-width($hint_src)

main
  overflow : hidden

// HINT
.hint
  margin-left : 75%
  border-left : 2px solid #E6DFDF
  padding: 0 0 0 30px


  .question_sign_block
    height : $hint_height
    width: $hint_width
    background: inline-image($hint_src) no-repeat

  .title_help

    margin-top : 19px
    margin-bottom : 10px

    font-weight : bold
    font-size : 1.6em

  .text
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif
    color : #777
    line-height: 1.2em


//------------------ REVIEWS---------------//
.reviews
  width : 65%
  float : left
  .review
    margin-bottom : 30px

//----------------GRADE-------------//
.grade
  line-height: 1.5em
  margin: 0 0 50px 0
  overflow: hidden
  .title, .stars, .number_pupils
    height : 22px

  .title
    margin-left : 15%
    float : left

    h3
      font-weight : bold

  .stars
    width : 5*$stars_width                                  //max stars 5
    background: inline-image($stars_src)
    float : left
    margin: 0 30px

    .full_stars
      background: inline-image($stars_pink)
      height : $stars_height


  .number_pupils
    // position
    float: left
    // font
    color : #777