main
  overflow : hidden

// HINT
.hint
  width: 30%
  margin-left : 70%
  border-left : 2px solid #E6DFDF

  .question_sign_block, .header, .text
    width : 80%
    margin : auto

  .question_sign_block
    height : 64px
    background : url(F('hint.png')) no-repeat

  .header

    margin-top : 19px
    margin-bottom : 10px

    font-weight : bold
    font-size : 1.6em

  .text
    font: 12px "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif
    color : #777


// REVIEWS
.reviews
  width : 70%
  float : left
  .review
    margin-bottom : 30px
    margin-left : 5%

// FULL RATING
.full_rating
  height : 22px
  margin: 50px 0

  .help_word, .stars, .number_pupils
    height : 22px

  .help_word
    width : 10%
    margin-left : 15%
    float : left

    h3
      font-weight : bold

  .stars
    width : 110px
    background : url(F('reviews/star_big_gray.png'))
    float : left

    .full_stars
      background : url(F('reviews/star_big_pink.png'))
      height : 22px

  .number_pupils
    // position
    display : inline-block
    margin-left : 5px

    // font
    font: 12px "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif
    color : #777
    font-size : inherit