.enter_block
  .title Забыли пароль?
  .text Для восстановления введите email, который вы использовали при регистрации.
   //Чтобы сбросить пароль введите прикрепленный номер телефона или email адрес.
  .login
    .input!= login
  .buttons
    .send_button!=send_button
