.container
  h1.center-align Забыли пароль?
  .row
    .col.l4.offset-l4
      h5 Для восстановления введите Ваш email или телефон.
      .row.login_row!= login
      .row.button_row
        .col.s12.l12.m12.center-align!=send_button