mixin item (text)
  .item
    .icon
    .text!=text
.about_us
  .left
    .illustration
  .right
    .title О нас
    .text Lesson Home - это место, где встречаются репетиторы и ученики.<br>Сейчас мы активно набираем базу репетиторов и проект начнёт работу в сентябре этого года.<br>Все репетиторы, присоединившиеся до запуска проекта, получат преимущества.<br>Мы стараемся сделать наш продукт удобным и для репетиторов и для учеников. Если у Вас<br>есть какие-либо пожелания или отзывы - мы будем рады их услышать!
.freedom_of_choice
  .left
  .right
    .title Полная свобода выбора
    .items
      +item('Вы сами выбираете, с кем из потенциальных учеников проводить занятия')
      +item('Вы сами устанавливаете справедливую на Ваш взгляд стоимость одного занятия')
      +item('Вы определяете продолжительность одного занятия и место его проведения')
    .text Сервис Lesson Home помогает репетиторам увеличить свой ежемесячный доход, нарастить<br>клиентскую базу и начать частную репетиторскую деятельность. Вы сами можете просто и<br>подробно заполнить Ваш профиль. А чем больше мы знаем о ваших предпочтениях, тем<br>быстрее мы подберём Вам наиболее подходящего ученика!
.rating
  .left
    .illustration_1
    .illustration_2
  .right
    .title Система рейтингов и оплата
    .t1 Рейтинг - это Ваш статус благонадёжности на нашем ресурсе.<br>Ваш рейтинг будет зависеть от многих критериев, например:
    .items
      +item('подробно заполненный профиль')
      +item('количество взятых Вами учеников')
      +item('наличие отзывов о проведённых занятиях<br>и т.д.')
    .text Чем выше Ваш "рейтинг", тем большее количество учеников будет заинтересовано в выборе<br>Вашей кандидатуры в качестве репетитора.<br>Репетитор оплачивает коммисию только в случае успешного подбора ученика на обучение.<br>Размер комиссии за ученика составляет стоимость одного занятия и взимается один раз за<br>найденного ученика. В последующем, если ученик продолжает у Вас заниматься и приводит<br>других учеников Вы нам ничего не должны.
  .illustration_3
.last_tutors
