mixin item (text)
  .item
    .icon
    .text!=text
.about_us.select
  .left
    .illustration
  .right
    .title О нас
    .text Lesson Home - это место, где встречаются репетиторы и ученики.<br>Репетиторы, присоединившиеся к нам до 2015 года, получат дополнительные преимущества.<br> Мы стараемся сделать наш продукт удобным для репетиторов и учеников.<br>Если у Вас есть какие-либо пожелания или отзывы - мы будем рады их услышать!
  .pattern_bottom
.freedom_of_choice.select
  .left
    .illustration
  .right
    .title Полная свобода выбора
    .items
      +item('Вы сами выбираете, с кем из учеников будете проводить частные занятия;')
      +item('Вы устанавливаете справедливую стоимость одного занятия с Вами;')
      +item('Вы определяете продолжительность занятия и место его проведения.')
    .text Сервис Lesson Home помогает репетиторам увеличить ежемесячный доход, нарастить клиентскую базу и начать частную репетиторскую деятельность. С нами легко работать – подробное заполнение профиля не займет много времени. А чем больше мы знаем о ваших предпочтениях, тем быстрее мы подберём подходящего ученика!
  .pattern_bottom
.rating.select
  .left
    .illustration_4
    .illustration_5
  .right
    .title Система рейтингов и оплата
    .t1 Рейтинг - это Ваш статус благонадёжности на нашем ресурсе.<br>Он зависит от нескольких критериев, например:
    .items
      +item('подробно заполненный профиль.')
      +item('количество Ваших учеников')
      +item('наличие отзывов о проведённых занятиях и т.д.')
    .text Чем выше рейтинг, тем больше учеников будет заинтересовано в выборе<br>Вас в качестве репетитора.<br>Репетитор платит комиссию лишь в случае успешного подбора ученика.<br>Размер комиссии равен стоимости одного занятия и взимается один раз за ученика.
  .illustration_3
  .pattern_bottom
.last_tutors
  .title Последние зарегистрированные репетиторы
  .content
    .tutor
      .photo.first
      .subject_wrap
        .subject АНГЛИЙСКИЙ ЯЗЫК
      .name_wrap
        .name Корсунова Е.Е.
    .tutor
      .photo.second
      .subject_wrap
        .subject МАТЕМАТИКА
      .name Ламан Д.В.
    .tutor
      .photo.third
      .subject_wrap
        .subject АНГЛИЙСКИЙ ЯЗЫК
      .name_wrap
        .name Луков В.В.
    .reg_block
      .text.select Регистрируйтесь сейчас и получите<br>приоритет в очереди на получение<br>заявки от ученика!
      .button!=reg_button
