@import compass/css3
.title
  padding-bottom: 72px
  font-size: 50px
  color: rgb(201, 92, 81)
.diagram
  width: 720px
  height: 420px
  margin: auto
  padding-bottom: 45px
.search_button
  padding-top: 30px
.diagram.search_diagram
  background: inline-image('search_diagram.png') no-repeat
.diagram.choose_search
  background: inline-image('search_diagram.png') no-repeat
.diagram.choose_tutor
  background: inline-image('search_diagram.png') no-repeat


