@import compass/css3

main
  text-align : left

div
  +inline-block
  line-height : initial

label[for="date"]
  margin-left  : 43px
  margin-right : 10px

label[for="time"]
  margin-left  : 20px
  margin-right : 15px

.date
  width  : 120px
  height : 33px

.time
  width  : 70px
  height : 33px