@import compass/css3
$padding: 7px
$height: 37px
main
  //text-align: right
.value
  +inline-block
  padding: $padding 0
  font-size: $height
  width : 341px
.new_orders
  padding-bottom: $padding+8px
  .value
    text-align: left
    width: 341px
.get_notice
  padding: $padding+8 0
  .val
    text-align: left
    width: 341px
    div
      +inline-block
    .notice_sms_checkbox
      padding-right: 10px
    .notice_email_checkbox
      padding-left: 10px
.callback
  padding: $padding+8px 0 $padding
  .callback_toggle, .callback_comment
    text-align: left
    width: 341px
  .callback_comment
    padding-top: 10px
.old_email, .old_phone_number
  padding: $padding 0
  .text
    text-align: left
    width: 341px
    font-size: 20px

.new_orders, .get_notice, .callback, .old_email, .old_phone_number
  color: #757575
  div
    +inline-block
  .title
    padding-right: 30px

//- --------------------- line ----------------------------------------
$font_size_line: 20px       //because in child separate line have font_size: 18px
.line_box
  margin: 23px 0 5px 0
  height: $font_size_line
  .line
    position: absolute
    width: 100%



//- ------------ BUTTONS -----------------------------

.save_block, .change_block
  height: 33px
  padding: $padding 0
  .button
    +inline-block
    height: 100%

//TODO: optimize code in jade and sass with mixin
