@import compass/css3
$padding: 7px
$height: 37px
main
  //text-align: right
.value
  padding: $padding 0
  height: $height
.new_orders
  padding-bottom: $padding+8px
  //div
    +inline-block
  //.title
    padding-right: 30px
  .value
    text-align: left
    width: 349px
.get_notice
  padding: $padding+8 0
  //div
    +inline-block
  .val
    text-align: left
    width: 349px
    div
      +inline-block
    .notice_sms_checkbox
      padding-right: 10px
    .notice_email_checkbox
      padding-left: 10px
  //.title
    padding-right: 30px
.callback
  padding: $padding+8px 0 $padding
  //div
    +inline-block
  .callback_toggle, .callback_comment
    text-align: left
    width: 349px
  //.title
    padding-right: 30px
.old_email, .old_phone_number
  padding: $padding 0
  //div
    +inline-block
  //.title
    padding-right: 30px
  .text
    text-align: left
    width: 349px
    font-size: 20px
    color: rgb(0, 0, 0)

.new_orders, .get_notice, .callback, .old_email, .old_phone_number
  div
    +inline-block
  .title
    padding-right: 30px

//- --------------------- TITLE BLOCK ----------------------------------------

$backgroundText: #ffffff
.title_block
  text-align: left
  overflow: hidden
  position: relative
  div
    +inline-block
  .title
    position: relative
    z-index: 1
    background: $backgroundText
    font-size: 18px
    color:     #757575
  .line
    position: absolute
    left: 0
    top: 50%
    right: 0
    height: 2px
    +box-shadow(0px 1px 0px rgba(0,0,0,0.27) inset)
    background: #cad2d8
    opacity: 0.4


//- ------------ BUTTONS -----------------------------

.save_block, .change_block
  height: 33px
  padding: $padding 0
  .button
    +inline-block
    height: 100%

//TODO: optimize code in jade and sass with mixin