//width variables
$width_left_menu: 236px
$width_content: 778px
$background_white:  #ffffff

main
  height: 100%
  max-width: 1014px
  min-width: 900px
  margin: auto
.container
  position: relative
  width: 100%
  min-height: 100%
  overflow: hidden
  box-shadow: 0 0px 3px rgba(0,0,0,0.3),0 0 5px rgba(0,0,0,0.1)
  .header
    position: relative
    height: 100px
    width: 100%
    background: $background_white
    box-shadow: 0px 6px 6px rgba(0,0,0,0.16)
    z-index: 1
  .center_block
    position: relative
    overflow: hidden
    margin-bottom: 100px
    .content
      min-width: $width_content
      margin-left: $width_left_menu
      .filter_block
      .subject_panel
      .search_diagram
      .chose_tutor_block
      .chose_search_block
  .footer
    height: 100px
    width: 100%
    position: absolute
    bottom: 0
    background: #E2E7EC