$dialog_bg: #e5e5e5

.lp_custom
  padding-top: 120px
  padding-bottom: 240px
  h4
    font-size: 1.6rem
    margin: 2.667rem 0

#character
  position: fixed
  width: 240px
  height: 414px
  background: url(F('/lp/lesson-character.jpg'))

.dialog_block
  background-color: $dialog_bg
  text-align: center
  padding: 45px
  position: relative
  border-radius: 3px
  p
    font-size: 20px
    margin: 0
  &:before
    display: block
    content: ''
    border: solid
    border-width: 10px 20px 10px 20px
    border-color: transparent $dialog_bg transparent transparent
    position: absolute
    top: 20%
    right: 100%

.container-fish
  min-height: 150px
  background-color: #eeeeff
  margin-bottom: 1.5rem
  box-sizing: border-box
  padding: 1rem
  border-radius: 3px
  &:last-child
    margin-bottom: 0