@import variables

$dialog_bg: #e5e5e5
$animation-happy-01:    0 0
$animation-happy-02:    10% 0
$animation-sad-01:      20% 0
$animation-sad-02:      30% 0
$animation-hello-01:    40% 0
$animation-hello-02:    50% 0
$animation-hello-03:    60% 0
$animation-good-01:  70% 0
$animation-default-01:  80% 0

.lp_custom
  padding-top: 40px
  padding-bottom: 140px
  @media #{$medium-and-down}
    //padding-top: 60px
    padding-bottom: 60px
  @media #{$small-and-down}
    padding-top: 20px
    padding-bottom: 60px
  h1
    font-size: 2.8rem
    margin: 2.6rem 0 2.5rem
    @media #{$small-and-down}
      font-size: 2.4rem
      margin-top: 0
  h2
    font-size: 2.4rem
    margin: 2.2rem 0 1rem
    @media #{$small-and-down}
      font-size: 1.8rem
      margin: 2rem 0 1rem
  h3
    font-size: 2.4rem
    margin: 0 0 1.8rem 0
    @media #{$small-and-down}
      font-size: 1.8rem
      margin: 0 0 1rem 0
      font-weight: 700
  h4
    font-size: 1.6rem
    margin: 0 0 1.5rem
    @media #{$small-and-down}
      margin: 0 0 1rem
  p
    @media #{$small-and-down}
      margin-top: 0.7rem
      padding-right: 0.1rem
  .pinned
    top: 20%
    @media #{$large-and-up}
      top: 20%
    @media #{$medium-and-down}
      top: 20%

#character
  background: url(F('/lp/char-sprite-six.png')) no-repeat $animation-default-01
  background-size: cover
  font-size: 0
  line-height: 0
  animation-name: char-animation
  animation-duration: 2s
  animation-timing-function: steps(1)
  animation-iteration-count: 2

  img
    @media #{$large-and-up}
      max-width: auto
      width: 100%

@keyframes char-animation
  0%
    background-position: $animation-hello-01
  5%
    background-position: $animation-hello-02
  10%
    background-position: $animation-hello-03
  15%
    background-position: $animation-hello-02
  20%
    background-position: $animation-hello-01
  25%
    background-position: $animation-hello-02
  30%
    background-position: $animation-hello-03
  35%
    background-position: $animation-hello-02
  40%
    background-position: $animation-hello-01
  45%
    background-position: $animation-hello-02
  50%
    background-position: $animation-hello-03
  55%
    background-position: $animation-hello-02
  60%
    background-position: $animation-hello-01
  65%
    background-position: $animation-hello-02
  70%
    background-position: $animation-hello-03
  75%
    background-position: $animation-hello-02
  80%
    background-position: $animation-hello-01
  85%
    background-position: $animation-hello-02
  90%
    background-position: $animation-hello-03
  95%
    background-position: $animation-hello-02
  100%
    background-position: $animation-default-01


.dialog_block
  background-color: $dialog_bg
  text-align: center
  padding: 45px
  position: relative
  border-radius: 3px
  @media #{$small-and-down}
    position: relative
    &:after
      content: ''
      display: block
      width: 35px
      height: 35px
      background: url(F('/lp/lesson-character-avatar.png')) no-repeat 0 0
      background-size: cover
      top: 15px
      left: 15px
      position: absolute
    &.text-dialog
      &:after
        top: 18px
    .left-padding
      padding-left: 50px
  @media #{$medium-and-down}
    padding: 15px
    padding-bottom: 10px
  p
    font-size: 20px
    margin: 0
    margin-bottom: 1rem
    //&.form_p
    @media #{$small-and-down}
      font-size: 16px

  &:before
    display: block
    content: ''
    border: solid
    border-width: 10px 20px 10px 20px
    border-color: transparent $dialog_bg transparent transparent
    position: absolute
    top: 20%
    right: 100%

.container-fish
  min-height: 150px
  background-color: #eeeeff
  margin-bottom: 1.5rem
  box-sizing: border-box
  padding: 1rem
  border-radius: 3px

.step_one
  padding-bottom: 15px
  p
    font-size: 1.6rem
    &:first-of-type
      margin-bottom: 0
  @media #{$medium-and-down}
    padding: 25px
    padding-bottom: 15px
  h3
    font-size: 1.4rem
    margin-bottom: 0
    color: #757575
    @media #{$medium-and-down}
      font-size: 1.6rem
.tutors_list
  margin-bottom: 3rem
  @media #{$small-and-down}
    margin-bottom: 2.3rem
    opacity: 1
.step_two
  opacity: 0
  .row
    margin-bottom: 0
  @media #{$small-and-down}
    opacity: 1
.seo_text
  opacity: 0
  @media #{$small-and-down}
    opacity: 1
.step_three
  opacity: 0
  @media #{$small-and-down}
    opacity: 1
.any_devices
  .tutors_list
    opacity: 1 !important
  .step_two
    opacity: 1 !important
  .seo_text
    opacity: 1 !important
  .step_three
    opacity: 1 !important

//selected teachers
.selected-teachers
  background-color: #ffffff
  position: fixed
  z-index: 30
  bottom: 0
  left: 0
  right: 0
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12)
  padding: 0.5rem 0 0 0
  @media #{$small-and-down}
    padding: 0
  .row
    margin-bottom: 0.4rem
    @media #{$small-and-down}
      margin-bottom: 0
      position: relative
  .chip
    margin-right: 0.5rem
  ul
    margin: 0
    padding: 0
    @media #{$small-and-down}
      padding: 1rem 0
    li
      list-style: none
      margin-right: 0.5rem
      @media #{$small-and-down}
        margin-bottom: 0.5rem
      display: inline-block
      &:last-of-type
        margin-right: 0
.tutors-overflow
  white-space: nowrap
  overflow: auto
  height: 50px
  @media #{$small-and-down}
    white-space: normal
    height: auto

.mobile-top
  @media #{$small-and-down}
    position: absolute
    top: -1rem
    right: 0

#m-tutor-forms-input > label > div.level2
  font-size: 37px !important

.slider
  width: auto

.show_select_rep
  white-space: nowrap
  span
    border-bottom: 1px dashed #2196F3
  cursor: pointer
  padding: 0.5rem 0

.hidden_rep_list
  @media #{$small-and-down}
    display: none

.hidden
  display: none
#m-main-attached_panel-bar-tutor_smallest
  .prep
    .block_prep
      a.photo_box
        @media #{$medium-and-down}
          //width: 40px
          height: 40px
          overflow: hidden
      .rem
        @media #{$medium-and-down}
          opacity: 1 !important
          right: -40px
          top: 0
          width: 40px
          height: 40px

//popup
.popup
  .text_box
    @media #{$small-and-down}
      height: auto !important
      padding-bottom: 0 !important
      margin-bottom: 2rem
  .close_button
    display: none
    @media #{$small-and-down}
      display: block
      position: fixed
      top: 1rem
      right: 1rem
      z-index: 20
      cursor: pointer
  @media #{$small-and-down}
    width: auto !important
    margin-top: 0 !important
    margin-bottom: 2rem !important
  .step
    @media #{$small-and-down}
      margin-bottom: 0 !important
      &.subject
        margin-bottom: 1rem !important
  h1
    @media #{$small-and-down}
      font-weight: 700
      margin-top: 1rem !important
      margin-bottom: 0.5rem !important
  h2
    @media #{$small-and-down}
      margin-top: 0 !important
  .content
    @media #{$small-and-down}
      padding: 0.5rem 1rem  3rem !important
  .icon
    @media #{$small-and-down}
      display: none
  .contents
    @media #{$small-and-down}
      margin: 0 !important
      padding: 0 !important
