.container
  #character СуперВася

  .row
    .col.l8.offset-l4
      .dialog_block
        .triangle
        p Здравствуйте! Меня зовут Василий.
        p Я помогу Вам выбрать подходящего репетитора.
      h4 Репетиторы по математике: