.container.lp_custom
  //.top-form!=top_form
  .row
    .col.l2.m2.pinned.js-charset
      #character.hide-on-small-only
        img(src=F('lp/charset-opacity.gif')).responsive-img
    .col.l9.m9.offset-l3.offset-m3
      .dialog_block.js-step_one.hide-on-small-only
        p.left-align Здравствуйте! Меня зовут Василий.
        p.left-align Я помогу Вам выбрать подходящего репетитора.
        h3.left-align Оставьте заявку:
        .row
          .input-field.col.l12.m12.s12
            input(type='text')#name.validate
            label(for='name', data-error="wrong", data-success="right") Имя
        .row
          .input-field.col.l12.m12.s12
            input(type='tel')#phone.validate
            label(for='phone', data-error="wrong", data-success="right") Телефон
        .row
          .col.l12.m12.s12
            button(type='submit', name='form_submit').btn-large.waves-effect.waves-light Отправить
              i.material-icons.right send
      .js-tutors_list
        h4 Репетиторы:
        each tutor in tutors
          !=tutor
      .dialog_block.js-step_two
        .row
          .col.l8.m12.s12
            p Вы знали, что у нас есть ещё  666 репетиторов по высшей математике?
          .col.l4.m12.s12
            a.waves-effect.waves-light.btn-large(href='#') Перейти
      .row
        .col.l12.m12.s12.js-seo_text
          h4 Подготовка по олимпиаде Ломоносова
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostruSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neququi dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
      .dialog_block.js-step_three
        h3 Помочь Вам?
        p.form_p Заполните эти поля и в течении 5 минут Вам позвонит наш специалист и поможет Вам с подбором репетитора.
        .row
          .input-field.col.l12.m12.s12
            i.material-icons.prefix account_circle
            input(type='text')#icon_prefix.validate
            label(for='icon_prefix', data-error="wrong", data-success="right") Имя
        .row
          .input-field.col.l12.m12.s12
            i.material-icons.prefix phone
            input(type='tel')#icon_telephone.validate
            label(for='icon_telephone', data-error="wrong", data-success="right") Телефон
        .row
          .col.l12.m12.s12
            button(type='submit', name='submit_form').btn-large.waves-effect.waves-light Отправить
              i.material-icons.right send
.selected-teachers.z-depth-4
  .container
    .row
      .col.s12.l7.m6.tutors-overflow
        .chip
          img(src='https://lessonhome.ru/file/5453ab9948/user_data/images/323e35c6f4l.jpg')
          i.material-icons close
        .chip
          img(src='https://lessonhome.ru/file/f46da49a1e/user_data/images/7c68d58025l.jpg')
          i.material-icons close
        .chip
          img(src='https://lessonhome.ru/file/5453ab9948/user_data/images/323e35c6f4l.jpg')
          i.material-icons close
        .chip
          img(src='https://lessonhome.ru/file/f46da49a1e/user_data/images/7c68d58025l.jpg')
          i.material-icons close
        .chip
          img(src='https://lessonhome.ru/file/5453ab9948/user_data/images/323e35c6f4l.jpg')
          i.material-icons close
      .col.s4.m6.l5.right-align.hide-on-small-only
        ul
          li
            span.btn-floating.blue.center-align 5
          li
            a.btn-floating.waves-effect.waves-light.red
              i.material-icons delete
          li
            button(type='submit', name='submit_form').btn.waves-effect.waves-light Оформить