.container
  .row
    #character СуперВася
    .col.l8.offset-l4
      p 2
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 2
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1