@import compass/css3
$margin_top: 15px
$b_color: #dfe1e4
$icon_src: 'close_time.png'
$icon_height: image-height($icon_src)
$icon_width: image-width($icon_src)
.calendar_box
  +inline-block
  vertical-align: top
  text-align: left
  font-size: 20px
  .choose_all
    margin-bottom: $margin_top
    color: #757575
  .calendar_week
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.14)
    +inline-block
    +border-radius(4px)
    background-color: $b_color
    color: #a1a1a1
    div
      float: left
      cursor: pointer
  .calendar_week:after
    content: ""
    display: block
    clear: both
  .show-hidden-block
    .time_box
      margin-top: $margin_top
      padding: 10px 5px
      position: relative
      +border-radius(4px)
      background-color: $b_color
      div
        +inline-block
      .from_time, .till_time
        height: 33px
        font-size : 33px
        width : 72px
      .dash
        padding: 0 4px
      .add_time_button
        position: absolute
        height: 100%
        top: 0
        right: 0
  .error
    color: red
    font-size: 16px
    padding: 0.3em
  .save_button
    margin-top: 15px
    height: 33px
    float: left
    text-align: left
.tags
  +inline-block
  padding: 32px 0 0 35px
  .tag
    padding: 6px 0
    .tag_box
      +inline-block
      height: 25px
      overflow: hidden
      background-color: #dadada
      border: 1px solid rgba(0,0,0,0.1)
      box-sizing: border-box
      +border-radius(4px)
      .day_box
        text-align: center
        background: #aacceb
        width: 40px
      .time_box
        padding: 0 10px 0 6px
        .time
          div
            +inline-block
            margin: 0 2px
      .day_box, .time_box
        height: 100%
        +inline-block
      .day_box, .time_box
        .day, .time
          +inline-block
          font-size: 14px
          color: #4e4e4e
      .close_box
        width: $icon_width
        height: $icon_height
        padding: 3px
        margin-right: 6.5px
        cursor: pointer
        +inline-block
        background: #ffffff
        opacity: 0.5
        .close
          height: 100%
          width: 100%
          background: url(F($icon_src)) no-repeat
      .close_box:hover
        opacity: 0.9
      .day_box:after, .time_box:after
        content: ''
        height: 100%
        +inline-block

    .tag_box:hover
      background: #e0e0e0
      border: 1px solid rgba(0,0,0,0.3)
      .day_box
        background: #b1d2f2
      .day_box, .time_box
        .day, .time
          color: #000000

.tag
  padding: 6px 0
  display: none

//////////////////// advance filter ////////////////


.advance_filter
  width: 235px
  .calendar_week
    div
      padding: 3px 5px 8px 5px
    .monday
      padding-left: 10px
    .sunday
      padding-right: 11px
  .js-show-hidden-block
    .time_box
      padding: 6px 8px


////////////----------active-------------/////////////
.calendar_box
  .calendar_week
    div:hover
      background: #cecece
  .calendar_week
    div.active
      background: #ff7c6f
      color: #ffffff


