@import compass/css3
main
  height : 100%
  overflow: hidden
  text-align: center
  line-height: 100px

.logo
  height: 100%
  float: left
  padding: 0 60px 0 40px

.icons
  height: 100%
  float: left

.right_box
  float: right
  margin: 0 6% 0 0
  height: 100%
  overflow: hidden


  .back_call
    height: 100%
    float: left
    width: 145px
    line-height: normal

  .button_in
    width: 90px
    height: 100%
    float: left
    margin: 0 0 0 50px


.top_menu
  overflow: hidden
  height: 100%