.enter_block
  form.js-form.check_in_fields.unselect(action="/form/tutor/login" method="post" name="login")
    input.js-submit(type='submit')
    .login
      .input!= login
    .password
      .input!= password
    .text_block
      a(href = '/forgot_password').forgot_password Забыли пароль?
      a(href = '/main_tutor').reg Регистрация
    .buttons
      .enter_button!=enter_button
