.first-screen
  .container.first-screen_padding
    .row
      .col.s6.m6.l6
        h1.primary_title Изучайте английский с правильным преподавателем
        h2.secondary_title Мы подберем его для Вас, бесплатно
.advantages-screen
  .container.center-align.screen__padding
    .row.adv_row-margin
      .col.s4.m4.l4
        i.icon_simulation
        .advantages_text Только проверенные мастера своего дела
      .col.s4.m4.l4
        i.icon_simulation
        .advantages_text Занятия по skype, у Вас или у преподавателя
      .col.s4.m4.l4
        i.icon_simulation
        .advantages_text Точный подбор по Вашим критериям, от обучения азам до подготовки к IELTS
    .row.adv_row-margin
      .col.s4.m4.l4
        i.icon_simulation
        .advantages_text Подберем репетитора за 2 часа
      .col.s4.m4.l4
        i.icon_simulation
        .advantages_text Оплата только по факту проведенного занятия
      .col.s4.m4.l4
        i.icon_simulation
        .advantages_text Подбор совершенно бесплатен
.your-tutor-screen.screen__border!=tutor_target
.what-work
  .container
    .row
      .col.s12.title
        h2 Как мы работаем
      .ww-content
        .col.s12.m4.l4
          .ww-icons
            i.icon-howwework1
          .ww-text Оставьте заявку
        .col.s12.m4.l4
          .ww-icons
            i.icon-howwework2
          .ww-text С вами свяжется администратор, уточнит подробности
        .col.s12.m4.l4
          .ww-icons
            i.icon-howwework3
          .ww-text Вы знакомитесь с репетитором и занимаетесь

