mixin info_line (title, value)
    li
        .title= title
        .value= value
.personal_data
    h3!= name
    ul
        +info_line('город :', 'москва')
        +info_line('дата рождения :', '11.11.11')
        +info_line('место учебы :', 'студент')
    .black-line