.personal_data
  h3
    padding-left : 5%

  .black-line
    width : 75%
    height : 2px
    background-color : rgba(0, 0, 0, 0.66)
    margin-left : 5%

  ul
    padding-left : 5%
    width : 100%
    li
      list-style-type : none
      margin-bottom : 7px
      .title
        width : 20%
        float : left
        margin-right : 10%