.first_screen
  background: transparent url(F('/lp/landing_screen/english_ege_01.jpg')) no-repeat center
  background-size: cover
  //height: 60rem
  padding: 8rem 0 6rem
.m-ff-title
  font-size: 2.4rem
  margin: 0
  padding: 0
  color: #fff
  text-transform: uppercase
  line-height: 4rem
  text-shadow: 0 3px 3px rgba(0,0,0,0.7)
  span
    color: #ffa83a
.m-field_btn
  width: 100%
.m-succes-btn
  width: 100%
  white-space: normal
  overflow: hidden
  line-height: 130%
  padding-top: 0.6rem
  text-transform: none
  position: relative
  text-align: left
  i.m_icon
    position: absolute
    right: 1rem
    top: 1rem
.m-form_body
  background-color: #fff
  padding: 1.8rem 1.8rem 1.8rem 1.5rem
  position: relative
  &:before
    content: ''
    display: block
    height: .4rem
    background-color: #fa9c26
    position: absolute
    left: 2rem
    right: 2rem
    top: 0
    border-radius: 0 0 .4rem .4rem
  &:after
    content: ''
    display: block
    height: .4rem
    background-color: #fa9c26
    position: absolute
    left: 2rem
    right: 2rem
    bottom: 0
    border-radius: .4rem .4rem 0 0
.m-fb_h2, .m-fb_h3
  color: #808080
  margin: 0
  padding: 0
  text-align: center
.m-fb_h2
  font-size: 1.6rem
  margin-bottom: .5rem
.m-fb_h3
  font-size: 1.4rem
.more_tutors
  background-color: #fa9c26
  color: #ffffff
  padding: 1.4rem 0
  text-align: center
.m-mt_text
  font-size: 2rem
  span, a, i
    display: inline-block
    vertical-align: middle
  a
    font-size: 0
    line-height: 0
    border: 3px solid #fff
    border-radius: 3px
    padding: 1rem 2.333rem
  i
    margin: 0 1.5rem 0 1rem
    font-size: 3rem
