@import variables

.parallax-container
  height: 1000px

.first_screen
  background-size: cover
  background-repeat: no-repeat
  padding: 8rem 0 4rem
  background-attachment: fixed
  position: relative
  .container
    position: relative
    z-index: 2
  @media #{$medium-and-down}
    padding-top: 6rem
    padding-bottom: 2rem
  @media #{$small-and-down}
    background-size: auto
  &.shadow_screen
    &:after
      content: ''
      display: block
      position: absolute
      z-index: 1
      left: 0
      top: 0
      bottom: 0
      right: 0
      background-color: rgba(0,0,0,.3)
  &.dotted_pattern
    &:after
      content: ''
      display: block
      position: absolute
      z-index: 1
      left: 0
      top: 0
      bottom: 0
      right: 0
      background-image: url(F('/lp/dotted_pattern_small.gif'))
      background-repeat: repeat
      background-attachment: fixed
.m-ff_title
  font-size: 1.8rem
  margin: 0
  padding: 0
  color: #fff
  text-transform: uppercase
  line-height: 3rem
  text-shadow: 0 3px 3px rgba(0,0,0,0.7)
  span
    font-size: 2.4rem
    color: #ffa83a
    display: inline-block
    margin-bottom: 1rem
    font-weight: 500
    white-space: nowrap
  @media #{$small-and-down}
    span
      font-size: 2rem
      white-space: normal
  &.color_orange
    span
      color: #ffa83a
.m-custom_title
  .custom_title
    h1
      display: inline-block
      position: absolute
      z-index: 2
      top: 2rem
      font-size: 2.4rem
      line-height: 140%
      span
        font-size: 3rem
    &.right_title
      h1
        left: 33.33333%
        margin-left: 5rem
    &.left_title
      h1
        left: 0
        margin-right: 5rem
.m-field_btn
  width: 100%
.m-succes-btn
  width: 100%
  white-space: normal
  overflow: hidden
  line-height: 130%
  padding-top: 0.6rem
  text-transform: none
  position: relative
  text-align: left
  padding-left: 4.5rem
  cursor: default
  box-shadow: none
  height: auto
  padding-bottom: .5rem
  &:hover
    box-shadow: none
  i.m_icon
    position: absolute
    left: 1.5rem
    top: 1rem
.m-form_body
  background-color: #fff
  padding: 1.8rem 1.8rem 1.8rem 1.5rem
  position: relative
  border-radius: 3px
  border: 1px solid rgba(0,0,0,0.08)
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.06)
  &:before
    content: ''
    display: block
    height: .4rem
    background-color: #fa9c26
    position: absolute
    left: 2rem
    right: 2rem
    top: 0
    border-radius: 0 0 .4rem .4rem
  &:after
    content: ''
    display: block
    height: .4rem
    background-color: #fa9c26
    position: absolute
    left: 2rem
    right: 2rem
    bottom: 0
    border-radius: .4rem .4rem 0 0
.m-success
  background-color: #fff
  padding: 1.8rem 1.8rem 1.8rem 1.5rem
  position: relative
  border-radius: 3px
  border: 1px solid rgba(0,0,0,0.08)
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.06)
  &:before
    content: ''
    display: block
    height: .4rem
    background-color: #fa9c26
    position: absolute
    left: 2rem
    right: 2rem
    top: 0
    border-radius: 0 0 .4rem .4rem
  &:after
    content: ''
    display: block
    height: .4rem
    background-color: #fa9c26
    position: absolute
    left: 2rem
    right: 2rem
    bottom: 0
    border-radius: .4rem .4rem 0 0
  h5
    color: #555
    margin: 0 0 1rem
    &.title_one
      margin-top: 1rem
      text-align: center
      color: #fa9c26
      font-size: 1.6rem
      font-weight: 500
      line-height: 140%
    &.title_two
      font-size: 1.4rem
      font-weight: 300
      line-height: 140%
      margin-bottom: 2rem

.m-fb_h2, .m-fb_h3
  color: #808080
  margin: 0
  padding: 0
  text-align: center
.m-fb_h2
  font-size: 1.6rem
  margin-bottom: .5rem
.m-fb_h3
  font-size: 1.4rem
.m-fb_italic
  font-style: italic
  font-weight: 300
  font-size: 1.15rem
  color: #575757
  margin-bottom: .8rem

.tutors_cards
  padding: 5rem 0 4rem
  @media #{$medium-and-down}
    padding: 2rem 0 1rem
  .container
    h2
      padding: 0
      margin: 0 0 5rem
      position: relative
      text-align: center
      font-size: 2.467rem
      font-weight: 300
      color: #333333
      @media #{$small-and-down}
        margin-bottom: 3.5rem
        font-size: 2rem
      &:after
        content: ''
        display: block
        height: 2px
        width: 4.267rem
        position: absolute
        left: 50%
        margin-left: -2.1335rem
        bottom: -1rem
        background-color: #ff8b38

.m-inline_grid
  .col
    display: inline-block
    float: none
    vertical-align: top

.more_tutors
  background-color: #fa9c26
  color: #ffffff
  padding: 1.4rem 0
  text-align: center
  box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.16),inset 0 2px 10px 0 rgba(0,0,0,0.12)
.m-mt_text
  font-size: 1.8rem
  @media #{$medium-and-down}
    font-size: 1.6rem
    span
      display: block !important
  span, a, i
    display: inline-block
    vertical-align: middle
  a
    font-size: 0
    line-height: 0
    border: 2px solid #fff
    border-radius: 3px
    padding: 1rem 2.333rem
    background-color: #fa9c26
    @media #{$medium-and-down}
      padding: 0.5rem 1rem
      margin-top: 1rem
    &:hover
      background-color: #ef9525
      box-shadow: 0 5px 12px 0 rgba(0,0,0,0.16),0 5px 15px 0 rgba(0,0,0,0.12) 
  i
    margin: 0 1rem 0 1rem
    font-size: 3rem
    @media #{$medium-and-down}
      display: none
.bottom-form
  padding: 5rem 0
  &.bottom_form_bg
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    position: relative
    &:after
      content: ''
      display: block
      position: absolute
      z-index: 1
      left: 0
      top: 0
      bottom: 0
      right: 0
      background-color: rgba(0,0,0,.3)
      background-image: url(F('/lp/dotted_pattern_small.gif'))
      background-repeat: repeat
      background-attachment: fixed
    .m-bottom_title
      color: #fff
      font-weight: 500
      text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8)
    .container
      position: relative
      z-index: 2
  @media #{$medium-and-down}
    padding: 4rem 0
  @media #{$small-and-down}
    padding: 2rem 0
.m-bf_title
  font-size: 2.4rem
  margin: 0 0 3rem
  padding: 0 0 1rem 0
  color: #212121
  font-weight: 300
  position: relative
  @media #{$medium-and-down}
    font-size: 2rem
    margin-bottom: 2rem
  &:after
    content: ''
    display: block
    height: 2px
    width: 4.267rem
    position: absolute
    left: 0
    bottom: 0
    background-color: #ff8b38
.m-bf-list
  margin-bottom: 2rem
  padding-left: 4.533rem
  background: transparent url(F('lp/list_orange_punkt.png')) no-repeat 0 8px
  @media #{$medium-and-down}
    background: none
    padding-left: 0
    margin-bottom: 1rem
  @media #{$small-and-down}
    background: transparent url(F('lp/list_orange_punkt.png')) no-repeat 0 8px
    padding-left: 4.533rem
    margin-bottom: 2rem !important
  &:last-of-type
    margin-bottom: 0
  .title
    font-size: 1.4rem
    color: #212121
    font-weight: 300
    margin-bottom: .5rem
  .text
    font-size: 1.067rem
    color: #86878b
.m-bottom_title
  margin-top: 0
  padding-top: 0
  font-size: 3rem
  line-height: 150%
  margin-bottom: 3.2rem
  @media #{$medium-and-down}
    font-size: 2rem
    font-weight: 500

