.first_screen
  background: transparent url(F('/lp/landing_screen/english_ege_01.jpg')) no-repeat center
  background-size: cover
  //height: 60rem
  padding: 8rem 0 6rem
.m-ff-title
  font-size: 2.4rem
  margin: 0
  padding: 0
  color: #fff
  text-transform: uppercase
  line-height: 4rem
  text-shadow: 0 3px 3px rgba(0,0,0,0.7)
  span
    color: #ffa83a
.m-field_btn
  width: 100%
.m-succes-btn
  width: 100%
  white-space: normal
  overflow: hidden
  line-height: 130%
  padding-top: 0.6rem
  text-transform: none
  position: relative
  text-align: left
  padding-left: 4.5rem
  cursor: default
  &:hover
    box-shadow: none
  i.m_icon
    position: absolute
    left: 1.5rem
    top: 1rem
.m-form_body
  background-color: #fff
  padding: 1.8rem 1.8rem 1.8rem 1.5rem
  position: relative
  border-radius: 3px
  &:before
    content: ''
    display: block
    height: .4rem
    background-color: #fa9c26
    position: absolute
    left: 2rem
    right: 2rem
    top: 0
    border-radius: 0 0 .4rem .4rem
  &:after
    content: ''
    display: block
    height: .4rem
    background-color: #fa9c26
    position: absolute
    left: 2rem
    right: 2rem
    bottom: 0
    border-radius: .4rem .4rem 0 0
.m-fb_h2, .m-fb_h3
  color: #808080
  margin: 0
  padding: 0
  text-align: center
.m-fb_h2
  font-size: 1.6rem
  margin-bottom: .5rem
.m-fb_h3
  font-size: 1.4rem

.tutors_cards
  padding: 5rem 0 4rem
  .container
    h2
      padding: 0
      margin: 0 0 5rem
      position: relative
      text-align: center
      font-size: 2.467rem
      font-weight: 300
      color: #333333
      &:after
        content: ''
        display: block
        height: 2px
        width: 4.267rem
        position: absolute
        left: 50%
        margin-left: -2.1335rem
        bottom: -1rem
        background-color: #ff8b38

.more_tutors
  background-color: #fa9c26
  color: #ffffff
  padding: 1.4rem 0
  text-align: center
.m-mt_text
  font-size: 2rem
  span, a, i
    display: inline-block
    vertical-align: middle
  a
    font-size: 0
    line-height: 0
    border: 2px solid #fff
    border-radius: 3px
    padding: 1rem 2.333rem
    background-color: #fa9c26
    &:hover
      background-color: #ef9525
      box-shadow: 0 5px 12px 0 rgba(0,0,0,0.16),0 5px 15px 0 rgba(0,0,0,0.12) 
  i
    margin: 0 1.5rem 0 1rem
    font-size: 3rem
.bottom-form
  padding: 5rem 0
  .m-form_body
    border: 1px solid rgba(0,0,0,0.08)
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.06)
.m-bf_title
  font-size: 2.4rem
  margin: 0 0 3rem
  padding: 0 0 1rem 0
  color: #212121
  font-weight: 300
  position: relative
  &:after
    content: ''
    display: block
    height: 2px
    width: 4.267rem
    position: absolute
    left: 0
    bottom: 0
    background-color: #ff8b38
.m-bf-list
  margin-bottom: 2rem
  padding-left: 4.533rem
  background: transparent url(F('lp/list_orange_punkt.png')) no-repeat 0 8px
  &:last-of-type
    margin-bottom: 0
  .title
    font-size: 1.4rem
    color: #212121
    font-weight: 300
    margin-bottom: .5rem
  .text
    font-size: 1.067rem
    color: #86878b
