.first_screen
  .container
    .row
      .col.s5.m5.l5
        .m-first_form
          .row
            .col.s12
              h1.m-ff-title
                span Бесплатный подбор 
                br 
                |репетитора по
                br 
                |английскому языку
    .row
      .col.s4.m4.l4
        .row
          .m-form_body.js-form
            .row
              .col.s12
                h2.m-fb_h2 Мы сделаем все за Вас
                h3.m-fb_h3 Просто оставьте заявку
            .row
              .input-field.col.s12
                i.m_icon.icon_account_circle.prefix
                input(type='text' id='f_name', name ='name').js-name
                label(for='f_name') Имя
            .row
              .input-field.col.s12
                i.m_icon.icon_phone.prefix
                input(type='tel' id='f_phone', name='phone').js-phone
                label(for='f_phone') Телефон
            .row.fs_row-button.center-align
              .col.s12
                a.waves-effect.waves-light.btn-large.orange-btn.m-field_btn.js-attach(name='bid_podbor') Жду звонка
                  i.m_icon.icon_send.right
            .row
              .col.s12
                .btn-large.m-succes-btn.white-text.light-blue.darken-4 Мы не передаем данные<br /> третьим лицам
                  i.m_icon.icon_lock_outline
          .js-success(style="display:none")
            h5.form-title-one Заявка успешно отправлена!
            h5.form-title-two Наш менеджер свяжется с Вами в течении 10-15 минут
            .row.fs_row-button
              a.waves-effect.waves-light.btn-large.yellow-btn.js-detail Уточнить заявку
.more_tutors
  .container
    .row.no-margin-row
      .col.s12 
        .m-mt_text
          span На нашем сайте вы найдете больше репетиторов
          i.m_icon.icon_chevron_right
          a(href='/search')
            img(src=F('lp/lh_white.png'))
