@import compass/css3
main
  height: 100%
  cursor: pointer
.button_box
  height: 100%
  .button
    height: 100%
    +inline-block
    +border-radius(4px)
    background-color: #f07b6f
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 3px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset
    .text
      margin-top: -3px
      +inline-block
      color: #ffffff
  .button:after
    content: ''
    +inline-block
    height: 100%

//////////////// function //////////////
=selector($selector,$padding_text,$font_size)
  .button_box.#{$selector}
    .button
      .text
        padding: 0 $padding_text
        font-size: $font_size


/////////////plus////////////////
+selector(plus,11px,30px)
.plus
  font-weight: 600

/////////////////////
+selector('edit_add', 11.5px, 20px)



////////////////  actions  ////////////////
.button_box:hover
  .button
    background-color: #ffb1a8
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset

.press,.press:hover
  padding-top: 1px
  box-sizing: border-box
  .button
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset
