main
  overflow   : hidden
  text-align : center

.title
  margin-top    : 48px
  margin-bottom : 10px
  line-height   : 33,768px
  font-size     : 28.14px
  color         : rgb(0, 0, 0)
  font-family   : 'Open Sans', sans-serif

.hint
  margin-bottom : 28px
  font-size     : 18.09px
  color         : #757575
  font-family   : 'Open Sans', sans-serif
