main
  height: 100%
  position: relative
  top: 50%
  margin-top: -0.75em
  margin-left: 8%
  
div > a
  text-decoration : none
  background: #E1E3E5
  padding: 5px
  border-radius: 5px

div
  float: left
  font-size: 1.5em
  margin-left: 5px

.active a
  background : #29c5e6
  color : #fff

div > a:hover
  background-color : #29c5e6








