$headerText: 1.5em
$hoverColor : #ff949b
$activeColor : #ed645e
$textColor : #4b5e6e
main
  height: 100%

a > div
  font-size: $headerText
  position: relative
  top: 50%
  margin-top: -($headerText/2)
a
  float: left
  padding: 0 10px
  height: 100%
  text-decoration : none
  color : $textColor

a.active
  color : $activeColor

a.passive:hover div
  color : $hoverColor








