$headerButton: 1.5em
$paddingButton: 0.2em
main
  height: 100%

a > div
  background: #E1E3E5
  padding: $paddingButton
  border-radius: 5px
  font-size: $headerButton
  position: relative
  top: 50%
  margin-top: -(($headerButton+$paddingButton)/2)
  color : #fff

a
  float: left
  padding: 0 10px
  height: 100%
  text-decoration : none

a .active
  background : #29c5e6

a:hover div
  background-color : #29c5e6








