@import compass/css3

$red : 29px
$blu : 58px

.hint.horizontal, .hint.vertical, .hint.horizontal_hide_ability
  .question_sign_block
    background : inline-image('hint.png') no-repeat
    height : 64px
    width  : 64px

  .header, .text
    overflow : hidden
    font-family : 'Open Sans', sans-serif

  .header
    font-size: 24px

  .text
    padding-top : 10px
    font-size : 16px
    line-height : 1.5

  .top_block
    display : none

/*---------------------------------*/
.hint.horizontal, .hint.horizontal_hide_ability
  .question_sign_block
    float : left

  .header, .text
    padding-left : $red
    text-align : left


/*---------------------------------*/

.hint.horizontal_hide_ability
  .top_block
    display : block
    text-align : right
    .hide_button
      .icon, .text
        +inline-block
      .icon
        background : inline-image('falldown_triangle2.png') no-repeat
        width        : 13px
        height       : 12px
        margin-right : 7px
      .text
        font-size   : 16px
        font-family : 'Open Sans', sans-serif
  .text
    padding-top : 0
/*--------------------------------*/

.hint.small
  .sign
    width  : 18px
    height : 18px
    border-radius       : 50%
    box-shadow          : 0px 1px 3px 0px rgba(10, 11, 12, 0.26)
    background          : inline-image('small_question_sign.png') no-repeat
    background-position : center
    background-color    : rgb( 242, 238, 238 )


  .question_sign_block
    margin : 0 auto 20px auto

    .question_sign_block, .header, .text
      width : 80%
      margin : auto

    .question_sign_block
      height : 64px
      background : url(F('hint.png')) no-repeat

    .header

      margin-top : 19px
      margin-bottom : 10px

      font-weight : bold
      font-size : 1.6em

    .text
      font: 12px "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif
      color : #777
