@import compass/css3

$triangle_down_src: 'main/triangle_down.png'
$triangle_right_src: 'triangle-6x7-closed.png'
$icon_right_height: image-height($triangle_right_src)
$icon_right_width: image-width($triangle_right_src)
$icon_down_height: image-height($triangle_down_src)
$icon_down_width: image-width($triangle_down_src)


$red: 29px
$blu: 58px

.hint.horizontal, .hint.vertical
  .question_sign_block
    background: url(F('hint.png')) no-repeat
    height: 64px
    width: 64px

  .header, .text
    overflow: hidden

  .header
    font-size: 24px

  .text
    padding-top: 10px
    font-size: 16px
    line-height: 1.5

  .top_block
    display: none

/*---------------------------------*/
.hint.horizontal
  .question_sign_block
    float: left

  .header, .text
    text-align: left
  .header
    padding-left: 19px
    padding-top: 6px
  .text
    padding-left: 19px


.hint.horizontal
  .header, .text
    color: rgb(0, 0, 0)
  .header
    font-size: 20px
  .text
    font-size: 16px
    line-height: 24px
    padding-top: 0px



/*---------------------------------*/

.hint.horizontal_hide_ability
  .top_block
    display: block
    text-align: right
    .hide_block
      text-align: right
      .button
        +inline-block
        cursor: pointer
        .icon, .text
          +inline-block
        .icon
          //-background: url(F('falldown_triangle3.png')) no-repeat
          width: $icon_right_width
          height: $icon_down_height
          margin-right: 9px
        .text
          width: 75px
          text-align: left
          font-size: 16px
          vertical-align: top
      .button.open>.icon
        background: url(F($triangle_down_src)) no-repeat
      .button.closed>.icon
        background: url(F($triangle_right_src)) no-repeat
  .bottom_block
    .text
      padding-top: 0
      padding-left: 46px
      font-size: 16px
      line-height: 24px


    .question_sign_block
      float: left
      background: url(F('hint.png')) no-repeat
      height: 64px
      width: 64px

    .text
      overflow: hidden
      text-align: left
      font-family: 'Open Sans', sans-serif


/*--------------------------------*/

.hint.small
  position: relative
  text-align: center
  cursor: pointer
  .sign
    width  : 18px
    height : 18px
    border-radius       : 50%
    box-shadow          : 0px 1px 3px 0px rgba(10, 11, 12, 0.26)
    background          : url(F('small_question_sign.png')) no-repeat
    background-position : center
    background-color    : rgb( 243, 243, 243 )


  .question_sign_block
    margin: 0 auto 20px auto

    .question_sign_block, .header, .text
      width: 80%
      margin: auto

    .question_sign_block
      height : 64px
      background : url(F('hint.png')) no-repeat

    .header

      margin-top: 19px
      margin-bottom: 10px

      font-weight: bold
      font-size: 1.6em

    .text
      font: 12px "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif
      color: #777

  .field
    position: absolute
    top: 0px
    left: 23px
    width: 245px
    background-color: rgb( 243, 243, 243 )
    box-shadow: 2.487px 1.678px 3px 0px rgba(10, 11, 12, 0.13)
    .text
      position: relative
      height: 95px
      padding: 4px 0 0 9px
      box-sizing: border-box
      font-size: 16px
      line-height: 20px
      font-family: 'Open Sans', sans-serif
      color: rgb(0, 0, 0)
      .angle
        position: absolute
        top: 0
        left: -11px
        width: 11px
        height: 16px
        background: url(F('inside_out_angle.png')) no-repeat

  .field.left
    left: initial
    right: 23px
    top: -74px
    z-index: 1000
    .text
      .angle
        background: url(F('inside_out_angle_UP_LEFT.png')) no-repeat
        top: initial
        bottom: 0
        left: initial
        right: -11px

/*------------------------------------------------------*/

.hint
  .field.hidden
    display: none

.hint.vertical
  position: relative
  overflow: hidden
  box-sizing: border-box
  .text
    padding-top:   15px
    padding-right: 24px
    line-height:   20px

  .question_sign_block
    margin-top: 26px

  .separate_line
    position: absolute
    height: 100%
    width: 2px
    right: 0
    top: 0

.hint.vertical:after
  content: ''
  clear: both
  display: block

