// takes variables:
  //{selector, header, text}
// type variables
  // selector, header, text  - string
//respons
  //header, text - content
  // selector - style sass
if selector == 'small'
  .hint(class='small')
    .sign
    .field
else
  .hint(class=selector)
    .top_block
      .hide_button
        .icon
        .text скрыть
    .question_sign_block
    .header!= header
    .text!= text
    if separate_line
      .separate_line!= separate_line