@import compass/css3
main
  height: 100%
.drop_down_list.subject, .drop_down_list.tutor
  $icon_padding: 15px
  $icon_width: 26px
  $icon_height: 23px
  height: 100%
  width: 100%
  position: relative
  input
    padding: 0 (2*$icon_padding+$icon_width) 0 8px
    height: 100%
    border: 3px solid rgb(202, 211, 218)
    border-radius: 4px
    box-sizing: border-box
    background-color: rgb( 255, 255, 255 )
    width: 100%
    font-size: 20px
    color: rgb(0, 0, 0)
  .icon_box
    padding: 0 $icon_padding
    cursor: pointer
    position: absolute
    top: 0
    height: 100%
    right: 0px
    .icon
      width: $icon_width
      height: $icon_height
      position: relative
      top: 50%
      margin-top: -$icon_height / 2
      color: rgb(203, 211, 218)
      font-size: 26px
      right: 0  // use it's because default property have right not 0
      background: none
  input[placeholder]
    font-size: 24px
    color: rgb(142, 149, 156)

.drop_down_list
  input:focus
    border : 2px solid rgb( 137, 209, 255 )