// takes variables:
  //{selector, name, details}
// type variables
  //selector, name, details - string
//respons
  // type - style sass
  //name, details - content
.text_line(class=selector)
  .marker
  .name=name
  .details=details