$height : 33px

main
  width  : 110px
  height : $height
  background-color : rgb( 137, 209, 255 )
  box-shadow : 0px 1px 3px 0px rgba(9, 12, 18, 0.65)
  border-radius : 4px
  text-align    : center
  cursor        : pointer

.text
  padding-top : 7px
  box-sizing  : border-box
  height      : $height
  font-size   : 16px
  color       : #ffffff
  font-family : 'Open Sans', sans-serif

main:hover
  background-color : #a3dcff
