@import compass/css3
$font-size: 16px
$triangle_src: 'main/triangle_33x18.png'
$triangle_width: image-width($triangle_src)
$triangle_height: image-height($triangle_src)
$border_width: 1px
$color_text: #757575
main
  height: 100%
  font-size: $font-size
.visible
  position: relative
  height: 100%
  a
    +inline-block
    height: 100%
    text-decoration: none
    padding: 0 19px
    color: $color_text
    .title
      +inline-block
      font-size: 16px
    .title.active
      color: red
  .hover:hover
    .title
      color: #000000
  a:after
    content: ''
    height: 100%
    +inline-block
  .hidden
    position: absolute
    left: 50%
    top: 80px - $triangle_height
    display: none
    .box_menu
      position: relative
      left: -50%
      .triangle_box
        .triangle
          +inline-block
          width: $triangle_width
          height: $triangle_height
          background: inline-image($triangle_src) no-repeat
      .menu
        padding: 5px 15px 10px 15px
        margin-top: -$border_width
        border: $border_width solid #cccccc
        background: white
        a
          +inline-block
          height: 100%
          width: 100%
          text-decoration: none
          color: $color_text
          .title
            line-height: 32px
            font-size: 16px
.visible:hover
  .hidden
    display: block
.visible:hover a, .visible .hidden .box_menu .menu a:hover
  color: #000000
