mixin R(t)
  - t = t.replace(/\s/g, '&nbsp;')
  .title!= t
.visible
  a(href= href)
    //.icon_box
      .icon
    .title= title
  .hidden
    .triangle_box
      .triangle
    .menu
      each h,t in list
        a(href= h)
          +R(t)

