mixin R(t)
  - t = t.replace(/\s/g, '&nbsp;')
  .title!= t
- console.log( 'list',tag,$pageTag(tag) );
.visible
  a(href= href)
    .title= title
  .hidden
    .box_menu
      .triangle_box
        .triangle
      .menu
        each h,t in list
          a(href= h)
            +R(t)

