
mixin R(t)
  - t = t.replace(/\s/g, '&nbsp;')
  .title!= t
.visible
  if $pageTag(tag)
    a(href= href)
      .title.active= title
  else
    a(href= href).hover
      .title= title
  .hidden
    .box_menu
      .triangle_box
        .triangle
      .menu
        each value in list
          !=value
