mixin R(t)
  - t = t.replace(/\s/g, '&nbsp;')
  .title!= t
- console.log ($pageTag(tag),tag,$state.page_tags);
.visible
  a(href= href)
    if $pageTag(tag)
      .title.red= title
    else
      .title= title
  .hidden
    .box_menu
      .triangle_box
        .triangle
      .menu
        each h,t in list
          a(href= h)
            +R(t)

