@import compass/css3
$min_width_step:  6px
.title
  padding-bottom: 12px
  font-size: 16px
  line-height: 24px
  padding-bottom: 12px
.box_line
  overflow: hidden
  padding-bottom: 12px
  width: 100%
  .tutors
    width: $min_width_step*11
    float: left
    height: 68px
    margin-right: 6px
    border: 2px solid #ffffff
    box-sizing: border-box
    border-radius: 4px