
.title.select Прикрепленные репетиторы :
- var ind = 0;
.hidden
  .tutors!=tutors[0]


.js-list
//while tutors[ind]
  .box_line
    .tutors!= tutors[ind++]
    if tutors[ind]
      .tutors!= tutors[ind++]





