@import compass/css3
$height : 68px

main
  height : $height
  line-height : $height
  background-color : rgb( 223, 225, 228 )
  text-align : center

.text
  +inline-block
  font-size   : 20px
  color       : rgb(0, 0, 0)
  font-family : 'Open Sans', sans-serif


