@import compass/css3
main
  height: 100%
.button
  +inline-block
  height: 100%
  text-align: center
  box-sizing: border-box
  +border-radius(4px)
  background-color: rgb( 205, 205, 205 )
  cursor: pointer
  .text
    +inline-block
    padding: 0 10px
    font-size: 16px
    color: #757575

.button:after
  content: ''
  +inline-block
  height: 100%


  /////////////////// action ////////////////
.inactive
  background-color: rgb( 205, 205, 205 )
  .text
    color: #757575

.active
  background-color: rgb( 240, 123, 111 )
  .text
    color: #fff

.inactive:hover
  background-color: #ffb1a8


