main
  overflow: hidden
  margin-left: 200px

.photo1, .photo2
  overflow: hidden
  width: 192px
  height: 148px
  float: left
  margin-right: 15px
  margin-bottom: 15px
  border-radius: 12px
  box-sizing: border-box

.video
  overflow: hidden
  width: 192px
  height: 148px
  float: left
  margin-right: 15px
  margin-bottom: 15px
  border-radius: 12px
  box-sizing: border-box