mixin block (title, value)
  .block
    .title.g-font-smallTitle!= title
    .value!= value

.header.g-font-middleTitle Уточните с какими учениками Вы хотите заниматься

.hint!= hint

.select_block
  +block('Пол:', sex)
  +block('Класс:', category)
  +block('Статус:', status)

  .button_block
    .button!= button