main
  overflow : hidden


.header
  padding-left  : 50px
  margin-bottom : 55px

.hint
  width : 165px
  margin-left : 85px
  float : left

.select_block
  overflow : hidden
  padding-left : 78px

  .block
    margin-bottom : 10px

    .title
      float : left
      width : 100px

    .value
      overflow : hidden

  .button_block
    margin-top  : 25px
    width : 435px
    overflow : hidden

    .button
      float : right
