@import compass/css3

main
  overflow : hidden
  min-width : 800px

.header
  padding-left  : 50px
  margin-bottom : 55px

.hint
  width : 165px
  margin-left : 85px
  float : left

.select_block
  overflow : hidden
  +inline-block
  margin-left : 78px

  .sex, .category, .status
    overflow : hidden
    padding-bottom : 15px

    .title
      padding-right: 25px
      box-sizing: border-box
      float : right
      text-align : right

    .value
      float : right

  .status
    padding-bottom : 0

  .button_block
    margin-top  : 25px
    width : 435px
    overflow : hidden

    .button
      float : right



