main
  overflow : hidden
  margin-bottom: 50px

.header
  text-align : center
  margin-bottom : 25px

.hint
  width : 144px
  margin-left : 75px
  float : left

.select_block
  overflow : hidden
  padding-left : 78px

  .block
    margin-bottom : 10px

    .title
      float : left
      width : 100px

    .value
      overflow : hidden

  .button_block
    margin-top  : 25px
    width : 435px
    overflow : hidden

    .button
      float : right
