mixin item (value, selector)
  .box(class=selector)!=value



/////////////////////////////
.info
  .bg_box1
    +item(pupil_status, 'pupil_status')
    +item(course, 'course')
    +item(knowledge_level, 'knowledge_level')
  .bg_box2
    .text_box
      .title_price.select Цена одного занятия :
    .price_slider_bids!=price_slider_bids
    .hint!=price_hint
  .bg_box3
    +item(goal, 'goal')