mixin item (value, selector)
  .box(class=selector)!=value




.info.unselect
  +item(your_status, 'your_status')
  +item(course, 'course')
  +item(knowledge_level, 'knowledge_level')

  .text_box
    .title_price Цена одного занятия :
  .price_slider_bids!=price_slider_bids


  +item(goal, 'goal')
.hint!= hint