mixin item (value, selector)
  .box(class=selector)!=value



/////////////////////////////
.info.unselect
  .bg_box1
    +item(your_status, 'your_status')
    +item(course, 'course')
    +item(knowledge_level, 'knowledge_level')
  .bg_box2
    .text_box
      .title_price.select Цена одного занятия :
    .price_slider_bids!=price_slider_bids
  .bg_box3
    +item(goal, 'goal')