@import compass/css3
$padding: 6.5px
main
  padding-bottom: 13.5px
  padding-top: 40px
  text-align: right
.info
  +inline-block
  vertical-align: top
  width: 341px
  .box
    padding: $padding 0
  .text_box
    padding: $padding 0
    text-align: left
    .title_price
      +inline-block
      font-size: 16px
      color: #222528
  .price_slider_bids
    padding: $padding 0

.hint
  +inline-block
  text-align: left
  margin-left: 41px
  margin-right: 63px
  font-size: 24px
  letter-spacing: -1.2px
  line-height: 29px
  color: #222528