@import compass/css3
main
  height: 100%
.drop_down_list
  position: relative
  height: 100%
  width: 100%
  $icon_box_width: 26px
  input
    padding: 0 $icon_box_width 0 8px
    box-sizing: border-box
    border: 2px solid rgb( 214, 214, 214 )
    border-radius: 8px
    background-color: rgb( 255, 255, 255 )
    //outline : none
    width: 100%
    height: 100%
    font-size: 20px
    color: rgb(0, 0, 0)
  input[placeholder]
    font-size: 20px
    color: rgb(0, 0, 0)
  .icon_box
    width: $icon_box_width
    position: absolute
    top: 0
    height: 100%
    right: 0px
    cursor: pointer
    .icon
      $icon_height: 13px
      width: 15px
      height: $icon_height
      position: relative
      top: 50%
      margin-top: -$icon_height / 2
      background : inline-image('falldown_triangle3.png') no-repeat
      right: 0  // use it's because default property have right not 0
.drop_down_list
  input:focus
    border : 2px solid rgb( 137, 209, 255 )


/////////////////--------list_course---------//////////////////////
.drop_down_list.list_course
  input[placeholder]
    font-size: 20px
    color: rgb(0, 0, 0)
  .icon_box
    $icon_padding: 10px
    padding: 0 $icon_padding
    width: auto
