@import compass/css3
$border_radius: 4px
$border_width: 2px
$border_hover: solid #b3b3b3
$border_focus: solid rgb( 137, 209, 255 )
$padding_left:12px
main
  height: 100%
label
  display: block
  width: 100%
  height: 100%
  cursor: pointer
  .text
    +inline-block
    color: rgba(75, 75, 75, 0.70)
  .drop_down_list
    +inline-block
    position: relative
    height: 100%
    width: 100%
    padding-left: $padding_left
    box-sizing: border-box
    border: $border_width solid rgb( 214, 214, 214 )
    +border-radius($border_radius)
    background-color: rgb( 255, 255, 255 )
    input
      +inline-block
      width: 100%
      padding: 0
      margin: 0
      border: none
      background: none
      outline: none
      color: #000000
      cursor: text
      +input-placeholder
        color: #757575
        opacity: 1
    .icon_box
      position: absolute
      top: 0
      height: 100%
      right: 0px
      cursor: pointer
      .icon
        position: relative
        top: 50%
    .drop_down_items
      position: absolute
      z-index: 1
      width: 100%
  .drop_down_list:after
    +inline-block
    height: 100%
    content: ''

//////////////     select options box      ///////////////////
label>.drop_down_list>input+.select-sets__options
  border: $border_width $border_focus
  background-color: white
  z-index: 2
  width: 100%
  left: 0
  text-align: left
  +border-bottom-right-radius($border_radius)
  +border-bottom-left-radius($border_radius)
  position: absolute
  margin-left: -$border_width
  border-top: none

label>.drop_down_list>input+.select-sets__options>.custom-option__selected
  background: #ebebeb
label>.drop_down_list>input+.select-sets__options>.custom-option>.custom-option__begin-match
  color: #2c7fd2

//////////////// select options box open   ///////////////
label.open_select .drop_down_list
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

//////////////// function //////////////
//data:
  $selector - selector element
  $font_size - inner input
  $_font_size - in text out input
  $icon_src - path image
  $icon_padding - padding left and right icon
  $padding_left - padding left in drop_down_list

=selector($selector,$_font_size,$font_size,$icon_src,$icon_padding)
  $icon_height: image-height($icon_src)
  $icon_width: image-width($icon_src)
  label.#{$selector}
    .text
      font-size: $_font_size
    .drop_down_list
      padding-right: (2*$icon_padding+$icon_width)
      input
        font-size: $font_size
      .icon_box
        padding: 0 $icon_padding
        .icon
          width: $icon_width
          height: $icon_height
          margin-top: -$icon_height / 2
          background: inline-image($icon_src) no-repeat
    .drop_down_list>input+.select-sets__options>.custom-option
      padding-left: $padding_left
      font-size: $font_size
/////////////////--------list_course---------//////////////////////
+selector('list_course',16px,18px,'falldown_triangle3.png',10px)

//////////////---------fast_bid---------////////
+selector('fast_bid',16px,18px,'falldown_triangle3.png',6px)
.fast_bid
  text-align: left
  .text
    padding-bottom: 10px
  .drop_down_list
    height: 37px

//////////////---------search_bids---------////////
+selector('search_bids',18px,18px,'falldown_triangle3.png',6px)

/////////////// first step registration /////////////
+selector('first_reg',16px,18px,'falldown_triangle3.png',6px)
.first_reg
  .text
    padding-right: 26px
  .drop_down_list
    width: 341px
////
.day
  .drop_down_list
    width: 91px
///
.place
  .drop_down_list
    width: 171px
///
.group
  .drop_down_list
    width: 185px
///
.bet
  .drop_down_list
    width: 122px
//////////
.month
  .drop_down_list
    width: 100%


/////////////////--------list_subject, list_tutor in filter_top---------//////////////////////
+selector('filter_top',18px,37px,'main/triangle 24x21.png',15px)


/////////////////// actions ///////////////////////
//------------------------ hover -----------------------

$icon_hover_src: 'triangle-15-x-13-hover.png'
label:hover
  .text
    color: #000000
  .drop_down_list
    border: $border_width $border_hover
    .icon_box
      .icon
        background: inline-image($icon_hover_src) no-repeat

///////////// filter_top  ////////////
$icon_hover_src: 'main/triangle-24x21_hover.png'
.filter_top:hover
  .drop_down_list
    .icon_box
      .icon
        background: inline-image($icon_hover_src) no-repeat


//------------------------ focus --------------------------------
$icon_hover_src: 'triangle-15-x-13-hover.png'
label.focus,label.focus:hover
  .text
    color: #000000
  .drop_down_list
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4)
    border: $border_width $border_focus
    .icon_box
      .icon
        background: inline-image($icon_hover_src) no-repeat

///////////// filter_top  ////////////
$icon_hover_src: 'main/triangle-24x21_hover.png'
label.filter_top_focus,label.filter_top_focus:hover
  .text
    color: #000000
  .drop_down_list
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4)
    border: $border_width $border_focus
    .icon_box
      .icon
        background: inline-image($icon_hover_src) no-repeat


