@import compass/css3
$border_radius: 4px
$border_width: 2px
$border_hover: solid #b3b3b3
$border_focus: solid rgb( 137, 209, 255 )
$padding_left:12px
main
  height: 100%
label
  display: block
  width: 100%
  height: 100%
  cursor: pointer
  .text
    +inline-block
    color: rgba(75, 75, 75, 0.70)
  .drop_down_list
    +inline-block
    position: relative
    height: 100%
    width: 100%
    padding-left: $padding_left
    box-sizing: border-box
    border: $border_width solid rgb( 214, 214, 214 )
    +border-radius($border_radius)
    background-color: rgb( 255, 255, 255 )
    input
      +inline-block
      width: 100%
      padding: 0
      margin: 0
      border: none
      background: none
      outline: none
      color: #000000
      cursor: text
      +input-placeholder
        color: #757575
        opacity: 1
    .icon_box
      position: absolute
      top: 0
      height: 100%
      right: 0px
      cursor: pointer
      .icon
        position: relative
        top: 50%
    .drop_down_items
      position: absolute
      z-index: 1
      width: 100%
  .drop_down_list:after
    +inline-block
    height: 100%
    content: ''

//////////////     select options box      ///////////////////
label>.drop_down_list>.select_sets
  display : none
  border: $border_width $border_focus
  background-color: white
  z-index: 2
  width: 100%
  left: 0
  text-align: left
  +border-bottom-right-radius($border_radius)
  +border-bottom-left-radius($border_radius)
  position: absolute
  margin-left: -$border_width
  border-top: none

label>.drop_down_list>.select_sets>*>*>.selected
  background: #ebebeb
label>.drop_down_list>.select_sets>*>*>.custom-option>.begin
  color: #2c7fd2

//////////////// select options box open   ///////////////
label.open_select .drop_down_list
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

//////////////// function //////////////
//default if not selector, do any selector with
  $icon_padding: 6px
  $icon_width: image-width($icon_src)
  $font_size: 20px
  $_font_size: 18px

//data:
  $selector - selector element
  $font_size - inner input
  $_font_size - in text out input
  $icon_src - path image
  $icon_padding - padding left and right icon
  $padding_left - padding left in drop_down_list
=selector($selector,$_font_size,$font_size,$icon_src,$icon_padding,$padding_text_r,$padding_text_b,$width,$height,$text_align)
  $icon_height: image-height($icon_src)
  $icon_width: image-width($icon_src)
  label.#{$selector}
    .text
      font-size: $_font_size
      padding-right: $padding_text_r
      padding-bottom: $padding_text_b
    .drop_down_list
      width: $width
      height: $height
      padding-right: (2*$icon_padding+$icon_width)
      input
        font-size: $font_size
        text-align: $text_align
      .icon_box
        padding: 0 $icon_padding
        .icon
          width: $icon_width
          height: $icon_height
          margin-top: -$icon_height / 2
          background: url(F($icon_src)) no-repeat
    .drop_down_list>.select_sets>.options_container>.options>.custom-option
      padding-left: $padding_left
      font-size: $font_size
/////////////////--------list_course---------//////////////////////
+selector('list_course',16px,18px,'falldown_triangle3.png',10px,none,none,none,none,none)

//////////////---------fast_bid---------////////
+selector('fast_bid',16px,18px,'falldown_triangle3.png',6px,none,10px,none,37px,left)
.fast_bid
  text-align: left

//////////////---------search_bids---------////////
+selector('search_bids',18px,18px,'falldown_triangle3.png',6px,none,none,none,none,none)
/////////////// first step registration /////////////
+selector('first_reg',16px,18px,'falldown_triangle3.png',6px,26px,none,341px,none,none)
////
+selector('first_reg_day',16px,18px,'falldown_triangle3.png',6px,26px,none,91px,none,none)

///
+selector('first_reg_place',16px,18px,'falldown_triangle3.png',6px,26px,none,171px,none,none)
///
//+selector('first_reg_group',16px,18px,'falldown_triangle3.png',6px,26px,none,185px,none,none)
///
//+selector('first_reg_bet',16px,18px,'falldown_triangle3.png',6px,26px,none,122px,none,none)
//////////
+selector('first_reg_month',16px,18px,'falldown_triangle3.png',6px,26px,none,none,none,none)

/////////////////--------list_subject, list_tutor in filter_top---------//////////////////////
+selector('filter_top',18px,37px,'main/triangle_24x21.png',15px,none,none,none,none,none)

/////////// area tutor in city /////////
+selector('area',none,18px,'falldown_triangle3.png',15px,none,none,none,none,none)

/////////// area tutor in city /////////
+selector('in_bids',18px,20px,'falldown_triangle3.png',6px,none,none,none,none,none)

/////////////////// actions ///////////////////////

//------------------------ hover -----------------------

$icon_hover_src: 'triangle-15-x-13-hover.png'
label:hover
  .text
    color: #000000
  .drop_down_list
    border: $border_width $border_hover
    .icon_box
      .icon
        background: url(F($icon_hover_src)) no-repeat

///////////// filter_top  ////////////
$icon_hover_src: 'main/triangle-24x21_hover.png'
.filter_top:hover
  .drop_down_list
    .icon_box
      .icon
        background: url(F($icon_hover_src)) no-repeat


//------------------------ focus --------------------------------
$icon_hover_src: 'triangle-15-x-13-hover.png'
label.focus,label.focus:hover
  .text
    color: #000000
  .drop_down_list
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.4)
    border: $border_width $border_focus
    .icon_box
      .icon
        background: url(F($icon_hover_src)) no-repeat
  // -- if &.filter_top
  $icon_hover_src: 'main/triangle-24x21_hover.png'
  &.filter_top
    .drop_down_list
      .icon_box
        .icon
          background: url(F($icon_hover_src)) no-repeat


////------------errors-------------/////////////
label.err_effect
  .drop_down_list
    border: $border_width solid rgba(255,61,61,0.7)
    +box-shadow(0 0 14px rgba(255,61,61,0.8))


