- placeholder = placeholder || "";
- selector = selector || "";
- id = id || "";

label(class=selector)
  if text
    .text.select!=text
  .drop_down_list
    input(placeholder="#{placeholder}", id="#{id}")
    .icon_box
      .icon