- id = id || "";
- placeholder = placeholder || "";
- selector = selector || "";


.drop_down_list(class=selector)
  input(placeholder="#{placeholder}", id="#{id}")
  .icon_box
    .icon
//-
  .drop_down_box
    if list
      each value in list
        .item=value
