- id = id || "";
- placeholder = placeholder || "";
- selector = selector || "";


.drop_down_list(class=selector)
  input(placeholder="#{placeholder}", id="#{id}", autofocus)
  .icon_box
    .icon
  if list
    .dropdown_items
      each value in list
        .item!= value