@import compass/css3
main
  padding: 50px 16px 50px 18px
.hint_block
  .title
    padding-left: 24px
    line-height: 36px
  .hint
    margin: 18px 53px 51px 39px
.bar
  height: 33px
  padding-bottom: 20px
  .select_all
    padding-right: 50px
    +inline-block
  .delete
    +inline-block
    .icon, .title
      +inline-block
    .icon
      width: 17px
      height: 23px
      margin-right: 10px
      background: url(F('trash_inactive.png')) no-repeat
    .title
      line-height: 23px
      font-size: 16px
      color: #b2b2b2
  .subject
    width:  279px
    height: 100%
    float: right
.bar:after
  content: ''
  height: 100%
  +inline-block
