
.link a *
  line-height     : 1.1em
  padding-left    : 10px
  font-size       : 1.3em
  text-decoration : blink
  color           : black

.link
  width     : 400px
  position  : relative
  overflow  : hidden
  a
    .route
      float : left
    .name
      float : right


.g-blue
  background : red
