@import compass/css3


main
  position : relative
  overflow : hidden
  width : 100%
  top : 0
  left : 0
  box-sizing : border-box

.state
  //font-weight : 
  font-family : 'Open Sans', sans-serif
  height : 40px
  line-height : 40px
  position : relative
  overflow : hidden
  width : 100%
  float : left
  box-sizing : border-box



.state:hover
  background : #EEE
.state *
  color : #100
  text-decoration : none
  +box-shadow(inset 0 0 2px rgba(0,0,0,0.2))
  padding : 0 25px
  position : relative
  height : 100%
  overflow : hidden
  width : 25%
  float : left
  box-sizing : border-box
.top, .top:hover
  background : #FEE
  font-weight : bold

.state .model:hover
  background : #DDE

.state.active
  background : #DFDFDF
.state.active:hover
  background : #EEE

.g-fixed
  position : fixed

.viewer
  position : fixed
  width : 100%
  height : 100%
  top : 0
  left : 0
  .left,.right
    background : rgba(0,0,0,0.8)
    position : relative
    width : 50%
    height : 100%
    float : left
    overflow : hidden
  .left .in, .right .in
    position : absolute
    z-index : 2
    width : 100%
    height : 100%
    +box-shadow(inset 0 0 6px rgba(0,0,0,0.3))
  .right .img, .right .img img
    position : relative
    left : 0
    top : 0
    overflow : hidden
.viewer .left iframe
  position : absolute
  left : 0
  top : 0
  width : 1500px
  height : 3000px
