



.fixed
  .test  быстрое оформление заявки: первый шаг
a.state.top
  .title  Заголовок страницы
  .name   Имя состояния
  .route  URL страницы
  .model  Файл макета


each state, name in states
  .state
    a(href=state.route).title= state.title
    a(href=state.route).name= state.name
    a(href=state.route).route= state.route
    a(href="#{F('models/'+state.model+'.jpg')}").model= state.model


