$widthTitle : 46%
$min-widthTitle : 210px

main
  font-size: 18px
  font-family: "OpenSans"
  color: rgb(90, 90, 90)
  line-height: 35px

.name
  font-size: 30px
  height: 53px
  line-height: 23px

.section
  overflow: hidden
  .title
    float: left
    width: $widthTitle
    text-align: left
    min-width: $min-widthTitle
  .value
    margin-left: $widthTitle
    text-align: left
    color: rgb(0, 0, 0)