$font-size : 18px
main
  font-size: $font-size
  color: #757575
.section
  $min-widthTitle : 210px
  line-height: 2*$font-size
  overflow: hidden
  .title
    float: left
    min-width: $min-widthTitle
  .value
    margin-left: $min-widthTitle
    color: #000000
    padding-left: 30px
////////////// subject_class, have size different //////////////
.section.subject_class
  $min-widthTitle : 200px
  line-height: 30px
  .title
    min-width: $min-widthTitle
  .value
    margin-left: $min-widthTitle