@import compass/css3
$min_width_step: 6px
$padding_text: 10px
.info
  text-align: left
  .bg_box, .bg_box1
    text-align: left
    padding: 18px 24px
    background:  url(F('invite/block_pattern.png')), rgba(255, 255, 255, 0.2)
  .bg_box
    margin-bottom: 10px
  .bg_box, .bg_box1
    div
      padding-bottom: 2*$min_width_step
    .native, .experience, .age_slider, .gender_data
      padding-bottom: 0
  .bg_box1
    .gender_data
      height: 6*$min_width_step




  //.bg_box1
    div
      padding-bottom: 2*$min_width_step
      .native
        padding-bottom: 0


    //.status
      padding-bottom: $padding
      .title
        margin-bottom: $padding_text
      .value
        text-align: left
        .student, .teacher, .professor, .native
          padding: 3px 0
          height: 28px
        .student
          padding-top: 0
        .native
          padding-bottom: 0
    //.experience
      padding-top: $padding
    //.text_box
      padding-bottom: $padding
    //.age_slider
      padding: $padding 0
    //.sex
      padding-top: $padding
      .title
        margin-bottom: $padding_text
      .gender_data
        height: 33px