@import compass/css3
$padding: 7px
.info
  .location
    padding: $padding 0
    .title
      text-align: left
      padding-bottom: 10px
      font-size: 16px
      color: #222528
    .value
      position: relative
      text-align: center
      .tutor, .student , .web
        height: 33px
      .student
        margin: 0 13px
      .tutor, .student, .web
        +inline-block
        height: 33px
      .hint
        position: absolute
        top: 8px
        right: -27px
  .your_address
    padding: $padding 0
  .time_spend_way_box
    padding: $padding 0
    text-align: left
    .box_title
      padding-bottom: 10px
      .title
        font-size: 16px
        color: #222528
    .time_spend_way
      //

  .calendar_box
    padding: $padding 0
    text-align: left
    font-size: 18px
    .box_title
      padding-bottom: 10px
      .title
        font-size: 16px
    .calendar
      padding-right: 106px


  .time_spend_lesson_box
    padding: $padding 0
    text-align: left
    .box_title
      padding-bottom: 10px
      .title
        font-size: 16px
        color: #222528
    .time_spend_lesson
      //