@import compass/css3
$input_height: 37px

main
  padding-bottom: 21.5px
  padding-top: 40px
  text-align: right

.info
  +inline-block
  vertical-align: top
  width: 339px
  .location
    padding: 6.5px 0
    .title
      text-align: left
      padding-bottom: 6px
      font-size: 16px
      color: #222528
    .value
      position: relative
      text-align: center
      .tutor
        width: 76px
      .student
        width: 132px
        margin-left:  12px
        margin-right: 11px
      .web
        width: 103px
      .tutor, .student, .web
        +inline-block
        height: 33px
      .hint
        position: absolute
        top: 8px
        right: -27px
  .your_address
    //
  .time_spend_way_box
    padding: 6.5px 0
    text-align: left
    .box_title
      padding-bottom: 6px
      .title
        font-size: 16px
        color: #222528
    .time_spend_way


  .calendar_box
    padding: 6.5px 0
    text-align: left
    font-size: 18px
    .box_title
      padding-bottom: 11px
      .title
        font-size: 16px
    .calendar



  .time_spend_lesson_box
    padding: 6.5px 0
    text-align: left
    .box_title
      padding-bottom: 6px
      .title
        font-size: 16px
        color: #222528
    .time_spend_lesson


    //.value
      div
        +inline-block
      .road_time_to
        width:  54px
        height: 37px

      //.title_to, .title_from
        font-size: 18px
        color: #222528

      //.title_to
        margin-right: 3px

      //.title_min
        margin: 0 2px 0 7px

      //.slider
        width: 210px

  //label.your_address
    .value
      height: $input_height

  //.calendar_block
    .title
      padding-bottom: 11px
    .value
      .calendar
        margin-bottom: 5px
      .select_all
        padding: 5px 0 4px 0
        text-align: left
        div
          +inline-block
        .button
          padding: 0 10px 0 8px
        .title
          font-size: 18px
          color: #222528
      .time_enter
        margin-top: 4px
        div
          +inline-block
        .add_button
          margin-left: 12px

  //.lesson_duration_block
    .value
      position: relative
      div
        +inline-block
      .lesson_duration
        width: 54px
        height: $input_height
      .text
        margin: 0 5px 0 4px
      .slider
        width: 235px
      .hint
        position: absolute
        top: 8px
        right: -27px


.hint
  +inline-block
  margin-top: 20px
  text-align: left
  margin-left: 41px
  margin-right: 63px
  font-size: 24px
  letter-spacing: -1.2px
  line-height: 29px
  color: #222528