main
  overflow : hidden
  padding-bottom: 30px
.address_block
  height : 60px
  background-color: #E2E7EC

  .text_line
    font-size: 20px
    font-family: "Open Sans"
    color: rgb(0, 0, 0)
    overflow: hidden
    line-height: 60px
    .address_title
      font-size: 24px
      color: rgba(0, 0, 0, 0.702)
      padding : 0 30px
    .free_time_title
      float : right
      padding : 0 30px


/*----------------------------------------------------*/
$calendar_height : 220px
$week_height : 35px
$background_calendar : rgb(243, 243, 243)
.calendar_map_block
  overflow: hidden
  .map
    float : left
    background-color : #29c5e6
    height: 250px
    width: 350px
  .calendar
    width : 335px
    float : right
    height: $calendar_height
    .calendar_week
      height: 35px
      border-radius: 4px
      background-color: $background_calendar
    .day-info
      margin: 0 10px
      background: gainsboro
      height: $calendar_height - $week_height
      background-color: $background_calendar




