main
  overflow : hidden
  padding-bottom: 30px
.address_block
  height : 60px
  background-color: #E2E7EC

  .text_line
    overflow: hidden
    line-height: 60px

    .address_title
      padding : 0 30px


    .free_time_title
      float : right
      padding : 0 30px


/*----------------------------------------------------*/

.calendar_map_block
  overflow: hidden
  padding: 0 30px

  .map
    float : left
    background-color : #29c5e6
    height: 260px
    width: 40%

  .calendar
    width : 30%
    float : right
    background-color : #e6b58d
    height: 230px




