.address_block
  height : 60px
  padding-left : 29px
  background-color: rgba(36, 37, 58, 0.06)

  .address_title
    margin-right : 3%

  .address_title, .text_address
    float : left

  .free_time_title
    float : right
    margin-right : 29px



  .address_title, .text_address, .free_time_title
    margin-top : 20px

/*----------------------------------------------------*/

.map
  width : 39.3%
  height : 261px
  float : left
  margin-left : 3%
  background-color : #29c5e6

.calendar
  width : 29.5%
  height : 261px
  float : right
  margin-right : 3%
  background-color : #e6b58d




