.personal_info
  .name.m-personal-info_line
    .m_icon.icon_account_circle
    span Вася Пупкин
  .phone.m-personal-info_line
    .m_icon.icon_phone
    span 
      span.phone_prefix +7 (909)
      | 123-12-21
  .location.m-personal-info_line
    .m_icon.icon_location_on
    span.location м. Медведково
