.personal_info
  padding: 2rem 0
  color: #636363
.m-personal-info_line
  margin-bottom: 1rem
  span
    display: inline-block
    vertical-align: middle
    font-size: 1.6rem
    .phone_prefix
      font-size: 1.1rem
      padding-right: 0.5rem
    &.location
      font-size: 1.1rem
  .m_icon
    vertical-align: middle
    margin-right: 1rem
    color: #a5a5a5
