

.container.time
  .header
    .item.time по времени
    .item.backcall обратные звонки
    .item.nophoto без фото
  .content.time.select
    .row.template
      .item.name
      .item.contacts
      .item.time 
  .content.backcall.select
    .row.template
      .item.name
      .item.phone
      .item.comment
      .item.type
      .item.time
  .content.nophoto.select
    .row.template
      .item.name
      .item.contacts




