
@import compass

=block
  margin : 0
  padding : 0
  +box-sizing(border-box)
  +inline-block
  float : left


.container .header
  +block
  height : 50px
  width : 100%
  line-height : 50px
  background : #FEE
  .item
    +block
    padding : 0 20px
    cursor : pointer
    weight : bold
    &:hover
      background : #FDD
.container .content
  +block
  width : 100%
  display : none
  .row
    background : #EEE
    +block
    width : 100%
    line-height : 30px
    .item
      +block
      padding : 5px
    .name
      width : 15%
    .phone
      width : 20%
    .type
      width : 5%
    .comment
      line-height : 20px
      width : 30%
    .time
      width : 30%
    .contacts
      width : 40%
  .row:nth-child(2n)
    background : #DDD
.container .content.bids .row
  .title
    width : 10%
  .name
    width : 15%
  .phone
    width : 15%
  .comment
    width : 25%
  .linked
    width : 10%
  .time
    width : 25%


=add($name)
  .#{$name} 
    .header .#{$name}
      background : #FCC
    .#{$name}
      display : inline-block

+add('bids')
+add('time')
+add('backcall')
+add('nophoto')
+add('nosubject')
