

.container.time
  .header
    .item.time по времени
    .item.backcall обратные звонки
  .content.time
  .content.backcall
    .row.template
      .item.name
      .item.phone
      .item.comment
      .item.type
      .item.time


