.row.js-block_search_help
  .col.l3
    .search_help
      h3 Поможем выбрать репетитора
      .line
      p Имеем большой опыт. Оставьте контакты и мы выберем вам лучшего кандидата в течении 15&nbsp;минут.
      button.btn.waves-effect.js-demo_modal Помогите выбрать репетитора     