.row.js-block_search_help.hide-on-med-and-down
  .col.l3
    .search_help
      h3 Нужна помощь?
      .line
      p Имеем большой опыт. Оставьте контакты, и с вами свяжется лучший  репетитор в течении 15&nbsp;минут.
      button.btn.waves-effect.js-demo_modal Помогите с выбором   