.search_help
  text-align: center
  h3
    color: #147585
    font-size: 1rem
  p
    color: #626262  
    font-size: 0.9rem
  .line
    width: 70%
    margin: 0 auto
    border-bottom: 1px solid #fbc02d
    height: 1px 
  button
    font-size: 0.8rem
    background-color: #147585
    box-shadow: none
    color: #fff
    &:hover
      box-shadow: none