.block_search_help
  display: none
  opacity: 0
  transition: opacity 1.5s ease-in-out
  -webkit-transition: opacity 1.5s ease-in-out
  -o-transition: opacity 1.5s ease-in-out
  -moz-transition: opacity 1.5s ease-in-out
  &.pinned
    max-width: 1080px
    width: 95% 
    display: block
  &.active
    opacity: 1    
.search_help
  text-align: center
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25)
  padding: 1.46rem 1rem 1rem
  h3
    color: #147585
    font-size: 1rem
    margin: 0 0 1.168rem 0
  p
    color: #626262 
    font-size: 0.9rem
  .line
    width: 70%
    margin: 0 auto
    border-bottom: 1px solid #fbc02d
    height: 1px 
  button
    font-size: 0.8rem
    background-color: #147585
    box-shadow: none
    color: #fff
    padding: 0 1rem
    &:hover
      box-shadow: none
      background-color: #199aad         