@import compass/css3
$triangle_src: 'main/triangle_down.png'
$icon_height: image-height($triangle_src)
$icon_width: image-width($triangle_src)
main
  height: 100%
  font-size: 18px
  color: #757575
.info_panel_block.first_step
  .box_math, .box_natural_research, .box_philology, .box_foreign_languages, .box_others
    float: left
    height: 100%
    cursor: pointer
    padding-left: 39px
    .math, .natural_research, .philology, .foreign_languages, .others
      height: 100%
    .list
      position: absolute
  .box_math:hover .math, .box_natural_research:hover .natural_research, .box_philology:hover .philology, .box_foreign_languages:hover .foreign_languages, .box_others:hover .others
    color : black

.info_panel_block.second_step
  overflow: hidden
  $padding_all: 66px
  .box_advanced_search, .box_subject, .box_tutor, .box_place, .box_price
    float: left
    height: 100%
    cursor: pointer
  .box_subject
    padding: 0 $padding_all/2 0 $padding_all
  .box_price
    padding: 0 $padding_all 0 $padding_all/2
  .box_tutor, .box_place
    padding: 0 $padding_all/2
  $all_width: 316px           //  advance_filter_width(300) + padding_content(16)
  $padding_left: 51px         // padding_content(16) + padding_advance_filter_inner(35)
  .box_advanced_search
    width: $all_width - $padding_left
    padding-left: 51px
    text-align: left
    .advanced_search
      +inline-block
    .advanced_search, .subject, .tutor, .place, .price
      height: 100%
  .box_advanced_search:hover .advanced_search, .box_subject:hover .subject, .box_tutor:hover .tutor, .box_place:hover .place, .box_price:hover .price
    color : black


.m-icon
  width: $icon_width
  height: $icon_height
  margin: 0 10px 0 -10px
  +inline-block
  background: url(F($triangle_src)) no-repeat
