main
  height: 100%
  overflow: hidden
  font-size: 18px
  color: #757575
.box_math, .box_natural_research, .box_philology, .box_foreign_languages, .box_others
  float: left
  height: 100%
  cursor : pointer
.box_math
  width: 191px
  padding-left: 15.3px
  .math
    height: 100%
.box_natural_research
  width: 233px
  padding-left: 15.3px
  .natural_research
    height: 100%
.box_philology
  width: 175px
  padding-left: 15.3px
  .philology
    height: 100%
.box_foreign_languages
  width: 222px
  padding-left: 15.3px
  .foreign_languages
    height: 100%
.box_others
  width: 101px
  padding-left: 15.3px
  .others
    height: 100%
.box_math>.math:hover, .box_natural_research>.natural_research:hover, .box_philology>.philology:hover, .box_foreign_languages>.foreign_languages:hover, .box_others>.others:hover
  //color: #ff949b
  //font-weight: 600
  color : black
///javaScript start do  font-weight: 600 after event - 'onclick'