@import compass/css3
$triangle_src: 'main/triangle_down.png'
$icon_height: image-height($triangle_src)
$icon_width: image-width($triangle_src)
main
  height: 100%
  font-size: 18px
  color: #757575
.info_panel_block.first_step
  overflow: hidden
  .box_math, .box_natural_research, .box_philology, .box_foreign_languages, .box_others
    float: left
    height: 100%
    cursor: pointer
    padding-left: 39px
    .math, .natural_research, .philology, .foreign_languages, .others
      height: 100%
  .box_math>.math:hover, .box_natural_research>.natural_research:hover, .box_philology>.philology:hover, .box_foreign_languages>.foreign_languages:hover, .box_others>.others:hover
    color : black

.info_panel_block.second_step
  overflow: hidden
  $padding_all: 66px
  .box_advanced_search, .box_subject, .box_tutor, .box_place, .box_price
    float: left
    height: 100%
    cursor: pointer
    padding: 0 $padding_all/2
  $all_width: 316px           //  advance_filter_width(300) + padding_content(16)
  $padding_left: 51px         // padding_content(16) + padding_advance_filter_inner(35)
  .box_advanced_search
    width: $all_width - $padding_left
    padding-left: 51px
    text-align: left
    .advanced_search
      +inline-block
    .advanced_search, .subject, .tutor, .place, .price
      height: 100%
  .box_advanced_search>.advanced_search:hover, .box_subject>.subject:hover, .box_tutor>.tutor:hover, .box_place>.place:hover, .box_price>.price:hover
    color : black
.m-icon
  width: $icon_width
  height: $icon_height
  margin: 0 10px 0 -10px
  +inline-block
  background: inline-image($triangle_src) no-repeat
