@import compass/css3
//width variables
$width_container: 1014
$width_left_menu: 236px
$width_content: $width_container - $width_left_menu
$background_white:  #ffffff
main
  height: 100%
  width: 1014px
  margin: auto
.container
  position: relative
  width: 100%
  min-height: 100%
  overflow: hidden
  +box-shadow(3px 0 16px 0px rgba(0,0,0,0.17),-3px 0 16px 0px rgba(0,0,0,0.17), 37px 0 43px 0px rgba(0,0,0,0.07), -37px 0 43px 0px rgba(0,0,0,0.07))
  //-------------background rules------------////////////
  .background_all
    position: absolute
    height: 100%
    width: 100%
    left: 0
    right: 0
    top: 0
    bottom: 0
    overflow: hidden
    background: #f3f3f3
    .content_background
      height: 100%
      width: $width_content
      margin-left: $width_left_menu
      position: relative
      background: $background_white
      +box-shadow(0px 6px 6px rgba(0,0,0,0.27))
  .header
    position: relative
    height: 100px
    width: 100%
    background: $background_white
    +box-shadow(0px 1px 3px 0px rgba(0,0,0,0.26))
    z-index: 1
  .container_sub_top_menu
    height: 50px
    text-align: center
    background: #DFE8EC
    position: relative
    +box-shadow(0px 1px 3px 0px rgba(0,0,0,0.26))
    .sub_top_menu
      height: 100%
  .center_block
    position: relative
    overflow: hidden
    .left_menu
      float: left
      width: $width_left_menu
    .content
      width: $width_content
      margin-left: $width_left_menu
      margin-bottom: 100px
  .footer
    height: 100px
    width: 100%
    position: absolute
    bottom: 0
    background: #E2E7EC


