@import compass/css3
//width variables
$width_container: 1014
$width_left_menu: 236px
$width_content: $width_container - $width_left_menu
$background_white:  #ffffff
$footer_height: 248px
main
  height: 100%
  width: 1014px
  margin: auto
  font-family: "Open Sans", sans-serif
.container
  padding-bottom: $footer_height
  box-sizing: border-box
  overflow: hidden
  position: relative
  width: 100%
  min-height: 100%
  +box-shadow(3px 0 16px 0px rgba(0,0,0,0.17),-3px 0 16px 0px rgba(0,0,0,0.17), 37px 0 43px 0px rgba(0,0,0,0.07), -37px 0 43px 0px rgba(0,0,0,0.07))
  //-------------background rules------------////////////
  .background_all
    position: absolute
    height: 100%
    width: 100%
    left: 0
    right: 0
    top: 0
    bottom: 0
    overflow: hidden
    background: #f3f3f3
    .content_background
      height: 100%
      width: $width_content
      margin-left: $width_left_menu
      position: relative
      background: $background_white
      +box-shadow(0px 6px 6px rgba(0,0,0,0.27))
  .background_top
    background-color: #5B6D63
    background-image: url(F('main/chalkboard_pattern.jpg'))
    position: relative
    z-index: 2
    .header
      height: 100px
      width: 100%
      //background: $background_white
      +box-shadow(0px 1px 3px 0px rgba(0,0,0,0.26))
  .center_block
    position: relative
    .left_menu
      float: left
      width: $width_left_menu
      padding: 0 0 100px 0
    .content
      padding: 50px 0
      width: $width_content
      margin-left: $width_left_menu
      .container_sub_top_menu
        height: 50px
        padding: 10px 0
        box-sizing: border-box
        text-align: center
        .sub_top_menu
          position: relative
          background: #f3f3f3
          height: 100%
          .triangle
            width: 0
            height: 0
            border-top: 15px solid transparent
            border-right: 15px solid #f3f3f3
            border-bottom: 15px solid transparent
            position: absolute
            right: 100%
            top: 0
  .center_block:after
    clear: both
    content: ""
    display: block
.footer
  width: 100%
  position: relative
  bottom: 0
  background: #E2E7EC
  margin-top: -$footer_height

