main
  overflow : hidden
  padding  : 50px 0 50px 0
  text-align : center

.block
  display : inline-block

  .country, .city, .address, .mobile_phone, .additional_phone, .mail, .skype, .personal_website
    overflow : hidden
    padding-bottom : 12px

    .m-title
      padding-right : 28px
      box-sizing    : border-box
      float         : right
      text-align    : right

    .value
      float : right

  /*---------------------------------------------------------*/

  .address
    padding-bottom : 0
    .value
      width      : 340px
      text-align : left

  /*--------------------------------------------------------*/

  .personal_website
    padding-bottom : 0

  /*---------------------------------------------------------*/


  .button_block
    margin-top : 30px

    .add_button, .save_button
      float : right

  .button_block:after
    content : ''
    clear   : both
    display : block

  /*---------------------------------------------------------*/

  .line
    height        : 2px
    margin-top    : 34px
    margin-bottom : 22px

.hint
  width : 80%
  margin : auto
  margin-top : 65px