main
  overflow : hidden
  padding  : 45px 0 50px 0
  text-align : center

.block
  display : inline-block

  .country, .city, .address, .mobile_phone, .additional_phone, .mail, .skype, .personal_website
    overflow : hidden
    padding-bottom : 15px

    .m-title
      padding-right : 55px
      box-sizing : border-box
      float : right
      text-align : right

    .value
      float : right

  /*---------------------------------------------------------*/

  .address .value
    width      : 335px
    text-align : left

  /*---------------------------------------------------------*/


  .button_block
    padding-top : 15px

    .add_button, .save_button
      float : right

  .button_block:after
    content : ''
    clear   : both
    display : block

  /*---------------------------------------------------------*/

  .line
    background-color : rgba(178, 178, 178, 0.27)
    height : 3px
    border-radius : 2px

    margin-top    : 17px
    margin-bottom : 22px

.hint
  width : 80%
  margin : auto
  margin-top : 65px