@import compass/css3
$MarginRight : 109px

main
  overflow : hidden
  padding  : 45.5px 0 50px 0
  text-align : center

.block
  .container
    text-align : right
    label
      margin-right : $MarginRight

    label
      display : block
      cursor  : pointer

    label.country, label.city, .address, label.mobile_phone, label.additional_phone, label.mail, label.skype, label.personal_website
      overflow : hidden
      padding  : 6.5px 0

      .m-title
        padding-right : 22px
        box-sizing    : border-box
        float         : right
        text-align    : right

      .value
        float : right

    /*---------------------------------------------------------*/

    .address
      margin-right: $MarginRight
      padding-bottom: 0
      .value
        width      : 340px
        text-align : left

    /*--------------------------------------------------------*/


  .button_block
    text-align: right
    margin-right: $MarginRight
    margin-top: 23.5px

    .save_button
      +inline-block



    /*---------------------------------------------------------*/

  .line
    height        : 2px
    margin-top    : 30px
    margin-bottom : 15.5px
    padding       : 0 34px

.hint
  width : 80%
  margin : auto
  margin-top : 65px