@import base

.content.fixed
  position : fixed
  display: block
  top : 0
  left : 0
  height : 100%
  overflow : auto
  z-index : 100
  background-color : rgba(255,255,255,0.86)
  margin : 0 auto
  width : 100%
  .popup
    display: block
    background-color: white
    width: 529px
    margin: 32px auto 150px
    //height: 100%
    +material_shadow(2)
    border: 1px solid $border_gray

.bottom_bar
  display: none
  position : fixed
  width : 1014px
  bottom : 0
  //box-sizing: border-box
  //height : 64px
  //background : #f5e79e
  padding: 20px 0
  background-color: white
  border: 1px solid $border_gray
  z-index: 200
  //margin: 0 auto
  +material_shadow(4)
  .wrap
    width: 700px
    margin: 0 auto

.content .popup
  display : none

