@import base

.content.fixed
  position : fixed
  display: block
  top : 0
  left : 0
  height : 90%
  overflow : auto
  z-index : 100
  background-color : rgba(255,255,255,0.8)
  margin : 0 auto
  width : 100%
  .popup
    display: block
    background-color: red
    width: 529px
    margin: 0 auto
    height: 1000px

.content .popup
  display : none

