.modal
  .wrap
    position: relative
    overflow: hidden
    .success
      position: absolute
      top: 0
      left: 0
      right: 0
      display: none
      //height: 170px
      //margin: auto 0