@import compass/css3
main
  padding: 50px 30px
  text-align : right
//.title_block
  padding-bottom: 20px
  text-align: left
  .title
    font-size: 26px
    color: #000000
.block_edit
  position: relative
  padding: 0 130px 20px 0
  .tutor_edit
    padding-bottom: 30px
  .save_button
    height: 33px
.hint
  //
.top
  margin-top: 50px
  text-align: left
  position: absolute
  top: 0
  width: 280px
  margin-left: 30px