@import base

main
  padding: 50px 30px
  text-align : right
.changes_field
  display: none
  margin-bottom: 20px
  margin-top: -25px
.block_edit
  position: relative
  padding: 0 130px 20px 0
  .tutor_edit
    div
      margin-bottom: 50px
    //overflow: hidden
  .save_button, .add_button
    +inline-block
    padding-top: 30px
    height: 33px
.block_edit.calendar
  padding: 0
.hint
  //
