.filter-tags
  .chip
    cursor: pointer
    margin: 0 1rem 1rem 0
    border-radius: 0
    border: 1px solid #cfcfcf
    background-color: #f4f4f4
    height: 26px
    transition: all 0.3s ease-out
    //font-family: "futuris-cyrilic"
    font-size: 0.8rem 
    line-height: 24px
    color: rgba(0, 0, 0, 0.65)
    &:last-of-type
      margin-right: 0
    &:hover
      background-color: #e1e1e1
    i.material-icons  
      line-height: 24px
