.filter-tags
  .row
    .col.s12
      .chip Русский язык
        i.material-icons close
      .chip Математика
        i.material-icons close
      .chip У себя
        i.material-icons close
      .chip У ученика
        i.material-icons close
      .chip от 400 до 1600 рублей
        i.material-icons close
      .chip Преподаватель школы
        i.material-icons close