-metro = value.metro_tags
-value = value.filter || {}
.filter-tags
  .row
    .col.s12.js-tags_filter

      mixin tag(name, val)
        .chip.active(data-v=val || name, onselectstart="return false", onmousedown="return false")&attributes(attributes)
          block
          span!=name
          i.m_icon.icon_close

      div.templ(style="display:none")
        +tag()
      if value.subjects
        each s in value.subjects
          +tag(s)(data-b='subjects')
      if value.course
        each s in value.course
          +tag(s)(data-b='course')
      if value.price
        for v, k in value.price
          if v
            +tag(k)(data-b='price')
      if value.status
        for v, k in value.status
          if v
            +tag(k)(data-b='status')
      if value.sex && sex.items[0] != value.sex
        +tag(value.sex)(data-b='sex')
      if metro
        for v, k in metro
          if v && v.name
            +tag(v.name, k)(data-b='metro')
              if v.color
                i.m_icon.icon_fiber_manual_record.middle-icon(style="color:"+v.color)
