@import compass/css3
$height : 38px
$RedHoverColor : #ffb1a8

main
  width  : 178px
  height : $height
  line-height : $height
  border-radius : 4px
  background-color : rgb( 240, 123, 111 )
  box-shadow: 0px 1px 3px 0px rgba(9, 12, 18, 0.65)
  cursor : pointer

div
  +inline-block

$icon_src: 'mail2.png'

.icon
  width  : image-width($icon_src)
  height : image-height($icon_src)
  margin-right : 15px
  background   : inline-image($icon_src) no-repeat

.text
  font-size   : 20px
  font-family : 'Open Sans', sans-serif
  color       : #fff

main:hover
  background-color: $RedHoverColor
