.m-details
  margin-bottom: 1.333rem
  .m_icon
    color: #889395
    vertical-align: middle
    margin-right: 1.333rem
  span
    display: inline-block
    vertical-align: middle
    font-size: 1.067rem
    color: #636363
.comment
  .title
    color: #969696
    font-size: 0.9rem
  .text
    font-size: 1rem
    color: #636363

//custom materislize
.row
  margin-bottom: 0
