.m-details
  margin-bottom: 1.333rem
  .m_icon
    color: #889395
    vertical-align: middle
    margin-right: 1.333rem
  span
    display: inline-block
    vertical-align: middle
    font-size: 0.95rem
    color: #636363
.comment
  .m_icon
    float: left
  .text
    font-size: 0.95rem
    line-height: 1.5rem
    color: #636363
    display: inline-block
    width: 80%
    margin-left: 1.333rem

//custom materislize
.row
  margin-bottom: 0
