.m-details
  .m_icon.icon_subject
  span.subject Англйский язык
.m-details
  .m_icon.icon_location_on
  span.location м. Медведково
.row
  .col.s6
    .m-details
      .m_icon.icon_account_balance
      span.price от 1200 до 2000 рублей
  .col.s6
    .m-details
      .m_icon.icon_query_builder
      span.period от 60 до 120 минут
.row
  .col.s6
    .m-details
      .m_icon.icon_school
      span.status_tutor Частный преподаватель
  .col.s6
    .m-details
      .m_icon.icon_assignment_ind
      span.sex Женский 
.comment
  .title Комментарий к заявке:
  .text Как у себя, так возможен выезд к репетитору, можно подобрать на других близких станциях на этой ветке Желательно человека, который жил в англоговорящих странах

