@import compass/css3

main
  padding: 48px 0
.content
  width: 358px
  padding: 24px
  +inline-block
  text-align: left
  background:  url(F('invite/block_pattern.png')), rgba(255, 255, 255, 0.2)
  .email
    .val
      font-size: 16px
      line-height: 24px
      color: #66d0c6
      text-decoration: underline
  .cancel_reason
    overflow: hidden
    font-size: 37px
  .cancel_button
    margin-top: 24px
    width: 360px
    height: 48px