@import compass/css3

main
  height: 100%

.fixed, .add, .streamlined
  +inline-block
  background-color : rgb( 240, 123, 111 )
  border-radius : 4px
  //-box-shadow: 0px 1px 3px 0px rgb( 0, 0, 0 )

  .text
    padding : 7px 17px 7px 13px
    text-align : center
    font-size : 17.975px
    font-family : "Open Sans",sans-serif
    color : white
    cursor: pointer


.fixed
  min-width : 130px
  box-sizing : border-box

.add
  .text
    padding : 3px 10px 3px 10px
    height : 33px
    box-sizing : border-box
    font-size : 24px


.simple
  cursor: pointer
