.button.fixed, .button.streamlined
  display : inline-block
  background-color : rgb( 240, 123, 111 )
  //-box-shadow: 0px 1px 3px 0px rgb( 0, 0, 0 )
  border-radius : 4px

  .text
    padding : 10px
    text-align : center
    font-size : 1.5em
    font-family : "OpenSans"
    color : white
    cursor: pointer


.button.fixed
  min-width : 128px
  box-sizing : border-box

.button.streamlined
  .text
    height : 33px
    box-sizing : border-box


//-.button.fixed, .button.streamlined
  .text:hover
    color : #C5D4DC


  border-radius: 4px;
    background-color: rgb( 240, 123, 111 );
    box-shadow: 0px 1px 3px 0px rgb( 0, 0, 0 );