main
  overflow : hidden

.button.fixed, .button.streamlined
  display : inline-block
  background-color : #ff5e48
  border-radius : 5px

  .text
    padding : 10px

    text-align : center
    font-size : 1.2em
    color : white
    cursor: pointer


.button.fixed
  min-width : 128px
  box-sizing : border-box

.button.streamlined
  .text
    height : 33px
    box-sizing : border-box


.button.fixed, .button.streamlined
  .text:hover
    color : #C5D4DC

