.section
  .row
    .col.l12
      a.btn-flat.teal-text.left(href='#') Назад
        i.tiny.material-icons.teal-text.left arrow_back
    h5.header.col.l12 Новая регистрация:
  .row.email
    .col.l5.offset-l1.grey.lighten-3.z-depth-2
      .row#email_header
        .col.l1
          i.small.material-icons.grey-text.text-lighten-1.left email
        .col.l6.grey-text E-mail: lyuhohvat1959@mail.ru <br> Тема: 453792
        .col.l5.right
          a.dropdown-button.btn-flat.teal-text(href='#', data-activates='mark_as') Отметить как
            i.tiny.material-icons.teal-text.right arrow_drop_down
          ul.dropdown-content(id='mark_as')
            li
              a(href='#!') Закрыто
            li.divider
            li
              a(href='#!') Это вопрос
            li
              a(href='#!') Это отзыв
      .row
        .col.l12.left#email_body
          p Oбучаю разговорному английскому языку с 2004 на курсах, готовлю к международным экзаменам IELTS, TOEFL, ЕГЭ, ОГЭ
    .col.l3