$button_wrap: 'main/button_wrap.png'
$icon_height: image-height($button_wrap)
$icon_width: image-width($button_wrap)
main
  height: 92px
.button, .small_button
  height: 100%
  .button_wrap
    background: inline-image($button_wrap) no-repeat
    width: $icon_width
    height: $icon_height
    float: right
.button
  text-align: center
  display: none
main:hover
  >.button
    display: block
  >.small_button
    display: none